[2016-09-30 16:48] #79 closed

[2016-10-01 11:48] Wardormeur commented on #1043
A PR would be better :)
You can find images in https://github.com/CoderDojo/cp-zen-platform/tree/master/web/public/img (preferably a new sub-folder ;) )
and to link the images, have a look at https://github.com/CoderDojo/cp-zen-platform/blob/master/web/config/programmingLanguages.js
Right now, it's a JSON, preferably will become a real part of our backend in the near future :)

[2016-10-02 06:26] m2mathew commented on #1039
@rosalanghammer Is this the page of which you speak? I got here by clicking "My Dojos" from the upper right dropdown menu and then the "Manage" link under the word "Users".
![image](https://cloud.githubusercontent.com/assets/11624407/19019077/7f85d800-883e-11e6-9471-a3adfd72e99b.png)

I cannot get to any UI that resembles what you are showing in your picture. When I click on "View" link for a user

[2016-10-03 08:28] DanielBrierton commented on #1039
Hi Mike,

It looks like you're not an admin of this dojo, but in fact just a ticketing admin. Only dojo admins have rights to assign roles and grand admin privileges to other users. I'd recommend asking the champion of your dojo for admin rights if you feel you should have them. They should be able to grant you these rights, and you would then be able to grant them to others.

Daniel

[2016-10-03 08:51] DanielBrierton opened #1052 "Recurring events can be created without any valid dates"
e.g. create a recurring event from 1st Oct to 3rd Oct that takes place on Fridays. No Fridays exist between these dates, but the event gets created anyway, causing issues afterwards with loading the event.

[2016-10-03 08:57] DanielBrierton opened #1053 "Cleanup messages.po to remove unused strings, add missing strings"

[2016-10-03 08:59] DanielBrierton commented on #1053
(I suggest some automated way of handling this. Not necessarily to generate the messages.po from the HTML/JS, but something like a specific gulp task to print out unused and missing strings)

[2016-10-03 10:42] rosalanghammer commented on #338
Yes, closing as default user type to begin with.

[2016-10-03 10:42] #338 closed

[2016-10-03 14:28] m2mathew commented on #1039
Thanks for the help, @DanielBrierton. We started a Dojo and one of our gung-ho interns naturally became the leader of the project. He recently returned to his last year of Masters degree before rejoining us full-time. Before leaving, he attempted to switch over the Dojo to myself and another mentor, but didn't see the way to do it. I will get back in touch with him to see if this issue sheds some

[2016-10-03 14:29] DanielBrierton opened #1054 "Founder being incorrectly used for ownership permissions"
For example:
* cdf-admin is able to change the founder of the dojo. This shouldn't really happen as the founder is not a thing that can actually change. cdf-admin should be changing the ownership of the dojo, rather than founder
* Multiple owners should be allowed
* We suspect there may be checks done based on founder instead of owner. Owners should have the maximum rights over a dojo.
* Open ques

[2016-10-03 14:45] DanielBrierton commented on #1039
No problem. We looked into the issue further since, and the reason you're seeing the behaviour you're seeing is that Dojo Admins are only given the right to manage events, edit the dojo listing, and award badges. You only have the right to modify roles of others when you are both a Dojo Admin **and** a Champion of the Dojo. If you wish to get these rights, you'll need to have a current Champion as

[2016-10-04 10:44] rosalanghammer commented on #1039
Yes @DanielBrierton or @m2mathew sounds like your Champion has moved on. If you just get him to email us and cc you in we can change that over no problem.

[2016-10-04 10:53] rosalanghammer commented on #1054
@DanielBrierton Correct.

Owners should be able to change owners - though it should alert CDF when this happens so we can check the application of the new owner(s)/reach out to them.

[2016-10-04 11:06] Wardormeur commented on #1054
Not sure about multiple owners
The whole point was to have a "permission" which was higher than dojo-admin and very possibly a single point of contact (for us or others)
Now the question is : what can a dojo-owner do more than a dojo-admin? Join a regional? Change ownership of the dojo?

[2016-10-04 11:13] rosalanghammer commented on #1054
There are multiple Champions (co-champions) which is why it makes sense to have multiple 'Owners'.
The idea could just be to have 'Founder' which remains unchanged > 'Champion' which we CDF Admin can also edit/change/add on behalf of Dojos, > Dojo Admin (which I think should be merged with ticketing admin as it is confusing to have both), this would be for people who do all the admin for a Dojo.

[2016-10-04 11:14] rosalanghammer commented on #1054
Also missed a qu - Owners won't have any real higher power except the ability to make people Dojo Admin. They will also be the POC for CDF Admin.

[2016-10-04 13:49] Wardormeur commented on #1054
What's the difference between a champion not owner and an champion owner then?

[2016-10-04 14:11] rosalanghammer commented on #1054
In my mind there is no diff - Champions are always owners

[2016-10-05 10:44] Wardormeur commented on #1054
In this case, the notion of ownership is pointless and should be removed :)

[2016-10-05 11:45] DanielBrierton opened #1055 "Replace persona.org in Badgekit"
Mozilla's hosted Persona service, persona.org, is shutting down on November 30th. As a result, we will need to either self-host a Persona instance, or implement some other form of authentication for Badgekit.

[2016-10-06 09:19] Wardormeur opened #1056 "Implement ping to check health of each µs"
Based upon cp-zen's lib/sys 's ping, we'd need a ping for each µs to correlate issues to a µs being eventually down.
This imply creating into each µs a "ping" command to verify its health and notify newrelic that one of the µs is down

[2016-10-06 09:59] Wardormeur opened #1057 "Crowdin should have a dev branch"
In order to keep clean the master/production branch, we need to push PR to a dev crowdin branch
The reason is : conflicts, lost of translations & stuff :)

[2016-10-06 10:06] Wardormeur opened #1058 "Reducing po file conflict"
Possibilities :
1. Exporting translations as a package that can be imported by all projects
2. Splitting po files

1) means that we need to rework path & npm post-install to update them. No other drawback. Most likely going for this solution
2) means that we need to split /µs the po file and restrict which file get uploaded thourhg the crowdin.yaml file. There is a risk of loosing some translation

[2016-10-06 10:30] Wardormeur opened #1059 "SEO : optimize dojo page & event page"
One clue so far, use schema.org
Dojo page : http://schema.org/Organization
Event page: http://schema.org/Event

[2016-10-06 10:35] Wardormeur opened #1060 "Create keys for .po file"
For a better dev process for translations, we need to replace strings for translation by keys.
Considering po file doesn't support keys as it, we need to complete them with a translation file mapping po file "keys" (which are the english string) to a development "key" (eg error.general)
This implies replacing in the front-end all the strings by the corresponding key

[2016-10-06 11:45] niccokunzmann commented on #1060
There were keys, as I remember, in the crodwin platform. It was not
known by me what they mean.
There was this "error.general" or something alike. This can not be used
a a translation text. Some people translated it, some did not.

My request: When you replace the sentences by keys, please make sure
that crowdin shows the sentences in English and not the keys.

Am 06.10.2016 um 12:35 schrieb Wardo

[2016-10-06 11:50] DanielBrierton commented on #1060
Hey Nicco,

Don't worry, nothing will actually change in CrowdIn. We're simply adding a file to the repo that maps variable names to strings so we can reference to a single string, rather than duplicating it across files. With the PO file format, the msgid is supposed to be the untranslated string, and we will be keeping it that way, so it will display that way in CrowdIn. The likes of `error.gene

[2016-10-06 16:32] Wardormeur opened #1061 "Change date format for email notification on events"
Best format would probably be dd/mm/yyyy hh:MM instead of dd-th of month at hh:mm

[2016-10-07 08:44] DanielBrierton opened #1062 "Streamlining of Events"

[2016-10-07 09:01] DanielBrierton opened #1063 "UI for adding children when booking event"
## EPIC: #1062
### Dependency: #1042

Allow a user to add children OTG in case you're bringing in somebody or simply go through the simplified registration/book a ticket process.

NB - Keep flow for ‘New applicant’ as is for Ticketing Admin.

[2016-10-07 09:03] DanielBrierton opened #1064 "Redirect to event after registering from event page"
## EPIC: #1062
### Dependency: #1063

When registering from an event page, you currently get redirected to the edit profile page. This is incorrect, as we have all the info we need. It should redirect back to the event booking.

[2016-10-07 09:05] DanielBrierton opened #1065 "Add login to registration flow when redirected there"
When booking, when join dojo, etc. when not logged in already.

[2016-10-07 09:09] DanielBrierton opened #1066 "Invite dojo members to an event"
## EPIC: #1062

Functionality was removed but should be added back in.

To be discussed with @rosalanghammer:
- Auto-approval of tickets from invites
- Augmenting "Notify all members" as a separate thing
  - Notify specific members, or specific user types

[2016-10-07 09:16] DanielBrierton opened #1067 "Rename 'Recurring' to 'Term'"
## EPIC: #1062

When booking tickets for recurring events, you are booked into all occurrences. A term booking would make more sense to users as you book for all occurrences.

[2016-10-07 09:30] DanielBrierton opened #1068 "Ticket Waiting List"
## EPIC: #1062

* Allow dojo admins to enable/disable a waiting list per ticket
* Allow admin of waiting list
  * Include button to close waiting list
* Allow user to enter waiting list (make it clear they're on a waiting list, and do **NOT** have a ticket, and should not turn up at the dojo)
* Send email to applicant when accepted from waiting list
* "New Applicant" event admin feature should byp

[2016-10-07 09:39] DanielBrierton opened #1069 "Cancel tickets for term events"
## EPIC: #1062

When deleting a ticket from a term event, we need to retain the information that the attendee attended the previous sessions of the event.

[2016-10-07 09:54] DanielBrierton opened #1070 "Ticketing admin redesign"

[2016-10-07 14:39] DanielBrierton opened #1071 "Add evidence to awarding of badge"
##  EPIC: #962

A mandatory text area should be added to the award badge popup action along with details of the criteria.

May need to implement a variant of popup action that allows more content.

[2016-10-07 14:43] DanielBrierton opened #1072 "My Dojos page redesign"
## EPIC: #962

My Dojos page should become a dashboard for users to go in and see contextual actions according to their role in the dojo.

[2016-10-07 14:49] DanielBrierton commented on #1072
Current mockup design, not yet final.

[my-dojos.pdf](https://github.com/CoderDojo/community-platform/files/516421/my-dojos.pdf)

[2016-10-07 15:12] DanielBrierton opened #1073 "Bulk Manage Users"
## EPIC: #962

Allow bulk management of dojo members...

* Award badge
* Change Role
* Background Check
* Dojo Admin/Ticketing Admin
* Remove from Dojo

[2016-10-07 15:43] DanielBrierton opened #1074 "Start a Dojo Redesign"
Full input needed in terms of requirements before planning. (@rosalanghammer)

[2016-10-10 15:01] rosalanghammer commented on #1041
Duplicate @DanielBrierton

[2016-10-10 15:06] rosalanghammer commented on #1066
Not sure about auto-approval of tickets. Makes logical sense but if you've already chosen ticket approval I don't think it should bypass this as in reality makes a dojo a bit harder to run if this is not spelt out clearly. Especially when a Dojo is in high demand.

[2016-10-10 16:20] DanielBrierton opened #1075 "Handle scenario where parent cannot add their child to a Dojo they are a member of"

[2016-10-11 14:35] rosalanghammer opened #1076 "No visibility of parent - youth connection on Manage Users for Dojo Admin"
At a glance allow Champions to see what parents are connected to which youth.

[2016-10-11 16:38] atrivedi1 commented on #1061
would someone be able to help me set up my dev environment? would love to contribute!

[2016-10-11 19:46] butlerx commented on #1061
what is your problem?

[2016-10-11 22:11] atrivedi1 commented on #1061
Hi Cian,

Thanks for getting back to me! I'm a junior dev looking to contribute to my
first open source project but for some reason I'm having trouble running
the docker container as per the directions here:
https://hub.docker.com/r/josmas/coderdojo-local-zen/.

Also below is a screenshot of what localhost/8000 displays in my browser,
which doesn't look right:

[image: Inline image 1]

Would you h

[2016-10-12 09:08] Wardormeur commented on #1061
The docker image seems to only contains the node env as well as the database.
Did you do the setup steps from https://github.com/CoderDojo/cp-local-development#code-setup to clone the repo and link it into the docker container ?
Afterwards, the only thing left to do is eiter a npm install and a ./localdev run zen from the bash of the the container

[2016-10-12 16:23] atrivedi1 commented on #1061
So I followed the setup steps and was able to get everything up and running
except docker - which I successfully installed but have not be able to to
link to. I think it's because I'm unclear on how to modify the following
script:

docker run -ti --rm \ --name zen \ -p 8000:8000 \ -p 4567:4567 \ -p
5432:5432 \ -v
/Users/jos/development/nodejs/cp-local-development:/home/jos/code \
josmas/coderdojo-

[2016-10-12 20:09] butlerx commented on #1061
you need to replace `/Users/jos/development/nodejs/cp-local-development` with the path to cp-local-development on your own machine

[2016-10-12 20:09] andarilhoz commented on #1028
Sooo, i could grab this one, dont know if @gaursagar  already did something, but if i could do it, please let me know (:

[2016-10-13 11:00] benjamingarcia commented on #1043
@hnotess PR is ready? or I can take this issue? ;-)

[2016-10-13 16:22] hnotess commented on #1043
@benjamingarcia go ahead and get started as I haven't been able to get it completed.

[2016-10-13 21:07] benjamingarcia commented on #1043
@hnotess allright! thanks!

[2016-10-14 09:01] #1036 closed

[2016-10-14 09:02] Wardormeur commented on #1022
done :)

[2016-10-14 09:02] #1022 closed

[2016-10-18 10:48] DanielBrierton opened #1081 "CSV Export gets blocked by popup blocker in browser"
CSV export should be reworked so that it returns the correct headers to download directly as a CSV file. This way, we can link directly to the endpoint and have the file download without getting caught by popup blockers.

This causes CSV export to completely not work on Firefox.

[2016-10-18 11:17] DanielBrierton opened #1082 "Youth profiles cannot be viewed by admins of a dojo which they are a member of"
Champions and Dojo Admins should be able to view profiles of the children within their dojo. This will allow them to see things like badges already awarded, programming languages and parent/o13 contact details.

[2016-10-18 13:08] Wardormeur commented on #1082
related to #1040

[2016-10-19 21:18] niccokunzmann opened #1083 "Event date not consistent"
![capture](https://cloud.githubusercontent.com/assets/564768/19537755/70209f28-9651-11e6-9847-8420f7406b9e.PNG)

![](https://raw.githubusercontent.com/niccokunzmann/uploads/master/temp/Capture.PNG)

![](https://raw.githubusercontent.com/niccokunzmann/uploads/master/temp/Capture2.PNG)

![](https://raw.githubusercontent.com/niccokunzmann/uploads/master/temp/Capture3.PNG)

The dates are not consisten

[2016-10-20 09:50] Wardormeur commented on #1083
It's a timezone issue, we already fixed a couple of them lately.
We'll have a look shortly as it's quite critical :)

[2016-10-20 10:08] #971 closed

[2016-10-20 10:08] #969 closed

[2016-10-20 10:08] #964 closed

[2016-10-20 10:09] #1051 closed

[2016-10-20 10:26] Wardormeur commented on #975
It may have been fixed by @DanielBrierton , could you try to reproduce ?

[2016-10-20 10:26] Wardormeur commented on #963
I believe we can close this ? :) @rosalanghammer  @DanielBrierton

[2016-10-20 11:06] DanielBrierton opened #1084 "Remove need for global gulp"
As it is now, `localdev.js run` spawns a gulp instance from the global scope. We can remove this need by relying on scripts in package.json

[2016-10-20 11:07] DanielBrierton opened #1085 "Document hapi routes"
Translations, templates, etc.

[2016-10-20 11:19] eflanagan-r7 commented on #829
I'll make a go at this one

[2016-10-20 11:23] ilyabiryukov-r7 commented on #1028
I'll take this one

[2016-10-20 12:42] asabo-rapid7 commented on #972
I will take on this one

[2016-10-20 13:22] DanielBrierton commented on #1083
Hey Nicco!

Just to confirm, what is the correct time?

Also, is the event on the 22nd Oct supposed to be at 14:00, or should it be the same as all the others, at 15:00?

[2016-10-20 13:37] niccokunzmann commented on #1083
The correct time for all events would be 14:00 - 17:00.

[2016-10-20 13:40] niccokunzmann commented on #1083
Here is something that did not arrive via Mail:

My mental model:
A Dojo has a place. The dojo time is always local to that place.

I conclude from that:
It is unnecessary to transfer the time to a time zone model.
Converting back and forth only creates error.
It also introduces unforseen errors: When I copy an event over the summer time barrier, the time changes.
If the time is always converted f

[2016-10-21 10:07] Wardormeur commented on #1083
We agree on "what you input is what you get".
The main problem is that we can't ignore Tzone because of DST in this case : when you create a recurring event, the TZ may change because of DST changes.
So that we prefer to handle the TZ overall than just an subset of it, even more when changing the actual behavior of event (what you see is what you get, whatever the TZ) will break all the actual eve

[2016-10-21 15:43] #963 closed

[2016-10-22 14:32] DanielBrierton opened #1086 "Reset password links go to login page"

[2016-10-23 20:24] kbbkirl opened #1087 "Creating custom badge for Coder Dojos"
![appinventorbadgecoderdojo](https://cloud.githubusercontent.com/assets/10838406/19629190/b62a46be-9966-11e6-84f4-f89ad3f3bccf.png)

Have created a custom badge that I want to upload or use in the coder dojo tramore for app inventor as currently no badges exist. How do I set custom badges on the site??

[2016-10-24 13:45] Wardormeur commented on #1087
cc @rosalanghammer @petecoderdojo

[2016-10-24 13:57] petecoderdojo commented on #1087
@kbbkirl cool! can you contact me directly about this pete@coderdojo.org

[2016-10-25 14:11] rosalanghammer opened #1088 "Change name of 'Adult Forum' to 'Forum'"
:)

[2016-10-25 14:39] Wardormeur commented on #1088
:)

[2016-10-29 08:13] mashruravi commented on #1006
Here are the mockups of what I'm trying to achieve on the UI:

On a medium screen:
![stats-mockup-md](https://cloud.githubusercontent.com/assets/8961232/19828185/42f83f36-9ddd-11e6-8931-17829529b81f.png)

On a small screen:
![stats-mockup-xs](https://cloud.githubusercontent.com/assets/8961232/19828189/59cc46bc-9ddd-11e6-88e2-d50ccc018b7b.png)

Any thoughts, suggestions?

[2016-10-29 10:03] butlerx commented on #1006
Maybe add an icon of sort to represent each type its looking a bit texty

[2016-10-30 08:54] Wardormeur commented on #1006
I wouldn't use the directive in the dojo here, this page is relatively public.
The final plan is to use it into "my Dojos" page, but we didn't start the full rework of it.
Maybe more into manage user, as a tab ?

[2016-11-01 09:40] Wardormeur opened #1089 "Clean up twitter field"
Twitter field seems to contains either an url, the username or the username preprended by @
The API should return only one of those type
I propose to store the username without @ and the API to return only the url (security reason invoked by @Aryess)

[2016-11-01 12:30] wiizzard commented on #364
Is it possible to get public api access to the endpoints which do not require authentication (endpoints handled with "actHandler", not "actHandlerNeedsUser" etc.)? Currently this is not possible due to CORS.

We are especially interested in the https://zen.coderdojo.com/api/2.0/events/search endpoint to automatically keep the list of the upcoming Dojos updated. This would make things a lot easier

[2016-11-01 14:27] Wardormeur commented on #364
True, removing any CORS limitation on non-authenticated API calls could make sense. I need some insight from @DanielBrierton to validate the idea.
In the meantime, send an email to webteam{at}coderdojo.com, we're testing stuff :)

[2016-11-02 15:02] Wardormeur opened #1090 "Reorganize and centralize urls"
Right now, urls are defined in both lib/{µs}.js and in angular's API services. We even sometimes need to require those "manually" (ie csv export) while still being a CSV which is returned.
That makes 3 places that contains sortof similar data. We should find a way to regroup them.

[2016-11-02 17:22] Wardormeur opened #1091 "As a parent, i should be able to manage my child into dojos I belong to"
When a parent add a child post-joining the dojo, the only way to make the child join back is either contact us or leave/re-join the dojo.
This is a real issue and seems to happen quite often.
This should be a functionality to simply "tick" per dojo which child you want to have in your dojo,  eventually while joining (or keep the previous workflow of "everybody under my control" joins) but required

[2016-11-04 11:14] Wardormeur opened #1092 "Migrate away from badgekit"
Badgekit is dead and burried, but now even Persona is giving up.
Instead of trying to maintain an abandoned soft by ourselves, migrate to badgr which seems still active.
TODOS:
- [ ] map API integration (***)
- [ ] adapt josmas' image for production (*)
- [ ] migrate data (**)

Some references :
https://github.com/concentricsky/badgr-server for production
https://github.com/josmas/local-badgr-serv

[2016-11-04 11:15] #1081 closed

[2016-11-04 11:15] Wardormeur commented on #1092
see also https://github.com/CoderDojo/community-platform/issues/1055

[2016-11-04 17:14] Wardormeur opened #1093 "Cookie policy should be accepted once you start navigating"
In order to avoid having the navbar "lagging" in the bottom, and because once you click somewhere, you're cookied, it'd be more legit to consider that navigating "further" makes you accepting the cookies

[2016-11-07 08:09] rosalanghammer commented on #1091
So two options are
1. have; 'Join your local Dojo' to be part of the add a child process - prompt to join Dojos you (parent) are already part of and
to have the button 'Join' maybe go into a dropdown if you have child(ren) added to your account.
For this remove 'Join all' process we currently have.

OR

2. to expand join all to newly created kids of parents/mentors/champions who are already joined

[2016-11-07 08:10] rosalanghammer commented on #1091
Also we would need to backlog the current users not joined to a Dojo where their parent is if possible.

[2016-11-07 10:26] Wardormeur commented on #1055
We're migrating.

[2016-11-07 10:26] #1055 closed

[2016-11-07 10:35] Wardormeur commented on #1091
Not fan of 1) nor 2).
1) put us in a "one time" process which are not linked together (creation of a child and linking to a dojo)
2) is simply extending the magic, a magic that I find, personnally, useful but not very obvious that it works this way.

Maybe simply add "kids icons" to the "Join a dojo" popup process, that you can grey-out/in (default all selected) and make this popup accessible agai

[2016-11-07 10:51] josmas commented on #1092
hey @Wardormeur I thought you were only using the baking API; are you also using badgekit server and the client?

[2016-11-07 10:54] Wardormeur commented on #1092
I guess so :)
OpenBadgekit is what you refers as a client & Badgekit API to the baking one ?

[2016-11-07 11:05] josmas commented on #1092
Nope, the baking tool is (IIRC) a tool to bake information into a png. A **_badge_** as such is a png with some metadata (data like the person it was awarded to, who awarded it, an evidence url, and so forth). The [baking API](https://github.com/mozilla/openbadges-backpack/wiki/Badge-Baking) just does that. Unless things have changed in the last number of months, which is quite possible, Zen only

[2016-11-07 11:18] Wardormeur commented on #1092
Ah, thanks for the details, lots of docs i definitiley need to read (just found the "Assertions definition" links from backpack, which are insightful :))
So no, we don't have backpack (even though it could be reconsidered considering the length of badging specs), Zen host the badges inside each user profile and they are awarded "from the inside" of Zen itself.
The definition of the badges and thei

[2016-11-07 11:30] josmas commented on #1092
I see, so you are running badgekit-api as part of your infra; then yeah, a migration is in order! :)
Planning on doing 24pullrequests again this year, so if you guys haven't got around to working on this by then, I'll be happy to lend a hand!

[2016-11-07 11:32] Wardormeur commented on #1092
How about a hackhaton (& beers !) ? :)

[2016-11-07 11:35] josmas commented on #1092
That'd be cool too! :)

There's also http://24pullrequests.com/events

[2016-11-07 13:19] rosalanghammer commented on #1091
Sorry 1 included something similar to what you suggest when you join a Dojo (dropdown/kids icons). Linking a child upon creation would need to go with this approach as it makes you aware that they are not added automatically.

As you don't join a Dojo from within My Dojos I think this makes sense.
Agree about the join all option but if it is substantially less work it may be a better solution.

[2016-11-07 19:56] ercasta opened #1094 ""Book" button never completes loading"
Some parents trying to book a ticket for my Dojo are unable to book the ticket as the page never stops loading.

Unfortunately I don't have enough information to identify exactly the page on which this is happening (there are multiple "book" buttons in different pages, I don't know exactly which one is not working)

[2016-11-07 19:58] ercasta commented on #1094
It seems to happen when the room is full and the book request should go to the waiting list

[2016-11-07 20:54] ercasta commented on #1094
From further tests, the button is this one:

<button class="btn btn-primary" type="button" ng-click="applyForEvent(sessionApplication)" tabindex="0"><span ng-if="!event.ticketApproval" class="ng-scope">Prenota ora</span></button>

The behaviour is not tied to waiting lists. Tested from Chrome and Firefox

[2016-11-08 06:45] rosalanghammer opened #1095 "Expand CSV export for users and events to include related users, events attended"
Related to #223

High priority - Need to expand export for users and events to include related parties - i.e. 'Parent/child name'
Nice to have - no of attendances (based on 'check ins')

Current problem that kids only have first name entered in some cases and can't distinguish between new and old users.

[2016-11-08 10:25] Wardormeur commented on #1094
Thanks, we'll have a look at it

[2016-11-08 10:49] Wardormeur commented on #1092
updated to add format description of badges

[2016-11-08 11:13] Wardormeur commented on #1094
Actually @ercasta , could you link us which event this refers to? So we can set up a more straightforward scenario :)

[2016-11-08 11:47] ercasta commented on #1094
https://zen.coderdojo.com/dojo/dee9dfb4-1373-49bd-a184-626734cdae38/event/3c5a4a34-8780-452b-89fd-99d41d4a4834

[2016-11-08 11:47] Wardormeur commented on #1094
thanks :+1:

[2016-11-08 11:53] Wardormeur opened #1096 "Lists on profile (parents, child) should be deterministic"
Add an order_by on name to parents & child list to ensure that it doesn't change after every refresh

[2016-11-09 11:25] DanielBrierton opened #1097 "Cannot book ticket when only one ticket remaining"

[2016-11-09 11:27] DanielBrierton opened #1098 "Cannot apply for tickets when applications matches or exceeds the capacity"
Application for tickets should only become unavailable when the **approved** tickets matches or exceeds the capacity

[2016-11-09 12:17] #1097 closed

[2016-11-09 12:30] #1094 closed

[2016-11-09 12:30] #1098 closed

[2016-11-09 12:31] DanielBrierton commented on #1094
Thanks for pointing out thiss issue @ercasta, it helped us identify two further issues, #1097 and #1098. These three issues are all resolved and pushed to master now.

[2016-11-14 11:48] Wardormeur commented on #1083
@DanielBrierton @niccokunzmann does the latest changes seems allrighty ?

[2016-11-14 11:57] Wardormeur opened #1099 "Database cleanup"
* remove phone from sys_user
 * create a view for cd_applications
 * remove fields from cd_applications (dob, name, event_id, ticket_name, ticket_type, dojo_id, session_id,

[2016-11-14 17:11] Wardormeur opened #1100 "CircleCi script should differenciate test from deployment build"
Right now, CircleCI deploys the same version of the env than the one for test, which means it contains every dev-dep, slowing down our deployment by quite a bit (current node_module for cp-zen is 300+ Mb)
We need to differenciate a PRE-merge build which goal is to test the PR, from a merge build which is aimed at being deployed.

[2016-11-14 18:13] niccokunzmann commented on #1083
@Wardormeur All dates are consistent for me, now. I vote for closing the issue.

[2016-11-14 19:13] Wardormeur commented on #1100
Seems like the solution are either  :
 * use a different branch to check the PR (dev) and push to master when merged
 * eventually check if one of those env variable is available and script some stuff behind https://circleci.com/docs/environment-variables/#build-details (IE : CI_PULL_REQUEST should probably be not defined when merging? cf https://discuss.circleci.com/t/running-specific-tests-only-

[2016-11-15 14:19] Wardormeur opened #1101 "Duplicate event shouldn't be available when editing a published event"
To avoid misfunction & confusion, the capacity to copy an event shouldn't be displayed as it doesn't even work when editing a published event. It should still be available for saved drafts.

[2016-11-15 14:28] Wardormeur opened #1102 "Add updated_at, updated_by, created_at, created_by to relevant entities"
It may be interesting to do a lib to encapsulate any entity using such, aka seneca-entity-auditor which would either add those columns to the entity, or log it to an external table.
The columns should be updated_at, updated_by, created_at, created_by (and entity-name, entity-id in case of separate table)
The entities decorated should be :
 * cd_events
 * cd_profile
 * ?
@DanielBrierton

[2016-11-15 14:55] Wardormeur commented on #960
@rosalanghammer will we close since it's be reworked for SAD ?

[2016-11-15 14:56] Wardormeur commented on #981
I think that's a normal scenario : if you don't validate your input, it's "canceled" and reverted to the previous value.
inputs @DanielBrierton  ?

[2016-11-15 14:57] Wardormeur commented on #977
@butlerx we can close this one I believe?

[2016-11-15 14:58] Wardormeur commented on #983
@rosalanghammer could be picked for end of year

[2016-11-15 15:00] DanielBrierton commented on #981
I think the issue here is that if I type "Ireland", then tab to the next field, that should work, since it's an exact match for something in the ui-select, but instead it resets the input field, and I have to go back, search again, and this time click exactly what I typed.

[2016-11-15 15:08] Wardormeur commented on #1083
Thanks @niccokunzmann !

[2016-11-15 15:08] #1083 closed

[2016-11-16 05:07] rosalanghammer commented on #960
Yes or could be left open but marked as part of SAD rework?

On 15 November 2016 at 21:55, Wardormeur <notifications@github.com> wrote:

--
*Rosa Langhammer*
Reporting Lead
@ CoderDojo Foundation
+353 872686 <+353+851088135>779 | @RosaLanghammer | Skype: rosa.langhammer l
<https://mail.google.com/mail/u/0/#UNIQUE_ID_SafeHtmlFilter_> Github:
rosalanghammer

*I'm currently working from Hanoi, Vietna

[2016-11-16 10:00] Wardormeur commented on #960
Well, i mean, it's a full redesign..

[2016-11-16 11:13] Wardormeur opened #1103 "Create a soft-delete plugin"
Very likely based on https://github.com/CoderDojo/community-platform/issues/1102 's solution

[2016-11-16 11:41] Wardormeur opened #1104 "Dojolead Coderdojo reference should not be translated"
It makes it impossible to query for stat aggregation

[2016-11-16 12:08] rosalanghammer commented on #960
Cool - go ahead and close.

On 16 November 2016 at 17:00, Wardormeur <notifications@github.com> wrote:

--
*Rosa Langhammer*
Reporting Lead
@ CoderDojo Foundation
+353 872686 <+353+851088135>779 | @RosaLanghammer | Skype: rosa.langhammer l
<https://mail.google.com/mail/u/0/#UNIQUE_ID_SafeHtmlFilter_> Github:
rosalanghammer

*I'm currently working from Hanoi, Vietnam. Check out where I am in the
wo

[2016-11-16 12:11] #960 closed

[2016-11-16 22:19] ercasta opened #1105 ""Save" button on event does not work!"
I'm trying to update an existing event. The "pubblicare" and "salva bozza" buttons do not work.

I also tried to create a new event, with the same result.

This is a very serious problem. As a result, I had to immediately revert to eventbrite for managing tickets from my next event.

[2016-11-16 22:47] Wardormeur commented on #1105
Surprising, we haven't done any major code change in a good week. Was this this week-end?
If so, we had a security audit ongoing that diturbed our services, it should work since monday. refers to this thread if it's the issue https://forums.coderdojo.com/topic/264/some-glitches-in-zen/15
If it's not, could you tell us what's your dojo name/web browser so that we look into it (a screenshot or a gif

[2016-11-16 22:53] ercasta commented on #1105
It's the Lissone dojo: https://zen.coderdojo.com/dojo/it/lissone-province-of-monza-and-brianza/lissone , chrome (also tried on mobile, nothing happens)

Do you have any kind of automated test in place? Parents are getting really annoyed by these issue!

[2016-11-16 22:54] ercasta commented on #1105
Btw I tried less than 1 hour ago

[2016-11-16 22:56] Wardormeur commented on #1105
We're in the process of rewriting those, we'll have the basing bootstrap of e2e done by this week and will continue further to the end of the year so that we reduce all those issues.
We'll have a look very shortly (either tonight or tomorrow morning), thanks for the report :)

[2016-11-16 23:18] Wardormeur commented on #1105
I went through our logs and couldn't find anything in particular :(
Could you give me a couple of more details?
Which date is the one set? Did you ensure it wasn't a passed date/event?
Did you try by copying the event or was it a brand new one?
Did you ensured that there was no required fields missing (name, description, session name and session ticket) by opening/expanding every "card" (yeah, we

[2016-11-17 06:05] ercasta commented on #1105
First I tried updating an existing event. The event was scheduled for december 3rd, but had 0 available tickets because booking was not yet "open". So yesterday I tried to change the amount of available tickets and save the event, but the save button did not work. So I canceled the event and tried to create a new one, copying a previous event, and I faced the same behaviour. I don't know if there

[2016-11-17 06:14] ercasta commented on #1105
I don't know if this is relevant, but our dojo has two champions

[2016-11-17 09:47] #1071 closed

[2016-11-17 11:18] Wardormeur commented on #1105
It should be fixed, it was a dependency which haven't been locked + a build process issue.
Can you confirm?

[2016-11-17 11:59] Wardormeur opened #1106 "Custom repos must be handled properly"
From cp-zen's bower
- [ ] https://github.com/david-cahill/angular-atomic-notify#master -> https://github.com/maxigimenez/angular-atomic-notify (added : timer functionnality)
- [ ] https://github.com/ckiss/angular-alert-banner#master -> https://github.com/samouss/angular-alert-banner (support for HTML  + ngSanitize)
- [ ] https://github.com/david-cahill/angular-wizard.git#master -> https://github.c

[2016-11-17 12:52] ercasta commented on #1105
Now the save button works, but the "cancel event" button does not! (Yesterday it was working)

[2016-11-17 13:19] Wardormeur opened #1107 "Support for event email metadata"
This should be triggered when reserving a ticket as well as during a notification of new event.
 - [ ] ICS file sent to add to your own calendar
 - [ ] if new event : RSVP action based on schema.org https://developers.google.com/gmail/markup/reference/rsvp-action

Others metadata could also be used for others emails, feel free to discuss !

[2016-11-17 13:20] Wardormeur commented on #1105
Which "Cancel" event are we talking about ?
The one from "Edit event" or the one from the "Event list" ?

[2016-11-17 13:23] Wardormeur opened #1108 "Rename "Cancel" in Edit Event to something less ambiguous"
Canceling an event is closing it down, and the button in "Edit Event" is red (danger) the same way that the "Cancel" action for "Dojo Event Listing". Though, they don't have the same meaning while beeing totally the same.
A "back" action could be more appropriate

[2016-11-17 13:47] lordkada opened #1109 "Cannot add children"
I'm trying to add my 2 kids (< 13 yo), but when I click the "save" button nothing happens.

(btw I'm a mentor from CoderDojo Milano - Italy)

[2016-11-17 13:59] butlerx commented on #977
yep solved in new registration process

[2016-11-17 13:59] #977 closed

[2016-11-17 14:07] ercasta commented on #1105
Edit event

[2016-11-17 14:08] Wardormeur commented on #1105
I think that's the issue ;) https://github.com/CoderDojo/community-platform/issues/1108

[2016-11-17 14:56] Wardormeur commented on #1108
By Daniel : should be "Discard changes"

[2016-11-17 19:20] ercasta opened #1110 "Allow canceling draft event"
Currently it's not possible to cancel an event when it's in draft (the button does not appear). To cancel an event, it's necessary to publish it and only then the "cancel" button appears

[2016-11-17 19:21] ercasta commented on #1105
Opened  #1110

[2016-11-18 09:34] Wardormeur commented on #1110
Wouldn't it makes more sense to have a "delete" when it's a draft ?

[2016-11-18 12:46] ercasta commented on #1110
Yes, probably "delete" is more appropriate... but the point is there is no button right now. It only appears after the event is published

[2016-11-18 12:49] Wardormeur commented on #1110
Because it was probably intended that Cancel "Cancel" the event, not dismiss changes. But it does dismiss changes atm.
This is very confusing, I agree :p I'll have a look early next week to come with a standrd. However, i'm not a big fan of having 4 buttons ( ideas @DanielBrierton ?)

[2016-11-18 13:46] Wardormeur opened #1111 "Accentuated character breaks condtional binding template side"
``` Unexpected next character  at columns 155-155 [é] in expression [dojo.private === 0?'Public Dojo':'Dojo privé Cela signifie que ce Dojo est ouvert uniquement à des personnes spécifiques (par exemple, les étudiants d'une école). Veuillez ne pas contacter ce Dojo. ```

Resolution : move condition to controller
TODO: this happens on the dojo page while being in French, but may happen in other pag

[2016-11-21 11:50] Wardormeur opened #1112 "Replace process.nextTick by seneca-kue"
We have some doubt about stability of nextTick, in particular for cd-events/bulk-applications#259
A replacement with seneca-kue would reduce the risk that the email is lost when restarting the µs or when the µs is down.

[2016-11-21 11:52] Wardormeur opened #1113 "Complete SPF/DKIM configuration for emails"
~~We have a bunch of emails which drops because of lack of authentication on our emails through Sendgrid.
Adding those headers should help.~~
As stated by @BenChapman , the issue is not SPF by itself which is added by sendgrid, but the whitelabeling

- [ x] SPF whitelabeling
- [x] email link whitelabeling

[2016-11-21 12:04] niccokunzmann commented on #1026
More Context: These were translated several times:
[![capture](https://cloud.githubusercontent.com/assets/564768/20482008/65fa43e8-afea-11e6-8431-98b1126b997e.PNG)
![capture](https://cloud.githubusercontent.com/assets/564768/20482077/cd841eee-afea-11e6-9e18-140704cdede2.PNG)](https://crowdin.com/translate/zen-community-platform/1/en-de#5648)

[2016-11-21 12:13] Wardormeur commented on #1026
When did you see this happening?

[2016-11-21 12:15] Wardormeur commented on #1026
@rosalanghammer can we organize the translation cleanup/upload review for early 2017 ? This is a serious blocker for community translators ..

[2016-11-21 15:27] DanielBrierton opened #1114 "New users prompted to complete profile even though there's no new info required"
This is because "alias" is a required field, but not asked for during registration, and, here's the kicker, isn't even a field you can fill out as an adult! 😅  But thankfully `_.keys` doesn't care that `alias` is null, it will still consider `alias` to be a key, so after saving your profile with the exact same data, you're good to go! 👍

[2016-11-22 08:10] rosalanghammer commented on #1026
Yes cc'ing @PhilipHarney as he's still taking a lead on this cross platform. Adding to priority list on our side though for review.

[2016-11-22 10:42] DanielBrierton opened #1115 "Language drop down does not have the current language selected by default"
This means, as a result, you cannot switch from another language to English, since a change needs to occur in the selected value in order to trigger the language change

[2016-11-25 14:37] alan-donnelly opened #1116 "Session listings share paging index in event management"
In event management, the page index appears to be shared across sessions. This means that if you page into a session with a large number of attendees and then view a session with small number of attendees, the small session shows 'no attendees' if in the large session you've paged beyond the number of pages in the small session.

Steps to reproduce:
1. Create an event with more than one session
2.

[2016-11-25 14:56] Wardormeur commented on #1116
Thanks for the very detailled report !
That's probably a scoping issue, we'll have a look into it :)

[2016-12-01 13:14] niccokunzmann opened #1117 "Remove View More button"
We have a very [long Dojo page](http://coderdojopotsdam.github.io/). Problems arise with the view more button:

- People usually do not see the view more button.
- Everyone has to click it to get to the content.

In order to remove the view-more button, we should first identify what problems it solved and then find another solution to the problems.

What problems did the view-more button solve?

[2016-12-01 14:00] Wardormeur commented on #1117
"View More" was because the Dojo description is a free text area for any additional info.
Having it too long will simply push back every other info, such as Events and map way too far (scrolling).
Restricting the number of words from the textarea is a bad idea considering different languages "length" and the whole purpose of the field itself (extra info which is not "shared" with others dojos setu

[2016-12-02 08:58] niccokunzmann commented on #986
@Wardormeur We have 2 tasks in [Google Code-In](https://codein.withgoogle.com/). [1](https://codein.withgoogle.com/tasks/6252711062274048/) [2](https://codein.withgoogle.com/tasks/6308055306207232/). One student @rhemon already completed Task 1. The [result](https://rhemon.github.io/blog/gci/2016/12/02/00-setting-up-zen/).
When students begin Task 2, they should create a pull-request. I will also

[2016-12-02 09:44] Wardormeur commented on #986
:+1:
Also, in 1) create an issue if you can reproduce the problem. We'll also merge a couple of PR on our side regarding test data when setting up zen that should provides a better/more accurate/stable data set. If it's a documentation issue (and as it seems it's more of a "beginner" task than a "coding" task), a PR is welcome :)

[2016-12-02 13:00] rhemon commented on #934
@niccokunzmann i would like to try solving this issue

[2016-12-03 03:56] niccokunzmann opened #1118 "I have read and accept the Terms and Conditions here - no link"
When I visit the [German registration](https://zen.coderdojo.com/register/user) site, I see no link to the terms and conditions.
I believe it could be due to the key used [here](https://github.com/CoderDojo/cp-zen-platform/pull/1051/files/c9a44c777e4920d9f7db713f1de38b7909edfd67) which is not the same as in the messages.po file.
@rhemon - what do you think?

[2016-12-03 04:40] rhemon commented on #1118
I am not sure why its doing that, since locally for the msgid I changed msgstr to things and added the same anchor tag, and things worked fine

[2016-12-04 21:42] niccokunzmann commented on #1118
So, I do not understand why we still have this text:

![capture](https://cloud.githubusercontent.com/assets/564768/20869459/dcbf5c74-ba72-11e6-940b-a8c04b0e6362.JPG)

Here: https://zen.coderdojo.com/register/user
And without Link, if the changes go live automatically.

[2016-12-04 22:53] butlerx commented on #1118
this appears to be an issue with the translation on crowdin https://crowdin.com/translate/zen-community-platform/1/en-de#q=next

[2016-12-04 22:57] niccokunzmann commented on #1118
Can we re-open the issue until the translation shows up correctly?

[2016-12-04 23:03] niccokunzmann opened #1119 "Include the commit version in the served websites"
As a contributor, I would like to see when my patch goes life.
Thus, I would like to know, which commit it is that is served.

Two possible solutions:

- include the commit of all services in the html page as a comment.
- Use a tag for each sever online i.e. node1 which points to the git commit used by this node.

[2016-12-05 10:24] Wardormeur commented on #1119
We can't use gulp to generate this as 1 µs can be updated without the others (zen won't be redeployed), so it means every µs must have an endpoint exposing its commit so that zen can list, through a dedicated page, the commits of each µs. Not too hard, just a bit of a pain. Also consider that there is a load-balancer in front of it, meaning the 2 instances (shouldn't, but) could display different

[2016-12-05 10:27] butlerx commented on #1119
https://circleci.com/gh/CoderDojo

[2016-12-05 10:37] Wardormeur commented on #1118
Even in english, the link doesn't show up.
It may be an issue w/ i18n not supporting HTML

[2016-12-05 10:43] Wardormeur commented on #1118
It seems to work for Deutsch though, can you confirm @niccokunzmann  ?

[2016-12-05 10:50] niccokunzmann commented on #1118
It supports HTML: https://zen.coderdojo.com/terms-and-conditions search for creative commons.

[2016-12-05 10:51] niccokunzmann commented on #1118
Confirmed. It works in German, now. It was not as I was looking at it.

[2016-12-05 10:53] Wardormeur commented on #1118
Probably the same issue than i had, browser cache :)

[2016-12-05 10:55] niccokunzmann commented on #1118
In crowdin it is translated: https://crowdin.com/translate/zen-community-platform/1/en-de#5723
I do not know: Is a "crowdin build" required for the translations to go live?

[2016-12-05 10:56] niccokunzmann commented on #1118
Let us see if the translation is live and in German and then, I will close the issue.

[2016-12-05 10:57] butlerx commented on #1118
crowdin is only built on deployment from circle so it is built and the text updated each time a pr is merged to master

[2016-12-05 11:36] DanielBrierton commented on #1118
To add to @butlerx's response, there is also the added complication of crowdin builds being rate limited, I believe to once every 30 mins. So, if two builds happen 20 mins apart and a translation is updated in between them, there's the potential for it to not get into the second build. You can be sure however that it will get into a future build, and we build fairly regularly.

[2016-12-05 11:39] DanielBrierton commented on #1119
We should probably add this build badge to the README.md of each project so it can be easily found.

[![CircleCI](https://circleci.com/gh/CoderDojo/cp-zen-platform.svg?style=svg)](https://circleci.com/gh/CoderDojo/cp-zen-platform)

[2016-12-05 13:38] niccokunzmann commented on #1119
Sure, let's create a beginner issue :)

[2016-12-05 16:35] Wardormeur commented on #1119
It doesn't tell though if it's a merge or a PR test, so you have to dig into the test to see if it was deployed/n

[2016-12-06 09:25] niccokunzmann commented on #1118
Thank you all, this issue is resolved! @rhemon
https://zen.coderdojo.com/register/user is German, now too.

[2016-12-06 09:25] #1118 closed

[2016-12-06 10:24] Wardormeur commented on #1118
Don't forget to tick it on #934 :D

[2016-12-06 18:46] niccokunzmann opened #1121 "Dojo event not showing up on main page"
The event for the 17th of December is not showing up on the events section of the main page.

![capture](https://cloud.githubusercontent.com/assets/564768/20938612/033d2960-bbec-11e6-96b8-b209e793e486.JPG)
![capture](https://cloud.githubusercontent.com/assets/564768/20938713/68f370c0-bbec-11e6-8f4b-4408a0f5f9b8.JPG)
See, it is missing:
![capture](https://cloud.githubusercontent.com/assets/564768/2

[2016-12-07 11:01] Wardormeur commented on #1121
Hey Nicco,
We found what the issue was, we'll take care of it today :)
Cheers & thanks for the report !
G.F.

[2016-12-07 11:12] niccokunzmann commented on #1121
Thanks!

[2016-12-07 15:15] #1121 closed

[2016-12-07 15:59] DanielBrierton opened #1122 "Clarify language and UX around adding children"
Thanks for the great feedback on this from zita over on our forums: https://forums.coderdojo.com/topic/277/sign-up-parents

A few points we should address:
- [x] Make the ability to add a child more prominent (#1063 may help address this, but more direction during registration flow would also be beneficial)
- [x] Change text when adding child from "Your details"
- [x] Clarify that the email, passw

[2016-12-07 16:22] DanielBrierton commented on #1121
Hey Nicco!

We got this fixed and deployed, your event is now showing up on your Dojo listing. Sorry for the inconvenience and thanks for the bug report.

[2016-12-07 21:32] niccokunzmann commented on #1121
Hi, no problem! Thanks for the platform :)

[2016-12-09 14:40] DanielBrierton opened #1123 "Tweak mobile styles for profile/Dojo profiles to include picture"
Right now, you can't see the profile image or Dojo image when viewing a profile page or Dojo listing. This also means you can't set one, as it has the same CSS rules applied on the edit page, hiding the image.

My proposal is to centre the image on the page and move the name underneath it.

[2016-12-13 10:56] Wardormeur opened #1124 "Review of cp-perm"
For reference and inclusion of fields scoping
https://gist.github.com/facultymatt/6370903

[2016-12-13 14:22] DanielBrierton opened #1125 "Separate database migrations for easier use in testing process"
As it is now, when you reset the database to load in new data, you need to restart the whole stack so migrations execute. We should separate out this process so we can trigger it while the stack is running to save time when clearing database during testing.

[2016-12-14 15:30] Giustina opened #1126 "Update Notes on Dojo Profile Page"
Update the notes section on a Dojo profile page to remove the point Bring a 'packed lunch'. Not relevant for majority & adds unnecessary text to the Dojo profile page.

[2016-12-15 10:40] #1088 closed

[2016-12-15 11:05] #1065 closed

[2016-12-15 22:15] dmwelch commented on #221
@david-cahill how difficult would it be to add "every 1st/2nd/3rd/4th <weekday>" of the month?  Our dojo is every second Saturday and we'd like to make them reoccuring.

[2016-12-16 10:24] Wardormeur opened #1127 "Recurring event : monthly"
@dmwelch asked here for the possibility to create an event every Saturday of a month (cf #221)
If we do, it'd be another option in the "recurring type" in which the user must specify the day of the month
and we'll have to figure an equivalent (same day, same number of week) each month from startDate to endDate.
@rosalanghammer feedback on further implementation of preset of dates selections?

[2016-12-16 10:25] Wardormeur commented on #221
Closed issues are closed, I opened a new one for you :)
Feel free to comment/provides more info on #1127 !

[2016-12-16 15:54] dmwelch commented on #221
@Wardormeur Thx!

[2016-12-16 16:05] dmwelch commented on #1127
To clarify, the user would specify the ordinal week of the month (1st through 4th) and the weekday.

We **don't** want to have them specify the day of the month and then calculate which week it occurs in (e.g. Dec 16th, 2016 -> 3rd Friday of every month) - that would be prone to user error ("No, it was the 8th, not the 9th!").

[2016-12-17 03:25] all-self-taught commented on #1123
I modified the CSS and Templates on my local copy to allow the profile image to appear in the center on mobile devices (screen width < 767px). It'll be in my pull-request tomorrow. No tests were involved, as it was a UI enhancement. Simplest way to test is to narrow the browser screen until the pic appears in the center.

[2016-12-22 00:36] nikolevaughn opened #1128 "update to dojo information"
Hi, The suggested notes for the CoderDojo I sponsored are incorrect. How do I get these updated?

[2016-12-22 06:45] DanielBrierton commented on #1128
Hi @nikolevaughn,

You'll need to get in touch with the champion of the Dojo. If you need help getting in contact with them, email the Dojo details to info@coderdojo.com and someone from the team will be able to assist you.

Daniel

[2016-12-22 10:06] rosalanghammer opened #1129 "Update Privacy Statement."
Updated to include 3rd parties we use for any coderdojo.com and all its associated domains.

File -> Privacy Statement - Updated December 2016

[2016-12-22 14:15] nikolevaughn commented on #1128
Hi, Thanks.

I am one of two Champions. Neither of us loaded the information, so we are seeking assistance to get the note updated.

Best Regards,
Nikole
210-833-2909

[2016-12-22 14:19] rosalanghammer commented on #1128
Hi Nicole,

If you could please email info@coderdojo.org and one of our team will help
you. If you send us the name of your Dojo and your Zen link so we can look
up who the registered Champion is that would be great :)

Thanks,

Rosa

On 22 December 2016 at 14:15, nikolevaughn <notifications@github.com> wrote:

--
*Rosa Langhammer*
Reporting Lead
@ CoderDojo Foundation
+353 872686 <+353+851088135>

[2016-12-22 14:35] nikolevaughn commented on #1128
Thank you!
I've emailed the team at the info address.

The CoderDojo is the one hosted at the Parman Library in San Antonio, TX-US.

Best Regards,
Nikole
210-833-2909

[2016-12-26 06:28] adarsh-ideal commented on #986
Hello, I just ran zen development environment. Here is the link to my blog post:
https://idealadarsh.wordpress.com/2016/12/26/coderdojo-zen-development-environment-running/

[2017-01-04 10:17] rossoneill opened #1130 "InActive Dojo Urls Still Accessible via referral link."
You can access Inactive Dojo profiles via Google and other referral links due to SEO.

Issue raised when a prospective Ninja contacted an inactive dojo requesting to join - a zendesk 'LOST' ticket was created and from reading the ticket it was apparent that this user accessed an old inactive profile to send the email.

Example: https://zen.coderdojo.com/dojo/us/miller-middle-school-san-jose-ca/san

[2017-01-05 18:48] paulolc opened #1131 "Error while opening manage event page on Zen "Error loading parents: [object Object]""
When opening the manage event page on Zen the following error appears:
 "Error loading parents: [object Object]"
![image](https://cloud.githubusercontent.com/assets/673004/21693110/8cbbd694-d377-11e6-8a3f-79db24bd4c1f.png)

Steps to reproduce:
1. Login as Mentor
2. On the top right user menu select "My Dojos"
3. On the line of a dojo you have admin permissions and in the Events column click "Manag

[2017-01-06 01:16] Wardormeur commented on #1131
Thanks for the report, we'll have a look at it tomorrow morning :)

[2017-01-06 10:38] Wardormeur commented on #1131
We had a similar issue 2 days ago, it only seems to happens after the µs is running for a good 2 days. We deployed more logs to understand what's going on.

[2017-01-06 10:52] paulolc commented on #1131
It's working now. Thanks!

[2017-01-06 14:46] nuala-louise opened #1132 "Add Link to E-Learning Modules on Resources page"
Can we please add a link to the E-learning modules on the resources page https://coderdojo.com/resources/

So that people who go to our resources realise we have them on offer. Here is the blog link: https://coderdojo.com/news/2016/09/06/launching-the-first-coderdojo-e-learning-modules/

Thanks

This image could be used: https://coderdojo.com/wp-content/uploads/2016/09/Screen-Shot-2016-08-29-at-14

[2017-01-06 15:07] Wardormeur commented on #1132
If i remember well, we can't "redefine" the login page and we don't allow users to "self-register" on learnUpon (LU) or a simple reason : we group users based upon their user type on Zen; nor can we hotlink the ressources w/o login.
Hence those links to ressources should be a registration link (if not registred) which then redirect to the approval to share data w/ LU.

[2017-01-10 04:24] rosalanghammer commented on #1132
+1 to guillaumes suggestion

On 6 Jan 2017 23:07, "Wardormeur" <notifications@github.com> wrote:

--
*Check out our #BackToDojo Resources <https://goo.gl/E9AozA>;*
Making planning & running your Dojo even easier in 2017!

*In 2016 CoderDojo celebrated 5 years since our 1st Dojo!*
Start your own Dojo <https://goo.gl/6xnjlH> and join our global network of
more
than 1,200 Dojos spanning 70 countries!

[2017-01-10 15:22] Wardormeur opened #1133 "Event description doesn't necessarly load"
It seems that when editing an event, the description is not necessarly loaded or load too slowly so that the user may have "touched" it in between.
This was reported by Zendesk but also experienced by us. A deeper look is required to understand the conditions of reproduction & the causes .

[2017-01-12 11:25] Wardormeur commented on #1131
It should be fixed by now. A bug had been found in our cp-permissions plugin

[2017-01-12 11:25] #1131 closed

[2017-01-12 11:26] Wardormeur commented on #1109
@DanielBrierton This should be fixed, am i right ?

[2017-01-12 11:27] Wardormeur commented on #1102
plugin started : https://github.com/wardormeur/seneca-entity-tracker

[2017-01-12 11:29] Wardormeur commented on #1091
@rosalanghammer  @DanielBrierton To be closed since dedployment of myChildren ?

[2017-01-12 11:29] Wardormeur commented on #1086
@DanielBrierton this is old & outdated, am i right ?

[2017-01-12 11:30] Wardormeur commented on #1075
@DanielBrierton same as previous comment, handled by myChildren?

[2017-01-12 11:30] DanielBrierton commented on #1086
This was reported at DojoCon, and we sorted it out shortly afterwards. Should be good to close.

[2017-01-12 11:30] #1086 closed

[2017-01-12 11:31] DanielBrierton commented on #1075
Yes, I'd say this is can be closed now.

[2017-01-12 11:32] DanielBrierton commented on #1109
I believe so @Wardormeur.

@lordkada Sorry, this managed to fly under our radar. Did you manage to get your kids added to your account since? Really sorry for the delay in getting back to you.

[2017-01-12 11:40] DanielBrierton commented on #1091
One thing that hasn't been addressed is the "magic" of the Join Dojo button. Do we want to allow users to not include their children when joining? And to manage a child's membership from the Dojo page?

[2017-01-12 11:55] Wardormeur opened #1134 "Development documentation"
Should:
  * describe how to structure files
  * describe required parts (ie perms)
  * describe limitations (ie node 0.10)
  * describe quirks (ie : redirection to prods in cd-menu)
  * link to /documentation for endpoint usage
Documentation should then be made available on the http://github.coderdojo.com/ website

[2017-01-12 11:57] #1075 closed

[2017-01-12 12:02] Wardormeur commented on #1091
From a family point of view, i doubt you want to run around, splitting your kids one per dojo. So that it "could" be "all or nothing" feature, in case you join a dojo as a mentor as an extra activity, or you're a serial dojo starter (already happened :p) and you don't necessarly want your kids to be following you in that path.

[2017-01-12 12:10] Wardormeur commented on #1048
@DanielBrierton to close?

[2017-01-12 12:13] Wardormeur commented on #431
@DanielBrierton To close?

[2017-01-12 12:15] DanielBrierton commented on #431
This isn't done, but will be by me today with my cd-add-child directive

[2017-01-12 12:26] lordkada commented on #1109
yes, it worked. Thanks!

[2017-01-12 12:26] #1109 closed

[2017-01-12 17:27] DanielBrierton opened #1135 "Start a Dojo retaining old information"
When starting a second Dojo, sometimes you are presented with already filled out details from your old Dojo. This is most likely because localStorage isn't getting wiped after submission of the application.

[2017-01-13 06:01] rosalanghammer commented on #1091
For now we could leave it as a join all - as long as they can remove kids
from a Dojo in the Children section? Is that possible?

On 12 January 2017 at 20:02, Wardormeur <notifications@github.com> wrote:

--
*Rosa Langhammer*
Reporting Lead
@ CoderDojo Foundation
+353 872686 <+353+851088135>779 | @RosaLanghammer | Skype: rosa.langhammer l
<https://mail.google.com/mail/u/0/#UNIQUE_ID_SafeHtmlFilter

[2017-01-13 09:38] Wardormeur commented on #1091
yep

[2017-01-13 09:38] #1091 closed

[2017-01-18 14:17] DanielBrierton opened #1136 "Global default error handling in UI"
As it is now, sometimes a broken REST call will result in the page hanging, or just nothing happening at all, making the user think everything went ok.

We should have default handling for these errors so an error message is displayed, but allow for silent error handling when needed.

[2017-01-18 14:20] DanielBrierton opened #1137 "Create Print CSS"
Current print formatting is... Interesting...

![dojo_print](https://cloud.githubusercontent.com/assets/181418/22067443/2e04fc40-dd89-11e6-9e8d-eab34d82c480.png)

We should implement some simple print CSS to hide things like the menu and action buttons so information can be printed easily.

[2017-01-20 10:37] rossoneill opened #1138 "Notify Champion when *ANY* user joins a Dojo."

[2017-01-20 10:43] niccokunzmann opened #1139 "Bug: Can not sort events by date"
If I look at the events list, I would like to see the events sorted by date. But: independently of how I sort them, February 4th is between two January events.

This is the current behavior:

![image](https://cloud.githubusercontent.com/assets/564768/22146642/a6fbe8a2-df05-11e6-8a5f-8b455aee8108.png)

Webpage: https://zen.coderdojo.com/dashboard/my-dojos/0be123e7-c9be-4002-a3cf-f0c8550f749a/events

[2017-01-23 11:27] rosalanghammer commented on #1138
Currently an email goes to Dojo email when a mentor/champion joins - this is to approve the mentor/champion.

The idea is that this email will just be a notification, not an approval email like the current, for any other users who do not have to be approved (i.e. parents, O13 youth). Idea for text below;

'Hi,

A new user has joined your Dojo, [Dojo Name], as a [role].

This user has been automati

[2017-01-23 11:29] Wardormeur commented on #1138
How about implemeting a notification system instead of spamming emails ?
I know that emails is a quite a short time development solutions but it shouldn't be used the way we do, we're way to verbose imho.

[2017-01-23 11:30] rossoneill commented on #1138
It could be a digest of additions from the week maybe?

[2017-01-23 11:33] rosalanghammer commented on #1138
Think digestible is a good idea - though just for this as mentor applications need to be separate as they will be built out to have more information.

Also an idea is that this could be an optional email/notification as not all Dojos want to know about parents/kids joining.

[2017-01-23 15:36] rossoneill opened #1140 "Replace Share Icon with "Share This Event" Button/DropDown"
An addition of Dropdown to be Under "Book" to be selected from a "Share This Event" CTA

- I would recommend that any future features with icons like the share icon here be removed for community ease - currently no terms of reference for icons on Dojo listings page.

![screen shot 2017-01-23 at 15 23 15](https://cloud.githubusercontent.com/assets/15870361/22210234/05e24eec-e181-11e6-8195-4fda206f9

[2017-01-25 11:33] Wardormeur opened #1141 "Custom filters per entity"
Some filtering is done f-end side, which is both unefficient and.. wrong.
To avoid looping over in the b-end, or duplicating parts of code, we should find a way to implement custom filters either in seneca-entity or through the new "entity" object (>need to link specs here)

[2017-01-26 09:53] niccokunzmann opened #1142 "Rename csv user export file"
Currently, when I export the users, I the the file name `0be123e7-c9be-4002-a3cf-f0c8550f749a-user-export.csv`. I would like it to contain the dojo name and the current date: `potsdam@hpi-2017-26-01-10-52.csv`

[2017-01-26 10:57] Wardormeur commented on #1142
The main reason we wanted to avoid it I believe was because it's user input based, with different charsets and we had other priorities than doing some manual escaping that could break the export (or the file, different filesystem/authorised characters); hence the dojoId instead of the dojo name.
^should be taken into account for anyone developping this solution

[2017-01-31 11:41] Wardormeur opened #1143 "Replace mailtrap by maildev"
In order to avoid rate limits of mailtrap, we should replace mailtrap by any nodejs based mail (ie maildev)
It should be included by cp-local so that the production stack is not impacted

[2017-01-31 22:23] #751 closed

[2017-01-31 22:25] Wardormeur commented on #681
@DanielBrierton To close?

[2017-01-31 22:28] Wardormeur commented on #331
@DanielBrierton covered by you, am i right?

[2017-01-31 22:31] Wardormeur commented on #768
@DanielBrierton Should be closed?

[2017-01-31 22:32] Wardormeur commented on #678
By tests, should pass
May need to extend tests tho' to include extra fields (left column)

[2017-01-31 22:34] Wardormeur commented on #614
@rosalanghammer To review

[2017-01-31 22:36] Wardormeur commented on #80
Done so far :

- [ ] Profile visibility
- [ ] Registration
- [ ] Login
- [ ] Event (C -RUD)
- [ ] Registration

cc @DanielBrierton let's maintain this if possible :)

[2017-02-01 06:03] DanielBrierton commented on #681
Yeah, role selection is much more obvious now, think we can close this.

[2017-02-01 06:03] #681 closed

[2017-02-01 06:05] DanielBrierton commented on #331
Yeah, this is covered by my new add child form. Will be sure to close when deployed.

[2017-02-01 06:06] DanielBrierton commented on #768
Yeah, any adult can add children now, and user type in cd_profiles is actually now completely hidden.

[2017-02-01 06:06] #768 closed

[2017-02-01 12:23] Wardormeur commented on #1096
^fix

[2017-02-01 12:23] #1096 closed

[2017-02-01 13:53] rosalanghammer commented on #614
@Wardormeur We can close as a re-review has been done as features are built - I will do another full review of all in April with Community team. Are cp-users and cp-dojos the only places where email templates are stored?

[2017-02-02 09:59] Wardormeur commented on #614
They are stored together in crowdin, but imported/used (emails wise) by both dojos & users, yes.

[2017-02-02 09:59] #614 closed

[2017-02-02 14:47] Wardormeur commented on #1018
Fixed by https://github.com/CoderDojo/cp-dojos-service/pull/311
https://github.com/CoderDojo/cp-zen-platform/pull/1088

[2017-02-02 16:15] #1018 closed

[2017-02-03 14:08] Wardormeur opened #1144 "HapiJs CORS doesn't respect pre-flight for route-based conf"
https://github.com/hapijs/hapi/issues/2840
Updating hapijs requires to update others plugins as well as NodeJs (we shouldn't even use it on 0.10).
To avoid preflight for non-cors calls (/api/2.0/dojos), avoid sending extra-headers for those routes

[2017-02-06 10:05] Wardormeur commented on #829
Not perfect, but seems to have been done https://zen.coderdojo.com/?list=true#Romania
close @DanielBrierton  ?

[2017-02-06 10:08] Wardormeur commented on #897
As per https://forums.coderdojo.com/topic/311/search-function-for-dojo-listings-on-zen we should probably add the possibility to filter on "Looking for mentors" in a way you can easily look for a dojo.
However I feel like @rosalanghammer was considering this was a non-status as you're generally always looking for more mentors. Am I right ?

[2017-02-06 16:20] rosalanghammer commented on #897
Yeah everyone is looking for mentors but they can choose not to tick if they want but it's good to get this forum feedback. I think the point on days and time is definitely a searchable item that both parents and mentors would appreciate.

Here is a previous mockup - can be viewed in both list and map form. https://projects.invisionapp.com/share/RA7971JJQ#/screens/157278849

My concern would be th

[2017-02-08 12:06] Wardormeur commented on #1089
see https://github.com/CoderDojo/community-platform/issues/695

[2017-02-08 12:10] Wardormeur opened #1145 "Allow integration with third parties on dojo page"
Depending on what data-sources you provide on your dojo page, integration could be done in a way it displays the latest informations from those sources.
As an example :
- if you provide a twitter account, it should display the latest tweets
- if you provide a tumblr account, it should display the latest images

Those informations should be toggable when providing those datasource so that you eithe

[2017-02-08 13:28] rosalanghammer commented on #1145
She means more of a gallery. I imagine our original idea for cover photo equivalent would work.

On a separate note - yes twitter feeds etc would be good but we would need to think about where this would go as it could get cluttered fast if you had facebook and twitter even - a toggle on and off would be good. Also distracts from events.

[2017-02-08 13:35] rosalanghammer commented on #1029
+1 from Chris, NL on this.

[2017-02-08 13:53] Wardormeur commented on #1145
The goal of the integration was to avoid having to do a gallery : image upload is sensitive in multiple way, and you won't have enough feature to cover everything that may be needed; hence a better integration with a social network who's image-oriented would make more sense.
Another solution would to allow markdown from nodebb down to the profile page, but "somebody" would still have to host the i

[2017-02-08 14:02] rosalanghammer commented on #1145
Yeah good point. Then I assume the obvious integration would be flickr, which lots of Dojos use, as it's solely photo sharing - there may be another I don't know about. Also like the idea of feeds but it could get messy, if we want to add just for the gallery then I imagine using a photo sharing platform would be the best way to approach.

[2017-02-08 17:58] Wardormeur opened #1146 "Allow custom domain redirect when signin-in"
When using cd-theme, the login action redirects to Zen and use Zen's login system, which is fine when used on coderdojo.com, but not "good enough" when used on coderdojonsw.org.au.
Allowing a redirection to the requesting domain is necessary, but apart from whitelisting, I can't think of any way to avoid abuse of this redirect for malicious intent.
Thoughts? @rosalanghammer @DanielBrierton cc @Ary

[2017-02-14 09:13] DanielBrierton commented on #1126
Done by @BSKERRITT! https://github.com/CoderDojo/cp-zen-platform/pull/1089

[2017-02-14 09:13] #1126 closed

[2017-02-14 10:59] Wardormeur commented on #1082
@DanielBrierton to close ?

[2017-02-14 11:00] DanielBrierton commented on #1082
Yes

[2017-02-14 11:00] #1082 closed

[2017-02-14 11:02] Wardormeur commented on #1052
fixed by https://github.com/CoderDojo/cp-zen-platform/commit/55fdcd2f09dd90790b71d8019676047fb5473be8
to close @DanielBrierton  or is there any other scenario ?

[2017-02-14 11:03] DanielBrierton commented on #1052
Yeah, I think we can close this for sure.

[2017-02-14 11:03] #1052 closed

[2017-02-14 11:04] Wardormeur commented on #1019
@DanielBrierton @butlerx does this https://github.com/CoderDojo/cp-zen-platform/commit/01fda1a85d892e824c8b250cbe30f65a6b0fbab7 covered the issue?

[2017-02-14 11:05] Wardormeur commented on #996
@DanielBrierton to close? We don't use those usertype on registration

[2017-02-14 11:06] Wardormeur commented on #985
Won't be necessary, we're migrating out of bagekit as of https://github.com/CoderDojo/community-platform/issues/1092

[2017-02-14 11:06] #985 closed

[2017-02-14 11:08] DanielBrierton commented on #1019
@Wardormeur That commit specifically covers the list of Dojos, but the map was covered at some other point, so yeah, this should be all good now

[2017-02-14 11:08] DanielBrierton commented on #996
@Wardormeur Sounds good to me!

[2017-02-14 11:08] #996 closed

[2017-02-14 11:08] Wardormeur commented on #924
As stated, this wa sthe intentional behavior, we want to simplify as much as possible for adults to carry their children along. My children page from @DanielBrierton will help managing this, should be there soon !

[2017-02-14 11:08] #924 closed

[2017-02-14 11:09] Wardormeur commented on #903
@DanielBrierton to be closed?

[2017-02-14 11:10] DanielBrierton commented on #924
@Wardormeur My Children page is there now for managing your child's Dojos! I'm just finishing off the simplified add child form now.

[2017-02-14 11:10] DanielBrierton commented on #903
@Wardormeur Yeah, no longer makes sense since you don't select a user type when registering.

[2017-02-14 11:10] #903 closed

[2017-02-14 13:06] #1111 closed

[2017-02-14 14:42] butlerx commented on #1019
yep closed

[2017-02-14 14:42] #1019 closed

[2017-02-14 18:29] Wardormeur commented on #1111
While being closed, we need to remember to avoid using translation in ternary condition inside an template, the interpolation seems to not like accentuated character https://github.com/angular/angular.js/pull/4747

[2017-02-16 10:15] DanielBrierton commented on #385
Badges are now automatically accepted, so this is much less of a problem. I think we can close this. @Wardormeur?

[2017-02-16 10:18] DanielBrierton commented on #164
This will be covered by an upcoming e-learning module, right @rosalanghammer? Can probably close this issue then.

[2017-02-16 10:20] Wardormeur commented on #385
Should we notify users with pending badges about accepting those? @rosalanghammer

[2017-02-17 15:51] #1029 closed

[2017-02-17 16:31] DanielBrierton commented on #889
As events are super local, and don't span timezones, we've deemed it unnecessary to actually store timezones. Instead, we ensure the time input is the time that displays when viewing, regardless of which timezone you're in. Closing.

[2017-02-17 16:31] #889 closed

[2017-02-17 19:34] rosalanghammer commented on #164
Yes and should be linked to resources from new Tao page. Closing.

[2017-02-17 19:34] #164 closed

[2017-02-17 19:38] rosalanghammer commented on #385
Yes @Wardormeur @DanielBrierton lets do a mailshot on that.

'Hi User_firstname,

You still have CoderDojo badges to accept and add to your profile. Just click the link below to claim your badge.

LINK

Best wishes,

The CoderDojo Foundation Team'

or something similar :)

[2017-02-17 21:09] rosalanghammer opened #1148 "Allow young people to 'Request a badge'"
Young people who are part of a Dojo can submit a request (including evidence)

Thoughts that this could be placed on the main profile or on the main dashboard for kids when we build that.

[2017-02-17 21:16] rosalanghammer commented on #891
@DanielBrierton if we are rebuilding Tao this can be closed. If we are just going to build upon the neverending checkbox page then it needs to remain as this is still a requirement for Tao.

[2017-02-17 21:19] rosalanghammer commented on #607
First part is no longer relevant so can be closing as blocking usertype doesn't exist since change to registration. Assigning myself a task to review all error messages and make them user-friendly.

[2017-02-17 21:19] #607 closed

[2017-02-17 21:21] rosalanghammer opened #1149 "Review all error messages"
Lots of unfriendly error messages to be reviewed when I get time (Q2 2017 ideally)

[2017-02-17 21:23] rosalanghammer commented on #1095
@DanielBrierton @BSKERRITT Update on this issue - parent email added to export but not number of attendances?

[2017-02-17 21:38] rosalanghammer commented on #764
Notify all users was added. Closing.

[2017-02-17 21:38] #764 closed

[2017-02-17 21:46] rosalanghammer commented on #244
May also be a freetext is better as an exhaustive list here would be difficult.

[2017-02-17 21:49] rosalanghammer commented on #440
@Wardormeur is this still a bug/issue or have we done anything about it since you encountered?

[2017-02-17 21:53] rosalanghammer commented on #568
Would be super nice to have if this was custom so Dojos could add their own requirements. e.g. 'Remember to download x, y and z'

[2017-02-20 02:38] asonder commented on #1115
I'd like to take a shot at this issue. This is my first time contributing to open source, and I'm excited to get involved.

[2017-02-20 05:32] Wardormeur commented on #1115
Do you have the stack installed yet? If not, have a look at https://github.com/CoderDojo/cp-local-development .
For the next steps, I believe @DanielBrierton is having a better understanding of how it works than I do 😅

[2017-02-20 05:34] Wardormeur commented on #568
The message of the reminder could simply contains the description of the event instead of creating another field specifically for the reminder?

[2017-02-20 05:38] Wardormeur commented on #440
Nothing that I remember, may still be an issue.

[2017-02-20 05:41] Wardormeur commented on #1095
No, the number of attendances haven't been added, we decided to keep it simple as a first task 😉

[2017-02-20 09:20] BSKERRITT commented on #1095
Thanks Guillaume, serious baby step for me. Rosa the lads have been great
and are only giving me certain tasks to do, the attendance issue was not
part of this task.

On 20 February 2017 at 05:41, Wardormeur <notifications@github.com> wrote:

--
This Febuary is* Volunteer Appreciation Month!
<https://coderdojo.com/news/2017/02/01/launching-volunteer-appreciation-month/>*
Share stories & photos of

[2017-02-20 15:12] asonder commented on #1115
Thanks for the info. I'm going to install the dev environment today, and when I'm working on the bug I'll check with @DanielBrierton if I have questions.

[2017-02-20 15:44] rosalanghammer commented on #568
Yes message can just be description/details of event in first instance but it would provide more value to make it more custom than that. Just want this to be noted if someone takes this issue and feels like they want to add maximum value.

[2017-02-21 00:28] Wardormeur commented on #1148
This feature cannot be alone, it should be an epic containing 2 stories : being able to reclaim and being able to (in)validate a request

[2017-02-21 09:28] ChristianVermeulen opened #1150 "Dojo Page > Long Titles"
A minor UI issue; when the dojo title is fairly long it doesn't fit in the header anymore. Maybe the title width can be increased? There is plenty of space! :)

![screenshot 2017-02-21 10 28 29](https://cloud.githubusercontent.com/assets/1062751/23158732/87a38eae-f820-11e6-9059-698fb19ecd3b.png)

[2017-02-21 10:16] DanielBrierton commented on #1150
Note to self: Add longer dojo names to test data. 'dojo1' and 'dojo2' don't quite cut it. 😛

@BSKERRITT is on it now, should have a fix deployed shortly!

[2017-02-21 13:44] DanielBrierton opened #1151 "Allow O13 accounts to add parent contact information"
As it is now, an O13 can sign up to their own account, and join and attend a Dojo by themselves. As a result though, Dojos don't have any parent/guardian contact information for emergencies. We should add the ability to add parent/guardian contact info to a standalone O13 page.

[2017-02-21 13:47] rosalanghammer commented on #1151
Should this ability also be able to be enforced/required depending on the Dojo? Could be a popup at join which says 'this Dojo requires more elements of your profile to be completed' or something.

[2017-02-21 19:48] rosalanghammer commented on #897
An addition to this mockup would be private vs public - with default on private listings not showing up unless selected specifically on the sidebar.

Some confusion now with private dojos on the map and current list.

[2017-02-21 19:55] rosalanghammer opened #1152 "Split out day and time on Dojo listing"
Needs to be defined time/day so that this is easily searchable in the future - this field is currently freetext.

For current freetext field when implemented - we would still want it to be viewable so making it viewable where it can then be over-rode by entering this text. Also need to consider how this free text could be searched if new map settings are implemented.

Related to #897 - specificall

[2017-02-21 20:09] rosalanghammer commented on #720
Done as part of UI review. Closing.

[2017-02-21 20:09] #720 closed

[2017-02-21 20:29] rosalanghammer opened #1153 "Re-add private banner to Dojo listing & remove lock symbol"
For private Dojos a banner under the name of the Dojo (see terrible sketch for placement idea) should be added - the lock symbol should be removed as this is not prominent enough.

Text would be;

'Private Dojos are by invite only or for specific people who are members of an organisation or school. The general public should not contact to attend this Dojo.'

cc'ing @Giustina to confirm wording aft

[2017-02-21 20:47] rosalanghammer commented on #1068
Additional/clarification point;
- Waiting list should be able to be enabled per session/stream not total tickets in the event. So if one ticket type in a stream sells out, then the waiting list should trigger for this ticket.

[2017-02-21 20:48] DanielBrierton opened #1154 "Gulp doesn't run from localdev.js on Linux"
The LESS watcher is initialised from running `gulp dev` in cp-zen-platform. `./localdev.js run zen` is supposed to run this `gulp dev`, and it does on Mac, but not on Linux (at least, not for @Wardormeur and @BSKERRITT)

[2017-02-21 20:59] DanielBrierton opened #1155 "Dust templates are inconsistently cached when running locally"
`./localdev.js run zen` watches for changes in dust files, and restarts the cp-zen-platform processes to make the new changes be picked up. Despite this, you sometimes get the new template, sometimes get the old one.

I think this may have something to do with the fact that multiple processes (one for each thread/core) for each service, and perhaps only one gets restarted.

The ideal scenario is t

[2017-02-21 21:02] DanielBrierton opened #1156 "Update to latest Node.js LTS"
As of writing, this is v6.9.5.

Main blocker for this right now is lack of e2e tests. We can't upgrade in confidence that everything still works.

[2017-02-21 21:02] rosalanghammer commented on #1070
@DanielBrierton to review a table based approach as opposed to Grid for this.

Also would we have both incase of ticket names being the same. e.g. Scratch (ticket type mentor), Scratch (ticket type youth)?

[2017-02-21 21:05] DanielBrierton opened #1157 "Update to latest Seneca"
We're currently running Seneca 1.4, while the latest (as of writing) is 3.3.0. Seneca's various plugins (auth, mail, postgresql-store, user) should also be updated too.

Depends on #1156

[2017-02-21 21:07] DanielBrierton opened #1158 "Update to latest hapi.js"
Requires #1156

[2017-02-21 21:09] DanielBrierton opened #1159 "Update various backend dependencies"
lodash, moment, boom, jed, etc.

Likely requires #1156

[2017-02-21 21:13] DanielBrierton opened #1160 "Fix list of CDF Admins in cp-local-dev to match test data"
cp-local currently has manager@example.com as CDF Admin, while the test data creates a user with manager1@example.com

This should be updated so a CDF Admin is available after loading in test data

[2017-02-21 21:28] rosalanghammer commented on #1128
Closing as dealt with offline :)

[2017-02-21 21:28] #1128 closed

[2017-02-21 21:33] DanielBrierton opened #1161 "Split services into individual files"
cp-events and cp-badges are currently the only service fully broken up. cp-users and cp-dojos have large files with many functions defined in them, making it harder to find code for specific features.

[2017-02-21 21:36] DanielBrierton opened #1162 "Split large Angular controllers into components/directives"
There are currently a number of large controllers in our front-end that are hard to maintain.

Some work has already been done to break these up into chunks using components/directives, but there's still a good bit left to do.

[2017-02-21 21:40] DanielBrierton opened #1163 "Ensure all JS files are linted and checked during build"
My preference would be for all code, front-end and back-end, to be compliant with semistandard. I'm open to debate on this though. /cc @Wardormeur

Currently a mix of semistandard and jshint is used, with some files not being covered by the linter at all, making code styles inconsistent across the repos.

[2017-02-21 21:41] rosalanghammer commented on #1138
Until you can email the user through the platform it feels weird to not give the Champion ideas of what they need to do next here - i.e. get in touch with this parent/user to explain what happens next - Should contain some next steps for the Champion as this could be the first contact that Champions/Admins have with newly interested parents/kids.

e.g. 'Email your new user to explain how to attend

[2017-02-21 21:56] DanielBrierton opened #1164 "Reduce dependence on Angular resolves"
Resolves make routes take longer to load, as each page waits for all resolves to ... resolve... In the meantime, the user doesn't see any activity happening, confusing them.

I also suspect that these are what's causing the issues with minifying our front-end code (#703) although I have no evidence to support this. 😅 (My theory is based off the fact that the resolves use dependency injection, but

[2017-02-21 22:09] DanielBrierton commented on #1150
This is fixed by @BSKERRITT's PR #1096 which was merged earlier today.

Thanks for the bug report @ChristianVermeulen!

[2017-02-21 22:09] #1150 closed

[2017-02-21 22:20] DanielBrierton opened #1165 "Improve development documentation"
@Wardormeur has already started looking at this.

Thoughts are that we use GitBook to better structure our documentation to make it easier to onboard. GitBook also allows for localisation in a more structured way.

[2017-02-21 22:24] rosalanghammer commented on #772
Closing as verification has been working since without email (though Dojos still shouldn't be verified w/o Dojo email)

[2017-02-21 22:24] #772 closed

[2017-02-21 22:25] rosalanghammer commented on #785
Now redirected to login or register so closing.

[2017-02-21 22:25] #785 closed

[2017-02-21 22:26] rosalanghammer commented on #748
@DanielBrierton @Wardormeur this is done for all users now right? We still get reports of kids with only one name but I assume they are old accounts.

[2017-02-21 22:28] DanielBrierton commented on #1115
@asonder Thanks for taking this, great to hear your stepping into the world of contributing to open source. 😄  If you have any issues getting set up, or on the bug itself, you can grab me on our Gitter: https://gitter.im/CoderDojo/community-platform or we can continue discussion here on this issue.

[2017-02-21 23:02] DanielBrierton commented on #748
@rosalanghammer This is actually what's holding me up with the new add child page. Currently, there's only a single field for name when adding a child, so parents/guardians can put just the first name in. Handling first and last name separately has caused issues with the e2e tests, so I need to get to the bottom of that and fix them. I'm 95% sure everything still works, but I want the tests to wor

[2017-02-22 01:41] rosalanghammer commented on #748
Excellent - hopefully gives us less instances of community feedback. So we are good to close this when merged :)

[2017-02-22 02:19] asonder commented on #1115
Thanks @DanielBrierton ! I started to set things up yesterday, and I hope to have it done by the end of the week so that I can start working on the bug. I'll reach out if I have any issues.

[2017-02-22 05:03] Wardormeur commented on #1153
A lock may not be the best icon ui-wise, but banners are literally a bad idea. To be included for review by an ui-designer instead?

[2017-02-22 05:05] Wardormeur commented on #1155
You mean deactivate caching for dev?

[2017-02-22 05:18] Wardormeur commented on #1138
If it's a digest it cannot contain a replyTo

[2017-02-22 09:41] DanielBrierton commented on #1101
Fixed by #1094

[2017-02-22 09:41] #1101 closed

[2017-02-22 13:28] rosalanghammer commented on #1138
True this is considering one by one emails only not digest.

[2017-02-22 13:31] ChristianVermeulen commented on #1150
![](https://m.popkey.co/9eaff1/yl1EQ.gif)

[2017-02-22 13:33] rosalanghammer commented on #1153
Agree. It needs to be something more obvious than the lock right now.

This was my terrible sketch which I forgot to attach.

![screen shot 2017-02-21 at 15 20 54](https://cloud.githubusercontent.com/assets/12827424/23213620/9c2789b6-f8d9-11e6-94a7-220268dc0a16.png)

[2017-02-22 16:02] DanielBrierton opened #1166 "Align all heights/widths/paddings/margins/etc. by using LESS variables"
As it is now, the same paddings/margins/etc. are being used across the site, but are defined each time. Ideally, these should be LESS variables we reference, so we can change our overall grid at will with ease.

It also just ensures consistency among our own code right now.

[2017-02-25 08:16] jeroennijhof opened #1167 "Send a reminder when notify members"
When you notify members for an event make sure to send a reminder to the ones which already booked.

[2017-02-25 08:21] jeroennijhof commented on #1167
https://github.com/CoderDojo/community-platform/issues/568

Describes it way better but shouldn't this be a priority? I mean for events it's one of it's primary needs.

[2017-02-27 14:48] rosalanghammer commented on #1167
Hey @jeroennijhof - yes we already have this issue so I'm going to close this, if you could +1 in there that would be great. We have a small team (of only 2 developers) and this is not on our current roadmap for development, which is full up until June, but it's very highly prioritised for contributors on our waffle board (https://waffle.io/CoderDojo/community-platform) and we're hoping that some

[2017-02-27 14:48] #1167 closed

[2017-02-28 02:36] asonder commented on #1115
@DanielBrierton just letting you know that installing the dev environment is taking a little longer than expected, but I'm still committed to working on this bug!

[2017-02-28 18:04] sandervdo commented on #409
This has high priority for multiple dojo's in the Netherlands. We have migrated / are migrating from EventBrite to Zen and this is one of the major features that we are missing now.

[2017-03-02 15:54] #1154 closed

[2017-03-02 15:56] Wardormeur commented on #1123
Covered by @BSKERRITT

[2017-03-02 15:56] #1123 closed

[2017-03-03 11:32] Wardormeur commented on #1151
This info is not related to a dojo itself, so that it should probably be shared upon multiple dojos.
We should let it be inputted on the profile  and have a dedicated "on-join" page when you don't have it filled.
The main problem is : what is a decent "information"? Considering o13 don't require validation upon joining, you could fill it with "blablabla" and still be useless to the dojo. Should it

[2017-03-03 11:38] #1095 closed

[2017-03-06 17:54] Wardormeur commented on #1059
Example : when using social groups like Slack, it should show up with minimal information of the event

[2017-03-09 08:11] ChristianVermeulen opened #1168 "Add Open Graph meta tags for facebook sharing"
When sharing an event / dojo on Facebook there is nothing in the preview.
Not even a proper title or description 😢.

![screenshot 2017-03-09 09 10 57](https://cloud.githubusercontent.com/assets/1062751/23741345/585b52d2-04a8-11e7-89c6-01e34d5fcc8e.png)

Could we at least at:
- og:title => `CoderDojo {name} | Zen`
- og:description => `{EventName} at {coderdojoName} on {date}`
- og:image => e.g. map

[2017-03-09 09:38] Wardormeur commented on #1168
Yep, it's here :) https://github.com/CoderDojo/community-platform/issues/1059

[2017-03-13 11:56] Wardormeur commented on #1168
this https://github.com/CoderDojo/cp-zen-platform/pull/1101 should take care of opengraph

[2017-03-14 15:55] rosalanghammer commented on #944
Just tried this myself and got a report from community of no cancellation email being sent. Nothing in Sendgrid either. @Wardormeur @DanielBrierton needs to be investigated.

[2017-03-18 18:50] BenChapman commented on #1113
The emails you send out via SendGrid already have the correct SPF and DKIM signatures, they're attached automatically by SendGrid. Reason for this is that SendGrid uses a sendgrid.com address in the `MAIL FROM` command and this will pass most email provider filters since it's valid. It may not pass on some exceptionally restrictive providers. I think to overcome that you need to use [whitelabeling

[2017-03-18 20:13] BenChapman commented on #1153
A badge may be a good way to go. If looking for a Dojo for the first time, one of the key pieces of information for a user is "Can I go here?". A badge is obvious but reasonably unobtrusive way of communicating this.

<img width="1384" alt="screen shot 2017-03-18 at 19 07 00" src="https://cloud.githubusercontent.com/assets/479354/24075242/635c69a0-0c0f-11e7-9997-d64d2359d53b.png">

----

**Sidenot

[2017-03-19 15:40] niccokunzmann opened #1169 "Dojo list does not scroll"
The dojo list loads for a while and then it does not scroll to India:
https://zen.coderdojo.com/?list=true#India

I would like, once the list is successfully loaded, that it scrolls down to India.

[2017-03-19 15:49] niccokunzmann opened #1170 "List issues on up-for-grabs.net"
We have a list of beginner issues. I would like to list them on http://up-for-grabs.net, so open-source new comers can find them.

Hints:
- [List of Projects](https://github.com/up-for-grabs/up-for-grabs.net/tree/gh-pages/_data/projects)
- [List of beginner issues](https://github.com/CoderDojo/community-platform/issues?utf8=✓&q=label%3Abeginner)

[2017-03-19 16:01] niccokunzmann commented on #1170
I found that there is a listing already: https://github.com/up-for-grabs/up-for-grabs.net/blob/gh-pages/_data/projects/coderdojo.yml

[2017-03-19 16:03] niccokunzmann commented on #1170
So, I am closing this although I do not understand the difference between `up-for-graps` and `beginner`.

[2017-03-19 16:03] #1170 closed

[2017-03-19 17:59] Wardormeur commented on #1169
It seems that the anchor is applied upon click, but not taken into consideration while loading the page.
Definitely a bug, thanks @niccokunzmann :+1:

[2017-03-19 18:01] Wardormeur commented on #1170
Ah, just to answer and explain. Correct me if I'm wrong @DanielBrierton
"beginner" are for somebody who wants to try to get familier with the stack, while up-for-grab is more of a "nice-to-have" that we can't cover time-wise atm

[2017-03-19 18:03] Wardormeur commented on #1113
Thanks @BenChapman for the investigation :+1:

[2017-03-21 10:39] Wardormeur commented on #1113
Whitelabeling done
![selection_047](https://cloud.githubusercontent.com/assets/1755357/24143766/a64135f6-0e22-11e7-8293-3c47db1ec61f.png)

[2017-03-21 10:43] Wardormeur commented on #1113
Updated first comment to reflect real issue/actions

[2017-03-21 11:02] Wardormeur opened #1172 "Externalize seneca-email into a separate microservice"
The goal is to unify processes which are duplicated into one single place, cp-email-service
Multiple reasons :
- Templates and translations are pulled twice (users, dojos) hence a potentially better deployment time once reunited
- Configurations should be the same (but is not atm, gmail is used in cp-users while it's sendgrid on cp-dojos (which is a mistake) ) which should help code maintenance
-

[2017-03-22 12:18] #1168 closed

[2017-03-22 12:18] Wardormeur commented on #1059
Open graph has been implemented for Dojo listing as well as Event listing, but can still be extended for other pages/protocols

[2017-03-26 16:26] rosalanghammer opened #1173 "Expand Manage Users CSV export"
Request from community to expand to include'
- Age of child (not necessary to include parent email
- Parent name

[2017-03-26 16:40] Wardormeur commented on #1173
As per https://github.com/CoderDojo/community-platform/issues/1095, parent email is already exported.
Is there an issue with existing export?

[2017-03-26 16:40] rosalanghammer commented on #1173
Sorry edited to reflect the actual request **Doh**

[2017-03-28 15:49] Wardormeur opened #1174 "msgctxt is not supported in po file"
While working on opengraph, it seems like "msgctxt" worked locally in a third position but wasn't supported by Crowdin.
By moving them accordingly to the specs for po file ( which is before the msgid) the translation doesn't work anymore Zen-side.
It seems that either po2json or Jed is breaking while retrieving the corresponding translation.

[2017-03-29 17:12] Wardormeur commented on #592
Still "invites" to be displayed to be consider "pending" to be finished

[2017-04-03 16:55] #1160 closed

[2017-04-03 17:14] Wardormeur commented on #1139
So i digged a bit, it's because they are sorted by creation date.
The reason behind this is because with recurring event being stored as a single event, the process to sort an unique event based on the next occurence date is expensive.
The best solution would be to have a view that I and Daniel thought about for quite some time, displaying only one row per event with the next date for this event a

[2017-04-03 22:49] alinecrsouza commented on #1007
Hello, I think now I have everything set up.
I have joined the CoderDojo/community-platform room, but I think no one is using it.
I'm a little bit lost, on what I should do. I would like to talk to someone to get more details.

[2017-04-04 08:48] Wardormeur commented on #1007
We use a private channel for our daily work and most of the contributors are event-based (hackathons)
We're still on the chat, so feel free to ask questions :)
We just deployed a functionality to send email to dojo users : it think the directive could be reused/modified to support this scenario!

[2017-04-06 09:03] DanielBrierton commented on #882
This should be an optional feature. Not all admins will want to receive emails for each booking. A checkbox should be added to enable/disable the sending of emails.

[2017-04-07 11:06] DanielBrierton opened #1175 "Automatically change init-user-type when changing Date of Birth"
A number of users have signed up with their child's date of birth, which is causing issues when they try do actions intended for adults, like start a dojo, or add child.

These users have generally updated their profile with their own details, but their user type stays as attendee-o13. We should change the user's user type according to the date of birth entered when updating their profile.

[2017-04-07 11:13] Wardormeur commented on #1175
No.
DoB should be un-editable by non cdf to avoid bypass of restrictions.
I understand that it's problematic right now, but the solution is to fix the reg flow to avoid mistakes and to provide admin tools to change it more easily.
Letting an user change is DoB and his usertype i slike removing any restriction you have on any flow :)
@rosalanghammer

[2017-04-07 12:48] #1169 closed

[2017-04-07 14:08] rosalanghammer commented on #1175
Issue is not about user being able to change DOB (this should be locked), but if CDF Admin update DoB then the usertype should update.

Agree that a better flow should negate a lot of these issues but this needs to be done to allow past users profiles to be updated.

[2017-04-10 09:05] #898 closed

[2017-04-10 09:07] #1108 closed

[2017-04-10 09:10] DanielBrierton commented on #944
This seems to be working locally. To be investigated fully.

@rosalanghammer Can you provide more details on what exactly isn't working? Steps to reproduce, dojo id, etc.

[2017-04-10 09:15] DanielBrierton commented on #1122
Done as part of https://github.com/CoderDojo/cp-zen-platform/pull/1093

[2017-04-10 09:15] #1122 closed

[2017-04-10 09:16] DanielBrierton commented on #1063
May not be needed when we have add child as part of the registration flow.

Thoughts @rosalanghammer?

[2017-04-10 09:24] DanielBrierton opened #1176 "New Registration Flow"
https://codepen.io/danielbrierton/full/VPMWWN/ to be used as basis. Still needs further UI refinement (e.g. adding multiple children, actually create the last two pages, etc.)

@rosalanghammer has also been looking into this and may have some stuff to add

[2017-04-10 09:24] DanielBrierton commented on #1064
After saving your profile post-registration, you are redirected to the event page. This middle step is no longer necessary as there is no further profile info required. Should probably be done as part of overall registration flow rework in #1176

[2017-04-10 09:28] DanielBrierton commented on #568
Should use seneca-kue (see poll sms for example)

[2017-04-10 09:33] DanielBrierton commented on #1152
We should make it so that when editing a Dojo, you need to fill in the new format, while the old format will continue to be shown for those who have yet to update. In time, we can consider phasing out the old format entirely.

[2017-04-10 09:39] DanielBrierton commented on #1153
We need to consider how we display what Private actually means to users (like how they get in if it's a Dojo in their school), but without it looking ugly. If we could get a UI designer to look at this, it would be optimal. Otherwise, I might take a whack at it at some point.

Good point.

[2017-04-10 09:44] #1067 closed

[2017-04-10 09:48] DanielBrierton commented on #1151
@rosalanghammer Any comments on @Wardormeur's comment?

[2017-04-10 09:58] BenChapman commented on #1153
Just to give a bit of older context on why it never had any info on how to join. The reason they were originally added is to recognise them as Dojos.

here was originally an assumption that private Dojos would be able to communicate internally (they were mostly in schools) and organise how to sign up. This is why they were just marked private before Zen got redone. It might be useful to validate i

[2017-04-10 09:59] DanielBrierton commented on #409
Should use seneca-kue. See polls for example of usage.

[2017-04-10 10:49] DanielBrierton commented on #1068
Should the waiting list approval be manual or automatic?
* Manual: Champion has to go in and specifically grant a ticket to someone on the waiting list when a spot frees up (or if they want to go over the ticket limit, like with Add Attendee).
* Automatic: Users are queued up, and as soon as a slot becomes available, the first person in the queue is granted a ticket.

Also, need to consider the pa

[2017-04-10 11:26] DanielBrierton opened #1177 "Archive Dojo Users"
I was talking to someone at a recent mentor meetup and they suggested this feature:

The idea is to be able to archive your previous user relationships to dojos on demand. The benefit of this is that allows Dojos to have a manage users interface for only their currently active users, while still retaining stats and the ability to contact users.

* Users should get an email to unarchive themselves

[2017-04-10 13:04] DanielBrierton commented on #902
Open questions:
* Do we allow free text for questions?
* Do we have a bank of questions to choose from?
* Do we have both?
* Do we have answer formats (boolean, string, number, etc.)
* How we display the answers (UX/UI needed)
* Per user, or per booking (e.g. 1 parent and 2 children)
* Questions per event, per session, or per ticket?

[2017-04-10 13:09] DanielBrierton opened #1178 "Notify users of an event per user type"
Right now, you can only notify all users. Dojo admins should be able to choose a user type to send notifications to about an event.

[2017-04-10 13:10] DanielBrierton commented on #1066
This functionality has already been added back in. #1178 created to cover notify members aspect.

[2017-04-10 13:10] #1066 closed

[2017-04-10 13:12] DanielBrierton commented on #957
Closing as a duplicate of #1068.

[2017-04-10 13:12] #957 closed

[2017-04-10 13:19] DanielBrierton commented on #1175
The outcomes of this:
* Date of Birth is locked for all users at sign up
* CDF admins can change Date of Birth

[2017-04-10 13:31] DanielBrierton commented on #1146
Whitelist seems to be the only way to go with this. Would need a CDF admin panel for modifying the list so we're not hardcoding it.

[2017-04-10 14:23] rossoneill opened #1179 "Dojo Profile Image Doesn't Load"
Dojo image doesn't load on "My Profile" and on "Dojo Profile.

It will load only if Dojo Profile is loaded and then a hard refresh is done.

It won't load on My Profile in any instance.

[2017-04-10 15:49] rosalanghammer commented on #1068
Should be manual to avoid over complicating it on our side. This also works for Dojos which have more defined criteria (e.g. want to give more waitlist spots to girls or to kids of the mentors).

The parent one is hard as some Dojos may not take that into consideration at all but they should be able to book a mentoring ticket. I wouldn't see it as the worst quirk if parents were able to book their

[2017-04-10 16:05] rosalanghammer commented on #1177
Think this is a great idea, essentially inactive users.

All seems perfect in spec but 'Users should get an email to unarchive themselves for next term (should create a new usersdojo)' - are you thinking when they are 'archived' this email goes?

Also needs work for any email functionality where active users are default and you only use inactive users by choice (e.g. notify users).

[2017-04-10 16:16] rosalanghammer commented on #1151
Fields;
Emergency contact information
Parent/guardian name
Parent/guardian email
Parent/guardian phone number

Or we could get them to fill out only name and email then send an email to the parent to fill out all the information as this avoids them entering incorrect information?

Also it is related to the Dojo as some will require this and some won't but it's best practice for the Dojo to have th

[2017-04-10 16:36] rosalanghammer commented on #1176
Worth having a note about DoB that it's not displayed on your profile as this comes up time and time again with parents.

Need design; when U13 DoB is entered we need a screen/message telling parents they should enter their details.

Also town/country fields did we say we were going to scrap this as not necessary? At least town can definitely go, country is nice to have.

[2017-04-11 14:01] Wardormeur commented on #1176
DoB being not visible needs to be checked by profile data tests

[2017-04-11 14:02] Wardormeur commented on #1151
A registration workflow to reclaim a kid?

[2017-04-11 14:09] Wardormeur commented on #1177
Do you mean to ensure that every emailing function from dojo perspective must filter on the current term? That's a valid concern, but not only for emails but any dojo user listing

Yes, basically; when the user is archived by a dojoadmin, he'll receive an email inviting him to continue for next term. Whatever his response, he has been archived on the previous term

[2017-04-11 14:35] rosalanghammer commented on #1177
Yes every emailing function (within a Dojo) should filter based only on active users, also features like filter should only work within a specific section.

Thoughts could be this could be an additional panel to 'Active', and 'Pending' but we need to look at the full UI.

Yes we can work on this 'archiving notification' when this is being built out. I think it should be a one time email that users

[2017-04-11 15:06] rosalanghammer commented on #1063
May still be needed for users who have already registered but haven't added kids. Needs re-examination when we look at registration and booking flows so leave open for now.

[2017-04-11 15:12] rosalanghammer commented on #944
I had reproduced with Docklands Dojo but I'm both a Dojo admin and CDF admin there. Will try again with test account and will find community report.

[2017-04-18 09:38] DanielBrierton opened #1180 "Add ability to add another parent to one of your children from the My Children page"
Currently, the ability to add another parent to a child is buried in the edit profile page of the child you want to add the parent too. This isn't very intuitive. The ideal place for this functionality now is the My Children page as it makes it more discoverable for parents.

Need to consider UX before starting, as it's very much a secondary function that would be seldom used. Needs the right bala

[2017-04-19 09:12] Wardormeur opened #1182 "OpenGraph doesn't translate anymore"
When loading a dojo page or an event page, the opengraph tags should translate based on the dojo location.

[2017-04-19 15:16] #1076 closed

[2017-04-19 19:50] Wardormeur commented on #1058
This should be fixed cc @DanielBrierton

[2017-04-19 19:50] #1058 closed

[2017-04-19 19:54] Wardormeur commented on #1026
Hey @niccokunzmann, @DanielBrierton changed the way we save and deploy po files. We had a conflict where multiple repos were pushing and overwriting the translations on consequent deployments if they were not mutually updated. While we tried to be cautious for it not to happen, it definitely did a couple of times.
The architecture has been changed to externalize the repos by itself, now available

[2017-04-19 19:54] #1026 closed

[2017-04-19 19:56] Wardormeur commented on #919
@rossoneill @rosalanghammer Can we close? I believe there are no issues loading jp anymore?

[2017-04-19 20:15] rosalanghammer commented on #919
No issues reported recently go ahead and close!

On 19 April 2017 at 16:56, Wardormeur <notifications@github.com> wrote:

--
*Rosa Langhammer*
Reporting Lead
@ CoderDojo Foundation
+353 872686 <+353+851088135>779 | @RosaLanghammer | Skype: rosa.langhammer l
<https://mail.google.com/mail/u/0/#UNIQUE_ID_SafeHtmlFilter_> Github:
rosalanghammer

*I'm currently working on UTC-3 from Buenos Aires, Argen

[2017-04-20 08:31] #919 closed

[2017-04-20 09:22] #1179 closed

[2017-04-20 09:37] #1182 closed

[2017-04-25 14:12] DanielBrierton opened #1183 "Review a11y outlines across Zen"
Outlines are important for a11y, so users who are tabbing through the site know what elements they're interacting with.

On the other hand, they're often ugly when they appear on things other than links, buttons and inputs.

The purpose of this issue is to review these instances where we can perhaps replace the outline with other visual cues that the element is in focus. Any suggestions are very m

[2017-04-25 14:26] ChristianVermeulen commented on #1183
I think the most important is to see where outlines occur, but no real interaction is connected. E.g. around the entire container of a dojo when opened. Only the purple arrow closes the panel.
![screenshot 2017-04-25 16 25 20](https://cloud.githubusercontent.com/assets/1062751/25390442/d0aa38a2-29d3-11e7-8b01-c9c83ec3a548.png)

Another example is around a user, it already has visual queues with ch

[2017-04-26 10:13] Wardormeur commented on #1099
- ~~cd_agreements, remove : ip_address, mysql_user_id~~

[2017-04-27 08:52] petecoderdojo opened #1184 "organise Dojo attendees by ticket type"
Would be useful to be able to org those that booked in by ticket type so I can count youth etc that are attending.

![screen shot 2017-04-27 at 09 51 30](https://cloud.githubusercontent.com/assets/10957621/25475580/20bebf82-2b2f-11e7-9300-b560f5693157.png)

[2017-04-27 10:38] DanielBrierton opened #1185 "Add Eircode for address in footer"
To match https://github.com/CoderDojo/cd-theme/issues/57

[2017-05-01 14:07] rosalanghammer commented on #1184
You can currently drill down by user type (ticket type in screenshot
above), to confirm you'd like to also add 'event ticket' (i.e. session)
which means you can filter by user type (youth, parent, mentor) and by
session (e.g. Scratch, HTML etc)?

On 27 April 2017 at 05:52, petecoderdojo <notifications@github.com> wrote:

--
*Rosa Langhammer*
Reporting Lead
@ CoderDojo Foundation
+353 872686 <+353+

[2017-05-02 08:50] Wardormeur commented on #1038
@DanielBrierton ping, status?

[2017-05-02 08:52] #988 closed

[2017-05-02 08:52] Wardormeur commented on #988
Closed for inactivity, please come back if it still doesn't work :)

[2017-05-02 09:03] Wardormeur commented on #1184
Well, that's still one of those parts of the ui that haven't been rethought.
Would a quick "overview" per session be useful? 16 kids, 3 mentors.

[2017-05-02 09:13] Wardormeur commented on #1105
Saving works, and cancel is another issue, closing ! :)

[2017-05-02 09:13] #1105 closed

[2017-05-02 09:14] Wardormeur commented on #1085
Mind sharing more @DanielBrierton  ? :p

[2017-05-02 09:15] Wardormeur commented on #1074
Should fix https://github.com/CoderDojo/community-platform/issues/1135

[2017-05-02 09:16] Wardormeur commented on #1070
See https://github.com/CoderDojo/community-platform/issues/1184 , ticket type still relevant?

[2017-05-02 09:17] Wardormeur commented on #1057
This shoul dbe fixed thanks to @DanielBrierton change to how we treat translations

[2017-05-02 09:17] #1057 closed

[2017-05-02 09:20] #1072 closed

[2017-05-02 09:20] Wardormeur commented on #1072
Covered by @BSKERRITT

[2017-05-02 09:21] #1041 closed

[2017-05-02 11:02] CiaraMcHugh opened #1186 "Hide Edit button on Dojos in the My Dojos page"
Edit button is visible for users that shouldn't have it and it takes you to the Page not Found page.

![screen shot 2017-05-02 at 12 02 15](https://cloud.githubusercontent.com/assets/15370231/25615461/369d233a-2f2f-11e7-8290-af03fd5c35de.png)

[2017-05-02 11:07] CiaraMcHugh opened #1187 "Incorrect tooltip text on Dojo icons"
- Tao icon says "Tao unverified"
- Non-private icon says "Private Dojo"

![screen shot 2017-05-02 at 12 05 57](https://cloud.githubusercontent.com/assets/15370231/25615573/e5a0e75e-2f2f-11e7-9585-658050b37f11.png)

[2017-05-02 11:12] petecoderdojo commented on #1184
Yeah, wanted to arrange and see all the kids attending / booked in for the
session and this was the way I saw doing it.

On 2 May 2017 at 10:03, Wardormeur <notifications@github.com> wrote:

--

*Pete O'Shea*
Community (EMEA) & Events
@ CoderDojo Foundation <http://coderdojo.com/>
PH: +353876965019 | Skype: peter__oshea
Twitter: @*p*eter0shea <https://twitter.com/peter0shea> @CoderDojo
<http://cod

[2017-05-02 11:14] CiaraMcHugh opened #1188 "Tooltip mouseover space too small on Dojo icons"
To get the tooltip you have to hover over the actual picture inside the icon. Would be more user friendly to have the tooltip appear when mouse is anywhere in the rectangle.

E.g. I was originally going to request tooltips for these icons because I pointed the mouse in the green/grey space on these icons multiple times waiting for a tooltip before concluding there must not be any.

![screen shot 2

[2017-05-02 12:28] Wardormeur commented on #1007
@alinecrsouza Hey, how is it going? :)
Need any help?

[2017-05-02 12:30] Wardormeur commented on #431
@DanielBrierton bump !

[2017-05-02 12:39] Wardormeur commented on #1074
Should fix https://github.com/CoderDojo/community-platform/issues/1104

[2017-05-02 12:49] Wardormeur commented on #951
@rosalanghammer What should be the new workflow now that'll be a e-learning module ?

[2017-05-02 12:54] Wardormeur commented on #1074
should handle https://github.com/CoderDojo/community-platform/issues/1045

[2017-05-02 12:56] Wardormeur commented on #897
Performance concern : https://github.com/CoderDojo/community-platform/issues/1025

[2017-05-02 13:24] rosalanghammer commented on #951
Still have this as a TBD for multiple Dojos from our meeting notes.
@rossoneill was done for action to explore workflow for Champions with
multiple Dojos - any update on this?

Likelihood is that Tao will still come from 'My Dojos' as discussed but we
need to check on the possibility of multiple completions, each easily
linked to a Dojo.

On 2 May 2017 at 09:49, Wardormeur <notifications@github.co

[2017-05-02 13:39] rosalanghammer commented on #1070
Si this is what Pete is asking for :) Both ticket and user type to be used
for filtering.

On 2 May 2017 at 06:16, Wardormeur <notifications@github.com> wrote:

--
*Rosa Langhammer*
Reporting Lead
@ CoderDojo Foundation
+353 872686 <+353+851088135>779 | @RosaLanghammer | Skype: rosa.langhammer l
<https://mail.google.com/mail/u/0/#UNIQUE_ID_SafeHtmlFilter_> Github:
rosalanghammer

*I'm currently wo

[2017-05-02 13:44] Wardormeur commented on #1070
not filtering : if the end use is to know how many {userType} there is in a session : just display that number.
It's not like we have dynamic usertypes..

[2017-05-02 15:01] #1186 closed

[2017-05-02 15:56] Wardormeur commented on #1184
The idea would be in a scenario you don't use sessions to separate languages, you could still order by ticket name

[2017-05-02 15:58] Wardormeur opened #1189 "Session creation in "Create event" is still confusing?"
Per @petecoderdojo comment on his event creation, he litterally missed the "add Session" button.
A solution to .. make event creation more straightforward seems necessary.
@petecoderdojo if you have ideas feel free to jump in

[2017-05-02 16:00] Wardormeur opened #1190 "Session overview"
We often ask "how many kids will there be today" as a mentor/champion.
Somehow related to https://github.com/CoderDojo/community-platform/issues/1184, having an overview per session and per event of the kids and mentors booked in seems a good idea

[2017-05-02 17:08] Wardormeur commented on #1187
Tao unverified is right : it's grey, not green.

[2017-05-03 13:39] Wardormeur opened #1191 "Parent2 should be asked to join parent1's dojos when accepting to share a kid"
The main reason is when we check for parents of a kid and the context is the dojo (ie: ticket accepted), we need to check if the parent itself is a part of the dojo before sending the notification.
It makes sense in those scenario to also invite the newly invited parent (parent2) into the same dojo than the original kid parent (parent1) so that both of them are notified.

[2017-05-03 13:42] Wardormeur opened #1192 "Parent1 cannot book for Parent2"
When parent1 and parent2 are sharing a kid (and are part of the same family), one cannot book for the other because they have no knowledge of the other existance apart through their kids parents.
The structure could be changed to group users inside a "family", or group adults together.
@rosalanghammer is there any scenario where you want to share 1 kid but not the others?

[2017-05-03 16:36] Wardormeur commented on #1113
email link whitelisting done

[2017-05-03 16:36] #1113 closed

[2017-05-04 09:42] #1188 closed

[2017-05-05 13:00] zhgabor opened #1193 "How can i delete a child profile?"

[2017-05-05 14:41] DanielBrierton commented on #1193
Hi @zhgabor,

Unfortunately, we don't currently have the functionality to remove accounts from the community platform. If you drop us an email at info@coderdojo.com we'll be happy to take care of it for you though. Sorry for the inconvenience.

[2017-05-08 09:29] PhilipHarney opened #1194 "Add help link to footer"
Please add a link to our new help page to the footer of the community platform. We may want to create a subdomain or other better URL for the help site in the process.

[2017-05-10 14:04] Wardormeur opened #1195 "Add ability to delete an kid account as a parent"
As a parent, i should be able to delete one of my own kids account :
if the kid is u13
 * it should delete the kid profile and user
 * it should delete all attendances of the user
 * it should delete and free any tickets the user may have booked, in the future or in the past
 * it should remove the kids from the shared parents (other choice would be to not delete it at all and just remove the rela

[2017-05-10 14:05] Wardormeur commented on #1193
I opened an issue so we can discuss the global workflow on how to solve this, see #1195

[2017-05-10 14:05] #1193 closed

[2017-05-11 10:57] Wardormeur opened #1196 "Description is always considered empty on Edge"
We have a blocking browser compatibility issue on Edge while creating an event : the description is considered empty even when it's actually filled.
Date picker width is also too small to be readable.
Ref ZD : 22531
![image001](https://cloud.githubusercontent.com/assets/1755357/25945998/0a03fccc-3641-11e7-8cff-9b859c248f5f.png)

[2017-05-11 12:50] campbs opened #1197 "Hide buttons not appearing on profile of over 18s in edit profile."
There is a blue banner which says " You can choose to hide certain information by ticking the hide buttons at the bottom of the page." but  these buttons only exist if your profile age is u18 but it should appear on all profiles.

[2017-05-11 13:43] #923 closed

[2017-05-12 04:13] howardjing commented on #1154
I ran into this issue as well -- this stack overflow question was helpful: http://stackoverflow.com/questions/16748737/grunt-watch-error-waiting-fatal-error-watch-enospc. It looks like increasing the number of files you can watch at a time fixed the issue for me.

[code]

[2017-05-12 08:45] Wardormeur commented on #1154
Indeed, it's both a system issue (inotify conf) and a development issue (how do we declare what to watch).

[2017-05-12 09:57] #1030 closed

[2017-05-12 10:18] #1185 closed

[2017-05-12 10:19] Wardormeur commented on #796
Closing, never happened anymore and was probably due to a translation out of sync w/ codebase (variable renamed)

[2017-05-12 10:19] #796 closed

[2017-05-12 11:08] #1194 closed

[2017-05-12 13:13] Wardormeur commented on #1017
Done on https://github.com/CoderDojo/cp-badges-service/commit/2207a68499f19c9f41f0b8e9f16f87b8193cbfb5#diff-0c697802e4b9da9ed2ad5ab9fb9c89beR74

[2017-05-12 13:13] #1017 closed

[2017-05-12 14:13] howardjing commented on #1028
I'm assuming this issue was never done -- I can take a stab at this today.

[2017-05-12 14:14] Wardormeur commented on #1028
Cool !
Jump on gitter if you need help :)
https://gitter.im/CoderDojo/community-platform

[2017-05-12 14:34] Wardormeur commented on #1031
Fixed by https://github.com/CoderDojo/cp-dojos-service/commit/ac059672fe507d3b250b6803ea2389737c769e15

[2017-05-12 14:34] #1031 closed

[2017-05-12 14:39] #1093 closed

[2017-05-12 14:45] #1043 closed

[2017-05-12 14:45] Wardormeur commented on #1043
Done through https://github.com/CoderDojo/cp-zen-platform/pull/1124

[2017-05-12 14:50] Wardormeur commented on #1114
@DanielBrierton keep it open for a proper fix ?
@rosalanghammer do we still need this "profileCompleted" boolean? Most if not "all" data has been asked through the registration process to my knowledge

[2017-05-12 14:55] Wardormeur commented on #926
Closing as the testdata structure has been reworked some months ago in order to be handled through the microservices rather than SQL based.

[2017-05-12 14:55] #926 closed

[2017-05-12 14:57] Wardormeur commented on #1014
What will be the status of this regarding the migration out from badgekit ?

[2017-05-12 15:03] Wardormeur opened #1198 "Dojo emails should be using dojo language"
Depends on https://github.com/CoderDojo/community-platform/issues/989, emails coming from the dojo should be translated in the language of the dojo.
This include emails to the dojo Email (automated emails like join notification) as well as email to the users of the dojo (custom emails, automated emails ( ticketing))

[2017-05-12 15:04] rosalanghammer commented on #1014
Close it! Criteria/name should not be reworked once set as then historical
users do not know what badge they earned and what for.

On 12 May 2017 at 11:57, Wardormeur <notifications@github.com> wrote:

--
*Rosa Langhammer*
Reporting Lead
@ CoderDojo Foundation
+353 872686 <+353+851088135>779 | @RosaLanghammer | Skype: rosa.langhammer l
<https://mail.google.com/mail/u/0/#UNIQUE_ID_SafeHtmlFilter_>

[2017-05-12 15:10] #1014 closed

[2017-05-12 15:18] Wardormeur commented on #947
This has been done around a month ago through the "Email" function on manage-users :)

[2017-05-12 15:18] #947 closed

[2017-05-12 15:45] Wardormeur commented on #942
For non-deleted dojos :
|   count |   stage |
|---------+---------|
|     601 |       0 |  In planning
|     573 |       1 |  Open, come along
|     465 |       2 |  Register ahead
|     131 |       3 |  Full up
|     415 |       4 |  Inactive

[2017-05-12 15:52] Wardormeur commented on #914
@rosalanghammer Question regarding ethos of CD : offering tickets give a priority which may go against the idea of inclusivity/openess.
Keep ?

[2017-05-12 15:53] Wardormeur commented on #891
Closing, Tao is being reworked apart from the Start a Dojo process

[2017-05-12 15:53] #891 closed

[2017-05-12 15:54] Wardormeur commented on #890
Renamed to describe the missing functionnality

[2017-05-12 15:57] rossoneill commented on #951
I think the original concept was that a link would appear beside each Dojo at "My Dojos" page once verified. Each one would be unique for each dojo.

[2017-05-12 15:58] Wardormeur commented on #833
@niccokunzmann The idea would be to check against common passwords to enforce security by disabling those common ones? We already enforce at least (a number OR a special char) and a length of 8.
@butlerx What's your opinion on this?

[2017-05-12 16:08] rosalanghammer commented on #951
Ross not exactly what needed to be explored, more so the ability for you to
see each checklist being related to each Dojo on the e-learning portal, as
generally they are connected by user email. If everytime they have to be
reenrolled you may lose data from the previous checklist...unsure though so
if you could put this on your to-do list.

On 12 May 2017 at 12:57, rossoneill <notifications@github

[2017-05-12 16:09] rosalanghammer commented on #914
Keep, it's pretty common to reserve for mentors kids in return for their
volunteer hours. Just need to find a good solution :)

On 12 May 2017 at 12:52, Wardormeur <notifications@github.com> wrote:

--
*Rosa Langhammer*
Reporting Lead
@ CoderDojo Foundation
+353 872686 <+353+851088135>779 | @RosaLanghammer | Skype: rosa.langhammer l
<https://mail.google.com/mail/u/0/#UNIQUE_ID_SafeHtmlFilter_> Git

[2017-05-12 16:23] Wardormeur commented on #783
Closing : GA has been set last year

[2017-05-12 16:23] #783 closed

[2017-05-12 16:25] Wardormeur commented on #1074
Should cover https://github.com/CoderDojo/community-platform/issues/1074

[2017-05-12 16:26] Wardormeur commented on #748
@DanielBrierton closing ?

[2017-05-12 17:40] meetjonblack commented on #836
This should be closed

[2017-05-12 19:13] howardjing commented on #1028
As far as I can tell, this has been completed.

On the event page:
![image](https://cloud.githubusercontent.com/assets/831651/26013202/567854ec-3725-11e7-8060-e875cdcf432f.png)

The editor itself:
![image](https://cloud.githubusercontent.com/assets/831651/26013236/73b74770-3725-11e7-8214-9dd59745e6af.png)

Is there any further work necessary here?

[2017-05-12 19:39] howardjing commented on #621
I can take a look at this -- it looks like the map already has a count of dojos grouped by location:

![image](https://cloud.githubusercontent.com/assets/831651/26014079/295916f0-3729-11e7-9c48-56c6cfcf1311.png)

Is the goal to get the global count of dojos regardless of location on the home page as well?

[2017-05-12 19:50] niccokunzmann commented on #833
@Wardormeur Yes, this is the idea. I would argue if there are passwords with a number or a special character among those most popular passwords, the enforcement does not help in those cases.
I found this website. http://www.passwordrandom.com/most-popular-passwords 12345678 is among them There should be a list somewhere on the web.

[2017-05-12 19:51] niccokunzmann commented on #833
Found one: https://raw.githubusercontent.com/danielmiessler/SecLists/master/Passwords/10_million_password_list_top_1000000.txt

[2017-05-12 20:04] Wardormeur commented on #621
Hey @howardjing Yes, the idea would be to have a directive displaying a counter of dojo.
I know we already have a counter used on poll (look for poll-counter) but you may be able to do something fancier :)

[2017-05-12 20:10] Wardormeur commented on #1028
Yeah, i guess the front-end need a bit of work in order to accept anything. example :
![selection_074](https://cloud.githubusercontent.com/assets/1755357/26015037/13be79b0-3757-11e7-94c5-767090eee1b9.png)
My unicorn is a bit running away, allright :p
At the same time, it's allright-ish on the booking page because it doesn't contain much logic, quite "CRUD".
![selection_075](https://cloud.githubuse

[2017-05-12 20:13] Wardormeur commented on #836
The page is a 404, but the HTTP error code is still a 200.
Hapijs should be taking over this page instead of angularjs to enforce the correct HTTP error code

[2017-05-12 20:23] Wardormeur commented on #833
Interesting to see it comes from the OWASP projejct . :+1:
I'm a bit concerned in term of priority:  as much as I'd want security to be a priority, this one is about prevention of creation of a weak password, considering we already have a unique salt per password.
Any recommendation for the user message to display in case of weak password?
"This password has been recognized to be used as one of th

[2017-05-12 20:43] butlerx commented on #833
id agree with @niccokunzmann that you'd be unlikely to see any password with special char on that list but youd probably find some mix of numbers and letter password.
i think its a good idea, but we need to be careful of removing possible passwords as doing that means the pool of passwords a attacker would have to test is smaller

[2017-05-12 21:33] howardjing commented on #1028
I added some basic html sanitization to the saveEvent function here: https://github.com/CoderDojo/cp-events-service/pull/138/files

[2017-05-14 15:50] Wardormeur commented on #833
I've asked on twitter a couple of people and it seems it's a decent recommendation
ref (https://pages.nist.gov/800-63-3/sp800-63b.html) :
`When processing requests to establish and change memorized secrets, verifiers SHALL compare the prospective secrets against a list that contains values known to be commonly-used, expected, or compromised. For example, the list MAY include (but is not limited to

[2017-05-14 21:28] meetjonblack commented on #994
This no longer seems to be an issue

[2017-05-14 22:07] Wardormeur commented on #994
I can confirm the issue is still happening.
Didn't happen in my case, but you may have to restart your browser/tab for the locale to be applied?

[2017-05-14 23:54] meetjonblack commented on #750
I added some swag and joi to the agreements API.  I just did a PR.  If this is good, then I can try to knock out the others.

[2017-05-15 02:21] howardjing commented on #621
I wasn't able to get to this this weekend. I might be able to try again next weekend, but no guarantees. I'd imagine a solution would involve creating a dojo counter in cp-dojos-service, but a front end only solution might involve computing the count from the result of the by-country endpoint:

[code]

I've noticed that the by-country endpoint takes several seconds to load, so this solution isn't

[2017-05-15 09:58] Wardormeur commented on #621
The map "tab" loads api/2.0/dojos which returns the list of dojos that are then displayed on the map.
Either reusing this result.length or making a separate endpoint to just return the count in pure SQL would be a better idea (I think) :)

[2017-05-15 16:15] CiaraMcHugh opened #1199 "Zip code search anomaly on zen vs coderdojo.com homepage"
Searching for (American) zip code only rather than an address, with no matching Dojo found

On zen: you get the whole world map. i.e. no result
On homepage: map zooms in to the nearest Dojo

If you instead search for an address (both zen and homepage) you get zoomed to the nearest Dojo as you would expect.
If there is a Dojo at the zipcode you search for, on both zen and the homepage it finds it a

[2017-05-15 19:30] rosalanghammer commented on #1114
No need for this logic if all required fields are filled out. Don't know
why this was added historically and assume will be taken into consideration
in new registration process.

On 12 May 2017 at 11:50, Wardormeur <notifications@github.com> wrote:

--
*Rosa Langhammer*
Reporting Lead
@ CoderDojo Foundation
+353 872686 <+353+851088135>779 | @RosaLanghammer | Skype: rosa.langhammer l
<https://mail.

[2017-05-19 09:05] Wardormeur commented on #1115
@DanielBrierton @dmitry-portnoy gave it a try but couldn't reproduce
Hints? Could it has been a side effect of the double cookie issue we had previously

[2017-05-23 16:44] grabartley commented on #409
@rosalanghammer I have a couple of questions regarding this issue:

1) Should ticket release date be set per session (and apply to all tickets in that session) or per ticket and apply to that ticket only?

2) Should tickets have a specific release time as well as a date and if so how specific should this time be (down to the minute or hour)?

[2017-05-23 18:18] rosalanghammer commented on #409
1. Ticket release time should be per event not per session. I see this as
an option on when you publish the full event so the event is viewable but
not bookable until x day, time set and the notification is pushed at that
set date/time. This way users can see all the next events but can't book.
(It should also show the ticket release date/time if possible).
2. Yes, specific time as well as date do

[2017-05-24 07:46] grabartley commented on #409
@rosalanghammer Makes sense, thanks :)

[2017-05-24 08:12] Wardormeur commented on #409
I agree on : 'the event should be made that tickets are visible without being bookable'
But all along the discussion has been around ticket release date (not event tickets release date), particularly on the eventbrite model.
![selection_082](https://cloud.githubusercontent.com/assets/1755357/26393001/5a0a5e0e-4060-11e7-9999-51e1bce9ee87.png)

I understand how .. extensive it can be to declare a re

[2017-05-24 14:43] grabartley opened #1200 "No cancellation confirmation email when cancelling ticket through link in email."
When I cancel my ticket for an event through the cancel link in the confirmation email I received, I don't get an email confirming that the cancellation was successful.

[2017-05-24 16:47] rosalanghammer commented on #409
Fair, I think individual ticket release is one of the most annoying
features of Eventbrite. Problem with session by session release is that it
has to be repeated each time if you want the entire event to release
tickets at the same time (which is the most common scenario). Very rare
that a Dojo would do session by session release unless they are a very
large Dojo with different time slots for each

[2017-05-25 21:01] alinecrsouza commented on #1007
@Wardormeur Hey, yes a need help! I took a look at the directive web/public/js/directives/cd-email-users/index.js in cp-zen-platform and how it's implemented in web/public/js/directives/dojo/manage-active-users/, but I couldn't find the connection between these. I spent some time reading the code and researching, but I have failed to understand them by myself.

I guess I don't know Angular enough

[2017-06-13 12:44] niccokunzmann opened #1201 "Event date not consistent"
The event date is not consistent. I guess, this has to do with German summer and winter time.

Example event: https://zen.coderdojo.com/dashboard/dojo/0be123e7-c9be-4002-a3cf-f0c8550f749a/event-form/32ef9311-a95d-4619-989c-0ed62d366563

![grafik](https://user-images.githubusercontent.com/564768/27082820-89615928-5046-11e7-8622-1edaa9ef4375.png)
from https://zen.coderdojo.com/dashboard/dojos/events

[2017-06-13 12:46] Wardormeur commented on #1201
Interesting.
Thanks, we'll have a look, it may be a scenario that we forgot.

[2017-06-13 16:46] #1201 closed

[2017-06-13 17:18] Wardormeur commented on #1200
@rosalanghammer Should this be a scenario ?

[2017-06-13 17:19] Wardormeur commented on #1199
@DanielBrierton Will this be covered by the rework of Search A Dojo ?

[2017-06-13 17:20] Wardormeur commented on #1201
Sorry @niccokunzmann the bot closed the issue :)
Can you confirm it's solved?

[2017-06-13 19:58] DanielBrierton commented on #1199
Once complete, yes, we should be able to use the same component on WP and Zen and have a consistent, better working search overall.

[2017-06-15 17:19] rosalanghammer commented on #1200
Yes you should get a cancellation email when you cancel through email.

[2017-06-19 20:01] sandrobonazzola opened #1202 "Updated users are not updated in dojo's users list"
I had a parent user[1] which created child accounts[2][3] using her name instead of using her children names.
She joined the dojo[4] and then she updated her children accounts with correct names.
Looking at account pages[2][3] they seems ok now but in the dojo's member list[5] the parent name is still reported instead of the children names.
dojo's members list should refresh with updated data.
[1]

[2017-06-19 20:08] sandrobonazzola commented on #1195
I've a parent in my dojo which has created 5 children accounts instead of 2 by mistake and would like to remove the exceeding 3 accounts. Please consider this as user story as well.

[2017-06-19 20:20] sandrobonazzola commented on #1087
looking forward for this feature to be implemented.

[2017-06-19 20:24] sandrobonazzola commented on #1045
Tao Verified is missing also on dojo creation, not only after dojo is created.
Newly created dojo, still missing tao verified mark: https://zen.coderdojo.com/dojo/b5eabc06-d7ea-42f4-ab98-e4f489765396

[2017-06-20 08:43] Wardormeur commented on #1045
Tao will be reworked post new Start a Dojo process.
We probably will hide the information considering it'll not be achievable in the meantime

[2017-06-20 08:46] Wardormeur commented on #1195
We do, but our work capacity is quite small :)
In your scenario @sandrobonazzola it's an human error. We mostly thought of it as of "I want to leave the platform". Both scenarios are valid, but not with the same impact
In the meantime, I can take care of those extra kids if you want, contact me by email or PM on the forum :+1:

[2017-06-20 08:59] Wardormeur commented on #1202
Hi Sandro,
You are right, it seems there is an issue when updating a profile name (cd_profiles), it's not reflected on the administrative user structure (sys_user).
We'll look into it asap
Thanks :+1:

[2017-06-20 16:26] Wardormeur commented on #1202
Once this will be released, please simply save again the profiles to update the underlying info

[2017-06-20 19:25] sandrobonazzola commented on #1202
@Wardormeur I would suggest to run a script as admin and do a mass save on all existing profiles.
It would be quicker than asking all registered users to re-save their own profile :-)

[2017-06-20 19:31] sandrobonazzola commented on #1195
@Wardormeur I'm gathering man power :-) https://twitter.com/SandroBonazzola/status/876896919536246784

[2017-06-20 22:51] Wardormeur commented on #1202
I'll check db-wise if the inconsistency is the story of 10 or 1000 users.
Resyncing the profile of 30k users won't go easy on our architecture...

[2017-06-21 08:28] Wardormeur commented on #1202
I'm working on a backport script, shouldn't take long

[2017-06-22 11:11] Wardormeur commented on #882
Thanks a lot to all of you @danburke @grabartley @campbs :+1:

[2017-06-22 11:11] #882 closed

[2017-06-23 12:44] Wardormeur commented on #1202
The backfill has been replayed, this shouldn't be an issue anymore.
Thanks @sandrobonazzola :)

[2017-06-23 12:44] #1202 closed

[2017-06-23 15:43] sandrobonazzola commented on #1202
Thanks, looks ok to me now.

[2017-06-24 20:20] all-self-taught commented on #1173
I added a pull request for this request, branch addExportAge.

[2017-06-25 09:06] Wardormeur commented on #1173
Review and merged, thanks !

[2017-06-25 09:06] #1173 closed

[2017-07-03 10:13] grabartley opened #1203 "Invite button not showing on create event"
When creating an event, if your event has only one ticket then the invite button will not show. It will only show if the event has >=2 tickets.

[2017-07-03 10:18] grabartley opened #1204 "A parent cannot accept an invite to an event for their child"
If a child is invited to an event, a parent account of that child cannot accept the invite for them. This is problematic in a case where a child exists but has no email of their own because the invite is only sent to their parent.

[2017-07-04 10:51] owencutajar opened #1205 "Notify All Members on Event page sends a generic email"
The UI on 'Notify All Members' asks an admin to pick an event to notify users about. However, the email that is sent is a generic invitation to 'Next Event'. This would be more useful if it refered to the selected event and directed users to the specific event page.

[2017-07-05 08:23] Wardormeur commented on #1115
@DanielBrierton up !

[2017-07-06 19:46] all-self-taught commented on #1205
See pull request #341 and #9, it's done in cp-dojos-service and cp-translations.

[2017-07-08 16:12] m2mathew commented on #1039
Hey @rosalanghammer and @DanielBrierton,

We continue to meet every two weeks and have a strong following here in the north side of Dallas. We have the resources to use your project and make it better through contributions (our office started and maintains the material-ui open source project...we have experience with the community!).

But when we check in to using the zen website for creating even

[2017-07-08 16:13] m2mathew opened #1206 "Padding issue on "My Events" screen"
The empty state for **"My Events"** has an incorrect spacing on the left side.

Maybe an easy fix for a first-time contribution?

![image](https://user-images.githubusercontent.com/11624407/27987110-7cec3050-63ce-11e7-9c7e-21e80c39db41.png)

**OS:** MacOS 10.12.5 (16F73)
**Browser:** Chrome 59.0.3071.115 (Official Build) (64-bit)

[2017-07-08 16:17] m2mathew opened #1207 "Word-wrap issue with "Time" section in the Dojo home page area"
On our Dojo home page, there is an issue with word-wrap. We should not be using `break-all`, maybe use `break-word` instead?

Probably a great candidate for a first-time contributor to the project!

**[Frisco Coder Dojo](https://zen.coderdojo.com/dojo/us/frisco-tx/tx-frisco-call-em-all)**

![image](https://user-images.githubusercontent.com/11624407/27987179-f7c7efb2-63ce-11e7-80e2-315b3a71d003.png

[2017-07-08 16:18] m2mathew opened #1208 "Supporter images not loading"
I cannot tell if this issue is specific to our Dojo home page, but our "Supporters" img tag is not loading its `src`.

**[Frisco Coder Dojo](https://zen.coderdojo.com/dojo/us/frisco-tx/tx-frisco-call-em-all)**

![image](https://user-images.githubusercontent.com/11624407/27987194-2a82f1c2-63cf-11e7-82c6-743a273628a2.png)

**OS:** MacOS 10.12.5 (16F73)
**Browser:** Chrome 59.0.3071.115 (Official Bui

[2017-07-08 16:30] m2mathew opened #1209 "Profile image should have a different cursor"
In the "Profile" area, the avatar for the user has a cursor that indicates possible interaction. However, clicking the avatar or dragging it does nothing.

## Cannot click

![zen-profile-image-cursor](https://user-images.githubusercontent.com/11624407/27987283-a479250e-63d0-11e7-9129-5c629a5bddb0.gif)

## Should not be able to drag

![zen-profile-image-cursor-drag](https://user-images.githubuserco

[2017-07-08 18:30] butlerx commented on #1208
this supporter image seems to link to https://www.call-em-all.com/ which isnt a image the supporter link needs to be changed to a link to a image

[2017-07-08 21:52] Wardormeur commented on #1208
Hi m2mathew,
Unless there is an issue with how to define the url of the supporter image, I believe @butlerx is right

[2017-07-08 21:53] Wardormeur commented on #1209
This directive is a bit tricky, I'll give it a go

[2017-07-08 22:01] Wardormeur commented on #1039
Hey @m2mathew :)
I just checked and you're right. For some reasons, Jeff is still the owner of the dojo, listed as a Champion, but every right has been removed from his account. Did anybody revoked those rights?
The ui changed a bit in between the original screenshot and nowadays, if that helps:
![selection_113](https://user-images.githubusercontent.com/1755357/27989460-2f204d94-6431-11e7-9ca0-401

[2017-07-08 22:10] Wardormeur commented on #1205
We can't use the hashtag cross-repos ;)
https://github.com/CoderDojo/cp-translations/pull/9
and https://github.com/CoderDojo/cp-dojos-service/pull/341 for future review

[2017-07-09 08:53] #1187 closed

[2017-07-09 09:12] Wardormeur commented on #1205
Just a small change to be done on cp-dojos, elsewhat it works, thanks @all-self-taught :)

[2017-07-09 13:22] all-self-taught commented on #1205
Small change is complete. Exposes only event name in code.

[2017-07-10 07:58] Wardormeur commented on #1205
I modified a bit your translations as the phrasing differed between some email.
Elsewhat, it's merged, thanks for your help @all-self-taught  and @owencutajar for reporting this improvement :+1:

[2017-07-10 07:58] #1205 closed, assigned to nobody

[2017-07-11 16:31] rstein66 commented on #1207
Hi! Can I work on this? I'm new to the project & am setting up my local dev now

[2017-07-12 08:22] Wardormeur commented on #1207
Please, do so :)

[2017-07-12 10:19] #1204 closed, assigned to nobody

[2017-07-13 14:50] all-self-taught commented on #1206
What should it look like instead? Should the sentence be aligned with the yellow box above?

[2017-07-13 15:08] m2mathew commented on #1206
Hey, James, it should for sure line up with the edge of the yellow box, maybe even be in the line with the child text of that box. I am unsure about the larger design patterns for this site. However, it does look odd with `padding-left: 0` right there. 😀

[2017-07-13 15:39] m2mathew commented on #1039
@Wardormeur No one revoked those rights. I think that the last time we were dealing with this, we could make him a champion, but all of the abilities were not given to him. We couldn't figure out how to give him all that from this end. Can we grant him all access to his full powers?

That would be best since we do switch in and out of running to dojo depending on who is in town at our office.

[2017-07-13 15:42] m2mathew commented on #1208
Hmmmm, that's odd. I added those images long ago (maybe a year ago or so), and have never updated them. I will double-check. Thanks, gents!

[2017-07-13 15:58] m2mathew commented on #1208
Yeah, my fault. I had it pointing at a picture incorrectly. It is now pointed directly to our CDN, so all fixed up!

[2017-07-13 15:58] #1208 closed, assigned to nobody

[2017-07-13 17:00] Wardormeur commented on #1206
Accordingly to bootstrap's usage in this scenario, i believe the answer would be to have the banner full width and the text slightly padded.
To do so, i'd add .row to .cd-dashboard and replace .row from its children for .col-xs-12
![selection_118](https://user-images.githubusercontent.com/1755357/28178130-345839b2-67f5-11e7-90ef-7a68acc633f9.png)

[2017-07-14 13:47] all-self-taught commented on #1206
Ok, will work on it and submit a PR.

[2017-07-14 14:31] all-self-taught commented on #1206
Hi @Wardormeur,

I created a Bootstrap 3 panel, it makes the text flush with the text in the alert above, but there is a slight border around it, barely visible. Was wondering if you want to use that, or if you want a separate alert created for the "No events for your Dojo's" text. The separate alert could be red, and it will still make the text flush with the alert above.

<img width="652" alt="s

[2017-07-14 15:01] all-self-taught commented on #1206
Here's what it'll look like with a red alert:

<img width="1290" alt="screen shot 2017-07-14 at 11 00 11 am" src="https://user-images.githubusercontent.com/16264518/28217605-b63d1d9c-6883-11e7-9228-c968b41c5525.png">

[2017-07-15 13:22] all-self-taught commented on #1197
The buttons exist, they're only different for the champion than for the o13 profiles. Is there anything specific that should be added or removed?

[2017-07-17 08:02] Wardormeur commented on #1206
Do you have a branch we can have a look at ? :)

[2017-07-17 08:03] Wardormeur commented on #1197
Can you post a screenshot? I don't remember having 2 actions for the same thing

[2017-07-17 08:13] Wardormeur commented on #1039
I checked in between my last message and Jeff was having full right, including permissions.
Is this still an issue? If that's the case, i recommend we continue by email/slack as I doubt it's a bug per se.

[2017-07-17 09:17] #1203 closed, assigned to Wardormeur

[2017-07-18 17:45] all-self-taught commented on #1206
Hi @Wardormeur see PR #1154 in CP-Zen-Platform

Thanks!
James

[2017-07-20 17:30] rosalanghammer opened #1210 "Mary does not want to see past events on the Dojo details/listing page"
As Mary,
I do not want to view past events
so that I do not get confused about when the next event is taking place.

User acceptance
Given that an event has ended in the users timezone
When I navigate to the Dojo details page,
I should not be able to view the past event

Notes
Current is that events remain live 12 hours after they have ended.

[2017-07-25 09:54] rosalanghammer opened #1211 "Create a http 410 for any deleted Dojo listings"
Currently all deleted Dojo listings still appear on google searches. e.g. San Francisco CoderDojo

Need to create a http 410 so that they don't appear and confuse parents/potential mentors when searching for a Dojo on google.

[2017-08-05 16:57] niccokunzmann opened #1212 "Order events on dojo page by date"
![grafik](https://user-images.githubusercontent.com/564768/28997228-bded2346-7a0f-11e7-90bf-4a5b6907216e.png)
Page: https://coderdojopotsdam.github.io

The events should be ordered by date. Having the next event at the end is confusing.

[2017-08-08 08:53] Wardormeur commented on #1212
Same cause that https://github.com/CoderDojo/community-platform/issues/1139
A quick fix could be to re-order post-generation of the card, but the real fix is to provide the proper dates from the back-end instead of having the front generating them.

[2017-08-08 13:41] Giustina opened #1213 "Duplication of Address on Dojo Page"
Addresses are duplicated in the 'Location' Section of the Dojo page. Have randomly checked 5 Dojos and the duplication its appearing on the majority.

Example -->
https://zen.coderdojo.com/dojos/us/long-beach-ny/long-beach-public-library
https://zen.coderdojo.com/dojos/ie/dublin/dublin/dublin-docklands-chq

[2017-08-08 13:44] Wardormeur commented on #1213
Moved to PTracker as this is a WIP project

[2017-08-08 13:44] #1213 closed, assigned to nobody

[2017-08-08 20:11] niccokunzmann opened #1214 "Common Mistakes in Translation Templates"
When I am looking at translations of templates, I see some misunderstandings. Here, I would like to show some, propose a solution and open a discussion.

Examples:
- Splitting up the template boundaries: `Adresse: < % = event.address %>` https://crowdin.com/translate/zen-community-platform/1163/en-de#6336
- Translating parts of the template: `<%= event.address %>` => `<%= event.addresse %>`

Const

[2017-08-08 20:17] niccokunzmann commented on #1198
(1) Shouldn't they use the language of the user reading the email?

(2) With your templates, you have the ability, to provide a link at the top like this:

    http://zen.coderdojo.com/template/text.html?lang=en&username=John%20Doe

This would allow to render most templates in all languages. The link can be provided at the top: "View in Webbrowser/Translations"
Allowing a menu for languages and a

[2017-08-09 07:51] Wardormeur commented on #1214
Wow, thanks for bootstraping the discussion :+1:
So : boundaries recognition is set by Crowdin.
There are scenarios where it works (https://crowdin.com/translate/zen-community-platform/43/en-de) , and other when it doesn't. Changing the boundary format may help (not composed) but it also an issue as ejs allows us to change the formatting result (ie : pure HTML or escaped) (difference between <%= a

[2017-08-09 07:58] Wardormeur commented on #1198
1) We could, but it means to ask one more configuration from the user, while a configuration at a dojo level would impact more easily than "each" user having set their locale.
Ultimately it would be per user and if it's not set, the dojo's language, but we can assume that they speak the same language in a dojo, and hence have a quicker impact/result.

2) We plan to work on tests for translations a

[2017-09-04 10:36] Wardormeur opened #1215 "[Test] Missing test for timeshift on cp-eventbrite"
Ref : https://github.com/CoderDojo/cp-eventbrite-service/pull/13

[2017-09-18 08:27] niccokunzmann opened #1216 "Can not book"
From a participant I heard that there are problems booking events. I can reproduce them:
![grafik](https://user-images.githubusercontent.com/564768/30533741-3e2a8b4e-9c5b-11e7-86c7-8ac0081d2f1d.png)
URL: https://zen.coderdojo.com/dojo/0be123e7-c9be-4002-a3cf-f0c8550f749a/event/92157342-ecac-47e2-ae20-312eb744f188
Browser:
- Firefox ESR 52.3.0
- Opera 47.0
- Chrome Version 60.0.3112.113 (Offizielle

[2017-09-18 08:29] Wardormeur commented on #1216
Hey @niccokunzmann
What you're seeing is an UX issue alas. The book button is for all the tickets displayed (Coder, Laptop, Mentor..)
When you click "Buchen", it'll display each ticket for this session and a dropdown to select the user from

[2017-09-18 08:32] niccokunzmann commented on #1216
I am logged in, where should I click? (Firefox)

![grafik](https://user-images.githubusercontent.com/564768/30534017-9f60eb5a-9c5c-11e7-958e-ee1ce516e0da.png)
URL: https://zen.coderdojo.com/event/92157342-ecac-47e2-ae20-312eb744f188

[2017-09-18 08:35] Wardormeur commented on #1216
Apologies, your first screenshot made me think it was an UX issue.
This should be fixed by https://github.com/CoderDojo/cp-zen-platform/pull/1184, we saw it this WE only and only affect the /event/:id; using the /dojo/:dojoId/event/:eventId would still work

[2017-09-18 08:37] niccokunzmann commented on #1216
@Wardormeur confirmed :)

[2017-09-20 09:27] Wardormeur commented on #1216
Hey @niccokunzmann ,
Sorry, forgot to tell you but the fix has been deployed yesterday :)
Thanks for the report :+1:

[2017-09-20 09:27] #1216 closed, assigned to nobody

[2017-09-20 19:30] niccokunzmann commented on #1216
All fine. Thanks for your work on the platform!

[2017-09-27 09:29] rosalanghammer commented on #858
No reoccurrence. Closing!

[2017-09-27 09:29] #858 closed

[2017-09-29 06:08] iandouglas commented on #1212
Add my vote to fix this please.

[2017-09-29 11:53] Wardormeur commented on #1211
Text could be :
'Sorry, this Dojo has closed off"
The need for a text different from simply the 404 page is to explicitly indicate there used to have a dojo running there.

[2017-09-29 11:56] Wardormeur commented on #1207
Both closed by @rstein66 and @DanielBrierton 's work on the new front-end :)

[2017-09-29 11:56] #1207 closed, assigned to nobody

[2017-09-29 11:59] Wardormeur commented on #1178
isn't that covered through the custom emailing ?

[2017-09-29 12:01] Wardormeur commented on #1164
Closing issue, we migrate into another framework

[2017-09-29 12:01] #1164 closed

[2017-09-29 12:02] Wardormeur commented on #1163
This is a WIP. Choice is a custom config based on airbnb
Covered :
- [ X ] cp-zen-frontend

[2017-09-29 12:03] Wardormeur commented on #1162
Will not happen : migration on-going to Vue

[2017-09-29 12:03] #1162 closed

[2017-09-29 12:05] Wardormeur commented on #1156
This is a WIP. Version being worked on may differ
Done so far :
- [x] cp-orgs (8.x)
- [x] cp-zen-frontend (6.9)

[2017-09-29 12:07] Wardormeur commented on #1158
Covered by https://github.com/CoderDojo/cp-zen-platform/pull/1186

[2017-09-29 12:07] #1158 closed

[2017-09-29 12:09] Wardormeur commented on #1153
Closing off, a wall of text has been added to explain the private aspect of a dojo
![selection_170](https://user-images.githubusercontent.com/1755357/31015333-77849aaa-a517-11e7-9180-ea5ec04ba49e.png)

[2017-09-29 12:09] #1153 closed

[2017-09-29 12:10] Wardormeur commented on #1152
Closing off, covered through SAD

[2017-09-29 12:10] #1152 closed

[2017-09-29 12:12] Wardormeur commented on #1144
Need to be verified if https://github.com/CoderDojo/cp-zen-platform/pull/1186 solved this

[2017-09-29 12:13] Wardormeur commented on #1143
@butlerx complexity-wise, could cp-local spin up a maildev server ?

[2017-09-29 12:16] Wardormeur commented on #1125
Not required anymore i believe @DanielBrierton  ?

[2017-09-29 12:19] Wardormeur commented on #1104
Fixed during SAD rework

[2017-09-29 12:19] #1104 closed

[2017-09-29 12:21] Wardormeur commented on #695
Covered through SAD

[2017-09-29 12:21] #695 closed

[2017-09-29 12:22] Wardormeur commented on #1089
Change of format has been done through SAD, but some more work to migrate previous data could be done

[2017-09-29 12:23] Wardormeur commented on #1084
Closing of, localdev is dead !

[2017-09-29 12:23] #1084 closed

[2017-09-29 12:23] #1135 closed

[2017-09-29 12:24] #1074 closed

[2017-09-29 12:26] Wardormeur commented on #1064
Closing, covered with Pivotal

[2017-09-29 12:26] #1064 closed

[2017-09-29 12:29] Wardormeur commented on #1047
Will be covered through the quick booking workflow : won't happen anymore

[2017-09-29 12:29] #1047 closed

[2017-09-29 12:30] Wardormeur commented on #1038
@DanielBrierton bump :)

[2017-09-29 12:33] Wardormeur commented on #1020
Issue won't be solved this way.
The direction taken is to replace the current map on coderdojo.com by the one on zen.coderdojo.com; using the same logic for search.
I'm keeping the issue open, but the fix is related to https://github.com/CoderDojo/community-platform/issues/1199

[2017-09-29 12:36] Wardormeur commented on #993
Tested and seemd to be fixed with current research

[2017-09-29 12:36] #993 closed

[2017-09-29 12:39] Wardormeur commented on #905
This page doesn't exist anymore :)

[2017-09-29 12:39] #905 closed

[2017-09-29 12:39] Wardormeur commented on #1025
The list doesn't exist anymore, hence closing off

[2017-09-29 12:39] #1025 closed

[2017-09-29 12:40] Wardormeur commented on #897
May I close @rosalanghammer @DanielBrierton ?

[2017-09-29 12:40] Wardormeur commented on #789
This has been covered through SAD

[2017-09-29 12:40] #789 closed

[2017-09-29 12:43] Wardormeur commented on #849
E2E repo is deprecated in favor for front-end integration tests
https://github.com/CoderDojo/cp-zen-frontend/tree/master/test/e2e

[2017-09-29 12:43] #849 closed

[2017-09-29 12:45] #748 closed

[2017-09-29 12:45] Wardormeur commented on #743
Covered through SAD

[2017-09-29 12:45] #743 closed

[2017-09-29 12:49] Wardormeur commented on #706
Duplicate of https://github.com/CoderDojo/community-platform/issues/1046

[2017-09-29 12:49] #706 closed

[2017-09-29 12:50] Wardormeur commented on #703
Done in the new frontend, closing

[2017-09-29 12:50] #703 closed

[2017-09-29 12:51] Wardormeur commented on #666
Closing, we now use docker instead

[2017-09-29 12:51] #666 closed

[2017-09-29 12:54] Wardormeur commented on #385
Closing off

[2017-09-29 12:54] #385 closed

[2017-09-29 13:04] butlerx commented on #1163
this is done for cp-orgs
and [#1189](https://github.com/CoderDojo/cp-zen-platform/pull/1189) will cover this for cp-platfrom

[2017-09-29 13:06] butlerx commented on #1163
- [ ] cp-badges-service
- [ ] cp-dojos-service
- [ ] cp-eventbrite-service
- [ ] cp-events-service
- [x] cp-organisations-service
- [ ] cp-users-service
- [x] cp-zen-frontend
- [ ] cp-zen-platform

[2017-09-29 13:12] butlerx commented on #1156
frontend is done on 8.x

[2017-09-29 13:19] butlerx commented on #1143
that's relatively simple adding a mail server container wouldn't take much.
Would we want it to actually send an email or just to kill all mail?

[2017-09-29 13:26] Wardormeur commented on #1143
replace mailtrap :) So the config for localhost config should change to use maildev instead

[2017-09-29 13:31] butlerx commented on #1143
sorry i misunderstood. adding maildev should be super quick as it already has a [container](https://hub.docker.com/r/djfarrelly/maildev/).
so in the docker-compose we can just add this and modify all the mailtrap references in the configs to maildev container

[2017-09-29 15:20] rosalanghammer commented on #1211
Text suggestion;

' Sorry, this Dojo is no longer open. Search here[zen.coderdojo.com] to find another Dojo near you or start a Dojo[coderdojo.com/start-a-dojo] to give more young people the opportunity to learn to code. '

[2017-11-01 10:02] Wardormeur commented on #1214
Just to extend : we've added tests to cp-translations (mostly @DanielBrierton 's work !) for emails.
This way, the deployment fails if the translation is faulty. That's not perfect (front-end translations are still an issue) but at least every email should now send.

[2017-11-09 16:06] nuala-louise opened #1217 "Dojo Applications showing Dojo is not Private, when it has been marked as Private"
In the backend of the verification process, when I check an application someone has put in, the application says a Dojo is not private, when the Dojo is in fact marked as a Private Dojo, and shows as private when you look at the Dojo page itself.

[2017-11-13 14:51] nuala-louise opened #1218 "Doesn't save changed profile image."
When I try to change [my Zen profile](https://zen.coderdojo.com/dashboard/profile/) image and click save it doesn't save.

It simultaneously shows as an error message with file type when file type is correct, and also saying it uploaded correctly; despite not saving.

[2017-11-14 10:00] conoramurphy commented on #1218
![screen shot 2017-11-14 at 9 58 11 am](https://user-images.githubusercontent.com/3603234/32773856-70193fe4-c922-11e7-80c0-b590aa20590a.png)

[2017-11-14 17:36] marcusnygren commented on #966
Something we'd love would be if the Eventbrite integration meant that each user automatically would become a participant of the dojo!

This would allow us to keep using Eventbrite (which has some functionality we value), but still be able to award CoderDojo badges to participants in a smooth way!

[2017-11-14 19:23] Wardormeur commented on #966
I'm afraid it's a bit complex : there is not enough information to 'create' an user on Zen based from eventbrite information. Tickets are booked for multiple users by the parent (generally). For us to map the users on a recurrent basis is purely random.

[2017-11-20 11:40] Wardormeur opened #1219 "Sending an email to a large quantity of users is slow"
The lack of queing and usage of synchronous sending of email, can result in a seneca timeout and a (falsy) error message
 -> while it works locally without timeout, I expect production to be slower and reach the timeout easily
 -> See https://github.com/CoderDojo/cp-dojos-service/blob/master/lib/dojos/users/notify.js#L84

[2017-11-20 17:20] Wardormeur commented on #1218
This should be solved :)

[2017-11-20 17:20] #1218 closed, assigned to nobody

[2017-11-27 00:39] AyoAlfonso commented on #1217
Should be that some part of the backend isn't filtering the application event. But it received the event quite alright.
Can I work on this ?

[2017-11-27 10:08] Wardormeur commented on #1217
Hey @AyoAlfonso,
You can surely pick it up. You need to start by creating an application (/dashboard/start-dojo) and set it as private ("Venue" step).
![screenshot from 2017-11-27 10-05-33](https://user-images.githubusercontent.com/1755357/33261420-9e76a344-d35a-11e7-8737-cb71b574e188.png)
The template is in the old front-end (https://github.com/CoderDojo/cp-zen-platform/blob/master/web/public/js/

[2017-12-05 19:31] leona-ya commented on #934
Hello @niccokunzmann, i translated the invited to session page(https://crowdin.com/translate/zen-community-platform/1192/en-de). GCI2017

[2017-12-23 09:14] relighted opened #1220 "Remember login"
Can we introduce a remember login function on the zen platform please.

I often check the Dojo meetings or just to change things, but login every single time really slows down my use of the site. I use my own devices, and there is no reason the session length can't be 14 or 30 days or so (renew when visiting).

Thanks for considering and making the UX better.

[2017-12-24 13:55] Wardormeur commented on #1220
Hi @relighted ,
Could you tell us which kind of browser you're using? A session is supposed to be kept for 2 days (https://github.com/CoderDojo/cp-zen-platform/blob/master/web/lib/plugins/auth.js#L50)
Maybe we could increase it to 30 as you ask, on demand (a tick on login) ? cc @conoramurphy

[2018-01-14 22:14] niccokunzmann opened #1221 "Cannot download user list"
https://zen.coderdojo.com/api/2.0/dojos/export-users/0be123e7-c9be-4002-a3cf-f0c8550f749a-user-export.csv does not download the users as csv.
It takes a long time and times out with "File not found".

[2018-01-15 11:10] #1217 closed, assigned to nobody

[2018-01-15 21:18] Wardormeur commented on #1221
Apologies for the delay @niccokunzmann , I'll try to have a look asap (cc @conoramurphy )

[2018-01-15 21:40] Wardormeur commented on #1221
Can reproduce in production.
Confirmed that it's insanely slow in general, according to Newrelic (40s+), and just most of the time end up in the browser giving up (timeout).

[2018-01-16 10:04] niccokunzmann commented on #1221
Hi, no haste, I just reported this and please work on it as you see fit.
I do not know what you apologize for.

[2018-01-22 14:00] Wardormeur commented on #1221
@niccokunzmann we've pushed a fix about a performance issue, can you tell me if that does solve your issue?

[2018-01-22 20:38] niccokunzmann commented on #1221
@Wardormeur Thanks! This was a fast resolution and a fast download just a minute ago. I can close this as this issue is resolved.

[2018-01-22 20:38] #1221 closed, assigned to Wardormeur

[2018-01-23 10:37] Wardormeur commented on #1024
We don't push invalid email template anymore, this shouldn't happen

[2018-01-23 10:37] #1024 closed

[2018-01-24 16:42] Wardormeur commented on #1144
Fixed with https://github.com/CoderDojo/cd-theme/pull/73

[2018-01-24 16:42] #1144 closed

[2018-02-11 22:36] relighted commented on #1220
I Generally Use Firefox, or Chrome. The 2 days is too short; between dojo activity there is easy 4 to 5 days before I log in again to see participant numbers, etc.

[2018-02-14 11:29] conoramurphy-zz commented on #1220
@relighted we'll take a look and chat about what's sensible to increase it to. Thanks for the information! Hopefully I'll keep you updated.

[2018-02-18 06:40] adam-kuhn commented on #790
I'd like to get this sorted for you.

[2018-02-20 09:49] Wardormeur commented on #790
Hi @adam-kuhn ,
Normally, i wouldn't recommend jumping on this, because this is part of the old front-end and we 'd like not to onboard people on this (https://github.com/CoderDojo/cp-zen-platform/blob/master/README.md).
If you still interested, this should be an easy fix if the filtering is done in the front-end. The controller to be modified is the following one : https://github.com/CoderDojo/cp

[2018-03-13 04:06] csuski opened #1222 "Daylight Savings changed Start Time of Event"
**Problem**

There seems to be an issue with daylight savings changing the start time of events.

I had a one-off event scheduled from 10am - 12pm for 3/17/2018

After daylight savings the start time (and only the start time) changed, so the event showed up as 11am - 12pm 3/17/2018.

I had to manually edit the event and change it back to 10am.

The event was created while in MST and as of March 11

[2018-03-13 09:53] Wardormeur commented on #1222
Hey @csuski, thanks for the report :)
Could you give us the page where you saw the date to be wrong, as well as the event booking page (its id is what we're interested in :)) ? It could be a display issue as we're migrating our front-end stack, and changing the date may display it wrongly somewhere else.
Cheers

[2018-03-13 12:29] csuski commented on #1222
This is the event it happened to: https://zen.coderdojo.com/dojo/2541fe23-72b4-48ab-b60f-f3153cef5e33/event/595af78f-8de3-4058-9d7b-07db39d3b1d6

I first noticed it on the "event-form" page when I went to create a new event and copied it from the event listed above and I saw the wrong start time.

I then went to the event page (listed above) and confirmed the start time was incorrect.

I then went

[2018-03-13 13:01] csuski commented on #1222
Some more details

The workflow I use to create a events is to go to Manage  Events, then Create Event, then I copy the last event, change the date and publish. I have been doing this for a long time, so I am not sure how the copy works but perhaps I am propagating an old bug?

Also, I am pretty sure this happened to me in the fall when the time changed from MDT to MST. I noticed some times were a

[2018-03-13 13:10] csuski commented on #1222
I found a recurring event that may have the problem.

The description says 9 - Noon, but the listed time says 10 - Noon. It looks like this is first event in a recurring event that was created prior to the time change.

https://zen.coderdojo.com/dojo/1150ecbb-9a72-44e4-91d2-be2d5bd728a5/event/8f2e3e00-855c-4e83-baf2-df56fcea600f

https://zen.coderdojo.com/dojos/us/zanesville-oh/zanesville-ohio-pyt

[2018-03-14 18:42] Wardormeur commented on #1222
Hey @csuski
Thanks a million for the very detailed research. We're planning it for asap, very likely next week :+1:
My first guess would be the "copy" functionality (the other Dojo "MO, Chillicothe @ Livingston County Library" has events very similar), but I wouldn't jump to conclusion.

[2018-03-17 11:53] Wardormeur commented on #1156
Done since early january

[2018-03-17 11:53] #1156 closed

[2018-03-17 11:59] Wardormeur commented on #1038
Doesn't reproduce on /my-children and FTB will override the "quick-adding" children flow from the profile page.
Added to FTB flow to remove this once it's finished

[2018-03-17 12:00] Wardormeur commented on #983
No such data is required anymore, closing

[2018-03-17 12:00] #983 closed

[2018-03-17 12:03] Wardormeur commented on #968
FYI we have one of our previous intern doing his last year project on such functionnality.
cc @grabartley

[2018-03-17 12:05] Wardormeur commented on #966
This has been covered last year.
There is some difficulty with multiple dojos per account but works for simples scenarios.
Closing off but feel free to open another for more specific request

[2018-03-17 12:05] #966 closed

[2018-03-17 12:06] Wardormeur commented on #1046
Done last year

[2018-03-17 12:06] #1046 closed

[2018-03-17 12:08] Wardormeur commented on #822
^ PR has been merged a year ago, closing off

[2018-03-17 12:08] #822 closed

[2018-03-17 12:08] Wardormeur commented on #774
Dup of https://github.com/CoderDojo/community-platform/issues/822

[2018-03-17 12:08] #774 closed

[2018-03-17 12:09] Wardormeur commented on #431
Add-children now redirect to My children, closing off

[2018-03-17 12:09] #431 closed

[2018-03-17 12:11] Wardormeur commented on #1163
closing off, has be done during the node 8 upgrade

[2018-03-17 12:11] #1163 closed

[2018-03-17 12:17] Wardormeur commented on #80
The e2e-test repo has been deprecated, mainly because the UI is being rewritten.
We now tests the front-end through a mock server, making it easier to develop on and easier to test (no need to deploy the whole fleet of microservices).
Closing off as this is now part of the normal development flow (also know as "it's finished" :) )

[2018-03-17 12:17] #80 closed

[2018-03-17 12:20] Wardormeur commented on #1115
Cannot reproduce anymore, either on old or new front-end.
Closing off!

[2018-03-17 12:20] #1115 closed

[2018-03-17 12:32] Wardormeur commented on #1212
This should be fixed as we reworked the events-service (https://github.com/CoderDojo/events-service)

[2018-03-17 12:32] #1212 closed, assigned to nobody

[2018-03-17 12:32] Wardormeur commented on #1139
Despite closing #1212, this one isn't yet as the API endpoint used is still the old one

[2018-03-17 12:33] Wardormeur commented on #1206
Closing off as this page has been rewritten

[2018-03-17 12:33] #1206 closed, assigned to nobody

[2018-03-17 12:34] Wardormeur commented on #1210
Closing off, the user's timezone is now used to query the event-service

[2018-03-17 12:34] #1210 closed, assigned to nobody

[2018-03-17 12:37] Wardormeur commented on #1178
@DanielBrierton I guess this is related to manage-applications ?

[2018-03-17 12:38] Wardormeur commented on #1161
Won't happen, technical choice has been decided to simply rewrite instead

[2018-03-17 12:38] #1161 closed

[2018-03-17 12:39] Wardormeur commented on #1157
Closing off, rewrite on its way.

[2018-03-17 12:39] #1157 closed

[2018-03-17 12:42] Wardormeur commented on #1106
Those are angular dependencies. We won't need those anymore, as we're rewriting in Vuejs. Closing off

[2018-03-17 12:42] #1106 closed

[2018-03-17 12:42] Wardormeur commented on #1100
@DanielBrierton is this still the case ?

[2018-03-17 12:45] Wardormeur commented on #1056
Done through k8s

[2018-03-17 12:45] #1056 closed

[2018-03-17 12:46] Wardormeur commented on #1037
Faulty translations will now stop deployment of cp-translations, this is not an issue anymore

[2018-03-17 12:46] #1037 closed

[2018-03-17 12:48] Wardormeur commented on #1012
First step is being done here : https://github.com/CoderDojo/community-platform/issues/968

[2018-03-17 12:50] Wardormeur commented on #976
Won't happen as it'll be rewritten. Closing off

[2018-03-17 12:50] #976 closed

[2018-03-17 12:50] Wardormeur commented on #970
Will be rewritten, closing off

[2018-03-17 12:50] #970 closed

[2018-03-17 12:53] Wardormeur commented on #965
Test-data functions have been used in the past but we don't trigger them anymore on cp-local-dev/docker.
@DanielBrierton do you think we should externalize them as a unique source of truth for front-end mock as well as back-end services?

[2018-03-17 12:59] Wardormeur commented on #934
I've ticked a bunch of them, most of them are nowadays old pages that have been rewritten.
If you find more on the new pages, we're open :)

[2018-03-17 13:04] Wardormeur commented on #855
Doesn't seem to happen anymore, closing off

[2018-03-17 13:04] #855 closed

[2018-03-17 13:10] Wardormeur commented on #734
Closing off. The user profile page has been reworked multiple time in between.

[2018-03-17 13:10] #734 closed

[2018-03-17 13:11] Wardormeur commented on #727
This has been done last sprint. https://github.com/CoderDojo/cp-dojos-service/commit/991de5fcc2433f70fd7284068010a36aaef466ce

[2018-03-17 13:11] #727 closed

[2018-03-17 13:12] Wardormeur commented on #726
A permissions system has been implemented in between. This doesn't happen anymore.

[2018-03-17 13:12] #726 closed

[2018-03-17 13:14] Wardormeur commented on #612
This already exists as "created" and "attendance". Closing off

[2018-03-17 13:14] #612 closed

[2018-03-17 13:16] Wardormeur commented on #521
Start A Dojo (SAD) has been rewritten last year, closing off.

[2018-03-17 13:16] #521 closed

[2018-03-17 13:18] Wardormeur commented on #712
"Recurring"/Term events don't work that way. see https://github.com/CoderDojo/community-platform/issues/716 for a reference.
We may work on recurring event instead of term events in the future, in which case ^ this should definitely be supported. Closing off in the meantime.

[2018-03-17 13:18] #712 closed

[2018-03-22 14:12] Wardormeur commented on #1222
Hey @csuski
We pushed a fix that hopefully should cover our issue. We'll do a global communication about it as we can't automatically detect who's been affected (depends on the country, may have already fixed it, etc.)
Thanks for all your help :+1:

[2018-03-22 14:12] #1222 closed, assigned to nobody

[2018-03-27 10:10] qubodup opened #1223 "dead link"
1. google "coder dojo berlin" without quotes
2. second link is https://zen.coderdojo.com/dojos/861
3. that page is confusingly empty

Suggestion: hardwire it to redirect to https://zen.coderdojo.com/?q=berlin&p=1

[2018-03-27 10:19] Wardormeur commented on #1223
Thanks @qubodup for the info :)
@conoramurphy This is related to the deprecated legacy dojoId. It's been reported on the forums and I believe we have something in the backlog for it.
Solutions could be a redirect (to the right dojo, or to the search a Dojo) , a desindexation (google search console)

[2018-03-29 14:40] conoramurphy-zz commented on #1223
Redirecting AND de-indexing would be the right way togo. To be discussed!

On Tue, 27 Mar 2018 at 11:23 Wardormeur <notifications@github.com> wrote:

--
Conor

[2018-04-27 16:24] iandouglas opened #1224 "Need the ability to edit recurring events that have already started"
Our dojo loves the ability to make recurring events, but we really need the ability to update portions of the event like the address or ending date, without having to have a CoderDojo developer intervene.

We currently run a 4-5 month long session, and we've had the address change, and now we need to change the end date, but the UI won't let us.

[2018-05-09 06:28] Wardormeur commented on #1224
Sorry @iandouglas , I didn't see the notification.
The reason behind is that addresses are part of the event, and people booked for a specific "version"/"information" of the event. Any changes to the address or the tickets cannot be easily reflected back to the user. cc @conoramurphy
I totally understand the problem, and considering we're currently redesigning the events, we may be able to find a

[2018-05-16 10:55] conoramurphy-zz commented on #1224
Hey @iandouglas as @Wardormeur said we're looking to currently clean up and simplify events. Is there any chance I could hop on a call to talk about how your dojo uses recurring events sometime? We're looking for a lot of uses cases to see how we can make them broadly easier to use.

[2018-05-16 14:54] iandouglas commented on #1224
@conoramurphy sure, I'm game for that. Add .com to my github username and you can find my contact information (email, etc) on my web site and we can set up a call.

[2018-06-09 13:20] digitlninja commented on #1195
Is this still needing work? Id love to do the backend for it :)

[2018-06-09 22:50] Wardormeur commented on #1195
Hey @williamlangroudi  :)
It does, indeed. There are new plans for the user-service, but by the time it get there, I believe your contribution would already have been useful in several ways!
In term of scope, that would mean that the user is :
 - deleted (table cd_profiles, sys_user and sys_login if exists, function may exists for sys_*, but definitely doesn't for cd_profiles: https://github.com/C

[2018-06-23 09:38] sandrobonazzola opened #1225 "Ability to query user list for attendance"
We have ninja attending to different dojos in the area. When we get a request for a white belt from a ninja we should be able to check if the ninja attended at least 5 dojo sessions, summing the attendance to the dojo in the area.

If we can't get the aggregated data from all the dojo a user is registered to, it would be enough to get the number of the events attended within a single dojo, we can

[2018-07-05 09:06] Wardormeur commented on #1225
Apologies for the late response : I've had it open for a draft response and closed it at some point, leaving me without notifications.
Grouping of Dojo is being thought of due to regional bodies (RB) but I guess we could consider a smaller representation than RB (cc @conoramurphy). That's not in the pipeline yet, though; and it is the first time we hear of a contest-like you're designing it :+1:
I

[2018-07-05 09:11] Wardormeur commented on #1219
This has been done recently thanks to @butlerx PR (https://github.com/CoderDojo/cp-dojos-service/commit/df42384c35dc594df7f85a98cde4553e952675c4)

[2018-07-05 09:11] #1219 closed, assigned to nobody

[2018-07-05 09:12] Wardormeur commented on #1209
Removing myself as I clearly didn't go for it.

[2018-07-05 09:17] Wardormeur commented on #1176
Closing as the expected flow is now through the Dojo page/Book rather than the "Register" page

[2018-07-05 09:17] #1176 closed

[2018-07-05 09:35] Wardormeur commented on #1172
This as been done with the deployment of https://github.com/CoderDojo/cp-email-service. Closing!

[2018-07-05 09:35] #1172 closed

[2018-07-05 09:36] Wardormeur commented on #1143
@heyitsmaimai handled that without much issues :) https://github.com/CoderDojo/cp-local-development/commit/caa8eb64e8ea46e1e67174daac386df6cd2d047b

[2018-07-05 09:36] #1143 closed

[2018-07-05 09:39] Wardormeur commented on #1117
The Dojo page has been reworked last year :s
The description is now at the end of the page, but not "reduced" anymore

[2018-07-05 09:39] #1117 closed

[2018-07-05 09:42] Wardormeur commented on #1102
This will not be pushed forward as
 - it's an SQL antipattern (and I pushed for it, yes)
 - we're slowly replacing seneca

The solution will be to add those columns when necessary, or decide on a framework that can handle that for us for analytical purpose solely

[2018-07-05 09:42] #1102 closed

[2018-07-05 09:45] Wardormeur commented on #953
Parent are now automatically booked and tickets are filtered on the kind of users you are :
 - children -> ninja;
 - adult mentoring -> mentor;
 - adult accompagning -> "parent" (hidden)

[2018-07-05 09:45] #953 closed

[2018-07-05 09:46] Wardormeur commented on #1063
Adding children is now supported through the new booking flow

[2018-07-05 09:46] #1063 closed

[2018-07-05 09:47] Wardormeur commented on #1042
Booking ticket epic closed, the new booking flow now handles new users and returning ones very simlarly :)

[2018-07-05 09:47] #1042 closed

[2018-07-05 09:49] Wardormeur commented on #1060
@DanielBrierton I believe this has not been adopted in cp-zen-frontend. If we're not pushing for it internally, we should close this ticket.
So. should we? :)

[2018-07-05 09:50] Wardormeur commented on #1045
Tao has not made a comeback, closing

[2018-07-05 09:50] #1045 closed

[2018-07-05 09:50] Wardormeur commented on #1044
No description, and that's my fault.
Closing

[2018-07-05 09:50] #1044 closed

[2018-07-05 09:56] Wardormeur commented on #951
Closing, Tao is no more

[2018-07-05 09:56] #951 closed

[2018-07-05 09:57] Wardormeur commented on #1200
Duplicate of https://github.com/CoderDojo/community-platform/issues/944

[2018-07-05 09:57] #1200 closed

[2018-07-05 09:57] Wardormeur commented on #944
The duplicate confirms that cancelling for yourself doesn't seem to trigger the email.

[2018-07-05 10:02] Wardormeur commented on #831
Closing, the map has been reworked

[2018-07-05 10:02] #831 closed

[2018-07-05 10:13] Wardormeur commented on #770
Closing, the only usage we would have of it is for maxCapacity (https://github.com/CoderDojo/community-platform/issues/954)

[2018-07-05 10:13] #770 closed

[2018-07-05 10:19] Wardormeur commented on #702
Closing. We're simplifying and hidiing as much as possible sessions, this won't happen.

[2018-07-05 10:19] #702 closed

[2018-07-05 10:22] Wardormeur commented on #382
Export badges never made it back to the front-end. Closing

[2018-07-05 10:22] #382 closed

[2018-07-05 10:23] Wardormeur commented on #331
Closing, it's been covered by my children && the new booking flow

[2018-07-05 10:23] #331 closed

[2018-07-05 10:24] Wardormeur commented on #304
Email has been handled by maildev.
There is still the question of others services, but this issue can be closed in the meantime

[2018-07-05 10:24] #304 closed, assigned to nobody

[2018-07-05 10:25] Wardormeur commented on #165
Apparently works thanks to Docker now :)
cc @DanielBrierton should be able to confirm !

[2018-07-05 10:26] Wardormeur commented on #91
This has been moved into our warehouse / Google Data studio for more flexibility

[2018-07-05 10:26] #91 closed, assigned to adhorrig

[2018-07-05 14:41] DanielBrierton commented on #165
Yup, I've successfully ran Zen on Windows 10 Pro using Docker (via Hyper-V – I assume it will work on non-Pro Windows with Virtualbox-based Docker, but haven't tested that).

[2018-07-05 14:41] #165 closed

[2018-07-05 14:42] DanielBrierton commented on #1060
Yeah, we've ended up not doing this... So yeah, close.

[2018-07-05 14:42] #1060 closed

[2018-07-20 23:29] AT1452 commented on #1145
Is this issue still up for grabs? If so I believe I can help

[2018-08-09 15:00] Wardormeur commented on #1199
The map has been removed, closing

[2018-08-09 15:00] #1199 closed

[2018-08-09 15:01] Wardormeur commented on #1020
We removed the map on coderdojo.com, this issue doesn't apply anymore

[2018-08-09 15:01] #1020 closed

[2018-11-25 23:43] Wardormeur commented on #1112
Closing, bulk-apply doesn't use it anymore and we hope to migrate what's left of the event service into the new one

[2018-11-25 23:43] #1112 closed

[2018-11-25 23:52] Wardormeur commented on #992
Ah, well, this issue was old, but we made some progress.
We added a security during CI to test if the tokens (<% a_string %>) are the one expected. (https://github.com/CoderDojo/cp-translations/commit/6bfe32219023dc8f7be8d99b6a3fcabc42bb1b1d)
It's not perfect (I bet you can find a way to bypass the tokenizer), but like everything, it's a cost/time spent vector.
I think we reached the limit of what

[2018-11-25 23:53] Wardormeur commented on #987
Email subjects are now being enforced by the API validation for the v2 API.
v3 won't contain it, and v2 is in maintenance mode, so closing.

[2018-11-25 23:53] #987 closed

[2018-11-25 23:54] Wardormeur commented on #967
Closing. Handled by a cron-job internally (https://github.com/CoderDojo/zen-omatic)

[2018-11-25 23:54] #967 closed

[2018-11-26 00:36] Wardormeur commented on #1038
FTB flow is published since .. Months. Closing as the original issue cannot be executed anymore (option removed)

[2018-11-26 00:36] #1038 closed

[2018-11-26 00:38] Wardormeur commented on #897
The homepage has been reworked to show more relevant information (find a dojo/ dojo events/ content/ news) when you're registred. If you're not, the classic "Find a Dojo" page is there to guide you through a normal registration flow with value (booking).
Closing for the time being

[2018-11-26 00:38] #897 closed

[2018-11-26 00:39] Wardormeur commented on #962
The dashboard has been added a month ago :)
If anybody has feedback, please do so!

[2019-01-24 14:21] conoramurphy-zz opened #1226 "Prototype for Zen sign on with RPI accounts"
## Goal
Users sign on using profile service for Coderdojo
## Why
Salesforce integration is easier, simplify architecture, unify and reduce legacy cost of CoderDojo.
## How
Create a prototype to better understand the problem

Detailed internal documentation (which is well beyond the scope of this task)
https://docs.google.com/document/d/1KcJnW5KEm75vinobSw-0J8y88U0_D7yQ4wU_CKJY5Jo/edit

# Tasks

-

[2019-01-24 14:45] #621 closed

[2019-01-24 14:48] conoramurphy-zz opened #1227 "Cleanup of Dojo locations information"
**Business Goal/Theory**
For reporting and searching purposes, there are several issues with the location information of Dojos.

**List of issues to contend with**
- [ ] No regional information stored (county, state etc.)

[2019-01-24 14:55] #223 closed

[2019-01-24 15:08] conoramurphy-zz opened #1228 "Navigation Standardisations"
**Business Goal**
Have simplified navigation that only shows what is relevant to the user

**Possible Issues**
- [ ] Remove attend-a-dojo from the navigation
- [ ] Trim the menu for people without any ticketing admin privileges
- [ ] Use the menu now on coderdojo.com homepage as a guide for what we actually care about. Rearrange the top level menu to be under 3/4 headings to simplify navigation.

[2019-01-24 15:14] conoramurphy-zz opened #1229 "Eventbrite integration improvements grouping"
This is a ticket a holding for Eventbrite improvements until a decision is made to cull/expand them.

- [ ] Embedded event using EB redirect to Zen booking as well as EB
- [ ] Eventbrite integration isn't clear that only future events will appear (no initial sync)
- [ ] Eventbrite integration doesn't support multiple webhook per account (?)
- [ ] Create a mailing list that cuts anyone who created

[2019-01-24 15:20] conoramurphy-zz opened #1230 "Simplification and rebuild of "Create Event" form"
**Business Value**
Since 90% of user events are very simple 1 ticket type events. Our create event form should prioritise that, and allow some minor complexity as a secondary option

**To-Do**
- [x] Review wireframes and test
- [x] Research sensible defaults
- [x] Look at recurring events vs term and usage and value
- [ ] Custom question, allow a text entry and a text response. No data types.
- [x

[2019-01-24 15:27] #1059 closed

[2019-01-24 15:28] #1028 closed

[2019-01-24 15:40] conoramurphy-zz opened #1231 "Regional Bodies"
**Business Goal/Theory**
By providing simple tools to Regional bodies we greatly increase the utility for Regional Bodies and increase Zen usage.

**Jobs**
- [ ] Regional Bodies need to be able to report on various high-level stats from their communities
- [ ] Regional body joining should be automatic if the rules of being part of the body are easy geographical rules
- [ ] Regional body joining sh

[2019-01-24 15:44] conoramurphy-zz opened #1232 "Branding and style standardisation record"
## This is just a record of what is currently styled differently

**Things to standardise**
- [ ] Fonts
- [ ] Colors
- [ ] Spacing
- [ ] Drop-Shadows
- [ ] Button Styles
- [ ] Input Styles
- [ ] Footer

**Sites to standardise**
- [ ] Zen (Vue)
- [ ] Zen (Angular)
- [ ] Marketing Site cd.com
- [ ] Forums
- [ ] WP

[2019-01-24 15:45] conoramurphy-zz opened #1233 "As a prospective volunteer, I should have a clear and guided path all the way to attending an event"
**Business Goal**
A clear path makes sure we can push volunteering and know people aren't being lost along the way.

**To Do**
- [ ] Have a clear way of signing up as a volunteer on a club
- [ ] Once signed up they should be renavigated to the dashboard where get a notification saying "The Dojo has been told you want to volunteer" and are introduced to the path of progression.
- [ ] Send an email

[2019-02-04 11:42] conoramurphy-zz opened #1234 "Clean up zen locale information so it's easily reportable"
**Business Case**
CoderDojo locale information is very poorly stored. We need to clean this up so it's easy for the community to report on and contact people around it.

**Detail**
Currently, regional data, as you see in the API request https://zen.coderdojo.com/api/2.0/dojos, is very messy and is only useful on the exact location and the country fields.

My current proposal of what we should stor

[2019-02-04 12:40] Wardormeur opened #1235 "Allow CDF admins to delete users"
The goal is to allow soft and hard delete by CDF admins of users accounts, as well as any related data (profiles and children profiles, applications, memberships).
Soft delete should be used for deletion request in order to keep the statistical data, while hard delete should be used for any duplicate account, test account or bugged accounts.

[2019-02-04 13:34] conoramurphy-zz opened #1236 "Clean up "Where did you hear about CoderDojo" answers"
**Business Case**
The community team have researched and decided on a clarified set of answers to the "How did you hear about CoderDojo" question in the Start a Dojo form.

**Detail**
https://docs.google.com/document/d/1XxRrkV3DvnftCOI8KilMDVsOcIA-MeBbj4qUHTlt4ts/edit

**To be decided**
What happens to unmapped answers.
Whether we can add the "more detail" answer to all questions.

Previous | New

[2019-02-05 13:57] Wardormeur commented on #1235
Update
Middleware : https://github.com/CoderDojo/cp-zen-platform/pull/1333
Frontend: https://github.com/CoderDojo/cp-zen-frontend/pull/236
Club-service: https://github.com/CoderDojo/clubs-service
Users-service: https://github.com/CoderDojo/users-service
Events-service: https://github.com/CoderDojo/events-service/pull/25
TBD : cp-local-development to automatically install those new services

Clubs-

[2019-02-05 16:22] Wardormeur commented on #1235
cp-local-development: https://github.com/CoderDojo/cp-local-development/pull/79

[2019-02-07 16:19] Wardormeur opened #1237 "Zen's CI pipeline is broken."
Cypress only.
Issue is very likely related to the version of Chrome running in CCI (Chrome 72), compared to the one we have locally (chrome 67)
An upgrade of cypress "might" solve it, or trying to fix chrome versions in CCI as well

[2019-02-07 16:25] Wardormeur commented on #1235
Closing, all PRs have been merged.
Process will be monitored in the next weeks to look for any specific issues

[2019-02-07 16:25] #1235 closed, assigned to Wardormeur

[2019-02-07 17:10] conoramurphy-zz opened #1238 "Redirection after Register Form should be to the dashboard"
**Business Goal**
The Zen dashboard is the focus and start of our UX flows. The prospective volunteers will have a much better experience if they land on the dash after they register.

**Current behaviour**
If you go, not logged in, through here https://zen.coderdojo.com/ and go to register. You end up here https://zen.coderdojo.com/register/user (to note most registrations are meant to happen "in

[2019-02-08 16:08] Wardormeur opened #1239 "Backport selenium tests to cypress"
Some time ago last year, we tried cypress and are definitely fond of it : the ability to define API responses ends up avoiding to mock 100 test data which are shared between each tests. Cypress allows us to make each tests independent one from another, covering more scenarii with less hassle.
The task here is to migrate all selenium tests into cypress. It's quite huge, so feel free to split it by

[2019-02-08 16:10] #1237 closed, assigned to Wardormeur

[2019-02-08 16:11] Wardormeur commented on #1238
Note that this shouldn't break flows such as accepting an invite

[2019-02-11 11:28] conoramurphy-zz opened #1240 "Allow Data studios to read daily stats from Zen"
#### Dojo data regularity

Since we are reading stats and data from the data warehouse, making it as current as possible helps the dependability for the community team a lot.

At the least, we should guarantee and add last day of the month backup. So it's always fresh data when they report on the first of each month.

If it was feasible to do daily backups that would be best as it's simpler for ev

[2019-02-11 11:33] Wardormeur commented on #1238
Reviews available :
https://github.com/CoderDojo/cp-zen-platform/pull/1334
https://github.com/CoderDojo/cp-zen-frontend/pull/238

[2019-02-11 11:43] Wardormeur opened #1241 "[zen-frontend] Ensure that pre-commit runs the linter"
I regularly run into a PR that doesn't pass the linter, often due to missing semicolon or spacing.
By adding it to the pre-commit, this ensure a PR is reviewed when all steps are green, instead of the developer coming back after the CI tests passes.

[2019-02-11 14:05] #1238 closed, assigned to Wardormeur

[2019-02-12 11:29] Wardormeur commented on #1234
There is an inherent problem here for updating current data :
- it means we either need to have retro-compatibility due to the leads having the location information and hence we need to update dojos and leads (which is json-based and quite the extra work)
- or we do not care about leads and only about dojos (which.. is a mediocre idea considering a dojo is just a formatted and saved lead, and both

[2019-02-12 12:01] Wardormeur commented on #1234
First LEET PR for front-end:
https://github.com/CoderDojo/cp-zen-platform/pull/1337

[2019-02-12 12:09] conoramurphy-zz commented on #1234
For me "It means we either need to have retro-compatibility due to the leads having the location information and hence we need to update dojos and leads (which is json-based and quite the extra work)" is the only option that looks sensible above. Would the frontend not break if Leads and Dojos aren't using the same info?

[2019-02-12 12:15] Wardormeur commented on #1234
Well, it's code, everything breaks at some point and needs fixing. Now, for sure i'd prefer to avoid that scenario as it branches the code even more and makes this task to be less efficient as it provides the data only at one point, but that's another alternative than the one I started.

[2019-02-12 15:16] Wardormeur commented on #1234
Geocoding works by "level" of administration, where we use the first level as a state, and the second level as a county.
Considering country>state>county as a hierarchical representation of a location, and in case (like Dublin) where no state is returned, should we map the first level of hierarchy to the county, or the state ? @conoramurphy

[2019-02-12 15:21] conoramurphy-zz commented on #1234
To me I would map Dublin && Alaska, for example, both to the second level. I might be missing some negative implications of that if you can think of any?

Do you think both would map to region here https://support.google.com/datastudio/answer/7065037?hl=en?

[2019-02-12 15:31] Wardormeur commented on #1234
None, apart than accepting that state can be null. For example, Germany doesn't have states, nor county, but only Provinces, which mean we can either map them to a county or a state.
At the same time, google returns sometimes returns the city as the 2nd level of administration. Hopefully that would be consistent in the same region : as long as grouping is possible in a equivalent area, i think tha

[2019-02-12 15:44] conoramurphy-zz commented on #1234
Ya that makes sense. We can transform the data if needed for GDS. Seperate concerns.

[2019-02-13 10:47] Wardormeur commented on #1234
Another issue I bring here is that not all dojos have proper coordinates, which is the easiest way to get information on the location.
Solution 1 is to manually solve those only for verified (65) dojos
Solution 2 is to fallback to another call to find from the placeName, but there's not guarantee it'll work as the front-end didn't find it in the first place.

[2019-02-14 13:39] ArayB commented on #1236
Just to clarify, the entries that read [no replacement, leave in db] should not appear in the select on the form any more.
Previous answers for those options will stay in the database.

[2019-02-14 14:16] conoramurphy-zz commented on #1236
Exactly.

[2019-02-15 12:00] Wardormeur opened #1242 "[Zen-frontend] Loading a Dojo page by id redirect to the slug, but doesn't display the content"
Take /dojos/the-dojo-id, the dojo page should navigate to the Dojo's slug and display information.
I believe a regression happened that we didn't catch
This is visible from My-Dojos page when clicking on "View" as a dojo-admin for example.