[2019-02-18 12:56] Wardormeur commented on #1234
Data has been backported.
New dojos will have this data as well
Will work now on the port to the warehouse

[2019-02-19 10:48] Wardormeur commented on #1234
Added to MC.
I think we're good ?

[2019-02-19 10:54] conoramurphy-zz commented on #1234
There's a few GB countries with no state (england etc.) in mailchimp. Is that meant?

![screenshot 2019-02-19 at 10 51 47](https://user-images.githubusercontent.com/3603234/53010001-a56f7680-3434-11e9-9dc3-7be5175e232a.png)

[2019-02-19 11:04] Wardormeur commented on #1234
Ok, I'm back onto it..

[2019-02-19 15:15] #1236 closed, assigned to ArayB

[2019-02-20 10:26] Wardormeur commented on #1234
76 of those subscribed still don't have a county. My understanding of it is that they'll be updated at next dump.

[2019-02-20 11:20] conoramurphy-zz commented on #1234
Cool. I'd say close and move to omintoring and we can do a final check next week. Thanks a million!

[2019-02-20 11:25] #1234 closed, assigned to Wardormeur

[2019-02-20 11:26] Wardormeur commented on #1234
Added monitoring

[2019-02-20 15:31] conoramurphy-zz commented on #954
You can currently set amount for tickets so I consider this fulfilled.

[2019-02-20 15:31] #954 closed

[2019-02-20 15:39] conoramurphy-zz opened #1243 "Review the volunteer dashboard to suggest materials and next steps"
### Business Goal
For any new volunteer (first 3 months), make sure we have clear next steps on the dashboard. We hope to see increased engagement and increased retention.
https://docs.google.com/document/d/1xVZSRaiZ_gsvaVWwFsQkFLTNYiRvu1drD31XULofHeo/edit#

### Task
Tweak messaging and the "This is the most important things" section on the dashboard for new volunteer experiences.

[2019-02-20 15:41] conoramurphy-zz opened #1244 "As a volunteer, I want to easily volunteer at clubs and not be left in limbo."
### Business Goal
Volunteers can currently request to join any club. But are stuck in limbo if there's no reply

### Task
- [ ] Do analysis https://github.com/CoderDojo/community-platform/issues/1247
- [ ] Add in something on the dashboard for the volunteer to show they have "N number of pending requests"
- [ ] Make the notification go the dojo email AND the main champion.

#### Dashboard task det

[2019-02-20 15:42] conoramurphy-zz opened #1245 "As a volunteer, if I register as a volunteer set my user role to volunteer"
This is only the start of this ticket.

**Business Goal**
The point here is that if someone signs up as a volunteer we should know. This is because as people start to try to take actions on a pipeline of volunteers we need to know not only when a volunteer finds a club but also when they do not. This is so co-ordinators and others can action and reach out to them.

There are a few possible variati

[2019-02-20 17:05] Wardormeur commented on #1240
After further investigation, solution is :
 - [x] Remove --jobs from pg_dump, paralyzing the db
 - [x] Move recent dumps to /daily
 - [x] Create another dump per week into /weekly
 - [x] Change recovery of dumps by warehouse to /daily instead of /
 - [x] Add a s3 lifecycle rule to clean-up /daily for anything older than 90 days (270 dumps on daily)
 - [x] Add a s3 lifecycle rule to clean-up  /week

[2019-02-20 18:34] Wardormeur commented on #1240
Done and added monitoring for the next year to look at

[2019-02-21 11:39] #1242 closed, assigned to Wardormeur

[2019-02-25 11:46] niccokunzmann opened #1246 "ICS event subscription"
I am building a calendar based on the events. I would like to subscribe to the events via an ICS link.
I think, this is [not yet implemented](https://github.com/CoderDojo/community-platform/search?q=ICS&type=Issues).

How would one go about it to implement this? Which parts of the code should be touched?

Another place would be to use an external service. The API already exports enought informatio

[2019-02-25 11:54] Wardormeur commented on #1246
Hey Nicco
There are a couple of PR to work on this already, the main issue being timezone: without it, the ICS will be invalid. So the main requirement before that is to be able to save the timezone of the event, and the only source we use (which isn't reliable)  is the creator's one (the champion, when saving the event); and considering we were regarding the rework of event creation, I delayed th

[2019-02-25 12:06] niccokunzmann commented on #1246
That would be good, I think. I as a creator could be in a different time zone or use a different browser at the same location at the moment I create the event.
However, people going to the dojo usually assume the dojo to advertise its time in the local time.

A short workaround would be what I have seen in the [discourse events plugin](https://github.com/angusmcleod/discourse-events/blob/6570a7593

[2019-02-27 09:38] Wardormeur commented on #1246
The scenarios I thought of so far were :
 - embedded with the "new event" notification email
 - available through the GUI to "add to your calendar" at the end of the booking flow (parents/mentor)
 - available through the GUI "somewhere" (?) for champions as a personal reminder
Mind if I ask you "how" you would see it being used ?
The reason I'm asking that is that "if" we skip the embedded, making

[2019-02-27 10:14] niccokunzmann commented on #1246
I think of these use-cases

  * An ICS subscription for all dojos one is part of, not for a single one.
      o Available through the GUI
      o Can be sent as link in the E-Mail

All other use-cases can be mapped to this one.
I would think that this is a nice question to give to the community to
vote for, e.g. a random sample
of people subscribed to the platform.

I do not think it is much usefu

[2019-02-27 12:15] Wardormeur commented on #1245
We went full loop here.
We already had that before, and the problem was parents were registering as whatever they would (sometimes "champion", sometimes "volunteer", and eventually "parent"). That doesn't solve the problem of a user being a mentor in a Dojo, and a champion in another.
Even if we set a flag to know that the user wants to be a volunteer, what's the goal behind? What are we doing wit

[2019-02-27 12:17] Wardormeur commented on #1244
The current action is a one-click.
What's the expectation here in that email to be written?
Why would we need to record a copy ?
Edit: outdated

[2019-02-27 13:04] conoramurphy-zz commented on #1245
Updated description. I think it might make sense to go through the volunteer flows in detail with the team (Monday?). We have needs to basically standardise what we collect and this is a step in building fully coherent volunteer flows down the line.

[2019-03-01 16:17] Wardormeur commented on #1246
Fair feedback regarding the emails (cc @conoramurphy )
I like the idea of the whole planning thing, basically an exportable version of /dashboard/my-tickets?
My original idea was based upon static file as there is very few needs to change the file (create once and reuse), but I can see a simpler version being easier (passing down the tz on request as you said) if we export it from the GUI (as a fi

[2019-03-02 15:41] Wardormeur commented on #1246
Hey @niccokunzmann
I think your solution to not generate a static file is actually better. The reason for that is ICS supports information like the attendants : that would let us to have a richer export of the event .
I started a simple version over there : https://github.com/CoderDojo/events-service/pull/27. There is still work to use the tz, work with a list of events and such; but overall rathe

[2019-03-02 17:43] niccokunzmann commented on #1246
Hm. My calendar (Thunderbird) GETs the ICS file every one hour. I think that is expected.

I think, it is ok to subscribe to one dojo. I also think, we could make several issues for this: one minimal working prototype and other extensions to it.

MWP: ICS event export with time zone as parameter, manually set, for a dojo. The event contains a link to the event page.

For the minimal solution, no-o

[2019-03-04 12:44] conoramurphy-zz opened #1247 "Do an analysis of volunteer applications in limbo for active and inactive clubs"
**Business Goal**
We are suspicious that a high number of volunteers are applying to join a club but never being accepted. This analysis task is to see how much of this affects us.

**Analysis Tasks**
- [x] See how many volunteers have 1 or more pending application
- [x] See top countries
- [x] See if it's grouped by clubs (are there clubs with lots of pendings?)
- [x] See if it happens for clubs

[2019-03-04 13:00] conoramurphy-zz opened #1248 "Give a clear action to "did not find a dojo to volunteer at""
### Business Goal
We have no idea currently what to do if someone wants to volunteer but cannot find a match. We should give them an action to complete.

### Task
Investigate and see what we can come up with.

[2019-03-04 14:08] Wardormeur commented on #1247
- numbers of dojos with requests where the user is not part of the Dojo : 610
[code]

Members
[code]
See document for anonymised data
https://docs.google.com/spreadsheets/d/1BLe5RqEXCtsgfPMBDqkdQrEVQPYAzvrE2QQLHsHA0_w/edit#gid=0

[2019-03-04 17:46] Wardormeur commented on #1247
Report:
https://datastudio.google.com/open/1dUMpxkhLBLd3qpXmm7PpifAJYH0mO9__

More than 600 dojos with unsolved invitations for a total of 1400 unanswered requests
62% are for dojos in UK/GB/USA, and they represent ~33% of all Dojos.
Inactive Dojos counts for 1/3 of all Dojos.
Members generally do 1 requests (66%).
Dojos with events receives slightly more requests than those without.

[2019-03-04 21:58] Wardormeur commented on #1246
So, there's an issue: the ics package doesn't support timezone apparently. (https://github.com/adamgibbons/ics/issues/52)
I'll look into implementing it, at least a basic version, in the ics package but we could try without TZ and see how each provider works in term of import : does it take the user's/system TZ ? if so, that could simplify our deployment for a MVP version.
The issue will be for ev

[2019-03-05 00:54] Wardormeur commented on #1246
Added the PRs for the API server and the frontend

[2019-03-05 06:39] niccokunzmann commented on #1246
I implemented ical event unfolding in Python
<https://github.com/niccokunzmann/python-recurring-ical-events>. As I
read your message, I remember: time zones are not a requirement for dates.
I.e. I have seen this in this Calendar
<http://www.officeholidays.com/ics/ics_country_noregion.php?tbl_country=Germany>.

DTSTART;VALUE=DATE:20080101
DTEND;VALUE=DATE:20080102

[2019-03-05 08:55] Wardormeur commented on #1246
That's actually a different implementation :)
That means the date is stored as a floating time (https://www.w3.org/International/wiki/FloatingTime)
[code]
What I was wrong at, though, is to assume a UTC date should need a timezone.
I'll revert that, and I think we can give it a go ?

[2019-03-05 16:18] conoramurphy-zz commented on #1243
First Suggestions here

https://share.goabstract.com/b0212c5e-d6a6-4c86-bf85-085155265802

[2019-03-05 19:59] Wardormeur commented on #1246
Apart from the missing endpoint for the URL attribute (which I'm unsure how it's being used) which I haven't been able to understand the use for (both google calendar and gnome-calendar ignore it, so it might be either an .ics, or anything else?), I think it's production ready.
if @conoramurphy and (@DanielBrierton @ArayB or @nyashamaphosa) could have a look, that'd be great :)
Cheers;
W.

[2019-03-06 11:13] conoramurphy-zz opened #1249 "Make potential volunteers contactable in mailchimp"
Add a user role/label in mailchimp `potential-volunteers` that corresponds to has application but has not been accepted.

[2019-03-06 11:16] conoramurphy-zz opened #1250 "Send better communications when a volunteer applies to join a dojo"

[2019-03-06 12:08] Wardormeur opened #1251 "Show notification of pending requests to join for a mentor"
Reference the case 2 of https://github.com/CoderDojo/community-platform/issues/1243

[2019-03-06 13:46] Wardormeur commented on #1243
So, a couple of points:
1. Even if we hide it after 3 months, we can't currently tick anything, there are no storage dedicated to that (and unsure we'd like to)
2. The scenarios for showing it needs to be defined. I think not only 3 months (which is long for the life of a Dojo) but as well as "not being part of a Dojo with an event", elsewhat the whole screen's going to turn purple. As well, to me

[2019-03-07 10:47] conoramurphy-zz commented on #1243
So I'm proposing a simpler version.

There are theoretically 4 stages to a volunteer path on CoderDojo

1. Just signed up and haven't even applied to a Dojo.
2. Applied to a Dojo and no reply *(biggest opportunity here from the data)*
3. Been accepted recently and/or go to an actual event, first 6 months
4. Have been going to events a lot and maybe been 6 months in a Dojo *(secondary opportunity h

[2019-03-07 14:25] conoramurphy-zz commented on #1243
###Proposal in detail
https://share.goabstract.com/b0212c5e-d6a6-4c86-bf85-085155265802

Three stages are now included in this ticket.

**First state** : New volunteer no club or applications to join. Tweaked message in above screens.
**Second state** : Volunteer with open applications, no club. Second screen above, new card with suggested next steps and some mild time fillers.
**Third state** : V

[2019-03-07 15:02] Wardormeur commented on #1243
First state:
 - not defined how we identify that case, we don't know he wants to volunteer without requesting it in the first place
Second state:
 - OK, not a big fan of the design, but can probably work around it and offer something a tad different
Third:
 - If you're already part of a club, I wouldn't show the list here. You already have experience with a Dojo, either as a Ninja (unlikely) or as

[2019-03-07 15:12] conoramurphy-zz commented on #1243
For `not defined how we identify that case, we don't know he wants to volunteer without requesting it in the first place ` Should have clarified that should generally just be the default message for all users that have 0 actions done and haven't created a lead or anything.

Fair enough on the 3 months. It's always an arbitrary choice. It can be 30 days on the list of actions part. The 3 months is

[2019-03-07 16:37] Wardormeur opened #1252 "Change default dashboard message when the user haven't any interaction"
Refers to scenario 1) of https://github.com/CoderDojo/community-platform/issues/1243

[2019-03-08 17:20] Wardormeur commented on #1246
PRs to be reviewed are the following :
https://github.com/CoderDojo/cp-local-development/pull/82
https://github.com/CoderDojo/cp-zen-frontend/pull/248
https://github.com/CoderDojo/cp-zen-platform/pull/1351
https://github.com/CoderDojo/events-service/pull/27

[2019-03-11 15:45] Wardormeur commented on #1243
So, the way forward can be seen in 2 ways:
 1) migrate endpoints to v3 for join_requests, stick to the current db structure
 2) migrate endpoints to v3 for join_requests, change the db structure to reflect its nature

The second point means migrating the join_requests from the user profile and the user db to the cd_usersdojos (club membership) table from the dojo db. However, this impact retro-com

[2019-03-11 16:27] ArayB commented on #1243
At some point we are going to have to pay off this tech debt and start making these changes to db schema/ re-organising of services.
Do you have any estimates for how long each solution would take? You say the length of solution is the same, but then that one is way more work so I'm a little confused.

If we go with the efficient solution and leave the db as it is what is the outcome, the services

[2019-03-11 16:42] Wardormeur commented on #1243
Sorry, by "the same", I meant to say that the length of doing 2) is as long as twice 1), due to the dependencies of the front-end to that API. That would force us to deprecate that part of the v2 API since the back-end would be different; and hence requiring either a rework of the front by either using the new API despite being in the ng1 version; or a total rework of the page in vueJs.
If we go w

[2019-03-12 10:16] #1240 closed, assigned to Wardormeur

[2019-03-21 16:35] Wardormeur commented on #1252
List of PRs to be reviewed :
Frontend:
 - https://github.com/CoderDojo/cp-zen-frontend/pull/249

Backend:
 - https://github.com/CoderDojo/users-service/pull/3
 - https://github.com/CoderDojo/clubs-service/pull/5

Middleware:
 - https://github.com/CoderDojo/cp-zen-platform/pull/1354

Translations:
 - https://github.com/CoderDojo/cp-translations/pull/96
 - https://github.com/CoderDojo/cp-translation

[2019-03-22 16:25] conoramurphy-zz opened #1253 "Currently does not work on EE"
Orginial comment here https://forums.coderdojo.com/topic/747/connection-drops-accessing-zen-coderdojo-com-over-ee-4g-in-the-uk

Pasting message here

[code]

[2019-03-25 09:35] #1252 closed, assigned to Wardormeur

[2019-03-25 10:36] Wardormeur commented on #1243
For 2nd state, should we filter the requests to join created after a certain date? I'd like to avoid a weird experience with requests to join which are 3 years old.
@conoramurphy

[2019-03-25 11:47] conoramurphy-zz commented on #1243
The "3 months" hiding point should cover that. This is only relevant for the first 3 months.

[2019-03-25 11:47] Wardormeur commented on #1243
Fair point, sorry.

[2019-03-25 11:52] conoramurphy-zz commented on #1243
Np, a lot of content in this thread.

[2019-03-25 14:48] Wardormeur commented on #1251
Current status:
![Screenshot from 2019-03-25 14-19-02](https://user-images.githubusercontent.com/1755357/54926814-faf1e400-4f08-11e9-8d27-40d68014abab.png)
Considering this screenshot, I'd consider adding the date (or how long in days since he requested it) when the join request was created, so the user doesn't ask himself "When did I apply already?" or "Should I search another one now or wait a b

[2019-03-25 16:46] Wardormeur commented on #1251
So that we're clear @conoramurphy :
 -  the "join request" section should display only if your join request is less than 30 days
 -  the info box should display if the join requests are being displayed (less than 30 days) and the user account is less than 3 months
Is that right or I messed up the time ranges?

[2019-03-26 10:21] conoramurphy-zz commented on #1251
@Wardormeur that's correct.

[2019-03-26 16:17] #1251 closed, assigned to Wardormeur

[2019-03-26 16:19] Wardormeur commented on #1250
This has been started when the champion has been added to the list of recipient of the email, along the Dojo's email.
A rework of the email and the endpoint to validate or unvalidate a request shall be done to cover this task

[2019-03-27 09:39] #1247 closed, assigned to Wardormeur

[2019-03-27 16:21] Wardormeur commented on #1250
WIP:
 Translations/email templates:
https://github.com/CoderDojo/cp-translations/pull/100

Backoffice:
https://github.com/CoderDojo/users-service/pull/4

[2019-03-28 11:37] Wardormeur commented on #1250
Permission:
 - https://github.com/CoderDojo/cp-users-service/pull/306

[2019-03-28 15:19] Wardormeur commented on #1250
Clubs:
 - https://github.com/CoderDojo/clubs-service/pull/6

[2019-04-01 11:12] Wardormeur commented on #1250
Frontend:
https://github.com/CoderDojo/cp-zen-frontend/pull/251

[2019-04-01 14:02] Wardormeur commented on #1250
Middleware:
https://github.com/CoderDojo/cp-zen-platform/pull/1356

[2019-04-01 14:16] Wardormeur commented on #1250
Translations, this time for the strings used in the frontend :
https://github.com/CoderDojo/cp-translations/pull/101/files

[2019-04-02 15:01] Wardormeur commented on #1250
We need to block the v2 API to request a membership to ensure it doesn't try to send the old template, and crash

[2019-04-04 13:39] Wardormeur commented on #1253
Multiple solutions to that:
 - Drop ipv6 support in Route 53 (meh solution) by removing the AAAA record
 - Solve the support in the ELB to ensure ipv6 is being carried over (the ELB are created by kops/handled in kubernetes, so let's avoid manual configuration changes) or translated (apparently, Classic ELB are translating ipv6 to ipv4 https://docs.aws.amazon.com/elasticloadbalancing/latest/classi

[2019-04-04 14:44] Wardormeur opened #1254 "Referer path get corrupted"
If you land on /start-dojo and you're not logged-in, you're correctly redirected to /login. However, the params seems to be mingled, resulting in a leading ~ instead of a %
What we have :  /login?referer=~2Fstart-dojo
What we should have: /login?referer=%2Fstart-dojo
Suspects are : angular 1, double "encoding" (from Vuejs to ng1), double "encoding" (hapiJs)

[2019-04-04 15:50] #1254 closed, assigned to Wardormeur

[2019-04-04 16:28] grega commented on #1253
@Wardormeur Interestingly, whilst the original post erroneously identifies Cloudflare's IPv6 implementation as the problem here, could we not enable Cloudflare's IPv6/v4 proxy for the zen / load balancer subdomains? This would take care of translating IPv6 requests to the IPv4 ELB.

[2019-04-05 08:52] Wardormeur commented on #1253
Went for your solution, indeed simpler than the others.
The test seems to work, will verify with the user on the forum

[2019-04-05 11:07] Wardormeur opened #1255 "Race condition in redirection between Angular1 and VueJs"
When hitting /start-dojo, it gets redirected to /dashboard/start-dojo. When the user is un-authenticated, the /dashboard will redirect to /login with the proper referer.
However, /login is on a different stack, namely VueJs. A reload is necessary in order to load the proper front-end files.
To do so, we call window.location.reload(). The issue lies in the redirection happening in parallel to the /

[2019-04-08 09:58] #1255 closed, assigned to Wardormeur

[2019-04-08 13:08] Wardormeur commented on #1250
Previous comment has been added on cp-zen-platform, redirecting old users and making the v3 API a bit flex to ensure retro-compatibility.
TBD:
 - Merge cp-translations
 - update cp-translations in cp-zen-frontend
 - update cp-translations in cp-email-service
 - Merge the rest of it

[2019-04-10 11:37] Wardormeur commented on #1246
Done and gone :)

[2019-04-10 11:37] #1246 closed, assigned to Wardormeur

[2019-04-10 15:16] niccokunzmann commented on #1246
@Wardormeur Thanks for the implementation. How can I test this? How you be sure this can be closed?
What is the user story behind this?

Here is one:

User Story 1

User Story 2

[2019-04-10 15:17] Wardormeur commented on #1246
Hey Nicco :)
It's on the left column of the Dojo page, under "Time"
Edit cause I read too fast:
So right now, it only supports the first user story. If we see some usage, or anybody wants to work on it, the 2nd one could be done too ;)

[2019-04-10 15:20] niccokunzmann commented on #1246
Ohhhhh. It is not blue!! O.O Erm, I mean, I tested it as a user who erm is not so fluent in viewenig web pages ;)

[2019-04-10 15:20] niccokunzmann commented on #1246
Thanks for the reply!

[2019-04-10 15:21] niccokunzmann commented on #1246
I think, making it blue can be a user story for first-timers

[2019-04-10 15:22] niccokunzmann opened #1256 "[HTML/CSS] Make the calendar subscribe link blue"
When viewing a [dojo page], one can subscribe to a calendar.
This link "Add to your calendar" should be blue so people know it can be clicked.

[dojo page]: https://zen.coderdojo.com/dojos/de/brandenburg/potsdam/potsdam-hpi

[2019-04-10 15:22] niccokunzmann commented on #1246
https://github.com/CoderDojo/community-platform/issues/1256

[2019-04-11 14:25] Wardormeur commented on #1250
We're live

[2019-04-11 14:25] #1250 closed, assigned to Wardormeur

[2019-04-15 13:51] Wardormeur opened #1257 "Duplicate Dojos are being created out of a single lead"
During the investigation of a blocked lead, we stumbled upon the case of multiple Dojos being generated from a single lead. While most of them were old (~2017), we have a case for a duplicate dojo in March.
Duplicate dojos for a single lead will lead to inconsistencies in checking current leads status as well as references between dojos & leads (such as the "verification process view for CDF")
Thi

[2019-04-15 14:33] Wardormeur opened #1258 "Event creation form: rebuild the form UI"
Epic:
https://github.com/CoderDojo/community-platform/issues/1230
This ticket is about building a new UI based upon the mockups described in the Epic
![](https://user-images.githubusercontent.com/3603234/56135007-ba294000-5f87-11e9-8bd6-149ab675ebf3.png)
The block for description and address are extensible and folded by default.
The structure of the datepicker and timepicker are to be defined (sim

[2019-04-15 14:41] Wardormeur commented on #1230
Question from Slack:
Design for the date: datepicker vs 3 number fields ?
Design for the hours: hourpicker vs 2 number fields ?
What are the default values for the options from the current create event form? (notify on applicant and such)

[2019-04-15 14:43] Wardormeur opened #1259 "Event creation form: default event data to the previous one"
Epic:
https://github.com/CoderDojo/community-platform/issues/1230
Requires https://github.com/CoderDojo/community-platform/issues/1230
Porting the previous "copy event" to a simpler state: copy the previous state of an event by default.
This means :
 - the description should be defaulted to the latest event's one,
 - the address type and value should be defaulted to the latest event's one
 - the d

[2019-04-15 14:44] Wardormeur commented on #1230
From https://github.com/CoderDojo/community-platform/issues/1259#issue-433321614, can you confirm that "Any unexpected ticket (coming from the old event UI) should be resetted to the 2 default ones" ?

[2019-04-15 14:50] Wardormeur opened #1260 "Event creation form: Navigation"
Epic: https://github.com/CoderDojo/community-platform/issues/1230
Requires https://github.com/CoderDojo/community-platform/issues/1259

Url is dependent of the dojoId, as a member can have multiple dojos. Url should support 2 state, from new event, to edition of an existing one.
Old url should be kept, but references to "manage an event" should go to the new UI.
References are in (from memory)
 -

[2019-04-15 14:50] conoramurphy-zz commented on #1259
#### To clarify

- the description should be defaulted to the latest event's one *or the dojos if there is none*
- the address type and value should be defaulted to the latest event's one *or the dojos if there is none*
- the date should be bumped to the next occurence of the day in the future (previous event on Monday 23; form being created 3 days later as a new event; new date is Monday 30) _I t

[2019-04-15 14:54] conoramurphy-zz commented on #1230
I don't really mind here. Are you saying 3 number fields is better or 3 number fields is easier (both valid)

Same as above. Which do you rather and why. I just went with common styles used in google calendar.

Asked for clarification on that ticket

[2019-04-15 14:56] Wardormeur commented on #1259
Agreed

Which is the Dojo one by default, but fair as this is dictated by the front-end

Agreed on time, I didn't mention it.
For day, the one described is the current behavior, and is honestly quite useful, I'm hoping we keep it, but it's your call.

It depends if you put the day in it or not. No hard feeling on that one, you decide.

It means when copying an event, it copies all these fields, bu

[2019-04-15 14:59] Wardormeur commented on #1230
Number fields are annoying for international, because of the ordering. However, date pickers are a generally hated component when it comes to UX.
Same for time, annoying due to PM/AM only being an english thing.
Thoughts @DanielBrierton ?

[2019-04-15 15:01] conoramurphy-zz commented on #1259
Agreed on time, I didn't mention it.
For day, the one described is the current behavior, and is honestly quite useful, I'm hoping we keep it, but it's your call.

Had not realised this. Once we use somethign very akin to the current logic I'm fine with this.

Let's leave the title blank.

It means when copying an event, it copies all these fields, but ensure that the status of the new event will n

[2019-04-15 15:06] Wardormeur commented on #1259
We're speaking of the same thing, except I'm using the old terminology. By copying, I mean defaulting for a new event. I'm not speaking of bringing back the action, just that the new event will be based off the previous event. That's where some things are tricky, because very few of the previous events from existing Dojos will fit the new format. Hence those questions regarding "what to do with th

[2019-04-15 15:11] Wardormeur opened #1261 "Event creation form: enable edition"
Epic :
 - https://github.com/CoderDojo/community-platform/issues/1230
Requires https://github.com/CoderDojo/community-platform/issues/1258
This means:
 - editing an event created with the old UI (more than 3 ticket types fitting our default model) should redirect to the old UI
 - cannot edit a published event (cc @conoramurphy, this is often asked to be changed by champs, but when booking as a par

[2019-04-15 15:53] Wardormeur opened #1262 "Event creation form: saving an event"
Epic: https://github.com/CoderDojo/community-platform/issues/1230#issuecomment-483288199
Design a set of API endpoints to be able to save an event, from the events-service perspective.
This doesn't take into account the middleware.
New event (internal):
 POST /events
Edit event (internal)
 PUT /events/:id
(Change state )? (internal)
 PATCH /events/:id/status

Separating the content of the event fr

[2019-04-15 16:04] Wardormeur opened #1263 "Event creation form: notifications and exposing internal endpoints"
Epic:
https://github.com/CoderDojo/community-platform/issues/1230
Requires https://github.com/CoderDojo/community-platform/issues/1262
This issue describe the glueing of the different endpoints created in https://github.com/CoderDojo/community-platform/issues/1262 in order to expose an usable v3 API by the frontend.
When publishing an event, notifications to dojo's members should be sent.
When can

[2019-04-15 16:26] conoramurphy-zz commented on #1230
Talked about in Slack. Particularly gregwood confirmed that

three fields for day, month and year are way easier to use. the month should be the names, not numbers
maybe consider separating the Event date label heading into two: Event date and Event time

So I'll take another run at a version of the wireframe tomorrow.

[2019-04-16 21:56] CurtisHughes commented on #1256
First time looking into this project, but I can look into updating the color of this link 👍

[2019-04-17 07:49] Wardormeur commented on #1256
If you have any questions, please shout :)

[2019-04-17 09:53] Wardormeur commented on #1230
Bump on

[2019-04-17 10:01] conoramurphy-zz commented on #1253
Checked on someone else's 4g EE. Works now. @Wardormeur happy to move to done?

[2019-04-17 10:03] conoramurphy-zz commented on #1230
- Notify on applicant (false)
- ticket approval (false)
- public event (true)

Make sense?

[2019-04-17 11:27] Wardormeur commented on #1230
We've looked into the librairies, and it seems that https://chronotruck.github.io/vue-ctk-date-time-picker/ is a decent solution if we're going the library way.
My only issue with normal html fields comes down to handling PM/AM for time, and offering an experience which ease the input.
Another alternative is the support of the native datepicker, but the support is not extroardinary (https://develo

[2019-04-17 16:35] CurtisHughes commented on #1256
PR opened: https://github.com/CoderDojo/cp-zen-frontend/pull/253

[2019-04-18 15:32] Wardormeur commented on #1258
Choices to be made :
 - datepicker
 - timepicker
 - UI handling of visibility of expansible sections (address/description)
 - links to ?? on the right side

[2019-04-23 09:00] Wardormeur opened #1264 "Add dojo name to My events's tickets"
When visiting the user's events from /dashboard/tickets (user menu->my events), the Dojo name is not displayed. It's fine if you're part of a single Dojo, but a bit disturbing when running multiple. I've come to ask myself "from which dojo is this event ?" as part of the process of asking myself if I'm around at that time.
I would recommend adding the Dojo name under the event name.
Thoughts @cono

[2019-04-23 09:26] conoramurphy-zz commented on #1264
Ya makes sense to me.

[2019-04-23 12:48] #1253 closed, assigned to nobody

[2019-04-25 10:51] Wardormeur commented on #1249
Wasn't part of the board, so didn't see it until now.
What's the scenario behind that?
Limitation-wise, we're aware that there is a lot of old applications not being accepted while the user is part of a club already: should we filter out if the user is already a member of "any" Dojo, or just of the "current" Dojo, to avoid classifying them by mistake ?

[2019-04-25 10:53] Wardormeur commented on #1245
Is this still valid ?

[2019-04-25 10:55] conoramurphy-zz commented on #1245
Nah close it. It might re-rise in a new form down the line but close this.

[2019-04-25 10:55] #1245 closed, assigned to nobody

[2019-04-25 10:56] Wardormeur commented on #1244
This has been covered by https://github.com/CoderDojo/cp-zen-platform/commit/5bed7dcaa25a791569296c2dc8e4d0d333186642 and https://github.com/CoderDojo/cp-zen-frontend/commit/3dfc15cd3379184c39fe396bc25152229f1b7e3e

[2019-04-25 10:56] #1244 closed, assigned to nobody

[2019-04-25 11:01] Wardormeur commented on #1233
This seems like a duplicate/mix-match of multiple issues/epic, such as https://github.com/CoderDojo/community-platform/issues/1243
Are we continuing on this ?

[2019-04-25 11:03] Wardormeur commented on #1227
Closing, done on https://github.com/CoderDojo/cp-dojos-service/commit/0864a2b8cdc7936f34efbb84a8f6bacea0985037

[2019-04-25 11:03] #1227 closed, assigned to nobody

[2019-04-25 11:07] conoramurphy-zz commented on #1249
I'd leave this. Seems more reasonable to add this to a CRM at this stage.

[2019-04-25 11:07] #1249 closed, assigned to nobody

[2019-04-25 11:08] conoramurphy-zz commented on #1233
Ya this was meant to be more epic-y. Thanks for tidying up.

[2019-04-25 11:08] #1233 closed, assigned to nobody

[2019-04-25 11:21] Wardormeur commented on #1159
Closing, new services are being taken care of, old ones are beyond repairs

[2019-04-25 11:21] #1159 closed

[2019-04-25 11:23] Wardormeur commented on #1149
Closing, the issue is not helpful in the current format. This is taken care of on a rework basis, so that if a screen is being reworked, messaging will be as well.
Considering there is no specific message being targeted, the issue is too broad to be taken care of.

[2019-04-25 11:23] #1149 closed

[2019-04-25 11:55] Wardormeur commented on #1133
Won't fix, event creation/edition is being reworked

[2019-04-25 11:55] #1133 closed

[2019-04-25 11:56] Wardormeur commented on #1103
Closing, this is seneca related.

[2019-04-25 11:56] #1103 closed

[2019-04-25 11:58] Wardormeur commented on #1040
Closing, not happening

[2019-04-25 11:58] #1040 closed

[2019-04-29 14:54] nuala-louise opened #1265 "Birthday Packs - form link to go on CoderDojo dashboard"
The idea is two months before a Dojos birthday/anniversary this is triggered to show up on the Champions dashboard,  telling them to apply and giving them the form link:

“Your Dojo anniversary is approaching - [apply now for your FREE birthday pack](https://docs.google.com/forms/d/e/1FAIpQLScNDxfs7MP4aOA9f8iZPTuNl6NVO2RHpIch5VGwUDiupaGOxA/viewform) to celebrate”

It should stay on the dashboard u

[2019-04-29 15:19] Wardormeur commented on #1265
I would recommend 2 weeks before and 2 weeks after.
Champions are already quite solicited in term of messaging, avoiding the chances of conflict seems reasonable as long as the time range for showing the message is relevant.
That would change from "Your Dojo anniversary is approaching - apply now for your FREE birthday pack to celebrate" to "Your Dojo anniversary was near - apply now for your FREE

[2019-04-29 15:25] nuala-louise commented on #1265
@Wardormeur  The idea is to reach out to them from two months in advance so they apply for the pack and receive it in the post in time to hold a birthday Dojo event using the contents of the pack at the time of their birthday.

Having it two weeks before and after doesn't give us time to receive and review the application, put together and post the pack, them to receive it and host an event on the

[2019-04-30 08:53] Wardormeur commented on #1265
Hum. I understand the logic, yet can't totally agree with it: a dojo running once per month/every 3 weeks is unlikely to change its rhythm. So the "birthday date" is actually, at best, a day out of a 2 week range.
On another subject:
 - what happens if the champion has multiple dojos ? Should we add the Dojo name ?
 - what happens if the champion has multiple dojos anniversary at the same time ? S

[2019-04-30 09:33] nuala-louise commented on #1265
The form linked requires the champion to input the Dojo for which they are applying - if they have multiple at the same time, they can add it in the open text part of the form - so we can check them.

So we can either:

- avoid the name specifically because of the contradiction and let the form deal with multiple birthdays

- add in the Dojo name, and if two happen at once, two separate statements

[2019-05-01 13:36] conoramurphy-zz commented on #1230
![Screenshot 2019-05-01 at 14 32 04](https://user-images.githubusercontent.com/3603234/57019292-f7dfc700-6c1d-11e9-9175-e09450791154.png)

This is basically what I'm thinking. A seperate date selector (as it's a single date not a range), and a time range selector. Does this work with the above library. Splitting them

[2019-05-01 14:05] Wardormeur commented on #1230
Natives splitting are documented here :
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/time
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date
That might be an issue since native input for date/time don't work on IE. We can validate it, but that'll be an issue presenting the error message.

For vue-ctk-date-time-picker, the example for both scenario are displayed

[2019-05-01 14:12] conoramurphy-zz commented on #1230
The lack of Safari support would be more a blocker for native for me.

For the library can you point me to where that does a time range picker by itself? The ones I see are either range, or a time picker and the visual customiser blocks having both those options on at the same time.

Ideally the calendar picker would be

But I'm not overly opinionated here once it's clean and we're not making them

[2019-05-01 14:17] Wardormeur commented on #1230
Apologies, I didn't understand you wanted a time-**range** picker. This doesn't exists, not in native, not in this lib either.
It's going to be 2 fields in both scenario.

[2019-05-01 14:23] conoramurphy-zz commented on #1230
Ok, then I'm happy with trying three different inputs.
A
[Calendar picker] [Start time picker] to [End time picker]

[2019-05-02 10:31] Wardormeur commented on #1256
Closing, thanks a lot @CurtisHughes  !

[2019-05-02 10:31] #1256 closed, assigned to nobody

[2019-05-02 13:25] ArayB commented on #1262
With a PUT /events/:id we'd be overwriting the event definition with the values provided from the frontend, as part of that I think it would be fine to include a status change.
So if you are going from draft to publish you would only need to do a PUT which included changing the status (as well as any other changes to the event).

For just changing the status we could do something like PUT events/:

[2019-05-08 08:40] Wardormeur commented on #1265
![Screenshot from 2019-05-08 09-40-21](https://user-images.githubusercontent.com/1755357/57361874-5e606a00-7175-11e9-9fbe-32c2b61828e9.png)

[2019-05-08 09:22] nuala-louise commented on #1265
Looks great Guillaume!
I think it would be easier to read if it said:
“[Dojo Name], your Dojo anniversary is approaching! Apply now for your FREE birthday pack to celebrate"
Just because the names are so random with the word "Dojo" gets lost in the name, but otherwise this is ace :)
Thank you for making it work! :D

[2019-05-08 10:33] Wardormeur commented on #1260
Vuejs is handled in this commit: https://github.com/CoderDojo/cp-zen-frontend/pull/254/commits/2cd2be3222d70dd16bb452c68ef2fc20b7f7988c

[2019-05-08 14:02] Wardormeur commented on #1265
![Screenshot from 2019-05-08 15-01-05](https://user-images.githubusercontent.com/1755357/57381127-418e5b80-71a2-11e9-82de-1699af68c93f.png)

[2019-05-15 10:57] #1265 closed, assigned to nobody

[2019-06-10 09:38] damienh opened #1266 "As a user I can find the nearest bookable event rather than a list of profiles"
From Tara

From Ross

Slack Thread https://raspberrypifoundation.slack.com/archives/C5FHQ4HG8/p1560151730073700

[2019-06-26 08:20] ArayB opened #1267 "Investigate issues with accepting mentors and champions"
We keep having issues with users being unable to accept invites to be mentors/champions.
Investigate the cause of these and implement a fix.

[2019-07-05 21:26] anmola345 commented on #1006
Hey, I saw that this issue was still not resolved. I'd like to work on it if it still needs some help.

[2019-08-07 08:58] ArayB opened #1268 "Unable to update Dojo image"
Dojo admins are unable to update their dojo image.

At some point in the process we get returned a 401 response.

Need to find the cause and fix.

[2019-08-07 11:12] josephwilk commented on #1226
Spike to identify problems, and better understand the problem.

[2019-08-08 14:18] #1263 closed, assigned to nobody

[2019-08-08 14:18] #1259 closed, assigned to ArayB

[2019-08-08 14:19] #1261 closed, assigned to nobody

[2019-08-08 14:19] #1262 closed, assigned to ArayB

[2019-08-08 14:19] #1258 closed, assigned to nobody

[2019-08-08 14:20] #1260 closed, assigned to nobody

[2019-08-08 14:20] #1241 closed, assigned to nobody

[2019-08-09 11:23] conoramurphy-zz opened #1269 "New event form not sending emails"
**What was expected**
When creating an event with the new form. Emails should be sent when the option is ticked.

**What's happening**
The emails are not being sent. When using the old form it's still sending emails.

**Testing**
Created a dojo on prod for testing. https://zen.coderdojo.com/dojos/ru/petrominsk-arkhangelsk-oblast/test-do-jo

**Technical investigation notes**
Logentries shows `cp-do

[2019-08-11 21:17] iandouglas opened #1270 "Joined a dojo, added my kids, then started a new dojo. My kids are not members of the new dojo"
I "joined" a dojo as a parent, added my kids and they show up as manageable members of that dojo. Fast forward a couple of years, and I've started my own dojo, but my kids don't show up as members of the dojo, so I cannot manage them as the dojo champion to add rewards/achievements etc. I'm guessing that because I can't "join" the dojo that I've created, that perhaps it's the process of a parent "

[2019-08-11 21:19] iandouglas commented on #1224
Still waiting for that phone call to discuss. :)

[2019-08-11 21:23] iandouglas commented on #1087
Still hoping this becomes something we can do as dojo champions. Maybe a shared pool of badges that we can "add" or "remove" from our dojo so Zen doesn't have a thousand badges for the same thing? I'd also like to see the platform archive some badges that are no longer feasible like the 2016 events.

[2019-08-13 09:22] conoramurphy-zz commented on #1230
It's observed as working. Waiting until the end of August for monitoring results.

[2019-08-13 09:22] #1230 closed, assigned to ArayB

[2019-08-15 14:23] #1269 closed, assigned to josephwilk, ArayB

[2019-08-16 09:46] conoramurphy-zz opened #1271 "Cursor moving around when edit event descriptions"
**What's expected**
When you edit an event (https://zen.coderdojo.com/dashboard/dojos/f2a644c3-4266-4f92-a831-c76297d7bd67/events/bcf85b57-2d29-46a9-989e-6ce7ece2062b/edit for example) the cursor stays where you put it when typing.

**What's happening**
The cursor jumps to the end of the field as you type.

[2019-08-21 14:03] josephwilk opened #1272 "Error messages on failed login for CoderDojo are not being shown."
Reported from a support issue where users where unable to login and were unsure why.
https://raspberrypifoundation.slack.com/archives/C5FHQ4HG8/p1566293263129300

[2019-09-03 11:33] grega opened #1273 "Waiting list feature fails on a full event"
A full event doesn't allow a waiting list to be created.

It would see that a new ticket type for the waiting list needs to be added, but the event form won't allow any ticket options to be selected:

![Screenshot 2019-09-03 at 12 16 19](https://user-images.githubusercontent.com/91799/64170045-03026800-ce47-11e9-816d-6359f0fc1dd4.png)

This is old, but wondering if there's a link at all: https://g

[2019-09-03 12:18] grega commented on #1273
Ref: https://forums.coderdojo.com/topic/663/waitlist-functionality-changed

[2019-09-03 13:46] Wardormeur commented on #1273
As far as I'm aware, we never came to implement a waitlist. The "alternative" we had was allowing for tickets to be "accepted" by the Event Manager. If they are accepted, they are counted towards the total, if they're not (and hence "pending") they don't. This behavior is defined by the field "TicketApproval" on the event itself.
(https://github.com/CoderDojo/events-service/commit/7548e3109f551060

[2019-09-03 15:00] conoramurphy-zz opened #1274 "Clean up the booking form to align with the new create event form"
**Placeholder**
Depending on results from the usage of the new event form and community feedback on it. We should update the booking form flow to account for any simplifications. Especially around not needing ticket type drop downs, simpler "booked out" logic and messaging. Etc.

**Early suggestion**
- Delete any mention of waitlist, since there never was any
- Remove dropdown "to choose ticket ty

[2019-09-03 15:00] conoramurphy-zz commented on #1273
Yes. This is an incorrect direction of ire here. The new create event form does not allow for ticket approval. Some people were using that as a hack for a pseudo waitlist. This is not allowed any more. Combine this with the fact that there is poor messaging around booked out events has led to this confusion.

Closing this issue as this is not adressing a current bug. Adding https://github.com/Code

[2019-09-03 15:00] #1273 closed, assigned to nobody

[2019-09-03 16:02] conoramurphy-zz opened #1275 "Kids of champions seem not to show/be added to dojos when booking"
**To replicate**
Look at https://zen.coderdojo.com/dojos/ru/petrominsk-arkhangelsk-oblast/test-do-jo test event bookings. Several kids are booked into events. Only the dojo champion kids aren't auto made members of the dojo.

Reported : https://raspberrypifoundation.slack.com/archives/C5FHQ4HG8/p1567524402055700

[2019-09-05 10:14] #1271 closed, assigned to ArayB

[2019-09-05 10:52] nuala-louise opened #1276 ""Send Email" function not working in manage Dojos (or filter export)"
Hi there,
Amy (amy@coderdojo.org) spotted some issues when managing our Dojo, Docklands Dojo (https://zen.coderdojo.com/dojos/ie/dublin/dublin/dublin-docklands-chq).

When we tried to send an **email to our volunteers** in the manage users section using the **"Send Emails" function** on the bottom right, it looked like it had worked (insofar as there is no way to see if it did or didn't - but no e

[2019-09-16 00:53] niccokunzmann opened #1277 "Event ends before it starts"
Somehow, there is an event which ends before it starts.

Links:
- View: https://zen.coderdojo.com/events/2124341e-87f3-408a-8d2d-0e3be004d773/sessions
    ![image](https://user-images.githubusercontent.com/564768/64930069-76d04780-d82d-11e9-9659-c825d7fe1732.png)
- Edit: https://zen.coderdojo.com/dashboard/dojo/0be123e7-c9be-4002-a3cf-f0c8550f749a/event-form/2124341e-87f3-408a-8d2d-0e3be004d773

I

[2019-09-20 11:11] #1272 closed, assigned to josephwilk

[2019-09-20 14:41] josephwilk commented on #1226
Unlikely Hydra 1 profile support will be released soon, so best to focus on Hydra 0.x integration.

[2019-09-30 14:35] JoelLau commented on #1049
@rosalanghammer are you still planning to remove project from parents profile ?

[2019-10-09 13:31] josephwilk commented on #1226
* Coderdojo and profile use different password hashing. So all passwords would need to be reset when importing coderdojo users to profile users :(

[2019-10-10 11:17] conoramurphy-zz opened #1278 "Delete waitlist language from zen"
There is various reference to waitlist in zen. There is no waitlist functionality. So we should remove that language.

After Guillaumes feedback I've update this ticket to

**Task**
Change all references from `Waitlist` to `Awaiting approval`

[2019-10-10 11:59] conoramurphy-zz opened #1279 "Delete warning about no events as it's confusing parents"
**Remove the heading**
<img width="868" alt="Screen Shot 2019-10-10 at 12 55 43 PM" src="https://user-images.githubusercontent.com/3603234/66566765-ac7efc80-eb5d-11e9-9878-679e42a94df6.png">
So it looks like...
<img width="871" alt="Screen Shot 2019-10-10 at 12 56 02 PM" src="https://user-images.githubusercontent.com/3603234/66566766-ac7efc80-eb5d-11e9-8826-358967ae3deb.png">
**Better fix down the

[2019-10-11 07:02] Wardormeur commented on #1278
Only references found are https://github.com/CoderDojo/cp-zen-platform/search?q=waitlist&unscoped_q=waitlist and https://github.com/CoderDojo/cp-zen-platform/search?q=waiting&unscoped_q=waiting
Those are the event management page post publication; or applications management page if we want to call it that.
While I agree it should be removed, I would also recommend looking at reworking that page (t

[2019-10-11 08:11] Wardormeur commented on #1276
For point 2), I'm pretty sure we never actually filtered them for export from the "Manage club users" interface. The only export having filtering is related to the event, not the club. Though, I agree, it would be handy

[2019-10-11 10:05] conoramurphy-zz opened #1280 "Birthday prompt not working correctly"
**Background**
On the CoderDojo dashboard there is an alert that appears a few months before the dojos yearly anniversary inviting them to apply for a birthday pack. There have been some reports of edge case behaviour that it would be good if we could cleanup here.

**Few reports of odd birthday prompt behaviour**
- Reports of birthday prompt appearing for people who have an unverified test dojo
-

[2019-10-11 10:20] Wardormeur commented on #1280
1- Tehre is an edge case on unverified Dojo. Yes, they will show up as we load the Dojo from the relationship of the user (https://github.com/CoderDojo/cp-zen-frontend/blob/ec65be3e3aa5de44a7b44370cfab86a48eea9319/src/dashboard/cd-dashboard-events.vue#L138). However, it means the person has 10 months old unverified Dojo. (https://github.com/CoderDojo/cp-zen-frontend/blob/ec65be3e3aa5de44a7b44370cf

[2019-10-14 13:30] conoramurphy-zz commented on #1230
**Statistical review**
Overall: event usage is up around 80% on last year, pre form launch it was up 30% oin last year month to month. 72.3% of events created on Zen post launch  are with the new form. However of that 27.7% using the old form around 66% could be using the new form. Leaving 91% of events accounted for functionally with the new form.

The percentage of new clubs using events has gon

[2019-10-15 09:46] glenpike opened #1281 "Changing a user role from volunteer -> parent fails with error"
I had a parent sign-up as a volunteer by mistake.  I was told that I could change their role, so accepted, then tried this out.

I got an error on the screen (need to look at error messages??):

![Screenshot 2019-10-15 at 10 43 36](https://user-images.githubusercontent.com/789846/66820489-ac557700-ef38-11e9-9d64-6cc4af8f7559.png)

The request `POST: https://zen.coderdojo.com/api/2.0/dojos/save-use

[2019-10-15 13:19] Wardormeur commented on #1281
Owner is a flag used for representing the current owner of the Dojo. There `should` be only one per Dojo, and only the owner of the Dojo can pass this ownership to somebody else (nb, that's never been enforced in the DB).
As per se, forcing the owner in the payload to 0 won't help as https://github.com/CoderDojo/cp-dojos-service/blob/master/lib/save-usersdojo.js#L36 checks for "any" mutation.
The

[2019-10-15 15:15] glenpike commented on #1281
Thx @Wardormeur :)
I wonder if this happened because the person who signed up applied to be a Volunteer and something in that flow isn't correct?

[2019-10-16 07:39] Wardormeur commented on #1281
I did try with a newly created volunteer account (joined through the "Join" button, my previous comment was indeed describing another flow, my bad), and had no issue on the dev stack. It could be that the user is also a parent, that it's an old account that might be glitched (ref previous comment), or ..?

[2019-10-26 20:42] sandrobonazzola opened #1282 "Firefox - Content Security Policy: directive “child-src” is deprecated"
Loading zen.coderdojo.com with Firefox 70.0 shows in console:
Content Security Policy: directive “child-src” is deprecated. Instead youc can use “worker-src” directive for handling workers or  “frame-src”  directive for controlling frames.

[2019-10-26 20:44] sandrobonazzola opened #1283 "Firefox: Content Security Policy: “reflected-xss” directive is not supported"
Loading zen.coderdojo.com in Firefox 70 shows in console:
Content Security Policy: “reflected-xss” directive is not supported. Directive and associated values will be ignored.

[2019-10-26 21:02] sandrobonazzola opened #1284 "my-dojos: intlTelInput.css mime type mismatch"
Opeining https://zen.coderdojo.com/dashboard/my-dojos with Firefox 70 shows in console:
Resource from “https://zen.coderdojo.com/components/intl-tel-input/build/css/intlTelInput.css”  has been blocked due to mime type mismatch (“text/html”)  (X-Content-Type-Options: nosniff).

[2019-10-26 21:04] sandrobonazzola opened #1285 "my-dojo: reCAPTCHA error"
Loading https://zen.coderdojo.com/dashboard/my-dojos with Firefox 70 shows in console:
reCAPTCHA couldn't find user-provided function: vcRecaptchaApiLoaded recaptcha__it.js:507:293

[2019-10-26 21:08] sandrobonazzola opened #1286 "my-dojos: multiple Content Security Policy resources loading block"
Opening https://zen.coderdojo.com/dashboard/my-dojos with Firefox 70 shows in console multiple Content Security Policy messages related to resource loading blocked by page settings ("font-src") on:
 * https://js.intercomcdn.com/fonts/proximanova-semibold-italic.660bf63e.woff
 * https://js.intercomcdn.com/fonts/proximanova-regular-italic.053a1112.woff
 * https://js.intercomcdn.com/fonts/proximanova

[2019-11-05 10:36] #1279 closed, assigned to nobody

[2019-11-05 11:08] conoramurphy-zz opened #1287 "Notify all champions of a mentor request"
When someone requests to join as a volunteer, the current request goes to the owner and the dojo email. If it could go to the dojo email and every champion that would cover more and make sure it is not missed..

[2019-11-07 11:37] nuala-louise commented on #1287
Here is a comprehensive description of the above: https://docs.google.com/document/d/18xpxpraNjK-uL6W5UZAyzYZIMpsiTWfPRzd4MWLFdKg/edit

[2019-11-07 12:26] conoramurphy-zz commented on #1287
@nuala-louise That document you provided does more firmly talks about the overall problem. However the notification issue can be peeled off and dealt with separately which is all this ticket covers. But what you provided is good background information. Thanks

[2019-11-18 11:44] #1268 closed, assigned to nobody

[2019-11-26 13:04] nuala-louise commented on #1276
^ Issue also happens in relation to exporting specific event attendee info as a csv, not just exporting Dojo csv:

_I’ve always used the event platform for tickets to my Dojo. I need a list of adult attendees for security purposes, and the simple UI doesn’t do that, so I followed the link to the old way to do it. However, when I go to Book, the “adult” ticket option doesn’t show up. Is this suppos

[2019-12-02 17:57] VanessaGreene opened #1288 "Can't save headings in Dojo details"
Every time I try to add a heading whilst editing the Dojo details (tested on multiple Dojo pages) the heading appears in the text editor but when saved, saves as a paragraph.

This is also happening when any heading tag is added in the source editor of the 'edit Dojo' page.

![headingnotsaving](https://user-images.githubusercontent.com/54445217/69982808-32e80700-152d-11ea-89c0-4b2efe21345f.gif)

[2019-12-03 08:55] Wardormeur commented on #1288
I believe this is due to sanitize-html defaults tags that we use in cp-dojos-service's ´service.js´
https://github.com/CoderDojo/cp-dojos-service/blob/master/service.js#L23
https://github.com/apostrophecms/sanitize-html#what-are-the-default-options
Could you try with a h3 or lesser to confirm ?

[2019-12-03 09:10] VanessaGreene commented on #1288
Okay, h3 works but only in the text editor, not the source editor.

[2019-12-03 21:23] Wardormeur commented on #1288
I can get `h3` to work in source editor; but once the editor is opened again, it reverse the `h4`+ to `p` tags. At that point, it's a configuration discrepancy between the editor and the backend.
There is a reason why h1/h2 are not allowed, it's global consistency of the dojo page; however we shouldnt let users choose that options if that's the case.

[2019-12-05 10:49] nuala-louise opened #1289 "Ping Foundation & Champion when a Dojo ticks inactive status"
When a Dojo ticks the inactive box it would be useful if:

A)we get a ping into info@coderdojo.com letting us know that a club became inactive

B) that the Dojo champion gets auto-emailed reaching out to them and also getting feedback to see why and if there is anything we can do to help them get going again. Note: I would like to be involved in writing up the wording for this, once we know it is

[2019-12-05 20:18] Wardormeur commented on #1289
There's a `audit.dojo_stage` table that list how often a club would be marked as inactive. I'd be nice to know how often it happens to see if it's something actionable behind.

[2019-12-10 11:51] Jeddf opened #1290 "CoderDojo integration with Profile"
### Stages
0. Existing CoderDojo auth functionality
1.  **In production but only accessible by our developers** Users directed to RPI Profile for all authentication flows, new linked RPI - CoderDojo accounts can be created with previously unknown email addresses but existing accounts are not affected.
2. **In production but only accessible by our developers** Users directed to RPI Profile for all

[2019-12-11 09:30] Jeddf opened #1291 "Smoke tests for CoderDojo login flow"
Task 1 of Epic #1290

### What
Integraton smoke test for login flow for existing users.

### Why
To give confidence that existing login flow is not broken when working through the Profile integration

### How
- Cypress test hitting unmocked endpoints, to be run locally with full stack & db
- Use existing Selenium login page test as template

[2019-12-11 09:31] Jeddf commented on #1291
Ran the plan by @ArayB this morning and asked about getting my local db in shape
- Warned me that it's currently a 2gb+ mock data download
- He's figring out a more managable setup db script while I get started on the tests then we're going to jump back on a call to run the scripts and update zen repo docs.

[2019-12-13 09:38] #1291 closed, assigned to nobody

[2020-01-16 13:21] grega opened #1292 "Registering for an account with a 'referrer' query param fails"
Heading here:

https://zen.coderdojo.com/login?referer=%2Fdashboard%2Fstart-dojo

and then hitting “Register” leads to:

https://zen.coderdojo.com/register?referer=/dashboard/start-dojo

Which has a body of:
[code]

Any value of `referrer` (either incorrectly spelt as`referer`, or `referrer`) results in the same eg. https://zen.coderdojo.com/register?referrer=/foo

The primary problem is that this

[2020-01-22 09:56] #1292 closed, assigned to nobody

[2020-02-11 16:32] VanessaGreene opened #1293 "My Children: Find a new Dojo to attend redirects to zen home page"
When managing a child (u-13 & over 13) in the 'My children' section, the "find a new Dojo for them to join" link directs to "/' or zen.coderdojo.com/ instead of zen.coderdojo.com/find.

![Screenshot 2020-02-11 at 16 26 52](https://user-images.githubusercontent.com/54445217/74256537-65f80500-4ceb-11ea-80b3-6ab48a6a97bc.png)
and
![Screenshot 2020-02-11 at 16 27 00](https://user-images.githubusercont

[2020-02-17 16:54] #1278 closed, assigned to ArayB

[2020-02-21 11:47] ArayB opened #1294 "Migration script to migrate active users to profile"
Create a migration script for active users creating a profile account for each and then linking the new profile ID to the existing zen user.

Active users are those who have a password stored with the new hashing

Part of epic #1290

[2020-04-23 19:05] andyseracuse commented on #1264
has this been fixed yet?  If not i'd love to work on it!  Thanks

[2020-05-27 14:44] #1294 closed, assigned to ArayB

[2020-05-27 14:46] #1290 closed, assigned to nobody

[2020-06-24 09:51] #333 closed

[2020-09-28 08:43] laura-kirsop-rpf opened #1295 "Add documents to Coder Dojo Ways to Run page"
Note: Do Code Club story first https://github.com/RaspberryPiFoundation/codeclub/issues/1650

**Summary**

As a parent or young person viewing the [Coder Dojo Ways to Run page](https://coderdojo.com/ways-to-run/) I want to see the Parent Guide for Online Sessions and the Online Code of Behaviour for Young People so that I know how RPF foundation is keeping my child safe / how to keep myself and ot

[2020-09-28 08:49] laura-kirsop-rpf commented on #1295
This was a repeat issue as I didn't see it had already been done https://github.com/CoderDojo/coderdojo.com/pull/74

[2020-09-28 08:49] #1295 closed, assigned to nobody

[2022-06-25 04:16] severicus commented on #1061
Hello, is this issue still up?