[2015-12-19 20:43] niccokunzmann commented on #849
Working on it.

[2015-12-19 21:06] niccokunzmann commented on #849
I put the adding of the docs about testin into another issue: #851.

[2015-12-20 13:19] niccokunzmann opened #852 "Dojo attendance requires booking but this is not true"
When I open https://zen.coderdojo.com/dojo/861
I find the text

So I expect a checkbutton in the [Dojo-Edit view](https://zen.coderdojo.com/dashboard/edit-dojo/0be123e7-c9be-4002-a3cf-f0c8550f749a) to be present, so I can remove this.

![booking-required](https://cloud.githubusercontent.com/assets/564768/11918119/631d194a-a724-11e5-96cb-fa4731751cee.PNG)

[2015-12-20 13:22] niccokunzmann opened #853 "Mentors needed moved to bottom"
The mentors needed field moved down on the dojo view. I think this is very important so it should be top
in the page. Also, the "open, come along" text moved to the bottom.

[![mentors moved down](https://cloud.githubusercontent.com/assets/564768/11918131/052474ae-a725-11e5-9e6c-449af7a88105.PNG)](https://zen.coderdojo.com/dojo/861)

[2015-12-20 13:31] josmas commented on #852
Hey @niccokunzmann not sure I understand this. Does the dojo need registration Or is it open? Can you change the *current stage* field in **Status Messages** when you edit it? If you set it to *open*, the message should go away. Or am I missing something?

[2015-12-20 13:33] niccokunzmann commented on #165
As a side note: There is a [virtual machine](https://github.com/niccokunzmann/cp-docker-development) available for development under Windows. You can tell me what you think about it of you like. Of cause that does not replace native windows support. Is setting this up under Windows natively a goal? One would need to convert the .sh files in the repositories or duplicate them.

[2015-12-20 13:35] niccokunzmann commented on #852
Thanks. Somehow this field was checked wrongly, I did not do it.

[2015-12-20 13:35] #852 closed

[2015-12-20 13:43] niccokunzmann opened #854 "HTML escape not working for dojo status"
Looking at https://zen.coderdojo.com/dashboard/edit-dojo/0be123e7-c9be-4002-a3cf-f0c8550f749a in German,
the status is not correctly shown:
![current state - escaping bug](https://cloud.githubusercontent.com/assets/564768/11918216/f59b13e6-a727-11e5-938e-95ac9f29590f.PNG)

[2015-12-20 14:14] josmas commented on #854
I can reproduce. The same fix that applies to the Portuguese translation issues also clears this one up. Still on review though: https://github.com/CoderDojo/cp-zen-platform/pull/782

[2015-12-20 14:33] kennanseno commented on #853
yep. this is pretty hard to see especially when viewing in a phone/tablet. I think it would be more suitable to place it above or below the contact section?

[2015-12-20 20:09] niccokunzmann opened #855 "Event Ticket Type missing"
There is a ticket type missing when translated to German.
![event-ticket-type](https://cloud.githubusercontent.com/assets/564768/11919854/d00571c2-a75d-11e5-8fd3-b9f2b194bf33.PNG)

Website: https://zen.coderdojo.com/dashboard/dojo/0be123e7-c9be-4002-a3cf-f0c8550f749a/event-form/cdebe884-caa8-46f7-9e1f-d7581049a855

[2015-12-20 20:12] niccokunzmann commented on #820
These three entries are not translated:
1. ![event-translation-error3](https://cloud.githubusercontent.com/assets/564768/11919875/313149d0-a75e-11e5-8e4f-dd8271d32193.PNG)
2. ![event-translation-error2](https://cloud.githubusercontent.com/assets/564768/11919876/3136bf82-a75e-11e5-9533-ac0557a29781.PNG)
3. ![event-translation-error](https://cloud.githubusercontent.com/assets/564768/11919877/3136c19

[2015-12-20 20:14] niccokunzmann opened #856 "Test Layout with German version"
I was at Codemotion Berlin 2013 and some Game creators said that one should test the layout with the German version because the German language uses the most space. That aside, I found two layout mistakes:

![event-layout-mistake](https://cloud.githubusercontent.com/assets/564768/11919886/a1038156-a75e-11e5-9b58-7dff2e4a880c.PNG)

[2015-12-20 20:36] niccokunzmann opened #857 "Discussion about recurring events"
**Context**
My workflow for the CoderDojo Potsdam is to copy events because the recurring thing is nothing I understand. Events usally take place every two weeks but sometimes they do not take place, sometimes it is one week more or less in between.
**Suggestion**
1. My first suggestion is to create a copy functionality of an event to duplicate it so one can change the date.

---
**Context**
What

[2015-12-21 10:15] flakyfilibuster commented on #147
Hey there, would like to help out with this one - can you let me know what exactly you would like to see when hitting the 404?

Currently it just reads 'PAGE NOT FOUND!'

Cheers

[2015-12-21 14:17] speciousstream9 opened #858 "Charter Error"
Dojo has already signed the charter but Zen. Has not hit Salesforce either.

![chartererror1](https://cloud.githubusercontent.com/assets/10137754/11932360/d6b54508-a7ec-11e5-84fa-03176455eec9.png)
![charter error 2](https://cloud.githubusercontent.com/assets/10137754/11932361/d7dd17d0-a7ec-11e5-8178-450dc0472bb1.png)

[2015-12-21 15:35] gisellegk commented on #60
@niccokunzmann I tried your script file... It keeps getting stuck on this:

Remove the following npm installations:
/usr/local/bin/npm
done?

I tried deleting that file (and now it's gone) but it's still giving me the same message so I'm not sure what to do...

[2015-12-21 15:46] niccokunzmann commented on #60
I think you can uninstall this with `sudo apt-get remove` OR you edit the script and remove the installation of npm. Maybe you just type ENTER and it runs further.

[2015-12-21 16:32] gisellegk commented on #60
I just edited the script... looks like I am on my way. Thanks so much!

[2015-12-21 17:19] niccokunzmann commented on #60
Please let me know what you edited, maybe upload it or give it to me, so I can improve the existing script.

[2015-12-21 18:36] tangentfairy commented on #147
Hi @flakyfilibuster - thanks for your interest in helping out!

I'm open to ideas on this one - we'd love something unique to CoderDojo - maybe something with pixel art ninjas. It'd be great to get some design help on this. I love the animation on the [Github 404 page](https://github.com/404) so it'd be neat to have something like that.

Do you have any ideas?

[2015-12-21 18:45] tangentfairy commented on #858
@speciousstream9 I'm unsure of the error you are reporting - is it that the user has signed the charter but it did not show as being signed in the management backend?

[2015-12-21 18:48] tangentfairy commented on #857
Hi @niccokunzmann - would the implementation of this feature help your issue?
https://github.com/CoderDojo/community-platform/issues/665

On the second suggestion, I think we need to have an in-depth discussion about what you'd expect, as I'm not sure what the feature request is here. It sounds like something that would need a detailed wireframe.

[2015-12-21 18:52] tangentfairy commented on #165
@niccokunzmann yes, it is a long term goal. Some other members of the community have already made progress with it!

[2015-12-21 18:55] tangentfairy commented on #853
It was put here by the request of @rosalanghammer so it'd be up to her to move it back up the page :)

[2015-12-21 19:15] tangentfairy commented on #851
An example test in the docs would definitely be useful.

[2015-12-21 19:23] tangentfairy commented on #848
This is fixed now, thanks @josmas! :)

[2015-12-21 19:23] #848 closed

[2015-12-21 19:28] tangentfairy commented on #854
This works now, thanks @josmas! :)

[2015-12-21 19:28] #854 closed

[2015-12-21 19:57] niccokunzmann commented on #147
@tangentfairy If you specify it more, I can add tasks for Google CodeIn - You could also become a mentor in google codein to supervise this. It would look something like this:

And it should last about 3-5 hours and can be given to several students.

[2015-12-21 20:03] niccokunzmann commented on #857
@tangentfairy This would help.

[2015-12-21 21:31] tangentfairy commented on #147
If you can help the students to set up locally then that sounds good! They
might need help with making contributions.

On Monday, December 21, 2015, Nicco Kunzmann <notifications@github.com>
wrote:

--
Ursula Clarke Everett
Technical Lead @ CoderDojo Foundation
S: tangentfairy | T: @CoderDojo | @tangentfairy

--
*Volunteer at your local Dojo and inspire the next generation of digital
creators!*

[2015-12-22 08:54] flakyfilibuster commented on #147
hey @tangentfairy,
unfortunately I am as bad a designer as I'm an artist - I was under the assumption that there are already some images or a finished design that needs implementation.

You really don't want me drawing something :P

[2015-12-22 11:53] tangentfairy commented on #147
@flakyfilibuster - we are still looking for design help on this one. For the moment, I'd be open to putting [something like this](http://codepen.io/HugoGiraudel/pen/dIDEx) on the 404 page and just putting a message that says:
 "Oops! This is not the page you are looking for. Maybe you'd like to check out some of the following fun sections of our site:
[Find your local Dojo](http://zen.coderdojo.co

[2015-12-22 12:11] niccokunzmann commented on #147
We can also make a CoderDojo contest out of this and put all the 404 designs in a new folder and each time a random design is chosen. One could put scratch projects there, iframes, images, ..., svgs, gifs, ...

[2015-12-22 12:14] tangentfairy commented on #147
@niccokunzmann - this would be great in the long run!

[2015-12-23 14:45] gisellegk commented on #60
@niccokunzmann I just deleted the node installation part, so not a super useful edit.... I'm not good with shell scripts, so I don't know how to do it myself, but maybe giving the option to skip over instead of only asking to delete the previous installation would be helpful?

[2015-12-23 17:22] niccokunzmann commented on #60
@gisellegk Is it running on your platform?

[2015-12-26 06:17] gisellegk commented on #60
@niccokunzmann yes, it does! A couple days ago it randomly stopped working but I think it was an unrelated issue... but now it's working fine.

Also, a couple of general questions: ( @tangentfairy ?)

1. Does this page need to have the user confirmation stuff like the Charter? right now I based it off of the Terms and Conditions page -- text only...

2. Where is a good place to put css to style th

[2015-12-26 16:38] kennanseno opened #859 "support image size exceeds page when in mobile"
<img width="505" alt="screen shot 2015-12-26 at 15 49 04" src="https://cloud.githubusercontent.com/assets/7852866/12007143/1690ed52-abef-11e5-92cd-bd3e6437862f.png">

[2015-12-26 23:05] tangentfairy commented on #60
@gisellegk
1. Text only is fine for now!
2. [The main css file is here](https://github.com/CoderDojo/cp-zen-platform/blob/master/web/public/css/dashboard.less). I think there's a `table-striped` class in bootstrap that makes tables look quite good! It is used in the events section somewhere.

Let me know if you need anything else, and thanks for taking this on!

[2015-12-27 04:26] gisellegk commented on #60
I just put in the pull request. Thank you all for being so patient and supportive of me!

[2015-12-31 18:31] tangentfairy commented on #857
I think we can close this if issue #665 will help you - on the second part, maybe opening a discussion on the forum would be useful?

[2016-01-01 00:45] tangentfairy commented on #60
This is live now, thanks so much @gisellegk! If you'd like to join the CoderDojo Foundation Slack channel for development chat, send me a mail on ursula@coderdojo.org

I've invited you to become a member of this organization now too :)

[2016-01-01 00:45] #60 closed

[2016-01-01 11:12] niccokunzmann commented on #60
Where did you get this text from? Are there existing translations?

[2016-01-01 11:14] niccokunzmann commented on #60
Are there existing translations of the text one could refer to during translation?

[2016-01-01 19:52] tangentfairy commented on #60
@niccokunzmann - The [Google doc with the text is here](https://docs.google.com/document/d/17Y-YSxEH8oZo0SWDc1eejY11reAkIYyahDjNpvgKX_k/edit). It is available for translation in CrowdIn now that this issue has been closed!

[2016-01-03 21:00] raboof opened #860 "Announcing my availability as a champion/mentor"
There's currently no CoderDojo in my town, and I'd love to help set one up. However, I haven't found someone to co-champion yet, and I'm currently not up to the task on my own.

It would be nice if zen had some kind of registry where I could announce my availability as a mentor/champion, so when someone else is also interested in starting the Dojo they can get in touch.

[2016-01-03 21:51] niccokunzmann commented on #860
I like this idea - it would help to get connected. Maybe one can create an own page like the listing where the interested places+people are listed.

[2016-01-04 00:42] niccokunzmann commented on #857
That helps me. We can move the discussion to a forum.

[2016-01-04 00:42] #857 closed

[2016-01-04 01:58] tangentfairy commented on #860
This is something we have talked about before as a long term goal - the ability to search for mentors/venues/other champions and match up through the system.

It's a pretty big feature. I'd be up for a volunteer doing it if they have the time to work on it, and would be open to helping with wireframes on it.

[2016-01-04 10:53] rosalanghammer commented on #853
Agree it looks strange here where the notes are long. I would move it up but keep it below the contact section.

However I would keep the 'Open...' one as is. There is another option for this box when a Dojo is not Open which is 'Booking is required to attend this Dojo. Please contact the Dojo administrator if no events are listed.' so it wouldn't make sense to have it down below Events.

Having b

[2016-01-05 09:02] niccokunzmann commented on #851
I would like e2e tests to be like this: https://github.com/cucumber/cucumber-js

[2016-01-05 09:06] mihaidma commented on #851
I considered using a DSL on top of the e-2-e tests when I architected the testing system but that would have added more effort in making the first prototype. Given the time and resource constraints I didn't add it considering that it can be added later if resources will be allocated in this direction.

For sure this is the next big step on evolving the e-2-e system.

[2016-01-05 17:08] tangentfairy commented on #839
Tested, deployed and working beautifully! Thanks @josmas!

[2016-01-05 17:08] #839 closed

[2016-01-06 11:37] tangentfairy opened #861 "Manage event screen not responsive"
All the other pages seem usable, but the manage event screen is not responsive

On the multiple event screen it is okay, and there is a scrollbar, but it seems like the specific event screen has an issue!

![img_6618](https://cloud.githubusercontent.com/assets/1136491/12141685/9b5d56c4-b469-11e5-9234-48f18806f4bc.jpg)

[2016-01-06 11:38] tangentfairy commented on #861
CC @Giustina

[2016-01-06 11:53] tangentfairy commented on #790
https://github.com/CoderDojo/cp-zen-platform/pull/778 covers this from a users perspective, but not from a dojo admins perspective.

What we want is for only parents to show in the invite dropdown when you are creating/editing an event and inviting dojo members.

[2016-01-06 11:55] josmas commented on #790
+1 will get to it at some point (soon).

[2016-01-06 14:16] tangentfairy opened #862 "Karma failing due to dependency upgrades"
Karma is failing in Jenkins with the error [mentioned in this issue](https://github.com/socketio/socket.io/issues/2368)

Solution: Upgrade Karma

[2016-01-06 14:29] #862 closed

[2016-01-06 14:34] tangentfairy commented on #862
Solved https://github.com/karma-runner/karma/issues/1782

[2016-01-06 17:34] tangentfairy commented on #765
This has not appeared since, so I'm going to close this issue.

[2016-01-06 17:34] #765 closed

[2016-01-06 18:31] raboof commented on #860
Let's see what it'd take to achieve this (in no particular order):

- add a database field in the cp-users-service for listing preferences (e.g. "private" (default), "name only", "name and location" and "name, location and contact information")
- add an API endpoint to query listings, getting the data as exposed in the listing preferences.
- add a page to the site, with a map and a list much like

[2016-01-06 20:26] kennanseno commented on #856
this is on english version too.

<img width="1070" alt="screen shot 2016-01-06 at 17 50 35" src="https://cloud.githubusercontent.com/assets/7852866/12153784/bbbd4470-b4b3-11e5-90ca-cb5fed25cd19.png">

[2016-01-07 09:14] tangentfairy commented on #860
We'll also need:
- Add something to the profile to show the users availability
- Unit tests for the new API endpoint
- Unit tests for existing users endpoint to ensure new fields are correctly implemented
- Wireframes to show what all of the above will look like before implementing!

RE: the matching up with another mentor/champion at the moment: how do you see that part working? Can I contact an

[2016-01-07 10:24] tangentfairy opened #864 "Invite all feature for events"
We want to add a feature where in the events section you can invite all in the events section, and it will send an email to all members of a Dojo notifying them that there is a new event live on the Dojo.

Wireframe to follow.

[2016-01-07 10:37] tangentfairy opened #865 "Book event ticket process"
New wireframes have been completed for the book a ticket process in the events section.

This is a priority to complete in Q1/Q2

https://docs.google.com/document/d/1OzQDYeckRw_j_MghLCSBmlsLdbbnKz_rLGHQZAugONc/edit

[2016-01-07 11:08] raboof commented on #860
Twitter/linkedin/email seems sufficient to me, adding a messaging system to the platform sounds like overkill.

As for criteria, "if you can see their contact details you can contact them" should do ;).

Is there any specific tool you use for wireframes?

[2016-01-07 11:41] tangentfairy commented on #769
Amended description to include spec

[2016-01-07 12:58] tangentfairy commented on #861
This is fixed and deployed now, thanks @kennanseno !

[2016-01-07 12:58] #861 closed

[2016-01-07 16:12] speciousstream9 commented on #704
Having the same effect, for parents replying to Dojos and getting us instead.

[2016-01-07 16:15] kennanseno opened #866 "Links to Charter & privacy statement broken when logged in"
Charter link in nav and privacy statement link in footer seems to break when a user is logged in but works  fine when no one is logged in.

1. Log in your account in zen
2. Click privacy statement - will give 404
3. Click charter - will go to https://zen.coderdojo.com/undefined

if you skip step 2, charter works fine even when logged in.

[2016-01-08 10:22] tangentfairy opened #867 "Invite mentor invitation link invalid"
I cannot invite a mentor at the moment as a champion.

I have tried this two ways:

I invited a mentor via manage users who was not registered. The invite link said invalid invitation after I registered the mentor.

I sent a new invitation, and tried again with the logged in mentor this time, but still "invalid invitation".

A lot of users trying to do this at the moment. I seem to remember either

[2016-01-08 11:49] tangentfairy opened #868 "Issues with description field on event"
I was creating a new event, and I forgot to fill in the description.

The form validation did not scroll up to the description field to let me know!

The other issue is that the description field does not seem to save to local storage.

[2016-01-08 12:19] tangentfairy commented on #868
CC @willknott

[2016-01-08 14:32] gisellegk commented on #147
@flakyfilibuster Let me know if I can help with design!

[2016-01-08 15:08] flakyfilibuster commented on #147
Hey there,
sorry for the radio silence :(

I was actually looking for royalty free ninja pics, to pixelate, however if you can come up with some ideas or even images/ designs, that would be great.

[2016-01-08 15:11] tangentfairy commented on #147
I think the CSS ninja I mentioned could be used! Then it'd be a really cool example of what you can do with CSS for our young ninjas too! :)

[2016-01-08 15:38] flakyfilibuster commented on #147
Oh, I didn't know that one was fair game, that we need to honor some licensing rights etc, etc.

Well good then, I'll put that in - thanks.

[2016-01-08 15:38] tangentfairy commented on #147
It's open source afaik!

[2016-01-08 22:42] niccokunzmann commented on #569
Could we just add an iframe to the Dojo page? I think that would help with a lot of issues, i.e. this donation or the Eventbrite integration:

    <iframe  src="https://www.eventbrite.de/calendar-widget?eid=20022772652" frameborder="0" height="525" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe>

After all, all CoderDojos are verified and there is few

[2016-01-08 22:50] tangentfairy opened #869 "Invalid API key on map"
Getting an error on the Zen homepage for the map API key being invalid

[2016-01-08 23:01] niccokunzmann opened #870 "404 dojo-list-index-controller.js"
When loading https://zen.coderdojo.com/dojo/861
I get a 404-SyntaxError for https://zen.coderdojo.com/js/controllers/dojo-list-index-controller.js

[2016-01-08 23:22] niccokunzmann opened #871 "Move to OpenStreetMap"
OpenStreetMap has an open API, that will not block us. #869
Also, with OpenStreetMap we can create images, which can be embedded in the pages, reducing the size of the page and making it unnecessary to load from them.

[2016-01-08 23:38] tangentfairy commented on #869
Fixed in https://github.com/CoderDojo/cp-zen-platform/pull/793

[2016-01-08 23:38] #869 closed

[2016-01-08 23:39] tangentfairy commented on #871
Adding Open Street Maps to the project here would be a good start as a pilot: https://github.com/CoderDojo/community-platform/issues/860

[2016-01-09 11:34] #859 closed

[2016-01-09 13:13] kennanseno opened #872 "'Officially Verified' text in dojo detail adding extra line"
Officially Verified adds an extra line in there. I think 'Verified' text would suffice.

![before](https://cloud.githubusercontent.com/assets/7852866/12216225/aec9387a-b6d2-11e5-8d42-9c51018b2c42.JPG)

after change:
![after](https://cloud.githubusercontent.com/assets/7852866/12216229/bca799fa-b6d2-11e5-8f19-4c5954d9fb8a.JPG)

[2016-01-09 16:37] tangentfairy commented on #872
Up to @rosalanghammer if she thinks it would be okay to change this.

One reason not to do this would be because users may not know what "Verified" means. Suggest we add a tooltip (title attribute in html) to explain what verified means, when the user hovers over the tick mark and verified.

We will inevitably have a Dojo with an even longer name at some stage that will push "verified" to the next

[2016-01-09 17:47] kennanseno commented on #872
yea, it only happens on certain length dojo names, it's fine since they all get bumped down anyways.

<img width="717" alt="screen shot 2016-01-09 at 17 46 22" src="https://cloud.githubusercontent.com/assets/7852866/12217457/fe56fa46-b6f8-11e5-8d43-deaffbd0d2e2.png">

[2016-01-09 20:29] gisellegk commented on #147
http://blog.codepen.io/legal/licensing/ Anything public = MIT License

What if we animated the ninja so that it drops down from the "ceiling" on a rope or something?

[2016-01-10 18:14] tangentfairy commented on #147
That's a really cool idea @gisellegk! Maybe if we can get the basic ninja up there first then we can "iterate" on it and improve it to animate :) It would be really cool to use CSS animations to showcase what CSS can do!

[2016-01-11 07:25] flakyfilibuster commented on #147
Hey there, this is where I am right now:

Ninja stays centered in desktop and mobile view.
Obviously the text needs some padding/margins.

<img width="571" alt="screen shot 2016-01-11 at 8 21 53 am" src="https://cloud.githubusercontent.com/assets/2176610/12228515/dc1e9566-b83c-11e5-9913-0f950cd6c267.png">

<img width="303" alt="screen shot 2016-01-11 at 8 22 39 am" src="https://cloud.githubusercon

[2016-01-11 10:27] speciousstream9 opened #873 "Log In Errors."
![log in issue](https://cloud.githubusercontent.com/assets/10137754/12231190/7d648560-b84d-11e5-9c8b-bf19f4969a27.PNG)

This error occurs upon trying to log in. When clicking the top Log in bar, no error is displayed & doesn't move to the login screen but in the console log you get an error about resolving logins.

This is fixed by doing a hard refresh.

[2016-01-11 10:27] tangentfairy commented on #147
@flakyfilibuster: I like the text centered! I'd prefer the oops text to stay with the rest of the text as I think it is easier to read.

We don't have a style guide at the moment - this is something we're looking at doing in the first quarter and have a volunteer designer working on it! I think the "Oops" could be in a h2/h3 - I'll leave it up to you to decide which :)

Looks great!

[2016-01-11 10:53] rosalanghammer commented on #872
I would just go for 'Verified' - hopefully due to this mechanism being used on twitter etc. this is recognisable to users. Also no unverified Dojos should be viewable anyway!

[2016-01-11 10:53] tangentfairy commented on #872
Cool, you can change it then if you want @kennanseno

[2016-01-11 14:32] rosalanghammer opened #874 "Add parent type automatically if Mentor/Champion adds Ninja"
Following a discussion with @tangentfairy it would be super useful if mentors/champions get auto-assigned the parent user type as well once they 'Add Ninja' to their profile.

Otherwise this has to be done manually by Champion/Dojo Admin.

[2016-01-11 16:26] #867 closed

[2016-01-12 09:39] flakyfilibuster commented on #147
hey @tangentfairy,
added a pull request https://github.com/CoderDojo/cp-zen-platform/pull/794

Can you have a look and let me know if anything is missing/ wrong?

Much obliged

[2016-01-12 09:45] tangentfairy commented on #870
Hi @niccokunzmann - could you send a screenshot and let us know what browser you are using please? I can't see this error myself

[2016-01-12 09:46] tangentfairy commented on #858
Any update on this @speciousstream9 ?

[2016-01-12 09:47] tangentfairy commented on #853
Okay, action here is to move the "Mentors needed" and "open, come along" boxes up to just below the contact section.

[2016-01-12 12:22] tangentfairy commented on #147
This is live now and looks really cool!

Let me know if you have any questions about other issues @flakyfilibuster - there are a lot at the moment (and most are actually small features). Some are not specced out but I can help with any of them.

If you want to join the Slack development channel ping me a mail on ursula@coderdojo.org !

[2016-01-12 12:22] #147 closed

[2016-01-13 06:24] flakyfilibuster commented on #823
hey there @tangentfairy,
I could have a look at this - maybe you can point me towards the proper file?

Cheers

[2016-01-13 06:57] flakyfilibuster commented on #723
I can take care of this, I think

[2016-01-13 10:26] raboof opened #875 "community-platform development chat"
Is there a chat available somewhere to discuss community-platform development? For example gitter, irc or slack?

[2016-01-13 10:27] tangentfairy commented on #875
@raboof send me a mail on ursula@coderdojo.org and I'll get you added to the Slack channel. There's a Gitter too which I'll get added to the docs https://gitter.im/CoderDojo?utm_source=share-link&utm_medium=link&utm_campaign=share-link

[2016-01-13 10:27] #875 closed

[2016-01-13 11:41] speciousstream9 opened #876 "Users cancelling tickets"
Feature request for when a Parent is unable to attend an event, that it is possible for the parent to delete the Ticket for the Event.

Ideally, this would be done through links in the confirmation email which you receive when you book a ticket. A line at the bottom which would state the Following :

"If you are unable to attend this event, please click this link to Cancel your booking"

Clicking

[2016-01-13 15:13] tangentfairy opened #877 "Friendlier error when attempting to enter a used alias"
The error that appears when you enter an alias that already exists is "nick-exists" which is not very user friendly.

We need it to say "The alias you have chosen is already taken. Please enter a new, unique alias."

[2016-01-13 20:04] kennanseno commented on #873
I remember we had this issue before.

https://github.com/CoderDojo/community-platform/issues/500

[2016-01-13 20:14] speciousstream9 commented on #873
I'm on Chrome, the latest version, though a hard refresh does fix the error, just I'm not too sure what's causing it.

[2016-01-13 21:26] speciousstream9 commented on #873
Please note this should be specified for Zen Log in only

[2016-01-13 21:35] kennanseno commented on #873
@speciousstream9  i'd say a service was down at that time like what is said in the old issue. next time you get this error, please check if there's a deploy on-going so we can be sure if that really is that cause or not. You can check it in the zen-alert channel in slack.

[2016-01-14 10:16] #723 closed

[2016-01-14 12:01] tangentfairy commented on #723
Deployed, thanks @flakyfilibuster :)

[2016-01-14 14:52] speciousstream9 opened #878 "Access for parents to Forum"
As of build of Zen 75 is the frontend build number at the moment, dojos service is at 15
Chome version :  47.0.2526.106 m

If a parent type account tries to access the form they get the following error.
![parent access](https://cloud.githubusercontent.com/assets/10137754/12327402/41811472-bace-11e5-9a75-c5c3d3e304a8.PNG)

Add access to forums for parents

[2016-01-14 15:03] tangentfairy commented on #878
Chatted to Rosa about this - because parents don't have to be validated to join a dojo or use the system, we are going to leave this as is.

If a parent wants to access the forum they can have the "mentor" user type added to their profile in manage users by the dojo champion.

[2016-01-14 15:03] #878 closed

[2016-01-14 15:13] #872 closed

[2016-01-14 15:29] rosalanghammer opened #879 "Add 'Using Events' to Intercom"
Suggested by @tangentfairy - This will make it easier to check if a Dojo is using Events for CDF Admins.

Unsure of how this would work as intercom is filled with individual users but could work better so that we can see if individual users have been checking in.

[2016-01-14 15:31] tangentfairy commented on #879
Could put it on the champion/founder account to show the Dojo is using it, and then the check in flag would be a separate flag on a per user basis.

[2016-01-15 12:50] tangentfairy commented on #829
__Tech spec:__
- Here is [where the map template is located](https://github.com/CoderDojo/cp-zen-platform/blob/cf2e0c2eaecd208b91fc1bba1e2871e8f155059b/web/public/templates/dojos/map-search.dust#L10)
- [Look at how the places are structured in the codebase](https://github.com/CoderDojo/cp-zen-platform/search?utf8=%E2%9C%93&q=places).

[2016-01-16 22:02] raboof commented on #860
I took a first stab at some wireframes here: https://docs.google.com/document/d/1MBN10kaBw-4HdHqGVb6yXzUwWox9fL3qMNlXo-dIu0g/edit?usp=sharing

[2016-01-18 07:31] flakyfilibuster commented on #877
hey @tangentfairy,
when you say alias, do you mean the selected username on registration?

Sorry, if this seems like a redundant question, but the platform is quite extensive and I haven't seen all pages so far.

I get this message - maybe you can point me to the correct url.

![screen shot 2016-01-18 at 8 29 53 am](https://cloud.githubusercontent.com/assets/2176610/12385574/ed604fbe-bdbd-11e5-96e

[2016-01-18 10:48] tangentfairy commented on #877
@flakyfilibuster This is when you are registering, but also when you are editing your profile and adding a child account. When you are logged in and click on your name, you can go to "add ninja over 13" from here. In there you need to add an alias for your child.

It is [here on the register page](https://github.com/CoderDojo/cp-zen-platform/blob/b555f3c9207fab7d2bd33a0b793429e6b968f648/web/public

[2016-01-18 13:32] niccokunzmann commented on #820
- "Open, come along" is not translated. It should be "Open, just show up" or vise versa.

[2016-01-18 16:46] tangentfairy opened #880 "Fix accept parent ninja invites"
Giving a 500 error at the moment, fix incoming

[2016-01-18 16:52] hippyjim commented on #774
+1 for if a parent is creating the O13 account it could be automatically linked - and not need an email.

We've had a few instances of parents attempting to add an account for their O13, and getting the nick_exists error because they're using their own email address. Not requiring one would avoid this.

[2016-01-18 16:54] tangentfairy commented on #774
Yep, we're definitely going to do this. On the nick exists error, that will be made clearer in https://github.com/CoderDojo/community-platform/issues/877f

Thanks for the input Jim, feel free to join [the Gitter chat](https://gitter.im/CoderDojo?utm_source=share-link&utm_medium=link&utm_campaign=share-link)! :)

[2016-01-18 16:54] #880 closed

[2016-01-19 06:37] flakyfilibuster commented on #877
@tangentfairy I replaced the error message on the registration form with the string you provided above.

However, I'm not able to reproduce the error on the parent profile page (maybe I need another type of account?).

I'm able to add an arbitrary amount of youth (over and under 13) accounts and even have them occupy the same name/ aliases. Please see attached screenshots.

![screen shot 2016-01-1

[2016-01-19 11:04] tangentfairy opened #881 "Delete ticket application error"
When cancelling a ticket application, I see the blue bar strapline appear, but no error appears

![screen shot 2016-01-19 at 11 03 08](https://cloud.githubusercontent.com/assets/1136491/12416929/66c6195e-be9c-11e5-8fd0-1ef004fb92ba.png)

[2016-01-19 11:07] tangentfairy opened #882 "Ticket application email"
When automatic approval for tickets has been turned on:
- we need an email to be sent to the dojo email and champion email notifying them when a new application for a ticket has been logged

Otherwise the champion has no idea when this has happened or that they need to approve a ticket.

[2016-01-19 11:16] tangentfairy opened #883 "Search existing tickets booked by name"
It would be great to add a search feature in each event to search the applicants by name. There is already a filter for ticket type but we need something more specific.

If we could also have the applicants sortable by name (a little arrow beside attendee name) that would be useful too.

[2016-01-19 11:33] tangentfairy opened #884 "Redirect to Dojo listing after registration"
If you go to the Zen homepage:
- Find the Dojo you are interested in
- Click join
- Register your account

You are registered okay, but you have to go back to find a dojo to get back to the dojo listing page.

It would be better if the registration process remembers which dojo you searched for in the first place and redirected you there upon successful registration.

[2016-01-19 11:33] tangentfairy commented on #884
Dupe of https://github.com/CoderDojo/community-platform/issues/805 oops!

[2016-01-19 11:33] #884 closed

[2016-01-19 11:35] tangentfairy opened #885 "Add message to My Dojos for users who are not joined to a Dojo"
Suggestion by CoderDojo Tramore, from the point of view of a mentor:

When waiting on approval to join the dojo, the My Dojos page has: "you have no dojos, would you like to create one"? A "waiting approval" or "find dojos" message would be better (in case they haven't join one).

[2016-01-20 20:03] raboof commented on #860
https://docs.google.com/a/bzzt.net/document/d/1MBN10kaBw-4HdHqGVb6yXzUwWox9fL3qMNlXo-dIu0g/edit?usp=sharing

[2016-01-21 09:27] tangentfairy opened #887 "Error in dojos service about roles"
This came into the logs late last night

[code]

[2016-01-21 09:28] #850 closed

[2016-01-21 09:29] tangentfairy opened #888 "Salesforce not logging new accounts and leads"
Found out that part of this is due to a password issue, there is also another error:

[code]

[2016-01-21 14:19] tangentfairy commented on #888
Fixed, issue with account - needs to be a knowledge only user.

[2016-01-21 14:19] #888 closed

[2016-01-21 16:36] tangentfairy commented on #883
Beside "select ticket type..." which does the filtering by ticket type, add a "Search by name" textbox which will automatically filter the list (will start filtering after you type three characters).

![screen shot 2016-01-21 at 16 17 13](https://cloud.githubusercontent.com/assets/1136491/12486419/96622990-c05a-11e5-8c55-1f22f5cb6317.png)

Instructions for creating an event:
- As the manager@examp

[2016-01-21 16:50] Wardormeur commented on #883
Thanks :+1:

[2016-01-21 17:05] mcdonnelldean commented on #847
@geek We need to have a look at this, are we creating bad data?

[2016-01-21 22:15] Wardormeur commented on #883
Maybe could we merge the attending label with this search one.
Certainly, "attending" by itself is an indicator of how many places are available, but it could be displayed as "[input label=attending] (1/4)"; (1) being the validated user while 4 being the max. Being a bootstrap base, a badge could be appropriate.
However i don't include the waitlist in this display and can probably be thought a bit

[2016-01-22 08:11] flakyfilibuster commented on #713
I can take care of this @tangentfairy

[2016-01-22 09:06] tangentfairy commented on #713
Great, go for it! :)

[2016-01-22 09:24] tangentfairy commented on #883
@Wardormeur It needs to be like the invite dojo members functionality, where the list is refined as you type.

I'm not sure what you mean by merging the attending label - the labels listed can stay as they are, accept you can have a little arrow beside attendee to sort the list (like we do on manage dojos). Does that make sense? Happy to have a Skype to walk through further, would be easier than o

[2016-01-22 09:40] mirceaalexandru commented on #847
Can you please add a test to let me see the way you are using the store?

Take a look here for some basic tests.

https://github.com/mirceaalexandru/seneca-postgres-store/blob/dev/test/postgres.test.js#L358

[2016-01-22 16:52] rosalanghammer opened #889 "Add timezones to Events"
All event times are being inputted in GMT by default and there are no options to change this.

This is problematic as the event gets removed at the date & GMT time on the event rather than local time, particularly in American timezones which are behind GMT meaning the event gets removed too early.

The quick fix for this would be for events to only remove +10 hours after the event but in the long

[2016-01-22 17:10] niccokunzmann commented on #889
I think, usually the time zone should default to the event's location. The closing of the event should adapt to this. I think adding a field to change the time zone of the event would be useful in 0.1% of the cases and much more harmful. The event has a location and the location determines the time zone.

[2016-01-22 18:07] rosalanghammer commented on #889
Yes this is also a good option and probably preferable. Was suggested by
@tangentfairy earlier too :)

On 22 January 2016 at 17:10, Nicco Kunzmann <notifications@github.com>
wrote:

--
Rosa Langhammer
Reporting Lead

@RosaLanghammer | @CoderDojo

--
*Volunteer at your local Dojo and inspire the next generation of digital
creators!*

   - Pledge to start a Dojo <https://coderdojo.com/pledge-a-dojo/

[2016-01-22 18:58] Aryess commented on #741
Still not ready for dev?

[2016-01-22 19:02] Aryess commented on #874
@tangentfairy Can you assign this one to me please? :)

[2016-01-22 19:08] tangentfairy commented on #741
@Aryess Ready for dev!

[2016-01-22 20:25] CianMclennan commented on #815
I'm looking at this for the hackathon

[2016-01-22 20:29] tangentfairy commented on #815
@CianMclennan I think @josmas is looking at it!

[2016-01-22 21:04] josmas commented on #815
Yeah, we've talked about it; it's grand for the weekend, we can reevaluate tomorrow

[2016-01-23 02:27] rumasingh8 commented on #889
Thank you for opening up this issue. It would make most sense for the time zone to default to event's location as suggested above. Can this be done quickly enough?

[2016-01-23 02:49] rumasingh8 commented on #864
This will be very helpful as we are currently sending out a separate email from our gmail account to all our members once we publish the event. Thanks!

[2016-01-23 10:35] tangentfairy commented on #889
@rumasingh8 I don't think it would be an issue, the only thing is that we'd probably just do this for new events. If a volunteer takes this on it is a middle sized task, dependant on experience.

[2016-01-23 11:10] Giustina commented on #864
Its definitely the feature I want most for our Dojo :)

[2016-01-23 11:31] tangentfairy commented on #853
Completed last week

[2016-01-23 11:31] #853 closed

[2016-01-23 11:56] andresiglesias commented on #881
This is only happening when the attendee has been approved for the event.

[2016-01-23 12:04] tangentfairy commented on #881
Thanks for the update @andresiglesias !

[2016-01-23 12:14] andresiglesias commented on #881
What we want to show in the blue bar is "'Attendee name' has been successfully deleted" isn't it?

[2016-01-23 12:15] tangentfairy commented on #881
"Ticket for 'Attendee name' has been successfully cancelled" :)

[2016-01-23 12:49] iamconor commented on #810
I'm working on this one

[2016-01-23 12:55] tangentfairy commented on #781
Fixed and deployed now thanks to @machineperson ! :)

[2016-01-23 12:55] #781 closed

[2016-01-23 13:00] andresiglesias commented on #881
:+1:

[2016-01-23 13:13] Aryess commented on #877
![screenshot from 2016-01-23 13-12-00](https://cloud.githubusercontent.com/assets/3518172/12530299/f1d8050a-c1d2-11e5-97cf-7b6771aabd55.png)
Confirm the error.

[2016-01-23 13:34] Aryess commented on #877
![screenshot from 2016-01-23 13-34-13](https://cloud.githubusercontent.com/assets/3518172/12530392/08826fa4-c1d6-11e5-88e3-e10bc2c10363.png)
Tadaaa. PR on the way

[2016-01-23 13:54] Aryess commented on #823
You could like to an external article such as this one: http://gmailblog.blogspot.ie/2008/03/2-hidden-ways-to-get-more-from-your.html

[2016-01-23 14:23] tangentfairy commented on #562
This is live now, many thanks to @flakyfilibuster !

[2016-01-23 14:23] #562 closed

[2016-01-23 15:18] Aryess commented on #741
Ok I'll try this one

[2016-01-23 16:38] Wardormeur commented on #883
The remarks regarding the labels where more likely to understand what's more important to display, either the amount of free places or how successful your communication is (how many users registered for it).
To display it in a x out of y (5/10) sounded like a fastest way for the user to understand the information than to have to process the information by himself
Just saying :)

[2016-01-23 16:47] andresiglesias commented on #698
So, then it would be:
- Being able to filter users by name/user type
- Sort users by name (both in web and csv)

?

[2016-01-23 16:48] yannart commented on #846
Sent a pull request on cp-zen-platform repo.

[2016-01-24 04:34] rumasingh8 commented on #889
By new events you mean events that will be created after the bug is fixed?

[2016-01-24 07:54] gytdau opened #890 "Cannot view multiple events which are at the same location"
I've found a location on the map where there are two events at the same place.

![img](http://i.imgur.com/nj2aaqf.png)

However, you can't view the titles - only the address.

[2016-01-24 11:29] tangentfairy commented on #889
Yes - we could have a backfill script to fix the old ones but the priority
is to fix the new ones.

On Sunday, January 24, 2016, rumasingh8 <notifications@github.com> wrote:

--
Ursula Clarke Everett
Technical Lead @ CoderDojo Foundation
S: tangentfairy | T: @CoderDojo | @tangentfairy

--
*Volunteer at your local Dojo and inspire the next generation of digital
creators!*

   - Pledge to start a Do

[2016-01-24 14:18] rumasingh8 commented on #889
sounds good to me!

[2016-01-25 08:57] tangentfairy commented on #890
Do you mean two dojos at one place? This is very unlikely to happen, and if it did, a member of Foundation staff would need to change the coordinates for one of them.

[2016-01-25 09:02] tangentfairy commented on #698
@andresiglesias Yes, both sorting functions, and then the csv would be generated based on the sorting currently on the page.

[2016-01-25 09:37] gytdau commented on #890
I only brought this up because there actually are two dojos at that address
pictured above. If the plan is to manually move over the coordinates if a
dojo overlaps with another, then you can close this issue.

On Monday, 25 January 2016, Ursula Clarke Everett <notifications@github.com>
wrote:

--
Thanks,
*Gytis Daujotas*

[2016-01-25 09:53] tangentfairy commented on #883
This is live now, many thanks @Wardormeur !

[2016-01-25 09:53] #883 closed

[2016-01-25 11:50] tangentfairy commented on #890
Thanks for letting us know - we'll look into what coordinates are doubling up here and get it fixed asap :)

[2016-01-25 12:48] tangentfairy commented on #889
Deployed a temporary fix for this but we need the timezones sorted out other than this.

I have other fires to fight so will unassign this for a volunteer to take a look at.

[2016-01-25 15:30] rosalanghammer opened #891 "Optional Tao Text Boxes to be required once tickbox checked"
Once ticked the checkboxes under CoderDojo Tao e.g. 'Set up Background Checking for all Mentors' all have a drop down text box so Champions can justify how their Dojo is meeting the condition.

Once a checkbox for Tao is checked it must be required that they fill out this textbox to prove they are completing the step. This requirement needs to be added so you cannot move past the page without addi

[2016-01-25 16:07] rosalanghammer commented on #463
@tangentfairy RP Email workflow created in the sandbox & ready to be deployed.

Email will be sent 28 days after a Dojo is verified to remind them to complete Tao.

[2016-01-25 16:52] tangentfairy commented on #463
@rosalanghammer deployed now!

[2016-01-25 17:38] alan-donnelly opened #892 "Event description is not loaded when editing an event"
Steps to reproduce:
1. Create a new event
2. Remember to write something memorable in the Description field
3. Save as Draft or Publish the event (not certain it happens in the Draft scenario)
4. Edit the event (My Dojos -> Manage under events -> Edit next to the event created in 1.)

Notice the Description field is empty.

[2016-01-25 18:34] tangentfairy commented on #892
Hi @alan-donnelly This is a duplicate of issue https://github.com/CoderDojo/community-platform/issues/868

Thanks for the report!

[2016-01-25 18:34] #892 closed

[2016-01-25 18:34] tangentfairy commented on #868
CC @alan-donnelly

[2016-01-26 08:03] flakyfilibuster commented on #713
Done in PR https://github.com/CoderDojo/cp-zen-platform/pull/812 @tangentfairy

[2016-01-26 11:30] rosalanghammer opened #893 "Date changing after recurring Event saved as Draft"
Once the event is saved the end date is changing when you go in to edit again.

Reported by Ross, Champion in North Parramatta in Australia. Unsure if timezones or otherwise that is causing this issue.

Video here > https://drive.google.com/drive/folders/0B1eLynE0aU3mbVRmYmtlOHdtcjg

[2016-01-26 12:10] tangentfairy commented on #893
Possibly related to https://github.com/CoderDojo/community-platform/issues/868 and local storage. Could be specific to drafts only. [Start by looking here](https://github.com/CoderDojo/cp-zen-platform/blob/master/web/public/js/controllers/dojo-event-form-controller.js#L5).

[2016-01-26 15:43] tangentfairy opened #894 "Checking in for recurring events is slow"
Report from Tramore dojo that when they have many dates it takes a long time to check someone in.

They have dates set up of 16th January til 12th March, 3 pages of attendees on one session, and 5 sessions.

Loading the dates for check in seems to be slow and could be improved.

[2016-01-27 12:11] tangentfairy commented on #820
https://crowdin.com/translate/zen-community-platform/1/en-nl#430 Could be worded better

[2016-01-27 15:07] tangentfairy commented on #713
This is live now, thanks @flakyfilibuster !

[2016-01-27 15:07] #713 closed

[2016-01-27 15:08] tangentfairy commented on #881
This is live now, thanks @andresiglesias !

[2016-01-27 15:08] #881 closed

[2016-01-27 15:09] tangentfairy commented on #846
This is live now, thanks @yannart ! :)

[2016-01-27 15:09] #846 closed

[2016-01-27 15:11] tangentfairy opened #895 "Add Dutch as a language"
Fully translated, needs to be turned on/uploaded

[2016-01-27 15:31] tangentfairy commented on #820
Badges tab doesn't look to be fully added to this file.

[2016-01-27 15:36] tangentfairy opened #896 "Change limit per page of event session to 20 users"
To make it quicker to check in users, @Giustina suggested we change the limit per page to 20 users.

Need to be sure this won't slow the system down when there are a large number of sessions (test with > 3 sessions).

[2016-01-27 15:38] tangentfairy opened #897 "Redesign of Zen landing page"
It has been suggested to redesign the landing page to include some information on the right of the page that details the feature of the community platform.

This can be done in tandem with the redesign of the navigation bar. The map would be smaller and we'd remove the tabs and move the "list" to a smaller link.

[2016-01-27 15:47] tangentfairy commented on #895
Live!

[2016-01-27 15:47] #895 closed

[2016-01-27 15:53] tangentfairy opened #898 "Send email to all users in manage users"
We'd like a function in manage users where you can email the list of users.

This will be related to https://github.com/CoderDojo/community-platform/issues/698

If it is worked on after the above issue, make sure that the filters carry over into the email as well: That is, if I filter ninjas only in manage users, then the send email will only send an email to ninjas/youths.

[2016-01-27 17:11] tangentfairy opened #899 "Event lookup for city broken"
It seems the prefill feature highlighted this - you actually can't select a city other than the default of your dojo on an event.

[2016-01-27 17:20] tangentfairy commented on #899
Fixed here https://github.com/CoderDojo/cp-zen-platform/commit/fbab4bc3a09b014c0c74a7683a0f3a7db20602c3

[2016-01-27 17:20] #899 closed

[2016-01-28 06:21] flakyfilibuster commented on #645
hey all, I had a look at this.
I'm not quite sure this is solvable in the current state. If you see the intercom as being a problem on the charter page - then it's a problem during the whole registration. It will always overlay something.

Also, what screen dimensions are we talking here?
One could argue, that it is no problem from 1800px upwards, on the other hand the intercom overlays the whole

[2016-01-28 07:18] kurtdevocht opened #900 "Menu bar does not work in Microsoft Edge browser"
The menu bar does not work in Microsoft's Edge browser (Windows 10) - Buttons are not recognized as links.

![28-01-2016 8-16-59](https://cloud.githubusercontent.com/assets/3392982/12637697/910c39b2-c597-11e5-9df8-86c4164f27a7.png)

[2016-01-28 09:57] tangentfairy commented on #645
@flakyfilibuster I think it'd be a good solution to at least align the button to meet with the right hand side of the signature input. I'd be happy with that anyway :)

[2016-01-28 11:21] tangentfairy commented on #876
@johnbrett For more information on creating test data, [see this doc](https://github.com/CoderDojo/community-platform/blob/master/creating-test-data.md). The main (readme file is here)[https://github.com/CoderDojo/community-platform/blob/master/README.md].

- [Cancel backend logic is here](https://github.com/CoderDojo/cp-events-- service/blob/cc15412e8e8bd3be4e8b91c69ea03a3f6198bb34/lib/cancel-ses

[2016-01-28 11:31] tangentfairy commented on #900
Had @speciousstream9 test it and she says it is slightly off but not non-functional. So it sounds like we need to tweak the CSS slightly for IE - make sure that it is using floats correctly etc :)

[2016-01-28 12:51] tangentfairy commented on #882
For more information on creating test data, [see this doc](https://github.com/CoderDojo/community-platform/blob/master/creating-test-data.md). The main [readme file is here](https://github.com/CoderDojo/community-platform/blob/master/README.md).

- Test that this email does _not_ send when the ticket approval is turned off in an event
- [Take a look here](https://github.com/CoderDojo/cp-events-ser

[2016-01-28 12:58] tangentfairy commented on #698
For more information on creating test data so you can see the manage users page, [see this doc](https://github.com/CoderDojo/community-platform/blob/master/creating-test-data.md). The main [readme file is here](https://github.com/CoderDojo/community-platform/blob/master/README.md).

- The [manage users controller is here](https://github.com/CoderDojo/cp-zen-platform/blob/master/web/public/js/contr

[2016-01-28 13:41] DoubleYouEl commented on #820
This is not translated + should be integrated into the sentence at the "..."
![image](https://cloud.githubusercontent.com/assets/11661560/12645877/34985b76-c5cd-11e5-9333-d0c3e0794333.png)

[2016-01-28 14:09] petecoderdojo opened #901 "Awarded Badges not appearing on profiles"
Awarded Badges are not appearing on user profiles. See below for details.

![badges issue](https://cloud.githubusercontent.com/assets/10957621/12646525/8b39b18c-c5c8-11e5-871b-693215d3773d.gif)

[2016-01-28 14:11] tangentfairy commented on #901
This is happening on my profile: I have more than one badge in the `cd_profiles` table under my user id, but only one is showing up on my profile.

[2016-01-28 19:53] tangentfairy commented on #879
For more information on creating test data, [see this doc](https://github.com/CoderDojo/community-platform/blob/master/creating-test-data.md). The main [readme file is here](https://github.com/CoderDojo/community-platform/blob/master/README.md).

- The [intercom service is here](https://github.com/CoderDojo/cp-zen-platform/blob/master/web/public/js/services/intercom-service.js) and [is initialised

[2016-01-28 20:07] tangentfairy commented on #561
For more information on creating test data, [see this doc](https://github.com/CoderDojo/community-platform/blob/master/creating-test-data.md). The main [readme file is here](https://github.com/CoderDojo/community-platform/blob/master/README.md).

- The [application attendance for a ticket is updated here](https://github.com/CoderDojo/cp-events-service/blob/cc15412e8e8bd3be4e8b91c69ea03a3f6198bb34/

[2016-01-29 08:32] niccokunzmann commented on #561
It should still be possible to award the badges manually, since not everyone used the platform from the beginning.

[2016-01-29 08:44] tangentfairy commented on #561
Yes we will not be removing this functionality, this issue is just to add
extra functionality :)

On Friday, January 29, 2016, Nicco Kunzmann <notifications@github.com>
wrote:

--
Ursula Clarke Everett
Technical Lead @ CoderDojo Foundation
S: tangentfairy | T: @CoderDojo | @tangentfairy

--
*Volunteer at your local Dojo and inspire the next generation of digital
creators!*

   - Pledge to start a

[2016-01-29 11:36] rosalanghammer opened #902 "Customising questions asked to attendees on Events"
There have been a few requests from the community to add a way to customise or add additional questions asked when booking into Zen;

e.g.
1. Permission for photographs?
2. Does your child have any allergies/special requirements

[2016-01-30 10:48] johnbrett commented on #876
@tangentfairy Thanks for the extra info. I'm up and running with the platform and able to manage dojos and events locally but emails don't seem to be sending. Should they work out of the box or do I require any extra config/setup?

[2016-01-30 15:51] tangentfairy commented on #876
I've sent you a direct email with access to our mailtrap.io account!

On 30 January 2016 at 10:48, John Brett <notifications@github.com> wrote:

--
Ursula Clarke Everett
Technical Lead @ CoderDojo Foundation
S: tangentfairy | T: @CoderDojo | @tangentfairy

--
*Volunteer at your local Dojo and inspire the next generation of digital
creators!*

   - Pledge to start a Dojo <https://coderdojo.com/pled

[2016-01-31 09:15] johnbrett commented on #876
Perfect - thanks for the quick reply :)

[2016-02-01 15:09] bazkennedy opened #903 "Preselect user type and dojo when join dojo is selected"
I noticed an issue on the dojo's page that when you select a role (eg Mentor/Volunteer) and click join dojo
![image](https://cloud.githubusercontent.com/assets/2617738/12721020/7fa21c26-c8f5-11e5-8a44-e7a761e32242.png)

When you go to the next page you have to select your role again, making this first step redundant
![image](https://cloud.githubusercontent.com/assets/2617738/12721042/9ddf86ce-c8f5

[2016-02-03 07:54] FDelporte opened #904 "Alphabetic order of country dojo's not correct"
Hello, just noticed my own dojo is the last on the Belgian list ;-)

http://zen.coderdojo.com/dashboard/dojo-list > List > Belgium

Ieper is last and not in correct alphabetic order.
Mistake by me while editing or in the code?

[2016-02-03 07:56] FDelporte opened #905 "Improvement of dojo list: show number per country + collapse"
http://zen.coderdojo.com/dashboard/dojo-list > list

is now a very long page.
idea to improve:
- next to the country name show number of dojos
- make the country name clickable to expand/collapse the dojos in this country
- by default all countries collapsed

[2016-02-03 09:13] tangentfairy commented on #904
@FDelporte I'm willing to bet this is something to do with "leper" being in lowercase. We can update the sorting to be case insensitive, but in the meantime you could update it to be uppercase and it would likely be in order. Thanks for the report!

[2016-02-03 09:14] tangentfairy commented on #905
Happy for a volunteer to take this on!

[2016-02-03 09:15] tangentfairy commented on #905
I would suggest that the dojos in each countries not be loaded until the country is expanded also. It loads the entire list at once at the moment.

[2016-02-03 09:16] FDelporte commented on #904
nope, is uppercase in the editor...
the other one I can edit "Roeselare" is correct in the list

[2016-02-03 09:18] tangentfairy commented on #904
In the database it is lowercase, and on the listing. I updated it to be "Leper" uppercase and it appeared correctly alphabetically in the list. We still need to fix the case sensitive issue so this can stay open :)

[2016-02-03 10:46] tangentfairy opened #906 "Issue with accepting a badge when there's a slash in the name"
It seems that we are not escaping slashes when they are in the badge name - and that means when you go to the URL to accept the badge, it gives you a 404.

I've updated the badge URLs to remove the slashes for now, but we need to address the root issue here.

[2016-02-03 10:47] tangentfairy commented on #906
CC @petecoderdojo

[2016-02-04 20:37] Wardormeur commented on #709
Either way is to use the git remote on the cloned repo to commit to your fork

[2016-02-04 21:09] hippyjim commented on #864
If implementing this (which I desperately need as it takes ages picking the right users for the right ticket types otherwise) - could we look at matching invite ticket types to member/user types - e.g parents to a parent ticket, ninjas to a ninja ticket etc.

[2016-02-05 10:02] kennanseno commented on #709
@Wardormeur hmm. that would be fairly useful and easy workaround. you can add it on the localdev repo readme on how to do it btw.

https://github.com/CoderDojo/cp-local-development

[2016-02-05 13:50] rosalanghammer commented on #864
@hippyjim we plan on this being a notifier so you do not have to pick which category to match and the user will self identify!

[2016-02-05 13:51] rosalanghammer commented on #864
Also suggested by Liam Friel, Bray Dojo, was a 'Leave Dojo' option at the bottom of this notification email. I think this would be super useful so members can easily navigate and self exclude themselves when they leave a Dojo!

[2016-02-05 18:23] vikashvverma opened #908 "MIME type issue while running the app locally"
I am getting following error after running the app locally:

<img width="1440" alt="screen shot 2016-02-05 at 11 49 20 pm" src="https://cloud.githubusercontent.com/assets/915277/12855078/6d07001a-cc63-11e5-9dc4-668d58b30126.png">

Is there any extra configuration required?

[2016-02-05 19:11] niccokunzmann commented on #870
![Screenshot](https://cloud.githubusercontent.com/assets/564768/12856318/9694ff50-cc44-11e5-9417-e98230210093.PNG)

Firefox 43.0.4

[2016-02-05 19:13] niccokunzmann commented on #908
think that has to do with 404 pages. They are 200 pages with the 404 content.
#870 #836

[2016-02-05 19:18] vikashvverma commented on #908
@niccokunzmann I'm getting this when I'm trying to access localhost:8000.

[2016-02-06 11:04] tangentfairy commented on #908
@vikashvverma Are you seeing the map and the page itself with these errors? I seem to remember seeing this when all the node modules didn't install properly. Try rm -rf the node_modules directory in cp-zen-platform and npm install again. You can also try reinstalling the bower components by rm -rf bower components in the web directory and then install again. [This is in our troubleshooting doc.](h

[2016-02-06 12:29] vikashvverma commented on #908
@tangentfairy I'm still getting some errors. Markers in map are not visible.

<img width="1439" alt="screen shot 2016-02-06 at 5 57 34 pm" src="https://cloud.githubusercontent.com/assets/915277/12866645/5334d110-ccfb-11e5-92f9-4170a2fa9151.png">

[2016-02-06 20:21] Wardormeur commented on #709
Interesting reading regarding Github API to ease it further more
http://stackoverflow.com/questions/2423777/is-it-possible-to-create-a-remote-repo-on-github-from-the-cli-without-ssh
Can we rely on the git general username? I doubt so :|

[2016-02-06 23:31] Wardormeur commented on #893
I had a quick look at it, it's very likely related .
For a recurrent event from the 2016/02/07 to the 2016/02/29, the function dojo-event-form-controller#calculateDatesObj took as input for the last event
`Date 2016-02-28T05:00:00.000Z, Date 2016-02-29T13:00:00.000Z `
(which is already wrong) and returned
`  { startTime: Date 2016-02-28T06:00:00.000Z, endTime: Date 2016-02-28T14:00:00.000Z }` whic

[2016-02-08 06:59] flakyfilibuster commented on #645
hey there, sorry it took so long.
This got fixed in: https://github.com/CoderDojo/cp-zen-platform/pull/815

Please see attached screenshots.
![screen shot 2016-02-08 at 7 53 05 am](https://cloud.githubusercontent.com/assets/2176610/12879849/cde2754a-ce39-11e5-860b-f88838e70ec9.png)

[2016-02-08 08:57] tangentfairy commented on #893
@Wardormeur thanks - that will be helpful for @adhorrig who is currently fixing this issue while he is adding the timezone feature to events as part of https://github.com/CoderDojo/community-platform/issues/889

[2016-02-08 10:06] tangentfairy commented on #908
@vikashvverma Can you see the map at all?

[2016-02-08 10:53] vikashvverma commented on #908
@tangentfairy I can see the map but I'm not able to login/register.

[2016-02-08 10:53] tangentfairy commented on #908
@vikashvverma Okay, have you tried running the test data script as outlined in our docs? Join the Gitter chat if you can, then I can help you more instantly!

[2016-02-08 12:38] tangentfairy opened #909 "Ticino showing on map even though it is inactive"
Search for "Ticino" dojo in Switzerland, it doesn't show up in the list beneath the map but it does appear on the map, even though it is inactive! http://zen.coderdojo.com/dojo/ch/ticino/ticino/ticino

![screen shot 2016-02-08 at 12 37 29](https://cloud.githubusercontent.com/assets/1136491/12885805/c12a1ad4-ce60-11e5-8636-5f1d63a9a7db.png)

[2016-02-09 09:21] tangentfairy commented on #778
Happening again on Docklands dojo:

![screen shot 2016-02-09 at 09 19 39](https://cloud.githubusercontent.com/assets/1136491/12912069/455aabf4-cf0e-11e5-9d4c-4b355ddc7c7b.png)

There should be 35 youth tickets booked but the event has 38, and scratch is sold out but tickets are still bookable:

![screen shot 2016-02-09 at 09 20 33](https://cloud.githubusercontent.com/assets/1136491/12912113/72d49a

[2016-02-09 09:56] tangentfairy commented on #901
Fixed this last week

[2016-02-09 09:56] #901 closed

[2016-02-09 09:57] tangentfairy opened #910 "Jenkins build failures"
Jenkins is failing on CrowdIn errors, due to no API key being found, and also due to syntax errors in messages.po.

It seems that CrowdIn have changed something in their integration to cause this. I'm investigating at the moment.

[2016-02-09 10:53] tangentfairy commented on #876
This is live now, thanks very much @johnbrett

[2016-02-09 10:53] #876 closed

[2016-02-09 10:57] johnbrett commented on #876
Awesome! Glad to help!

On Tue, 9 Feb 2016, 17:53 Ursula Clarke Everett <notifications@github.com>
wrote:

[2016-02-10 07:09] flakyfilibuster commented on #760
Hey @tangentfairy, I'll have a look at this.

[2016-02-10 08:51] tangentfairy commented on #760
Great stuff! :)

[2016-02-11 10:16] tangentfairy commented on #778
I fixed in https://github.com/CoderDojo/cp-events-service/commit/78badb530e47f2f2af42496022d12a21a70e0420 and just deployed it. CC @Giustina

[2016-02-11 10:16] #778 closed

[2016-02-13 15:26] cormac commented on #659
:hand: I'll give this a go

[2016-02-13 18:54] josmas commented on #659
:+1: The easiest way is probably to write a GWT wrapper for this! _<-- yes, it's a joke; a bad one, but a joke after all!_

[2016-02-15 09:11] tangentfairy commented on #659
@cormac I'm guessing you'd need some sort of details for our Stripe account for this. I'd expect we'd need to store an API key in an environment file somewhere. Let me know what you need.

[2016-02-15 09:15] tangentfairy commented on #659
@cormac there is also another Intercom related issue here: https://github.com/CoderDojo/community-platform/issues/879

[2016-02-15 13:08] DragonBe opened #911 "Sytem failure when registrater for a new account"
Hi, I recently got invited to register an account at zen.coderdojo.com where I filled out my details. After pressing submit I received a server error.

[code]

![screenshot 2016-02-15 11 04 50](https://cloud.githubusercontent.com/assets/282825/13049464/67480b24-d3ed-11e5-9764-6d98df0caaa8.png)

As the error is a server-side error, there's not much more that I can include in this bug report. No fur

[2016-02-15 13:21] tangentfairy commented on #911
@DragonBe Could you send on the exact details you entered to info@coderdojo.org please? Also, did a second attempt fix the issue?

[2016-02-15 14:07] tangentfairy commented on #741
This is live!

[2016-02-15 14:07] #741 closed

[2016-02-17 12:48] ckiss commented on #847
I'm looking at this

[2016-02-17 12:51] tangentfairy commented on #847
Thanks @ckiss - as far as I know @adhorrig has a backfill script almost completed. He's in the Foundation Slack if you need to chat to him about it.

[2016-02-17 12:53] ckiss commented on #847
I don't think one is needed. I'll run some tests myself, but the thing is the difference between those two fields is that one is `json` and the other one is `json []` and I believe that's the way psql stores the json[] internally(I'll check this pretty soon).

How are you reading this data when you're doing statistics?

[2016-02-17 12:54] tangentfairy commented on #847
@ckiss string replace all the things or ilike - very nasty :)

[2016-02-17 13:34] ckiss commented on #847
@tangentfairy from my testing it looks like I was right, the difference between those two fields is that city is of type `json` and dates is of type `json[]` and the way the data is stored in postgres is that. To demonstrate that I created a test db with a table which has two fields(json and jsona) of those two types, and inserted some that into the table straight from pgAdmin, no seneca or anythi

[2016-02-17 14:20] tangentfairy commented on #847
Little bit of a misinterpretation here while @adhorrig was investigating, we're all sorted now, and @ckiss will write a script if he has time, but I'll be working on the SQL for it within the next week.

[2016-02-17 14:20] #847 closed

[2016-02-17 18:35] niccokunzmann opened #912 "Add crowdin to the footer"
**Context**

Currently in the footer, there is the text

This has no reference to [crowdin](https://crowdin.com/project/zen-community-platform). You can only reach crowdin of you click on "contribute code".

**Suggestion**
Add a link to crowdin so people can correct the text on the site.

**Hints**
The added text should not contain "translate" but rather "correct the text on the website" because t

[2016-02-17 23:01] coderdojopv opened #913 "Bulk load mentors and ninja addresses"
We are moving from eventbrite to zen.
It has been three years since we are using eventbrite.
We have a group of 70 mentors and 300 ninja

How can we bulk load mentor or ninja addresses, associating them to our dojo?
We have to do this one by one?

We think that bulk loading (like in a group) could be useful

[2016-02-17 23:06] coderdojopv opened #914 "Adding discount codes to events"
It is important scheduling a coderdojo event, to let mentor or hosts to get some tickets for their sons.
They are helping us and we cannot say to them: oh, sorry, there are no more tickets for your kids!
Please leave your kids to a babysitter, and then come and helpus in our session!

Is is possible to schedule an event publishing date, with the pssibility to make the event "invisible" till a cert

[2016-02-18 08:59] tangentfairy commented on #913
Hi @coderdojopv - I think [this issue](https://github.com/CoderDojo/community-platform/issues/811) is the feature you are looking for. Please upvote it - it is on our Long Term Roadmap at the moment as we have many other priorities on our Q1/Q2 and Short Term Roadmap milestones. Thank you!

[2016-02-18 08:59] #913 closed

[2016-02-18 09:00] tangentfairy commented on #912
Happy for someone to do this :+1:

[2016-02-18 09:02] tangentfairy commented on #914
Hi @coderdojopv - one of our community members is working on a [set ticket release time feature here](https://github.com/CoderDojo/community-platform/issues/409). It would be helpful to +1 that feature.

The discount code feature like there is in Eventbrite is not logged yet, so I'll leave this issue open to implement it.

It will need to be scoped out and we'll need to plan where it is going to g

[2016-02-18 11:22] tangentfairy commented on #911
Wait for more information, closing until we receive it.

[2016-02-18 11:22] #911 closed

[2016-02-18 11:22] tangentfairy commented on #908
@vikashvverma Let me know how you got on, please join the Gitter if you can so we can help. Will close this for now!

[2016-02-18 11:22] #908 closed

[2016-02-18 14:38] coderdojopv opened #915 "Events dates in UTC+01:00 reverting to GMT"
we are planning a dojo session for february 27th, that is a saturday.
I pick the 27 as day, the system register it in the field, but after I press Publish the event day keeps turning 26.
I also tried to restraint the event in the anti meridian (from 9:30 to 11:30) but nothing changes.

We are dojo 414: CoderDOjo Pavia.

Thanks for your help!

[2016-02-18 14:40] tangentfairy commented on #915
@coderdojopv our intern @adhorrig has been working on the events dates this week and is looking into this for you.

[2016-02-18 14:43] coderdojopv commented on #915
Thank you,
we wait to hear from you!

Laura

Mail: coderdojopv@compvter.it
WEB: coderdojo.compvter.it
http://compvter.it/index.php/coderdojo
Twitter: https://twitter.com/CoderDojoPavia
FB: facebook.it/coderdojopv

Associazione culturale comPVter <http://www.compvter.it/>
via del commercio 13, loc. Prado
<http://www.openstreetmap.org/way/318110395>,
www.compvter.it
Cura Carpignano (PV)

2016-02-18

[2016-02-18 14:52] coderdojopv opened #916 "Most Invited mentors receive the message "Invito non valido" (invalid invite)"
Dear team, sorry to bother you with all this issues!

We just started usng zen ticketing system.
I sent invites to all our mentor, inserting their mail and rpressing "Invite as mentor" button

The system answered me " Invite sent"
But when a mentor press the link contained in the email the system answers with "Invalid Invite" message (see attached print screen)

A lots of mentor reported me that.

[2016-02-18 14:55] tangentfairy commented on #916
Hi Laura, could you please go through info@coderdojo.org for support issues, Github is mainly for logging confirmed bugs and new features.

Adam can look after this request once you sort out the events issue.

[2016-02-18 14:55] #916 closed

[2016-02-18 15:05] coderdojopv commented on #409
we would like this feature too "Ability to set ticket release time"!!!

[2016-02-18 15:09] coderdojopv commented on #811
We would like this feature too.
I think the format could be a CSV or whatever (eventbrite exports in excel and other formats, from excel you can output CSV or TXT or whatever)
We have hundreds of ninjas we cannot add them manually

[2016-02-20 06:30] sudheesh001 commented on #912
I've given this a try, I would like your review @niccokunzmann and @tangentfairy

[2016-02-20 07:06] niccokunzmann commented on #912
I like it. I do not know if the messages.po file needs an update, too.

[2016-02-20 07:22] sudheesh001 commented on #912
Ah that's right, let me fix that immediately :smile:

[2016-02-20 07:38] sudheesh001 commented on #912
@niccokunzmann I've made the required changes, could you review now and merge if its good to go

[2016-02-20 07:49] niccokunzmann commented on #912
@sudheesh001 I cannot merge. @tangentfairy is the lead and can do that.

By the way, looking at https://github.com/sudheesh001/cp-zen-platform/blob/2f667906930664a404a14a194dcdca4184ec8955/web/locale/en_US/messages.po#L228
If it is one string in the mesages.po, it is nicer to translators. Crowdin handles links specially and the sentences do not get torn apart.

In the past I translated but did not

[2016-02-20 09:00] sudheesh001 commented on #912
@niccokunzmann Thanks for pointing to that, i'll make a fix and rebase it again. After that i'll wait for @tangentfairy to merge :smile:

[2016-02-22 09:38] tangentfairy commented on #915
This was due to an issue caused by the fix for https://github.com/CoderDojo/community-platform/issues/889, which has been rolled back now until we come up with a solid implementation.

[2016-02-22 09:38] #915 closed

[2016-02-22 09:52] tangentfairy commented on #877
Fixed, thanks @Aryess !

[2016-02-22 09:52] #877 closed

[2016-02-22 14:16] orrwil commented on #909
@tangentfairy Hi, I've submitted a [pull request](https://github.com/CoderDojo/cp-zen-platform/pull/821) to fix this issue, just dawned on me that I maybe should have lifted the issue 1st, Apologies.

[2016-02-22 14:46] tangentfairy commented on #909
Thanks @orrwil - I tested it and it works. I'm just wondering if you managed to test this locally?
I see that you have forked cp-zen-platform but not cp-local-development.

[2016-02-22 15:14] orrwil commented on #909
@tangentfairy I'm a bit new to a lot of this so might have made a few errors along the way. I originally just cloned cp-local-development to my laptop. I did get the local setup running, although there were some errors populating the db and I had to run the script (dojos.sql) again manually.  I was able to successfully test my change locally but my commits were producing errors, that I assumed wer

[2016-02-22 15:16] tangentfairy commented on #909
@orrwil I see - if you still have problems then make sure to join the [Gitter](https://gitter.im/CoderDojo/community-platform?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge)! Thank you for the pull request :)

[2016-02-22 15:27] tangentfairy commented on #909
This is live now, thank you!

[2016-02-22 15:27] #909 closed

[2016-02-23 09:48] tangentfairy commented on #745
No issues since, closing!

[2016-02-23 09:48] #745 closed

[2016-02-23 10:10] Wardormeur commented on #894
I think I'll need a bit more info to narrow it down.
Is this then 20+ events, each having 5 sessions of regularly 1 page attending ppl?
Do we agree this is related to the action to check-in or to the action of displaying the list of users/sessions (and then not related to the event whatsoever)?

[2016-02-23 11:33] Wardormeur commented on #894
It seems to be a lib related issue(https://github.com/dotansimha/angularjs-dropdown-multiselect/issues/45) (no extra call done on the API side), trying to find a workaround as the lib sound not really maintained

[2016-02-23 12:45] odowdj commented on #749
<img width="671" alt="setupyourdojotooltip" src="https://cloud.githubusercontent.com/assets/13198015/13251940/2d44fcea-da2b-11e5-8061-8076c7b59bbf.png">

@tangentfairy appears to be already fixed!?!

[2016-02-23 12:45] tangentfairy commented on #749
@odowdj I think someone fixed this at the last hackathon when they spotted it but didn't close the issue. Thanks :)

[2016-02-23 12:45] #749 closed

[2016-02-23 14:04] tangentfairy commented on #606
This is deployed now, thanks @clionaderoiste! @rosalanghammer this will make it a bit clearer for people booking into events.

[2016-02-23 14:04] #606 closed

[2016-02-23 15:21] clionaderoiste commented on #432
@tangentfairy is this meant to be open?

[2016-02-23 15:26] tangentfairy commented on #432
@clionaderoiste yes - ideally we'd just add this to the edit profile section, so that you have to enter: Your current password, and your new password twice to change it.

[2016-02-23 15:29] bazkennedy commented on #903
Just an update on this. The dojo is also not carried through, That means that anyone who tries to join a dojo has to go back in and join the dojo after they've created an account. This isn't very intuitive and as a result there could be new ninjas/parents who have registered for zen but aren't assigned to their dojo.

[2016-02-23 15:37] Wardormeur commented on #866
@tangentfairy This should be closed isn't it? :)

[2016-02-23 15:38] tangentfairy commented on #866
@Wardormeur - nope, privacy statement is still broken when logged in. Charter link was fixed.

[2016-02-23 16:39] Wardormeur commented on #772
It seems that the plugin we use haven't changed its way it's working for ages (but still updated on others sides) so it looks like a configuration issue (API key outdated that need a refresh mb)

[2016-02-23 16:47] denniskenny commented on #870
Looks like a file got renamed, fix here; https://github.com/CoderDojo/cp-zen-platform/pull/824

[2016-02-23 16:58] tangentfairy commented on #894
Perfectly fixed now, thanks @Wardormeur ! :)

[2016-02-23 16:58] #894 closed

[2016-02-23 17:09] dariocravero commented on #910
@tangentfairy could you point me to jenkins' output? thanks! :)

[2016-02-23 17:13] tangentfairy commented on #910
@dariocravero I do believe that Dean has someone who is going to look into this, but here it is anyway in case you have a bright idea:

[code]

[2016-02-23 17:18] dariocravero commented on #910
Yeah, I'd need more background on this I guess in order to even know where to start looking for that. At a first glance it seems like there might be some missing modules from the browserify bundle but your initial message says that it's related to CrowdIn so I wouldn't really know then...

[2016-02-23 17:20] tangentfairy commented on #910
Ah sorry, there are two issues! This one is about CrowdIn :) the issue is that it looks for an API key, and the solution is to add the crowdin.yaml file out of version control and update it on the server with the API key.

Someone internal needs to do this and it is assigned to me. Thanks anyway @dariocravero ! :)

[2016-02-23 17:28] tangentfairy commented on #689
Hasn't arisen since, closing for now.

[2016-02-23 17:28] #689 closed

[2016-02-23 17:39] Wardormeur commented on #762
Do you have a link to the structure definition on salesforce side? (size, format, etc)

[2016-02-24 09:39] rosalanghammer opened #917 "Badge awarding messaging for Mentors"
When awarding a badge to a Mentor the pop up says ' Are you sure you want to award this badge to the below Ninja?'

Wording is confusing and off-putting for those trying to award to their mentors so would be good if it could recognise the user type and use Mentor where appropriate or use a generic phrase like 'Are you sure you want to award this badge to the person below?'

![screen shot 2016-02-2

[2016-02-24 13:54] machineperson commented on #866
I'm really sorry about this, I wanted to fix this after the community hackathon, but work has been super busy and it just dropped off my radar. If someone else wants to have a look at this, please go ahead.

[2016-02-24 14:15] tangentfairy commented on #866
No worries, thanks @machineperson ! Will clear the assignee for now :)

[2016-02-24 16:19] tangentfairy opened #918 "Error when saving dojo lead on champion registration form"
[code]

When the last field is not filled in there is not a validation error showing on the page.

[2016-02-24 22:23] tangentfairy commented on #918
Hard refresh fixed it for him, assume it was a cached file from December when we had issues.

[2016-02-24 22:23] #918 closed

[2016-02-25 11:49] tangentfairy opened #919 "Internationalisation issues"
We currently have a number of languages already deployed through CrowdIn.

The issue is that languages like Japanese do not load.

Our i18n implementation should support Japanese.

One theory by @josmas is that we might be somehow compressing the files and this is causing the problem.

We first need to test that our plugins will support Japanese, if they do, then debug what the problem is.

Note:

[2016-02-25 11:58] tangentfairy commented on #812
They are sending now.

[2016-02-25 11:58] #812 closed

[2016-02-25 11:59] tangentfairy commented on #702
Last thing to be done is changing the wording on the emails

[2016-02-25 16:37] tangentfairy opened #920 "Bug with event capacity"
There's an issue with the event capacity at the moment where the tickets seem to run out too quickly

CoderDojo Pavia have an event with four sessions. One of the sessions has a capacity of 28 and there are 18 attending. When you try and approve a 19th applicant, there is an error:

[code]

![screen shot 2016-02-25 at 15 43 07](https://cloud.githubusercontent.com/assets/1136491/13326461/eb08b600-d

[2016-02-26 09:13] #912 closed

[2016-02-26 11:06] tangentfairy commented on #920
Fixed and deployed

[2016-02-26 11:06] #920 closed

[2016-02-26 11:07] tangentfairy commented on #810
Hi @iamconor just going to reassign this for someone else to look at

[2016-02-26 11:08] tangentfairy commented on #645
This is live! Thanks @flakyfilibuster

[2016-02-26 11:08] #645 closed

[2016-02-29 16:27] adhorrig opened #921 "Zen isn't using HTTPS when manually navigating to a URL."
If I manually go to: zen.coderdojo.com, the page is not using HTTPS by default.

If I navigate through a search engine, HTTPS is used.
HTTPS should be used in both cases.

Course of action here would be a re-direct to the HTTPS site.

[2016-02-29 16:41] adhorrig commented on #921
Duplicate off: https://github.com/CoderDojo/community-platform/issues/693

[2016-02-29 16:41] #921 closed

[2016-03-01 19:38] skynetbbs opened #922 "where are the 7-13 users"
when people visit the dojo page they can only book a room as guardian, champion or youth over 13...
where are the "youth below 13"?

https://zen.coderdojo.com/dojo/be/vlaams-gewest/izegem/izegem-1

[2016-03-01 20:12] skynetbbs opened #923 "Invite parent feature for Under 13's"
both parents are registered in zen...how can they both register thesame child in zen?

[2016-03-01 20:14] skynetbbs opened #924 "children of a mentor that is member of 2 dojo's automatically is registered for 2 dojo's?"
I'm a champion of one dojo and help out in a 2nd dojo
i've added my child ninja
and if i look at his profile he's member of both dojo's...i've never taken him to the 2nd location though?

[2016-03-02 07:59] ChristianVermeulen commented on #693
Wait, this was already known 5 months ago? Shouldn't this have higher priority? It seems pretty risky to me, especially since we are talking about private data of parents and children....
Im nit to familiar with the platform setup but a simple redirect should fix the problem right?

[2016-03-02 09:33] rosalanghammer commented on #923
Hi there! Unfortunately at the minute there is no way for both parents to attach the same child to their profiles. The short term fix for your Dojo is for the parents to only add the child to one of their profiles and then share the log in with one another.

Going to open a 'request for comments' on this one to see if any other Dojos want this feature.

[2016-03-02 09:42] rosalanghammer commented on #922
Hi,

As Youth U13 must be attached to a parent account, their parent has to join! When a parent joins their Ninjas are automatically brought across with them also.

We mainly use Github for new feature requests & issues. In future please drop us an email on info@coderdojo.org for these sort of problems :).

Thanks,
Rosa

[2016-03-02 09:42] #922 closed

[2016-03-02 10:11] Wardormeur commented on #693
Considering it is working "by default" (you can access it from https), it may not have been escalated, and considering a limited amount of people can actually fix it (server configuration is not open to my knowledge), this probably have been delayed.

[2016-03-02 10:21] skynetbbs commented on #922
Okay there is a bug in the URL to the dojo on zen
An ending -1 is added for every unecen update of the dojo fiche... Giving
error404 to people using the -1 or not -1 link
Op 2-mrt.-2016 10:42 schreef "rosalanghammer" <notifications@github.com>:

[2016-03-02 10:21] PhilipHarney commented on #693
Thanks for letting us know. I'm looking into this, but we're sort of in maintenance mode for the next couple of weeks while we're between developers. I've applied a server rule that *should* enable redirection and it seems to be working intermittently. I'm hoping that it just needs to propagate. I'll check back in a few hours.

[2016-03-02 11:35] adhorrig commented on #924
Hey @skynetbbs , thank you for bringing this up. I've just tested it and can confirm that this is the case.
@rosalanghammer could you please tag this as "backlog" and "long term road-map".

Note - to recreate:
Be a champion of a Dojo, with Ninjas attached to your account. Apply to be a mentor at a different Dojo. Approve the request and all you will see all Ninjas are also carried over.

[2016-03-02 11:54] skynetbbs opened #925 "can't approve an attendee"
Hi,

i've got an attendee (kylian)
i click on the "[ ]" approve... nothing happens
mother is asking if there is an issue...can her son join the next session?

my browser is Chrome Version 39.0.2171.95
no plugins...

[2016-03-02 12:46] BenChapman commented on #693
I believe this had been done but not closed and there is has since been a regression. Investigating now.

[2016-03-02 13:47] BenChapman commented on #693
I have put in place a temporary fix on the AWS stack. Will need to introduce it into the cp-zen-platform server, rather than relying on the environment the app is deployed to.

[2016-03-02 15:32] rosalanghammer commented on #925
Hi there,

Can you email a screenshot please to info@coderdojo.org so we can solve?

Thanks,

Rosa

On 2 March 2016 at 11:54, skynetbbs <notifications@github.com> wrote:

--
Rosa Langhammer
Reporting Lead

@RosaLanghammer | @CoderDojo

--
*Volunteer at your local Dojo and inspire the next generation of digital
creators!*

   - Pledge to start a Dojo <https://coderdojo.com/pledge-a-dojo/>
   - How

[2016-03-02 15:35] rosalanghammer commented on #922
Hi @skynetbbs how did you generate this URL? If you could email screenshots of this URL in your browser and how you changed it that would be great.

On Zen your URL seems to still be - https://zen.coderdojo.com/dashboard/dojo/be/vlaams-gewest/izegem/izegem

[2016-03-02 16:48] rosalanghammer commented on #779
This is not just an issue for custom URLs but seems to be occurring for every Dojo - even if you do not actually edit anything in the listing.

e.g. Start URL = https://zen.coderdojo.com/dashboard/dojo/ie/dublin/dublin/dublin-docklands-chq
If you click edit (listing) then save - New URL = https://zen.coderdojo.com/dashboard/dojo/ie/dublin/dublin/dublin-docklands-chq-1
Then click edit then save a f

[2016-03-03 14:48] BenChapman commented on #693
Code based fix now in https://github.com/CoderDojo/cp-zen-platform/commit/bc255003b05f34b074fdc7d42e868bb0da219a95. In the process of reviewing requirements for HSTS header.

[2016-03-03 19:58] ChristianVermeulen commented on #693
Seems to be a good fix :) At least https is forced now so all traffic is properly encrypted and secure! Wether is the right solution or not I'll leave up to you guys.

[2016-03-05 07:48] rekado commented on #779
This also affects our new Dojo in Berlin.  We have registered a shorter domain to forward to the zen page, but the URL keeps changing.  It would be great if we could have simple numeric ids for verfied Dojos or if a Dojo's zen page could be accessed via its long alphanumeric Dojo id.

[2016-03-05 11:54] #779 closed

[2016-03-05 11:56] BenChapman commented on #779
Once this is deployed the URL should no longer change on save, unless there is a change to the information used for the slug (country code, administrative area, place name, dojo name).

[2016-03-07 08:34] SlashmanX opened #926 "[Test Data] - Unable to update Dojo Founder for existing dojo's"
When trying to follow [these steps](https://github.com/CoderDojo/community-platform/blob/master/creating-test-data.md#becoming-championorganiser-of-an-existing-dojo) to assign a user as founder of an existing dojo, the following error appears. This occurs for all dojo's I try to update.

[code]

The dojo edit form looks like this before editing:
<img width="863" alt="screen shot 2016-03-07 at 08 3

[2016-03-07 09:29] josmas commented on #926
It looks like a Joi error. Have a look at https://github.com/hapijs/joi

[2016-03-07 10:46] SlashmanX commented on #926
Attaching screen recording of steps taken:

![dojo_lead_error mov](https://cloud.githubusercontent.com/assets/871743/13567194/c38bd4aa-e451-11e5-84b5-5bd36ea2e07f.gif)

[2016-03-07 11:01] SlashmanX commented on #926
[Screen recording of error](http://streamable.com/mrr6)

[2016-03-07 11:52] Wardormeur commented on #926
I believe it's breaking here (https://github.com/CoderDojo/cp-dojos-service/blob/master/dojos.js#L749) because we save the dojo then update the founder ( https://github.com/CoderDojo/cp-zen-platform/blob/master/web/public/js/controllers/edit-dojo-controller.js#L311)
Can't get further into debugging before this evening alas, so that editing a Founder is possibly broken

[2016-03-07 12:56] niccokunzmann opened #927 "dojo.setup.confirmation"
When I register myself as a Dojo Champion, I get a confirmation that says "dojo.setup.confirmation"
That should be some useful text.
![capture](https://cloud.githubusercontent.com/assets/564768/13570075/5acebd7c-e46c-11e5-9765-e9be0a655827.PNG)

[2016-03-07 13:00] niccokunzmann opened #928 "translate titles"
When I start a new dojo, the title is not translated. Other titles could also be affected.
![capture](https://cloud.githubusercontent.com/assets/564768/13570174/eac8ed9e-e46c-11e5-95ea-8af70321475a.PNG)
URL: https://zen.coderdojo.com/dashboard/start-dojo

[2016-03-07 13:03] niccokunzmann opened #929 "Tao message not translated"
These help messages seems to be missing on crowdin:
- [ ] Tao translation
    ![untitled](https://cloud.githubusercontent.com/assets/564768/13570211/38b90818-e46d-11e5-974b-305f6c6f2b6a.png)
- [ ] "Embody the ethos" translation and the `*` is not resolved
- [ ] "Please read ECHO" translation
    ![capture](https://cloud.githubusercontent.com/assets/564768/13570314/0fdd88b4-e46e-11e5-907d-e4e60420d

[2016-03-07 14:14] adhorrig commented on #927
Hey!

I believe that the issue is here:

https://github.com/CoderDojo/cp-zen-platform/blob/d9dc98254d3f1593fb69306c9800bc2a2daf1b2a/web/locale/en_US/messages.po#L1954

and

https://github.com/CoderDojo/cp-zen-platform/blob/cf2e0c2eaecd208b91fc1bba1e2871e8f155059b/web/public/templates/dojos/dojo-setup-confirm.dust#L6

[2016-03-07 14:59] niccokunzmann commented on #927
@adhorrig I suggest that the id "dojo.setup.confirmation" is changed to "Are you sure you have filled out all the information correctly and wish to proceed?". This is they way it is in crowdin and would be consistent.

[2016-03-07 15:02] adhorrig commented on #927
@niccokunzmann Thanks, I've done that here -> https://github.com/CoderDojo/cp-zen-platform/compare/master...adhorrig:i927-translate-alert-confirmation?expand=1

My local copy of Zen won't seem to change language though so I can't test it atm

[2016-03-07 15:06] niccokunzmann commented on #927
It looks good and I think it should work.
After merge, I do not know how one would upload that to crowdin so it can be translated.

[2016-03-07 15:07] josmas commented on #927
@adhorrig you can follow steps in https://github.com/CoderDojo/community-platform/issues/815 to test languages locally

[2016-03-07 15:10] adhorrig commented on #927
@josmas Thanks a lot! Was looking for that information in the docs :)

[2016-03-07 15:11] josmas commented on #927
Not sure it is 'officially' documented, but it most certainly should be! :)

[2016-03-07 16:42] skynetbbs commented on #640
the following flow happens...

someone searches my Dojo... cewl... i want to come... not as a parent...not as a youth...but as a mentor...hence "dojo is looking for mentors" is showing...

he clicks...hmm nothing happens...
clicks a few more times... nothing happens... is the zen platform broken? is coderdojo refusing my application?

in the meanwhile our "group" mailbox is filled with "a mentor t

[2016-03-07 16:58] rosalanghammer commented on #640
Hi @skynetbbs

As per my earlier email - the filter which we will be deploying soon on #698 will help with this. In addition, you can add Dojo admins so that other volunteers can approve mentors - perhaps deciding internally who will do this will help.

Lastly if you take a look at #874 - we are hoping to add an easier flow for mentors who are parents which will make this less painful :)

[2016-03-07 21:19] nigelhanlon commented on #763
I have submitted two pull requests which should provide this functionality if accepted.
Not sure exactly why I can't reference them directly but here are the links:

https://github.com/CoderDojo/cp-zen-platform/pull/831
https://github.com/CoderDojo/cp-events-service/pull/100

[2016-03-07 21:41] Wardormeur commented on #926
Issue validated, there seems to have a bug in test data, however the process to create a dojo from scratch is working fine and the founder can be updated.
In the present case, it's crashing because there is no reference to a previous Founder which is required to update to the new one.

[2016-03-08 12:51] niccokunzmann opened #931 ""Join Request Sent!" not translated"
When I click to join a dojo, the confirmation message is not translated.

URL: https://zen.coderdojo.com/dashboard/dojo/de/berlin/dojo-berlin-friedrichshain-1
Crowdin: https://crowdin.com/translate/zen-community-platform/1/en-de#2584

The difference is the "!"

![capture](https://cloud.githubusercontent.com/assets/564768/13602038/5e71034a-e534-11e5-8cd2-f7da52b72e90.PNG)

[2016-03-08 23:24] BenChapman commented on #779
This is now deployed. Any Dojos left with the "-1" on the end of their URL can remove it by updating their Dojo, and the "-1" shouldn't reappear on save after that.

[2016-03-09 08:22] niccokunzmann commented on #779
Thanks! @BenChapman

[2016-03-09 18:17] MMSequeira opened #932 "Event date showing as "invalid date" after event creation, impossible to set right"
When I try to create a new event in Zen, even though I select the date and time correctly (in this case 2016-03-12 and 03:00 pm to 06:00 pm), the date is set wrongly. When I check in the events listing, it appears as «invalid date». This makes it impossible to create new events. Can someone help? @dberesford, @dmk12 ?

[2016-03-09 18:55] tangentfairy commented on #926
@Wardormeur this might happen if there's an issue with the Salesforce Lead.

[2016-03-09 18:56] tangentfairy commented on #924
This was intended behaviour - all ninjas automatically are joined to any dojos which their parents are joined to.

[2016-03-09 18:57] tangentfairy commented on #923
@rosalanghammer we have an invite parent feature that allows children to invite secondary parents to their account.

[2016-03-09 18:58] tangentfairy commented on #928
@niccokunzmann there's an issue for all the oustanding translations here https://github.com/CoderDojo/community-platform/issues/820 it'd be great to consolidate these issues into that one and then @adhorrig could get them done in one swift go.

[2016-03-09 19:02] tangentfairy commented on #763
That's great thanks @nigelhanlon we hope to take a look as soon as possible!

[2016-03-10 13:17] niccokunzmann opened #933 "error.general - crowdin wording"
As with #927 we need a translation for this in place as it is generally not understood and inconsistent.

- [Crowdin](https://crowdin.com/translate/zen-community-platform/1/en-sl#449)
- [messages.po](https://github.com/CoderDojo/cp-zen-platform/blob/d9dc98254d3f1593fb69306c9800bc2a2daf1b2a/web/locale/en_US/messages.po#L1720)

[2016-03-10 16:33] niccokunzmann commented on #928
@tangentfairy Ok, right I understand. I will do something about it.
@niccokunzmann

[2016-03-10 16:35] rosalanghammer commented on #923
@tangentfairy to the Rescue.

@skynetbbs My apologies - see screenshot below on how Youths can add a second parent.
![screen shot 2016-03-10 at 16 29 43](https://cloud.githubusercontent.com/assets/12827424/13676488/f761830e-e6dd-11e5-8c89-9f652e9336ab.png)

Closing as not an issue or feature req.

[2016-03-10 23:07] skynetbbs commented on #923
can't be done with a youth under 13 so i notice?
hence this person has no own login
and invite parent is not visible

2016-03-10 17:35 GMT+01:00 rosalanghammer <notifications@github.com>:

[2016-03-11 09:46] niccokunzmann opened #934 "Translation Errors"
This issue unites all translation errors on Zen.

## Change the wording
These points are either split up and should be joined or are misspelled.
To mark them as fixed, remove the mistake and set the context in [crowdin](https://crowdin.com/translate/zen-community-platform).

- [ ] ["is public"](https://crowdin.com/translate/zen-community-platform/1/en-ga#336)
- [ ] ["has been successfully approved

[2016-03-11 09:52] adhorrig commented on #934
Thanks @niccokunzmann , maybe we should also introduce a translation label also?

[2016-03-11 09:54] niccokunzmann commented on #934
@adhorrig sure. I can not do that...

[2016-03-11 10:11] niccokunzmann commented on #929
closing as 934 obsoletes this

[2016-03-11 10:11] #929 closed

[2016-03-11 10:13] niccokunzmann commented on #931
closing as 934 contains it.

[2016-03-11 10:15] niccokunzmann commented on #933
closing, as contained in 934

[2016-03-11 10:15] #933 closed

[2016-03-11 10:19] #931 closed

[2016-03-11 10:19] niccokunzmann commented on #928
closing, as 934 contains it

[2016-03-11 10:19] #928 closed

[2016-03-11 10:21] niccokunzmann commented on #927
please do not forget to click it in 934.

[2016-03-11 10:23] niccokunzmann commented on #820
This was fully merged into 934. Please close if you had a look aver it and comment anything further in 934 where it can be assigned a checkbox.

[2016-03-11 10:27] niccokunzmann commented on #917
I referenced it in 934 as it is a request to change the wording in crowdin.

[2016-03-11 10:32] Wardormeur commented on #934
Awesome, thanks @niccokunzmann

[2016-03-11 13:00] tangentfairy commented on #934
That is so useful and clearer, thank you Nicco!

On Friday, March 11, 2016, Wardormeur <notifications@github.com> wrote:

[2016-03-11 14:43] rosalanghammer commented on #923
@skynetbbs Under 13's cannot have logins to be compliant with COPPA legislation. (This is why you cannot sign up for email accounts/social media accounts if you are under 13). We are multi-jurisdictional so wanted to keep in line with this as it is best practice adopted by all global technology companies with  youth users.

Have re-opened this as adding parent would be useful for under 13's as wel

[2016-03-11 16:27] adhorrig opened #935 "Coolest Projects title on the forums navbar says '2015' instead of '2016'"
See here: https://forums.coderdojo.com/

'COOLESTPROJECTS2015' in the navbar should be 'COOLESTPROJECTS2016'

cc @rosalanghammer

[2016-03-11 18:34] tangentfairy commented on #923
Suggest we add the invite box on an u13 profile when viewing it from the
parents account.

On Friday, March 11, 2016, rosalanghammer <notifications@github.com> wrote:

[2016-03-11 22:14] tangentfairy commented on #927
Thanks @niccokunzmann

[2016-03-11 22:14] #927 closed

[2016-03-11 22:16] tangentfairy commented on #932
This was reported by @MMSequeira recently and I fixed the issue in the database. It seems it is a recurring issue. If you do a search in the events database for empty date objects it will confirm how many users are having this problem.

@adhorrig had experienced this locally last month also. @Wardormeur this would be our highest priority issue to resolve at the moment.

[2016-03-12 08:18] cognitom commented on #919
Hello @tangentfairy !
Thanks for your instruction. I've built my local development environment with Japanese locale date from crowdin. `.po` file looks fine for me. But `locale` needs to be hard-coded on these files for testing purpose:
- [web/controllers/locale/index.js](https://github.com/CoderDojo/cp-zen-platform/blob/master/web/controllers/locale/index.js)
- [web/lib/dust-i18n.js](https://gith

[2016-03-13 11:15] Wardormeur commented on #903
Hey, sorry for coming back to you so late
So basically the registration is missing a pre-selection of the dojo you want to join, am i right ?

[2016-03-13 12:45] skynetbbs opened #936 "zen maintenance mode not shown on main page"
the login link is gone
people can't register any more activities as they are all away

by "hacking" the website (i just enter zen.coderdojo.com/admin) i notice there might be a "maintenance" mode active ?
could you make this more clear on the page that today all dojo's are not showing any bookeable events  nor allow changing / logging in?

[2016-03-13 13:19] Wardormeur commented on #936
We've activated the maintenance mode to avoid manipulaton while we're trying to fix a critical issue
Sorry for the inconvenience :|

[2016-03-13 13:28] bazkennedy commented on #903
Pre-selection of the role and the dojo. The dojo is the important one as its not so clear that you have to go back and join a dojo after you create an account. I wonder how many users have been left unassigned due to this.

[2016-03-13 14:05] rosalanghammer commented on #903
For the pre-selection of Dojo, wireframe could be similar to not logged in user flow for Events as in #865. i.e. no redirection to register.

Also +1 on preselecting user type - would definitely help bypass confusion for parents. Would work with #874 as mentors could automatically join as both parents & mentors.

[2016-03-13 16:07] BenChapman commented on #936
Currently adding the notice to all pages. Sorry for the confusion caused.

[2016-03-14 14:32] dmwelch opened #937 "Link to Zen/Kata from coderdojo.com"
Getting to these pages needs to be simple and straightforward to new participants, either directly from the main page or from a dojo's page (using 'Find a dojo').

[2016-03-14 19:05] tangentfairy commented on #937
@dmwelch there is a wireframe and design for a whole new navigation bar which will be in progress as soon as we have more development resources. There will be a lot more direct links to Zen and a more obvious link to Kata in the new navbar :)

[2016-03-14 19:05] #937 closed

[2016-03-14 19:05] tangentfairy commented on #936
This is live now, so closing, thanks all!

[2016-03-14 19:05] #936 closed

[2016-03-14 21:22] skynetbbs commented on #936
Hi,

how long will this be down?
nobody can register anymore for Coderdojo?
Some lead coaches only just send a mail to register...others have a dojo
next weekend and nobody knows about it or can do anything :(
downtime of more than 3 days? never had this with eventbrite :(
Can't this downtime not be limited?

2016-03-14 20:05 GMT+01:00 Ursula Clarke Everett <notifications@github.com>:

[2016-03-14 21:25] tangentfairy commented on #936
@skynetbbs I'm afraid I do not know about the downtime circumstances. @BenChapman might be able to tell you.

[2016-03-14 21:26] BenChapman commented on #936
[This post](https://forums.coderdojo.com/topic/104/zen-under-maintenance/2) will contain any updates about the situation with the platform. Please discuss it there, so everything is in one place.

[2016-03-17 11:43] skynetbbs opened #938 ""Manage users" is empty"
Hi,

i'm champion of dojo "Izegem"
today I noticed that when i wanted to manage the "user" section it was empty
yesterday this was fine

the "event" managment is okay...13 resources

[2016-03-17 14:12] rosalanghammer commented on #938
Hi @skynetbbs - Noticed that there is a delay in loading the users. Does this work after you wait for a bit?

Closing as this as is a support issue - email info[at]coderdojo.com if this continues with screenshots so we can help support.

[2016-03-17 14:12] #938 closed

[2016-03-17 15:47] Wardormeur commented on #934
Hey @niccokunzmann , do you have an automated way to check what's translated/n ?

[2016-03-17 16:46] Wardormeur commented on #934
#927  deployd & ticked :+1:

[2016-03-18 17:02] #917 closed

[2016-03-18 17:04] Wardormeur commented on #934
#917 deployed & ticked :+1:

[2016-03-20 09:02] #885 closed

[2016-03-20 09:33] Wardormeur commented on #903
user-type is merged, post-registration dojo subscription left to be done :+1:

[2016-03-20 09:38] #769 closed

[2016-03-20 10:01] #736 closed

[2016-03-20 17:00] raboof opened #939 "Actively sync users to the forum"
Currently, users can use the forums to send each other (private) messages.

This only works for users that already have used their forum account, as this is not automatically created when you sign up.

It would be nice to 'actively' create forum accounts for all users, so even though I haven't used to forum yet, I'm reachable there for others.

[2016-03-20 18:53] Wardormeur commented on #939
I totally agree :+1:
However it probably needs a review for everything related to children protection, as I don't think opening an account for an U13 is necessarly a good thing

[2016-03-20 19:15] raboof commented on #939
Makes sense - perhaps we should first do it for champions/mentors, and perhaps later consider what to do with other user types?

[2016-03-21 08:18] FDelporte opened #940 "Usability improvement: show loading message instead of no data"
eg if you go to my dojo > users, you get the message you have no users, until you wait long enough when they appear.

so actually the initial message is wrong, it should be "loading data..." and after loading show the list or "no users" when there are none indeed.

to be reworked in every place where data loads after loading the page (users, events, my dojos, ...)

[2016-03-21 10:00] Wardormeur commented on #940
Yes, we'd like a spinner here to avoid confusion.
It's just a short matter of time ;)

[2016-03-21 11:06] rosalanghammer commented on #939
1 to 1 messaging for anyone under 18 is not available and isn't planned for the forums or elsewhere. Ideally opening this up for (potential) Champions & mentors would be a great first step.

[2016-03-21 12:26] rosalanghammer commented on #775
We need to also allow Champions to add 'Champions'.

[2016-03-21 12:35] rosalanghammer opened #941 "Expected attendees to be made un-required."
On the Dojo listing page the 'Expected attendees' should not be required.

In addition a wording change should be made to make this section clearer;
'Please fill out the amount of expected attendees you think you will have attending your Dojo per session'

[2016-03-21 18:57] Wardormeur commented on #864
:+1:

[2016-03-21 18:57] #864 closed

[2016-03-21 18:57] #941 closed

[2016-03-21 19:03] Wardormeur commented on #932
This should have been solved, do you still experience it @MMSequeira  ?

[2016-03-21 19:04] Wardormeur commented on #893
@adhorrig Can we close this ?

[2016-03-21 19:39] MMSequeira commented on #932
I was able to create last week's session without date problems.

[2016-03-21 20:08] tangentfairy commented on #940
I think this is a duplicate of https://github.com/CoderDojo/community-platform/issues/760 - there is actually a pull request for it here that is probably good to merge once it is tested and synced with master. https://github.com/CoderDojo/community-platform/issues/760

[2016-03-21 20:09] #940 closed

[2016-03-21 20:09] tangentfairy commented on #925
Closing until more details are received

[2016-03-21 20:09] #925 closed

[2016-03-21 22:12] skynetbbs commented on #925
It seems i have To click above the checkbox. Must be an issue with the
citrix thinclient environment i work with
Op 21-mrt.-2016 21:09 schreef "Ursula Clarke Everett" <
notifications@github.com>:

[2016-03-22 07:42] adhorrig commented on #893
@wardormeur still open, the fix is on one of my local branches - will
checkout today and submit pr
On 21 Mar 2016 19:04, "Wardormeur" <notifications@github.com> wrote:

[2016-03-22 11:00] Wardormeur commented on #760
:+1:

[2016-03-22 11:00] #760 closed

[2016-03-22 11:48] Wardormeur commented on #698
Done by @SlashmanX :+1:

[2016-03-22 16:30] #820 closed

[2016-03-24 09:28] Wardormeur commented on #822
We're gonna remove the requirement in the first place for Parents adding children to have an email address.
Children won't be able to login until parents are adding the email address but it'll be less of a pain for parents to register their children

[2016-03-24 14:54] #763 closed

[2016-03-25 09:56] #893 closed

[2016-03-29 20:52] EugeneMcD commented on #935
The JavaScript that is on www.coderdojo.com needs to be implemented on all other sites. It pulls the menu items from the wordpress install on www.coderdojo.com and makes it easy to manage them in one place.

[2016-03-31 10:17] rosalanghammer opened #942 "Remove the Stage 'Status' tags."
Suggestion to get rid of the Stage tags ('Open, Come Along', 'In Planning' etc) on Dojo listing - can be misleading for users and we have had some comments from parents about this. If this is required by Dojos it could be written in notes.

@Wardormeur @adhorrig to add current usage stats.

Adding request for comment tag as before we move ahead it would be good to get community feedback on this.

[2016-03-31 10:22] adhorrig commented on #942
Current usage:

157 Dojos are using 'in planning'.
310 Dojos are using 'open, come along!'
388 Dojos are using 'register ahead'.
61 Dojos are using 'full up'.

[2016-03-31 17:06] BenChapman commented on #935
Look like the "Global Menu" has been removed from all sites.

[2016-03-31 17:07] BenChapman commented on #935
Close was accidental. Reopened

[2016-03-31 18:08] nerdess opened #943 "Setting the project up locally"
I'd like to setup the project locally but I do get a

when I run ./localdev.js init zen

afaik this has sth to do with postgres/node both pointing to 127.0.0.1 but i don't know how to fix it...

[2016-03-31 18:13] josmas commented on #943
Hi there, is _postgres_ actually running in your box? They will use the same address, that's not an issue, because they use different *ports* but it looks like postgres is either not running, or potentially being blocked by a firewall?

[2016-03-31 18:35] nerdess commented on #943
#facepalm no postgres was not running....works all fine now :)

[2016-03-31 18:48] josmas commented on #943
@nerdess great stuff; could you please close the issue if you are happy with the setup?

[2016-03-31 20:45] #943 closed

[2016-04-01 08:49] rosalanghammer opened #944 "Email notification of ticket cancellation"
At the minute we only have a notification if an event is cancelled but parents/mentors should be notified if their ticket is cancelled (either by themselves or the Champion/Dojo Admin).

[2016-04-01 08:53] rosalanghammer commented on #667
+1 from a Dutch Champion via Email.

[2016-04-01 21:15] tangentfairy commented on #935
I think it would be ideal if a configuration by a non-technical person of the nav bar was to be implemented that it pull centrally from the Zen API instead of Wordpress.

[2016-04-02 09:26] nerdess commented on #856
i am looking for an easy task to start with and will look into this :)

[2016-04-02 09:37] niccokunzmann commented on #856
@nerdess have you set up the development environment or do you need help with it?

[2016-04-02 09:41] nerdess commented on #856
localhost:8000 is running but got trouble importing the testdata...

[2016-04-02 16:24] Wardormeur commented on #440
I think the issue is kinda different : it seems the token are consumed even when you're not the right user. I've ran into it this week with dojo invitation

[2016-04-03 15:25] Wardormeur commented on #919
We've been deploying japanese last week, any feedback on it ?
cc @rosalanghammer

[2016-04-03 15:34] Wardormeur commented on #698
Search implementation is unfinished as multipage search is not working as intended (ie:: no results are found for the next pages)

[2016-04-04 10:09] rosalanghammer commented on #919
None on my side! @rossoneill may have had some that haven't been reported to me.

[2016-04-04 10:20] rosalanghammer opened #945 "Ability to change from Single to Recurring Event (and vice versa) in 'Edit Event' when Saved as Draft"
I understand why this is not an option for published events but while an event is still in draft it should be able to be changed from Recurring to Once Off or vice versa.

[2016-04-04 10:35] rossoneill commented on #919
None @Wardormeur but will be creating a naming formate for the japanese community - have you had any issues with cookies by any chance? In regards to the listings/manage dojos section translating to japanese even though it is set to english?

[2016-04-04 10:40] Wardormeur commented on #919
Well, if it's missing translations, we already have another ticket for it.
And when a luanguage is added, we ofc need the user to manually change to the appropirate language, we can't unset everyone's cookies for the "few" using the new languages, that would be a mess :/

[2016-04-04 14:26] rosalanghammer commented on #891
@adhorrig is there any update on this? I know you were looking at requirements on this page recently.

[2016-04-04 14:30] rosalanghammer commented on #874
@Wardormeur Can this be amalgamated in as part of #865 - though this is a more LT change to registration & profile?

[2016-04-04 14:32] rosalanghammer commented on #823
Closing as once #822 is deployed this will not be necessary. cc @Wardormeur

[2016-04-04 14:32] #823 closed

[2016-04-04 14:37] rosalanghammer commented on #805
Closing as opting to restructure booking process as in #865 instead.

[2016-04-04 14:37] #805 closed

[2016-04-04 14:38] Wardormeur commented on #874
Yes

[2016-04-04 14:38] #874 closed

[2016-04-04 14:41] rosalanghammer commented on #789
@adhorrig you have added this if I am correct?

[2016-04-04 14:47] adhorrig commented on #789
@rosalanghammer yes, however it was a duplicate! there is an open pull request for it by @josmas.

[2016-04-04 14:48] Wardormeur commented on #789
Yep, didn't merged it yet, will do after a review

[2016-04-04 14:56] adhorrig commented on #891
@rosalanghammer still open, i made the page more user-friendly but never submitted a pr for it

[2016-04-04 14:57] #896 closed

[2016-04-04 16:20] Wardormeur commented on #704
Verified applications is not having the proper reply to
Event invite is having it

[2016-04-04 16:38] rosalanghammer commented on #136
Media-wiki is to be scrapped so closing this as it will be irrelevant. cc @PhilipHarney

[2016-04-04 16:38] #136 closed

[2016-04-05 10:07] FDelporte opened #946 "Extend data in attendee CSV list of event"
Is it possible to add parent email to the list? Would be very handy for mailing all participants a reminder some days before the Dojo...

[2016-04-05 10:08] FDelporte opened #947 "Mailing function to all attendees of a Dojo"
Handy feature: mailing box to send a mail to all kids and parents who subscribed for a Dojo.
Usage:
- send a reminder a few days for the Dojo
- after the Dojo easily send a mail with the links of the Scratch studio, pictures,... of that Dojo
- ...

[2016-04-05 14:56] Wardormeur commented on #946
Wouldn't be notify users a more fitting functionnality ?

[2016-04-05 15:08] rosalanghammer commented on #946
A customisable reminder for event attendees (as opposed to a notification
of a live event to all Dojo members), would probably be more fitting. This
way Champions could edit it to include specifics for their Dojo.

Or should be a more basic reminder email, as templated by us, for event
attendees only.

On 5 April 2016 at 15:56, Wardormeur <notifications@github.com> wrote:

--
Rosa Langhammer
Repor

[2016-04-05 17:06] #775 closed

[2016-04-05 17:40] Wardormeur commented on #775
Deployed !

[2016-04-05 17:40] Wardormeur commented on #665
Deployed !

[2016-04-05 17:40] #665 closed

[2016-04-06 09:56] rosalanghammer commented on #873
Closing - will reopen if happens again.

[2016-04-06 09:56] #873 closed

[2016-04-06 10:14] rosalanghammer commented on #91
Would also be good to get the country breakdown of the following;
- Badges awarded
- Youths registered
- Champions registered
- Mentors registered

Also for Dojos using ticketing features;
- Total number of Dojos using ticketing (ever)
- Total number of Dojos who have used ticketing recently (3 months)
- Total number of live events

[2016-04-06 10:21] Wardormeur commented on #91
According to the API description, we allready have some of those, like badges awarded
GET              /api/2.0badges/kpi/number-of-badges-awarded
  GET              /api/2.0badges/kpi/number-of-badges-published
However probably broken regarding how the path is built :p

[2016-04-07 08:41] MMSequeira commented on #932
The issue occurred again. I've just created next saturday's event and the data is again "invalid date".

[2016-04-07 08:49] MMSequeira commented on #932
I've tried to edit the event and change the date, but it was still shown as invalid. I changed browsers and used Zen in English, rather than in Portuguese, edited again the date, and the date was set correctly. Could it be a date localization problem?

[2016-04-07 09:05] Wardormeur commented on #932
Ok thanks for the input, the localization should be definitely related

[2016-04-07 16:07] Wardormeur commented on #932
Do you remember last time you tried and it worked if you were in Portuguese or not ?

[2016-04-07 16:14] MMSequeira commented on #932
Can't remember. Sorry.

On Thu, Apr 7, 2016 at 5:07 PM, Wardormeur <notifications@github.com> wrote:

--
Google+: mmsequeira@gmail.com
Mobile: +351 962 337 428
Skype: mmsequeira

<http://zen.coderdojo.com/dojo/pt/lisboa/lisbon/lisboa-lx-1>

[2016-04-07 16:18] Wardormeur commented on #910
Closing as we're gonna move to CircleCI and it's a non-blocking issue anyway ;)

[2016-04-07 16:18] #910 closed

[2016-04-07 16:20] Wardormeur commented on #932
No worries :+1:

[2016-04-07 16:21] DGuiloff commented on #932
Guillaume Feliciano referred me to this thread from the CoderDojo forum. I experienced the same issue, in English, from Chrome but with the added issue that each time I tried correcting the invalid date, it sent out a notice to all of our members. This happened several times before the date stuck (and before I noticed incorrect invites were continuing to go out). The only thing I can remember doin

[2016-04-08 11:40] petecoderdojo opened #948 "Map Issue when you search fir "EGYPT""
I search for Egypt and it gives me a Dojo in Cyprus. This seems to only happen with this country at the moment.

<img width="1162" alt="screen shot 2016-04-08 at 11 49 25" src="https://cloud.githubusercontent.com/assets/10957621/14382450/c653042c-fd85-11e5-82f8-9c27cda462b2.png">

![egypt search issue](https://cloud.githubusercontent.com/assets/10957621/14382567/a624462e-fd86-11e5-8ddb-e3838a65f43

[2016-04-08 11:47] Wardormeur commented on #948
It may be not a bug, as if i remember well, it's supposed to return the nearest one
To be checked :)

[2016-04-08 12:02] petecoderdojo commented on #948
I see that would make sense. You can solve then

Pete

On 8 April 2016 at 12:47, Wardormeur <notifications@github.com> wrote:

--
Pete O'Shea

Community (EMEA) and Events Lead @ the CoderDojo Foundation
<http://coderdojo.com/>
PH: +353876965019 | Skype: peter__oshea
Twitter: @*p*eter0shea <https://twitter.com/peter0shea> @CoderDojo
<http://coderdojo.com/>

--
*Volunteer at your local Dojo and insp

[2016-04-08 13:16] adhorrig commented on #948
Seems to be the case, if you search for 'Angola' the map focuses to 'Loandjili, Pointe-Noire' Dojo which is in Republic of the Congo - and also the closest Dojo to Angola

[2016-04-08 14:53] petecoderdojo commented on #948
Ok 👍

On Friday, 8 April 2016, Adam Horrigan <notifications@github.com> wrote:

--
Pete O'Shea

Community (EMEA) and Events Lead @ the CoderDojo Foundation
<http://coderdojo.com/>
PH: +353876965019 | Skype: peter__oshea
Twitter: @*p*eter0shea <https://twitter.com/peter0shea> @CoderDojo
<http://coderdojo.com/>

--
*Volunteer at your local Dojo and inspire the next generation of digital
creators!*

[2016-04-08 15:40] niccokunzmann commented on #948
Maybe the map should also include the place where one is?

[2016-04-08 17:36] #676 closed

[2016-04-08 18:14] Wardormeur commented on #948
You mean autofocus to the region where you live ?

[2016-04-08 18:15] Wardormeur commented on #947
I think we already provide email for dojos, cc @rosalanghammer

[2016-04-08 18:18] Wardormeur commented on #946
A default template that could be customisable/editable/saved ?

[2016-04-08 23:34] elnomade opened #949 "Event edition - Address textbox modification not included on saving"
User role: Champion
URL: https://zen.coderdojo.com/dashboard/dojo/8308d14d-dda8-49a4-b217-6d07e9f88e2d/event-form/6e9900ca-b2f4-49eb-a4e3-5bc81c5c6740

Details:
In Event edition page, modifications on Address textbox couldn't be saved.
Initially, I reported a bug because this textbox was disabled on edition time.
Bug: https://github.com/CoderDojo/cp-zen-platform/issues/858
The disabled status was

[2016-04-09 19:00] Wardormeur commented on #949
Darn..
I'll have a look tomorrow morning, sorry

[2016-04-10 13:33] Wardormeur commented on #949
Hopefully fixed :)

[2016-04-10 13:33] #949 closed

[2016-04-11 10:55] Wardormeur opened #950 "Internationalisation & regonalisation scaling"
Displaying all regional languages on the dropdown will look messy, we should split the international languages from the regional ones with a separate page to offer more options
This way, you can quickly change languages and still select a regional one without having a 200 list of languages to scroll from

[2016-04-12 15:10] rosalanghammer opened #951 "Navigation to CoderDojo Tao when you have multiple Dojos"
Normally to finish CoderDojo Tao I would follow the pop up displayed on 'My Dojos'. There is no other navigation to complete this which is problematic when you have multiple Dojos and only 1 pop-up shows at a time.

Would consider adding a direct navigation to complete Best Practice/Tao as it is not obvious. Suggestions on where to put this or alternative approach welcome.

[2016-04-13 10:00] Wardormeur opened #952 "Separate reset-password state to allow support to direct link to it"
In order to ease linking to the reset password page, we need a separate ui-state for it

[2016-04-13 10:47] Wardormeur commented on #698
Fixed by @butlerx

[2016-04-13 10:47] #698 closed

[2016-04-13 14:32] rosalanghammer opened #953 "Booking Event Flow Change"
Change flow of booking so that user type can automatically be assigned if there is only one ticket you can possibly book.  e.g. Mentor or Parent (only match with the Mentor or Parent ticket type)

If there are multiple ticket types that a user can book in for either one or multiple tickets. e.g. Scratch, Hardware, Laptop.

Allows user to clearly see what they are booking in for.

Setup would be;
R

[2016-04-13 14:35] Wardormeur commented on #953
The idea is to reverse the display logic : instead of making it session oriented as it is atm, it should be user oriented.
This way, you easily see what you're booking for, both for yourself or your children

[2016-04-14 10:45] rosalanghammer commented on #947
No would have to be done manually through the Dojos inbox at the minute by exporting the Dojo Event list.

[2016-04-14 13:08] rosalanghammer commented on #946
@FDelporte You can export all users from an event (including parents) already.

Closing this as the next step to customise this would be to build #947 :)

[2016-04-14 13:08] #946 closed

[2016-04-14 13:10] Wardormeur commented on #932
Hey there,
Were those event recurrent or one-time only ?

[2016-04-14 13:21] MMSequeira commented on #932
One time only.

On Thu, Apr 14, 2016 at 2:10 PM, Wardormeur <notifications@github.com>
wrote:

--
Google+: mmsequeira@gmail.com
Mobile: +351 962 337 428
Skype: mmsequeira

<http://zen.coderdojo.com/dojo/pt/lisboa/lisbon/lisboa-lx-1>

[2016-04-14 13:31] Wardormeur commented on #932
Sorry to be a pain, but could you tell me how the date displays on your browser?
Is it like dd/MM/YYYY or does it displays differently ?

[2016-04-14 13:41] DGuiloff commented on #932
Same here, single, non-recurring event.

This is what the date/time display looks like during creation: http://grab.by/PtPU

[2016-04-14 13:46] MMSequeira commented on #932
I tried in different browsers, and with different default locales defined
in my Mac (Chrome, Firefox, Opera, and perheps Safari). I tried to set the
Portuguese locale, where dates are shown as yyyy-mm-dd, and also tried the
US locale, with mm/dd/yyyy. I tried Windows (Chrome) with the Portuguese
and US locales. None worked.

I managed to create our next session using Chrome on Ubuntu and my son's

[2016-04-15 09:08] Wardormeur commented on #932
I've been changing locales and date format without success to reproduce the issue alas.
We're using a quite outdated version of the lib, which seems to be flawed by a couple of problems when it comes to dates. We'll schedule an update of those and also provide a better way for you guys to report when we're debugging a specific issue with a specific dump of the different objects that can affect it.

[2016-04-15 13:50] ChristianVermeulen commented on #953
Most important, if you have 2 tracks and a capacity of 30 you can potentially end up with 60 ninja's.
Another possibility, and probably easy quick fix, is to be able to set a max capacity for your dojo.

This way you can have 30 tickets for each track, but close the ticketing as soon as a total of 30 have been booked.

You would also need to be able to make ticket types as `not counting` so ninja'

[2016-04-15 13:53] Wardormeur commented on #953
Should this maxCapacity defaulted to a caculation based upon the number of mentor? 1 for 5 ?

[2016-04-15 15:12] rosalanghammer commented on #953
Probably better for Champions to set capacity as they will have to take
into account Mentors and venue capacity!

On 15 April 2016 at 14:54, Wardormeur <notifications@github.com> wrote:

--
Rosa Langhammer
Reporting Lead

@RosaLanghammer | @CoderDojo

--
*Volunteer at your local Dojo and inspire the next generation of digital
creators!*

   - Pledge to start a Dojo <https://coderdojo.com/pledge-a-

[2016-04-16 17:49] DanielBrierton commented on #932
Managed to reproduce this. It happens when you delete all the text from one of the input fields of the time picker. This kicks the moment date in memory to "Invalid Date" because the time picker returns null if it's invalid. Simple fix was to just to not update fixedStartDateTime/fixedEndDateTime when this scenario occurs.

I've created a pull request with the fix: CoderDojo/cp-zen-platform#866

[2016-04-17 11:39] #866 closed

[2016-04-17 15:50] Wardormeur commented on #932
Bug fixed by @DanielBrierton :+1: Good catch
I'm leaving this opened for a couple of days to get any feedback regarding the fix to see if it covers everybody's issues

[2016-04-18 11:59] ChristianVermeulen commented on #953
Exactly what I meant @rosalanghammer :)

[2016-04-18 12:52] rosalanghammer opened #954 "Add Max Capacity to events"
Would have to find a way to set this only for Ninjas tickets.

This may be too complex for users with each session also having capacity fields so I wouldn't just add it on without thought; would like to request comments from Champions/Mentors as to if they would use this.

[2016-04-18 12:53] rosalanghammer commented on #953
@ChristianVermeulen have opened a new issue for this - may make the booking flow a bit more complex so would be great to get some comments on it. See #954

[2016-04-18 16:40] #904 closed

[2016-04-20 13:40] DGuiloff commented on #954
If you could set the max capacity of each ticket type (EX: for ninjas or loaner equipment) and be able to leave them at infinite (EX: for parents) while others have a max, that would be ideal. Would need to be able to easily modify this even after the event is created. Max ninja levels may increase with additional mentors/volunteers registered.

Champions/Ticket Admins would need a way to be proac

[2016-04-20 14:19] #463 closed

[2016-04-20 16:00] DanielBrierton commented on #568
Is the desire here to have the ability to manually send out a reminder on demand, or to provide the option of an automatic reminder X hours/days before the event when creating the event?

[2016-04-20 16:16] rosalanghammer commented on #568
Hi @DanielBrierton would be ideal to be able to turn this on when creating. If this could be default 48 hours before that would be awesome - also if it's easy it would be cool for volunteers to be able to customise this time from 48 hours to something more suited to them when turning it on.

[2016-04-21 14:23] Wardormeur commented on #887
Didn't happen since january, closing

[2016-04-21 14:23] #887 closed

[2016-04-21 22:46] DanielBrierton commented on #568
Something like this?

![event_reminder_1](https://cloud.githubusercontent.com/assets/181418/14726465/6b9c8806-081a-11e6-8791-0e9579218340.png)

The input field only displays when the checkbox is checked, and becomes a required field when displayed too. I'm not too sure on the label text I've used, but I'm struggling to come up with something better. Any suggestions on improvements to the layout/te

[2016-04-22 08:39] rosalanghammer commented on #568
Yes looks good to me - I would move it so it is positioned under 'Additional Options' though.

Can't think of a better label than that so roll with it :)

[2016-04-25 08:43] rosalanghammer opened #955 "Change 'Reply to' on New Dojo created email"
The reply to on emails alerting for New Dojos being created needs to be updated so you can instantly reply to the Founder/Champion email.

cc @Wardormeur

[2016-04-26 09:11] rosalanghammer commented on #410
Already deployed :)

[2016-04-26 09:11] #410 closed

[2016-04-26 17:43] #955 closed

[2016-04-27 16:06] rosalanghammer opened #956 "Find a Dojo on Coderdojo.com master navbar directs to 404"
It adds an analytics tracker to the end of the URL which seems to be the problem!

[2016-04-27 16:16] DanielBrierton commented on #956
What browser are you seeing this in? Just tested this on Chrome (49, stable) and Firefox (38.7.1 ESR) on Ubuntu and the map loads without any issue.

[2016-04-27 16:19] Wardormeur commented on #956
It's basically related to GA, when you navigate from Wordpress header "Find a dojo", ga append some parameters in the url that create an invalid state for ui-router

[2016-05-02 08:35] #704 closed

[2016-05-03 08:54] #810 closed

[2016-05-05 08:38] rosalanghammer opened #957 "Waiting list not working when not all classes or streams are sold out."
Waiting list does not activate for a specific stream. e.g. If the 'Scratch' tickets are sold out but the 'Parent' tickets are not. This needs to be the case or the Champion must have the option to enable the waitlist for specific streams.

It must only trigger when all tickets are sold out but I have not tested if this works.

[2016-05-05 08:44] rosalanghammer opened #958 "Error when checking in multiple people as a Champion/Dojo Admin"
![screen shot 2016-05-04 at 17 59 13](https://cloud.githubusercontent.com/assets/12827424/15039554/e1ce54ba-12a5-11e6-8983-7c054f595ad7.png)

[2016-05-06 10:15] Wardormeur commented on #958
There was an issue with the badges assignement (which are done through checking-in), so I believe that's what happened here : the service awaited for the badges to be awarded, which didn't respond, creating a timeout here
Closing it, feel free to bump it if it's happening again

[2016-05-06 10:15] #958 closed

[2016-05-06 12:35] #730 closed

[2016-05-10 08:11] Wardormeur commented on #935
Navbar is going to be redesigned to be global upon the whole websites ( Commercial/WP, Zen, Kata) I'm just going to quick fix this as the event is oncoming.

[2016-05-10 08:36] Wardormeur commented on #897
There has been a discussion regarding landing page, to make it more specific of a dashboard according to your user type, and more appealing regarding when not logged-in, likely having nearest upcoming events or newest awarded badges.

[2016-05-10 17:10] Wardormeur opened #959 "Add images for Dojos"
The idea is to be able to personalize a bit more your dojo page by adding a logo
This must be done as a new migration on cd-dojos to add the field take for reference the avtar field on cd_profiles https://github.com/CoderDojo/cp-users-service/blob/master/scripts/database/pg/migrations/010.do.add-avatar.sql)
I'd recommend using https://github.com/danialfarid/ng-file-upload to upload the file and ha

[2016-05-10 17:40] Wardormeur commented on #855
Hey @niccokunzmann, is this still happening?
I've tried with a couple of languages and when the languages had no translations, it was using the english word.
Was the issue that a translation was pulled (and existing) and the value was being empty ?

[2016-05-10 17:47] Wardormeur commented on #739
This has been done by @butlerx, am i right ?

[2016-05-10 17:59] Wardormeur commented on #445
Could it be closed as we have the ability to copy event to do this kind of behaviors ?
@rosalanghammer

[2016-05-10 18:04] rosalanghammer commented on #445
No this is still necessary for Dojos who run term/block booking and want to stop for 1 or 2 week holidays (e.g. Easter/Christmas break).

[2016-05-11 08:37] butlerx commented on #739
this was done [cp-zen/#873](https://github.com/CoderDojo/cp-zen-platform/pull/873)

[2016-05-11 08:50] #935 closed

[2016-05-11 08:56] #739 closed

[2016-05-11 11:49] Wardormeur commented on #761
This should probably be included as part of the custom dashboard notification for unfinished workflows once we have some mockups
https://github.com/CoderDojo/community-platform/issues/897

[2016-05-11 15:33] rosalanghammer opened #960 "Add progress bar at top of page during New Champion process"
Some Champions seem to be stopping halfway through the NC process.

A solution may be to add the progress bar to the top of the page as well as the bottom.

![screen shot 2016-05-11 at 16 32 10](https://cloud.githubusercontent.com/assets/12827424/15186737/19d05e86-1796-11e6-8d19-44fb13c1edaa.png)

[2016-05-16 15:28] rosalanghammer opened #961 "Add Ninjas to intercom"
Would have to be O13's so we can get mail directly to them through intercom :)

user-type = O13Ninja

[2016-05-16 15:34] Wardormeur commented on #961
So Intercom should be available for O13 + parent+ mentor+champion ?

[2016-05-16 15:41] rosalanghammer commented on #961
Yes indeed!

On 16 May 2016 at 16:34, Wardormeur <notifications@github.com> wrote:

--
*Rosa Langhammer*
Reporting Lead
@ CoderDojo Foundation
+353 872686 <+353+851088135>779 | @RosaLanghammer | Skype: rosa.langhammer l
<https://mail.google.com/mail/u/0/#UNIQUE_ID_SafeHtmlFilter_> Github:
rosalanghammer

--
*Volunteer at your local Dojo and inspire the next generation of digital
creators!*

   - P

[2016-05-20 15:19] Wardormeur commented on #956
Fixed by cleaning up the navigation system https://github.com/CoderDojo/cp-zen-platform/commit/d1f6402dc589b653dce3bb589cac698aba3b1eed

[2016-05-20 15:19] #956 closed

[2016-05-20 15:21] Wardormeur commented on #566
Done on https://github.com/CoderDojo/cp-zen-platform/commit/d1f6402dc589b653dce3bb589cac698aba3b1eed :)

[2016-05-20 15:21] #566 closed

[2016-05-20 15:35] Wardormeur commented on #865
Fixd in https://github.com/CoderDojo/cp-zen-platform/commit/90cf5e8d4ec8a9eaa86919bd9985796001e015dc

[2016-05-20 15:35] #865 closed

[2016-05-20 15:45] Wardormeur commented on #709
README updated, doing the fork on behalf of somebody is too much of a trouble

[2016-05-20 15:45] #709 closed

[2016-05-25 05:10] FleetAdmiral commented on #959
Hey , i'm new to Open Source , so i'd like to take this up , and would appreciate some help along the way too 👍

[2016-05-25 08:05] Wardormeur commented on #959
Furrpect, welcome in !
Start with https://github.com/CoderDojo/cp-local-development to prepare your locale environnement of Zen, then please feel free to ask any question, we don't bite :)

[2016-05-25 08:16] niccokunzmann commented on #959
I wrote [this](https://github.com/niccokunzmann/cp-automated-development) to automate the development installation and there exists a ready-to-start solution by @josmas, if I remember correctly.

[2016-05-25 08:20] Wardormeur commented on #959
We should add this to the list on cp-local-dev for the possible docker images :)

[2016-05-25 10:06] josmas commented on #959
@FleetAdmiral this hasn't been updated in a while, but should still work fine (if you use docker and fancy a shortcut): https://hub.docker.com/r/josmas/coderdojo-local-zen/

[2016-06-03 08:58] DanielBrierton commented on #932
Can we close this now? No further reports of this since.

[2016-06-03 09:02] Wardormeur commented on #932
yup.

[2016-06-03 09:02] #932 closed

[2016-06-11 14:56] Wardormeur commented on #959
@FleetAdmiral How is it going on? Please keep us updated if you need some help :)

[2016-06-11 20:21] FleetAdmiral commented on #959
@Wardormeur Sorry for the delay , kind of caught up with my own internship right now , give me a few days , will do it ASAP 👍

[2016-06-11 23:32] Wardormeur commented on #959
No pressure, just don't want you to give up on it by being blocked on a technical issue we could help with :)

[2016-06-13 14:40] Wardormeur opened #962 "UI Redesign"
Before the end of september, Zen is going to have a refreshing new UI.
To do so, a good couple of component/ pages will be redesigned. We have a couple of design that it may be interesting to share (@
We're taking any input on those :+1:

- [ ] Dashboard (https://forums.coderdojo.com/topic/126/your-personal-dashboard)
- [ ] Event
- [ ] Dojo Listing ( https://projects.invisionapp.com/share/RA7971JJ

[2016-06-13 14:42] Wardormeur opened #963 "Security Audit"
I won't go into details here, but we're going through a major review security-wise.
Once we'll be finished (for the time being), we will go back to the normal enhancement of Zen :)

[2016-06-13 14:48] Wardormeur opened #964 "Twilio Integration"
In order to gather more data from dojos not using Zen directly (but registred on Zen), we'd need a complement to the email poll we have done a month ago.
There goes Twilio :)

[2016-06-13 14:53] Wardormeur opened #965 "Development testing"
The idea was to have a globally based docker environment so we can easily rollout test-data into each µservice as a docker image.
The way the µservices communicates is however a blocker here, so that it must wait a rewrite to make each of those more independant and capable of "configurable" communication (independants ports/destination) instead of a single "zen" process running and connecting each

[2016-06-13 14:59] Wardormeur opened #966 "Eventbrite integration"
We can't compete with a company which business is ticketing, and don't want to if ours users find it adequate to use it more than ours. @rosalanghammer we will probably be needed some specs here to know what we're supposed to link together

[2016-06-13 15:01] Wardormeur commented on #91
Should probably be extended to data gathered from  https://github.com/CoderDojo/community-platform/issues/964

[2016-06-13 15:08] Wardormeur opened #967 "Mailchimp mailing list"
Users mailing list update is actually handled manually, it should be automatized so that our comm's team don't lose time on that

[2016-06-13 15:10] Wardormeur opened #968 "Kids project"
A solution to store kids projects in order for them to showup their work is being researched
Our idea so far would be to use the hosted gitlab instance and do some very basic interface with it in order to abstract the git workflow.
This way, static pages can be displayed directly on gitlab without us having to take care of it.

[2016-06-13 15:15] Wardormeur opened #969 "Logentries integration"
Logentries integration is being (re)worked
On-going repo is here https://github.com/wardormeur/cp-logs

[2016-06-13 15:17] Wardormeur opened #970 "Seneca upgrade"
We're running mostly 0.7.2 (sometimes 1.4) whereas seneca's now in 2.0 (nearly 3.0 if I'm not mistaking)
A good bunch of update is required here

[2016-06-13 15:24] Wardormeur opened #971 "E-learning integration"
In order to provide some ressources/advices for mentors, champions and volunteers in general regarding organisation & creation of a dojo, an integration with an e-learning system will be done
More to come through an official comm' :)

[2016-06-13 15:28] Wardormeur opened #972 "Create Table indexes"
For performance purpose, tables indexes and keys should be created, really.

[2016-06-13 15:32] Wardormeur opened #973 "Front-end Build system"
Everytime we deploy, a good part of our users (even in the team, actually ;)) complains it's broken.
We need to have a build system that allows us to

- [ ] minify
- [ ] concatenate
- [ ] **Version the ressources so that cache is refreshed**

I'd go with grunt since we already have it used, but open for suggestions as by experience it can get messy (no pipelines). It must work with our actual AWS/

[2016-06-13 15:35] DanielBrierton commented on #973
We can also generate our CSS from LESS at build time, instead of through hapi.

I'll throw my vote in for gulp as a build system.

[2016-06-13 15:38] niccokunzmann commented on #968
In our CoderDojo we have a [github repository for all projects on shared computers](https://github.com/CoderDojoPotsdam/projects). They are copied onto all shared computers and synced on boot. [(software)](https://github.com/CoderDojoPotsdam/software)

Version control is important in my view as it could happen that projects are deleted by mistake or restructured (this is running automatically so i

[2016-06-13 15:39] Wardormeur opened #974 "Public API"
Related to https://github.com/CoderDojo/community-platform/issues/963, we need a clien type afterwards to allow Access to the API for certains users
Implementation will probably require to create an access token either per website, or per user requiring an access
All API call should not be allowed

[2016-06-13 15:47] Wardormeur commented on #968
The original issue if I get it well was to provide a space for kids to display their projects, but we also have the urge to find a way to store them on our dojo (lost usb keys & stuff)
The solution could be a combinaison of "where is it stored (personal github, gitlab, cvs (joking :)) ) and a online page in case it's available.
One solution could be to configure at a dojo level what kind of hostin

[2016-06-13 15:51] Wardormeur commented on #973
min & concat can be both js & css :))

[2016-06-15 11:12] butlerx opened #975 "duplicate cookies"
duplicate cookies with the same value but different paths can be created. this causes internal server errors. This can be replicated using postman, if you query the api then open localhost you'll get server errors. it can be fixed by removing both 	NG_TRANSLATE_LANG_KEY and freshening

[2016-06-16 09:53] butlerx commented on #973
a grunt or gulp task would be easily added to the build procedure on circle before deployment.
Id also say use grunt since we already use it and dont really want to have people install both

[2016-06-17 14:32] butlerx opened #976 "Move functions to correct stack"
The function load_dojo_admin_for_user and load_champion_for_users are in cp-users but they use none of the user data and only call cp-dojos functions and the functions there call back to cp-users. so they should be refactored or moved

[2016-06-18 14:09] butlerx opened #977 "Registration doesn't finish with the registration page"
We should ask for db country and county in registration since they are needed to sign up

[2016-06-18 14:12] butlerx opened #978 "Tablet mode"
The view isn't set fir tablets which means tapping could lead to zooming in and out

[2016-06-18 14:17] butlerx opened #979 "Forums on iPad"
login on  the forum doesn't always work on iPad it's possible cookies aren't being cleared as it happens from logging in and out to different accounts

[2016-06-18 14:20] butlerx opened #980 "Zen on doesn't work on iPad in incognito mode"
Zen won't load at all on an iPad in incognito mode possibly related to #979 as cookies wouldn't be set

[2016-06-18 14:30] butlerx opened #981 "Country on profiles page"
You have to select the country after searching for it on the profile page and if you don't click it goes back to what it was before

[2016-06-18 15:05] butlerx opened #982 "Private dojo different colour pin"
Private and public dojo should have different coloured pins

[2016-06-19 18:56] DanielBrierton commented on #980
Just had a quick look at this. The same behaviour exists on OS X with Safari's private browsing mode. It seems like private browsing disables local storage, and some angular components (and ourselves) use it without checking if it's available for use.

[2016-06-20 08:22] adhorrig commented on #981
Country is fine, city/town has the above issue.

[2016-06-20 15:09] Wardormeur commented on #561
This has been done some time ago, should be closed :]

[2016-06-20 15:09] #561 closed

[2016-06-21 09:32] butlerx opened #983 "auto populate youth profile based on parents"
youths profile information such as country and city can be pre filled when they are being created based on their parents information to make set up simpler

[2016-06-23 15:24] #978 closed

[2016-06-23 15:24] Wardormeur commented on #979
Was related to forum config/allowed users

[2016-06-23 15:24] #979 closed

[2016-06-23 15:26] Wardormeur commented on #980
Display that we don't support incognito mode on Safari should be less worst solution

[2016-06-23 15:29] Wardormeur commented on #962
We're going to share documents (images probably) of the mockups asap

[2016-06-23 15:33] Wardormeur opened #984 "Create table indexes"
In order to fasten queries, we should defined indexes for most tables
Per microservice :
- [ ] users
- [ ] dojos
- [ ] events

[2016-06-23 15:34] Wardormeur commented on #984
duplicate of https://github.com/CoderDojo/community-platform/issues/972 meh

[2016-06-23 15:34] #984 closed

[2016-06-23 15:38] Wardormeur opened #985 "Add support for https for openbadgekit"
Especially since images are loaded through openbadgekit, it creates a mixed content (http over https)

[2016-06-23 15:42] Wardormeur opened #986 "Complete coderdojo.github.io with more infos"
We should add more info reflecting the .md files of certain projects, to ease the process of participation
- [ ] Architecture
- [ ] HowTo
- [ ] Repos (main vs plugins/lib)

[2016-06-23 15:49] Wardormeur opened #987 "Move emails subjects to backend"
Process to send an email are defined for the templates in the front-end, translated then in the back-end
We could move those subjects to the back-end to not expose possibly improper title on an email

[2016-06-29 13:57] elnomade opened #988 "All emails are sent in english language"
Even when there are templates for spanish in the crowdin project, all messages are sent in english instead of spanish.

Our Coderdojo is located in Córdoba, Argentina.

This issue was previously reported and even when was closed as solved that never happened. We still receive all emails in english instead of spanish.

[Gmail - Your ticket request for Encuentro #35 - 2016 - Coderdojo Córdoba en PE

[2016-06-29 14:18] elnomade opened #989 "Add Regional settings and Language preferences to dojo edition form"
Current Dojo edition form does not include any language neither regional settings options.
At least, it will be great if you implement Time zone and Language options.

[2016-06-29 14:39] Wardormeur commented on #989
We have a geolocalisation, so that should be based on it i guess.
Any scenarios where you can see the usage of specifying the language? Country with multiple dialects?
For the timezone, I guess it's related to event's timezone/ opening hours, so that it should be specified on the event detail?

[2016-06-29 14:58] DanielBrierton commented on #988
Hi Leonardo,

Thanks for the bug report. The specific template for that email has actually not yet been translated to Spanish. https://crowdin.com/translate/zen-community-platform/1147/en-esar

We need to do a cleanup of unused templates from CrowdIn, as I can understand the confusion as an older template for the same purpose is translated.

If you are seeing this issue with emails that have been

[2016-06-29 15:42] elnomade commented on #989
Possible scenarios examples:
Canada: two official languages, french and english.
India: multiple languages in each state
Latin America: support for native communities
Ethnical community in a different country: japanese communities in Argentina, Brazil and Peru.

I'm aware that the platform already implemented geolocalisation but it is not enough in some scenarios.

[2016-06-30 01:59] elnomade commented on #988
Coderdojo LatAm volunteers completed the Argentinian spanish translation. Currently is 100% complete.
https://crowdin.com/project/zen-community-platform/es-AR

[2016-06-30 02:01] elnomade commented on #988
I used a Mozilla Firefox browser, Argentinian spanish version. I used it when I sent the previous email group and a few minutes again. The issue persists.

[2016-06-30 02:43] elnomade opened #990 "Event details render without translation"
Event grid in Dojo page shows Date and Type in english instead of spanish.
![error_traduccion_ficha_eventos](https://cloud.githubusercontent.com/assets/1916339/16475051/bc3a68d8-3e51-11e6-8982-2af3a1e15303.png)

We checked with Chrome and Firefox browser, both in Argentinian spanish.

[2016-06-30 02:46] elnomade commented on #990
Sample: https://zen.coderdojo.com/dojo/ar/cordoba-cordoba/cordoba-pezs

[2016-06-30 08:20] adhorrig commented on #990
Hey @elnomade. This specific lack of translation has been reported into this issue - https://github.com/CoderDojo/community-platform/issues/934 :smile.

The above issue also contains other areas which are not translated.

Adam.

[2016-06-30 09:48] Wardormeur commented on #988
We'll need to add the Argentinian translation not sure it's in our deployment job right now @butlerx

[2016-06-30 09:50] butlerx commented on #988
its not currently in our deployment ill add it now

[2016-06-30 09:51] #982 closed

[2016-07-01 09:36] butlerx opened #991 "duplicate issues on road map marked as closed are shown as completed"
despite actually just being closed because issue is open somewhere else

[2016-07-01 09:40] adhorrig commented on #991
fix; get issues with label 'in+progress' and state 'closed'. that would prevent non-issues coming up as they are closed

[2016-07-01 09:42] butlerx commented on #991
could also look for duplicate tag and ignore if it has it

[2016-07-01 09:48] adhorrig commented on #991
that is true, i don't mind 😄 .. ^^ the above can be changed

[2016-07-04 11:28] Wardormeur commented on #991
Prefer excluding the duplicate :)

[2016-07-07 12:01] niccokunzmann opened #992 "Possible remote code execution?"
**Context**
I just stumbled upon this [email in crowdin](https://crowdin.com/translate/zen-community-platform/1152/en-de). Here is a snippet:

    <% for(var i=0; i<tickets.length; i++) { %>
    <%= tickets[i].ticketName %> <%= tickets[i].ticketType %> <%= tickets[i].quantity %>

**My guess**
This could be Java or JavaScript or C++. I think it is JavaScript because the server is a node server.
I a

[2016-07-07 12:26] niccokunzmann commented on #986
For me this page is the welcome page to the development community. If people feel invited by this page, they join.

- I think of a get-started video of about 15 minutes with the following content:
  - setup your development  environment (VM for Windows users as extra video)
  - Comment on an issue. If you take https://github.com/CoderDojo/community-platform/issues/934, then it can be useful in the

[2016-07-07 12:54] niccokunzmann commented on #934
Translation forgotten:
- "the CoderDojo Foundation", in the footer of every site. e.g. on the [main page](https://zen.coderdojo.com/).
![capture](https://cloud.githubusercontent.com/assets/564768/16653742/ae15606c-4452-11e6-993c-b8c2b4c684c2.PNG)

[2016-07-07 19:54] niccokunzmann commented on #986
I just made a video of how to contribute to zen localization: https://www.youtube.com/watch?v=WtS5_4ghgR4&feature=youtu.be @Wardormeur

[2016-07-08 08:35] Wardormeur commented on #986
Very cool, thanks for this !
I'll make a PR today to get it in :+1:

[2016-07-08 08:43] Wardormeur commented on #992
Mh, from what i believe it is, it's hardly spoofable as the data comes from the backend. However, anybody "could" replace this bit of code by .. anything if they wanted to, in a way translation are "open", to a point a random link could be hardcoded into the translation, which means verification is the translation is crucial, but hard for us to do as we're not (native, or not at all) speakers. I'm

[2016-07-08 09:12] #948 closed

[2016-07-08 09:53] Wardormeur commented on #990
Duplicate of #934 https://cloud.githubusercontent.com/assets/564768/11919877/3136c19e-a75e-11e5-8a88-e54e658c4d4a.PNG

[2016-07-08 09:53] #990 closed

[2016-07-12 13:47] Geekluca opened #993 ""Find nearby Dojos" in Zen does not find"
I've noticed that it's very hard to find a nearby dojo using "Find nearby Dojo" in Zen.
The following small towns (in north Italy) all have a nearby dojo, but Zen always return "No Dojos match your search query".
Lesmo is 9 km away from CoderDojo [Lissone](https://zen.coderdojo.com/dojo/it/lissone-province-of-monza-and-brianza/lissone) same as Vedano (only 3 km distant from Lissone) or Biassono (o

[2016-07-18 09:01] Wardormeur commented on #993
Thanks for the report
We'll try to figure out what's wrong in our implementation, (which is based uon Google's libs and seems to find it for gmaps)

[2016-07-18 09:06] Wardormeur commented on #992
Regarding issue 2, we need to find a better solution.
I've been stumbling upon translations that are .. translating the variables/changing the processing tags
First problem : crowdin recommend to add a space after an ".", which means we need to flatten in order to reduce the error possibility. I'll talk with @PhilipHarney to see if we can "freeze" some parts of the translations to avoid changing a

[2016-07-22 09:58] DanielBrierton opened #994 "Date of birth sometimes displays incorrectly due to timezones"
To reproduce:
* Set your timezone to Kiribati
* Set your DoB on your profile to 30/12/2000
* Change your timezone to American Samoa
* Load profile

Expected result:
* DoB is displayed as 30/12/2000

Actual result:
* DoB is displayed as 29/12/2000

The DoB is displayed as 31/12/2000 if you reverse the timezones in the reproduce steps.

[2016-07-22 12:19] rossoneill opened #995 "CDF - Add Column to Zen Manage Dojos with Verified Date"
Create and Addition Column to Display the Verified Date of the Dojos in the Manage Dojos Admin Section.

[2016-07-22 13:26] rosalanghammer commented on #995
Solution to replace manual documentation - not top priority as resulting statistics needed will be developed in Stats Platform.

[2016-07-24 07:57] niccokunzmann opened #996 "Register>UserType>Infobox too big and missing formatting"
![capture](https://cloud.githubusercontent.com/assets/564768/17082573/09b21b5c-5184-11e6-9f1a-91c6f67389ba.PNG)
- [ ] The size is so big it does not fit on the screen
- [ ] Bullet points are not shown as such and miss the bullet
  - Champion
  - Ninja
  - ...
- [ ] Bullet points should be ordered so that they have the most impact
  1. Ninja - They do not read so much
  2. Mentor - I do not know ab

[2016-07-24 09:49] Wardormeur commented on #962
@DanielBrierton Do you have the link to the latest pdf so we can share it? :)

[2016-07-24 10:02] Wardormeur commented on #996
Thanks for the report !
We'll be starting a cleaning spring sprint starting next week (https://github.com/CoderDojo/community-platform/issues/962), and a couple of rethinking of the codebase. One of the decision made was to simplify the registration usertype as it was bringing too many errors(codebase wise)/misunderstanding ( user wise). This way, only "Ninja/Adult" will be left during registratio

[2016-07-28 08:36] Wardormeur opened #997 "Dojo new info box"
This new UI component will display different information according to your user group:
as a dojo-admin, you will see new members and latest events
as a member, you will see latest events
It's expected to be used in a sidebar for the new dashboard

[2016-07-28 08:39] Wardormeur opened #998 "Your children info box"
This new UI component will display, as a parent, the latest changes in your child progression.
It includes "upgrading" the account from u13 to o13, updates on his project, and very likely newest badge received.
It's expected to be used in a sidebar for the new dashboard

[2016-07-28 08:44] Wardormeur opened #999 "Sign up with Google"
In order to ease the registration, a "sign-up" using Google accounts should be added.
This imply the registration user-group will be limited to kid/parent.
According to seneca-auth, it's available as a plugin : https://github.com/Concorda/seneca-google-auth

[2016-07-28 08:46] Wardormeur opened #1000 "Sign up with Facebook"
In order to ease the registration, a "sign-up" using Facebook accounts should be added.
This imply the registration user-group will be limited to kid/parent, which is not done yet as the time I write this.
According to seneca-auth, it's available as a plugin : https://github.com/Concorda/seneca-facebook-auth

[2016-07-28 08:46] Wardormeur opened #1001 "Sign up with Twitter"
In order to ease the registration, a "sign-up" using Twitter accounts should be added.
This imply the registration user-group will be limited to kid/parent, which is not done yet as the time I write this.
According to seneca-auth, it's available as a plugin : https://github.com/Concorda/seneca-twitter-auth

[2016-07-28 08:51] Wardormeur opened #1002 "o13 account upgrade"
In order for parents to let their children becomes independant, the process to upgrade an account from u13 to o13 must be manual.
This requires a backend call to modify the children profile/user status.
A button is expected to be shown on your children account when available.
Related to https://github.com/CoderDojo/community-platform/issues/998

[2016-07-28 09:05] Wardormeur opened #1003 "Connect Dojo to Twitter"
To announce their event, dojos must be capable to tweet the information on social networks
The content of the tweet should contain the link to the event, the event name, and probably the date

The library (or direct connection to the API) choice hasn't been done yet, so feel free to make a proposal.  Once we've choosed the lib, it's an up-for-grab,  so feel free to help us out :)

[2016-07-28 09:07] Wardormeur opened #1004 "Connect Dojo to Facebook"
To announce their event, dojos must be capable to share the information on social networks
The content of the tweet should contain the link to the event, the event name, and probably the date

The library (or direct connection to the API) choice hasn't been done yet, so feel free to make a proposal. Once we've choosed the lib, it's an up-for-grab, so feel free to help us out :)

[2016-07-28 09:13] Wardormeur opened #1005 "Dojo page : inline editing"
To keep consistency and avoid pointless navigation, we want to adopt the "inline-editing".
This means getting rid off the dojo-page edition/controller and simplify/ condense in one directive having the status (read/write) and each sub-directive contains is read-only and write formatting ?
cc @DanielBrierton If you have ideas/plan for this, ^ this is the way i see it, but it's not necessarly the be

[2016-07-28 09:19] Wardormeur opened #1006 "Dojo stats"
On the "Manage dojo" page, we can expect to have stats.
From the mockup, it contains very simplistic ones

- [ ]  number of each userType in your dojo
- [ ]  bar graph of user per age
- [ ]  most awarded badges

[2016-07-28 09:23] Wardormeur opened #1007 "Dojo page contact form"
To simplify the communication and support on our side, we'd want to use the existing sendgrid integration to allow to contact dojo from the website.
The contact form should be available on the public dojo page, and send email to the dojo email.

[2016-07-28 09:30] Wardormeur opened #1008 "Profile page : short url"
To ease the sharing of profile page, we'd want a short url for profile.
The challenge here is to find a unique identifier per member. Possibilities are to create another id for this purpose, on 6 (?) char or use the nickname, ensuring it's actually unique.
The domain used need to be defined (cd.ninja?, c0d3r.ninja, d0j0.ninja), ideas welcome :)

Related : https://github.com/CoderDojo/community-pla

[2016-07-28 09:35] Wardormeur opened #1009 "Colorful header for profile and dojo page"
For more customisation, dojo page and profile page should :

- When there is only a profile picture, find an appropriate color for the background image
- Allow picking of a color ?
- Allow upload of a picture and refocus it (see nodebb profile as a reference, could reuse some of their librairies)

[2016-07-28 09:42] Wardormeur opened #1010 "Event Session should be linked to a language"
For a better tracking of usage of languages for dojo (and the evolution of the dojo in general for their admins), a linking between a programming language and the session would be a nice to have.
This imply removing the "request for hardware" (laptop) as a session.
@rosalanghammer Could the "question" engine be used to store the quantity of laptop required? Is there any other scenario than this "l

[2016-07-28 09:51] Wardormeur opened #1011 "Event questions"
In order to handle most of the scenario where a dojo can poll when doing registration to an event, (custom/predefined) questions could be created while creating the event, and answers done when registering to it.
This imply creation of at least 2 new tables (or reuse of "polls" one?) and should be able to aggregate results with different format (string/number/boolean).
This means on the front-end

[2016-07-28 10:25] Wardormeur opened #1012 "Profile page: My projects"
In order for kids to be awarded badges and to display their progression, kids should be allowed to have projects.
A project entity contains a name, a description (HTML) and an image. A new microservice could be created for this purpose as  https://github.com/CoderDojo/community-platform/issues/968 will have bigger plans for it.
Projects should be displayed on the profile page as an overview and sh

[2016-07-28 10:26] Wardormeur commented on #968
This will be splitted into 2 tasks.
The first one is regarding the structure of a project as of "I can describe my project", whereas the other one is regarding hosting (aka this one)

[2016-07-28 10:30] Wardormeur opened #1013 "News Feed engine"
The news feed engine is a microservice allowing multiple data-source as of events, kids updates (projects), forums posts and blog posts.

- [ ] Forum Feed integration
- [ ] Blog Feed integration
- [ ] User Feed integration

This will require a new microservice with a complex structure regarding visibility. As of, there is no notion of "read", but will mostly show the n-latest (between 5/10 element

[2016-07-28 10:44] Wardormeur commented on #988
Is it fixed?  @elnomade

[2016-07-28 10:47] Wardormeur commented on #971
https://github.com/CoderDojo/cp-zen-platform/pull/929
https://github.com/CoderDojo/cp-users-service/pull/204
Awaiting approval from @rosalanghammer

[2016-07-28 10:48] Wardormeur commented on #969
Backend is working, front-end is still missing

[2016-07-28 10:50] Wardormeur commented on #962
On the coming sprint, we're going to cover the existing first, so that dashboard is scoped out so far

[2016-07-28 10:51] Wardormeur commented on #960
Should be covered in those UI sprints

[2016-07-28 14:33] ChristianVermeulen commented on #974
Totally agree! We are really keen on an API so we can collect events within a our Region (Netherlands). This will make it easier for champions to move to Zen, and won't require them to add events on 2 sites.

-> https://www.coderdojo.nl/dojos

Right now we collect it ourselves and champions need to add each event by event-brite event id.

As for authentication tokens, I guess it depends on what yo

[2016-07-28 20:54] alinecrsouza commented on #1007
Hi, I would like to work on this issue. Can you tell me how it works? It is my first time.

[2016-07-29 10:14] rosalanghammer opened #1014 "Change badge names and criteria/description on Zen not badgekit"
Badges cannot be edited on badgekit. Criteria needs to be updated beyond Dojo Sushi - @petecoderdojo will add in criteria and name of badges to be displayed.

[2016-07-31 09:56] Wardormeur commented on #1007
Certainly :)
First, you want to have a look at our repo cp-local-development (https://github.com/CoderDojo/cp-local-development) to install the Zen stack
Then, regarding this issue : we're reworking the front-end for september, so that using a directive (https://docs.angularjs.org/guide/directive) for the contact form would be easier to transit from the old-ui to the new one. There is a couple of

[2016-07-31 10:03] Wardormeur commented on #973
@DanielBrierton Can we close this one? :)

[2016-08-03 14:59] alinecrsouza commented on #1007
Ok, thank you! I'll work on this.

[2016-08-03 19:11] DanielBrierton opened #1015 "Date/time does not appear for forum posts"

[2016-08-03 22:40] paulolc commented on #1015
Some observations so far, by looking only at the source code in the browser, regarding this issue:
-  The tag where the date should appear on the "topics" and "posts" views is empty and have the attribute title with "Invalid Date":
`<span class="timeago" title="Invalid Date"></span>`
- The forum homepage the dates are ok. They do not appear because the date permalink has class "visible-xs pull-rig

[2016-08-04 08:22] Wardormeur commented on #1015
It could be a difference between the nodebb version and the version of the theme.
If somebody wants to have a look, it's in https://github.com/CoderDojo/nodebb-theme-cd-persona, which is a fork of https://github.com/NodeBB/nodebb-theme-persona

[2016-08-05 10:42] paulolc commented on #1015
Yes, @Wardormeur. It looks to me that you are right.

Maybe the date field used in the views templates should be **timestampISO** and not **relativeTime**.

In the views templates that have the issue, the date field being used is **relativeTime**, but in the view where the date is OK, the field is **timestampISO** instead. Furthermore, a search for **relativeTime** on the NodeBB source code comes

[2016-08-07 07:41] mashruravi commented on #1006
Hi!
I would like to work on this issue.
It's my first time working on an open source project though. Could you please tell me how this works?
Thanks!

[2016-08-07 08:22] niccokunzmann commented on #1006
@mashruravi In order to develop the platform, steps need to be taken that can be found in
https://github.com/CoderDojo/cp-local-development

There are [docker containers](https://github.com/CoderDojo/cp-local-development#docker) which you can use to develop the software in. I also wrote [setup scripts](https://github.com/niccokunzmann/cp-automated-development).

We would like to create a landing p

[2016-08-07 08:31] niccokunzmann opened #1016 "Give CoderDojo access to the CoderDojo organization on dockerhub"
Currently, I am the only one in the CoderDojo organization on Dockerhub:

https://hub.docker.com/u/coderdojo/

Who would like to join? Who should be admin?

[2016-08-07 10:32] butlerx commented on #1016
id like to be added, i think @Wardormeur and @DanielBrierton should be set as admins on the dockerhub

[2016-08-07 10:42] butlerx commented on #1006
![2016-08-07-11 34 59_3200x1800_scrot](https://cloud.githubusercontent.com/assets/867930/17461948/fd5e6f8e-5c93-11e6-8cc2-98afbc9460ed.png)
This is an idea of the time of stats we wanted

[2016-08-07 11:04] niccokunzmann commented on #1016
Okay, I added [butlerx](https://hub.docker.com/u/butlerx/). Can you check if the permissions are satisfy you?

[2016-08-07 13:05] Wardormeur commented on #1016
@niccokunzmann I'll send you an email through gitter, this is our generic one so we can keep control over time :)
We probably want to add @josmas to this also :)

[2016-08-07 13:39] Wardormeur commented on #1006
Okay, so this task implies multiple things, I hope you're prepared to get your hands dirty :D
What I recomend, since you're starting :
- in cp-dojos, write a task per stat. Those stats being 'out of the scope" of seneca-entity, you'll have to use the $native function to get a proper results. Avoid as much as possible to "replace" SQL logic with js, we did it in the past and that's not for the best

[2016-08-08 09:36] DanielBrierton commented on #973
@Wardormeur Whoops, meant to respond last week. Yes, yes we can.

[2016-08-08 09:36] #973 closed

[2016-08-12 08:48] DanielBrierton opened #1017 "Badge awarding emails not sent to parents of O13 Ninjas who don't have their own email"
Also, when adding an O13 to a parent, email is optional, but password is mandatory...

[2016-08-15 10:25] Wardormeur commented on #897
"No dojo found" seems to be hard to find, we should probably come up with something more visible.

[2016-08-15 15:11] mashruravi commented on #1006
I'm starting with the four number-based stats first like @Wardormeur suggested.
Just need clarification on the user_types for each of those stats.

For 'mentors' it is straight forward. It is number of users with user_types containing 'mentor' in cd_usersdojos.
How about the other stats? What user_types do 'Ninjas', 'Ninja Mentors', and 'Volunteers' have in cd_usersdojos table?

[2016-08-15 15:20] Wardormeur commented on #1006
Ninjas is the added usertypes of u13 and o13 (attendee-u13/attendee-o13)
Ninja mentors would be the previous one with the additonal type of "mentor"
Volunteer should be anything that doesn't "attend" the dojo as a "pure" ninja ( this way, a ninja-mentor would be included into this list, be an user as attendee only would not be included), parent included
@rosalanghammer am i right ? Should we make

[2016-08-16 08:15] rosalanghammer commented on #1006
Yes the only correction is;

Volunteers include Champions,Mentors and youth mentors but on this
dashboard as it splits adults and youth it should only include Champions
and Mentors. As 'non-technical' mentors do not have their own user-type for
the moment I foresee the Adult section just having 'Mentors' and
potentially 'Champions' displayed as there may be more than one Champion.

Thanks,

Rosa

[2016-08-16 09:44] rosalanghammer opened #1018 "Manage Dojos for more than 10 Dojos"
Limit of 10 Dojos being shown on 'My Dojos' page for those with > 10 Dojos to manage needs to be removed.

[2016-08-17 02:07] mashruravi commented on #1006
Just to be clear:
**Ninja:** attendee-u13 or attendee-o13
**Ninja Mentor:** (attendee-u13 and mentor) or (attendee-o13 and mentor)
**Volunteer:** parent-guardian, champion, mentor (but NOT Ninja Mentor)
?

[2016-08-17 07:40] rosalanghammer commented on #1006
All good except;

Volunteer = only champion and mentor types

On 17 Aug 2016 3:07 am, "Ravi Mashru" <notifications@github.com> wrote:

--
*CoderDojo are celebrating 5 years since our 1st Dojo*
*See how we've grown since 2011 <https://goo.gl/WEJIIY>*

*Start your own Dojo <https://goo.gl/6xnjlH> and join our global network **of
more*
*than 1090 Dojos spanning 63 countries!*

--
Hello World Foundati

[2016-08-19 09:26] butlerx opened #1019 "inactive dojos shown on map and in search"
dojos marked as inactive are still shown on the map and marked and in search for dojos

[2016-08-24 09:36] butlerx commented on #1015
this is fixed and live now

[2016-08-24 09:40] #1015 closed

[2016-08-24 12:42] rosalanghammer opened #1020 "Map on coderdojo.com geo-fixes"
Two main issues;
- When country is typed in full country should appear on the map - looks like atm it's going to the first one with the country in the full address
- Places without Dojos typed in - a zoomed out version should be shown rather than the nearest Dojo if it is > 100km away

[2016-08-27 12:29] vkstack commented on #1012
I want to contribute on this how should i start.

[2016-08-28 04:40] vkstack commented on #1020
Hi I want to fix this.As this is my first time,please explain what needs to be done.
Thanks.

[2016-08-28 08:05] butlerx commented on #1020
This is referring to the map on https://coderdojo.com currently it the search on it has the problems stated above. The site is a WordPress with our custom theme, found [here](https://github.com/CoderDojo/cd-theme). The map file is [here](https://github.com/CoderDojo/cd-theme/blob/4b2d0c114a75204a30eeb47aeb1214f68345a34f/templates/map.twig)
the map should function the same as the one on https://zen

[2016-08-28 08:10] Wardormeur commented on #1020
Also, if you never participated before, have a look at https://github.com/CoderDojo/cp-local-development to get you started with the environment :)

[2016-08-29 08:18] Wardormeur commented on #1012
Sorry, that was a mistake of my part, this is way too big for an up for grab :-1:
We will take care of it in the incoming weeks, we still didn't defined all the scope of it ( relationship with badges, data contained, etc.. )

[2016-08-29 17:05] vkstack commented on #1020
I have done all the setup. And at localhost:8000 the page is opening but map is not rendering.
![123](https://cloud.githubusercontent.com/assets/11588411/18059901/dbda15aa-6e38-11e6-8543-f125418271d8.png)

[2016-08-29 17:57] niccokunzmann commented on #1020
look like there is some JavaScript or CSS not working.

In an other issue I just read about the Bower step in the installation. Maybe that is a hint but I am really not sure. Others will know better.

[2016-08-29 18:14] vkstack commented on #1020
No....there is no error neither in terminal nor browser console...
Only a warning i get in browser console
`Google Maps API warning: SensorNotRequired https://developers.google.com/maps/documentation/javascript/error-messages#sensor-not-required`

[2016-08-29 18:16] butlerx commented on #1020
Sorry we are in the process of changing out Dev system and haven't updated
the docs. You need to run gulp Dev in another terminal in the
cp-zen-platform folder
On Mon 29 Aug 2016 at 19:14, Vajahat Kareem <notifications@github.com>
wrote:

--
Cian Butler (butlerx)

Redbrick Secretary 2016-2017
Computer Applications and Software Engineering - Year 3

[2016-08-31 14:57] niccokunzmann commented on #1016
@Wardormeur I tried to add this generic e-mail but it was not registered as a user on dockerhub. Could you register that e-mail so I can add you again?
@josmas I added you to https://hub.docker.com/u/coderdojo/dashboard/

[2016-08-31 15:12] Wardormeur commented on #1016
Sorry Nicco, totally forgot to come back to you on gitter.. Account has been created, thanks :+1:

[2016-08-31 15:32] niccokunzmann commented on #1016
@Wardormeur you are invited. You can check and close this issue.

[2016-08-31 15:41] Wardormeur commented on #1016
Thanks a mill !

[2016-08-31 15:41] #1016 closed

[2016-09-01 14:59] niccokunzmann opened #1021 "Add occurence into context information in messages.po file"
**Motivation**
The [messages.po](https://crowdin.com/project/zen-community-platform/de#) file contains all the messages in the platform. These occur in different places. Context is sometimes important to do the right translation:

1. a button may have an explanation text
2. sentences are split up like "you can" + link + "contribute here" + link ends + " and ..."
3. sentences in a paragraph may be

[2016-09-01 15:03] Wardormeur commented on #1021
Neat, didn't know about that. We should decide of a format for the hint if possible (jsdoc-like?) so they're consistent.
`@usage: button or paragraph?
@page: zen.coderdojo.com/...
@image: whateverhoster.com`
The main question here is "how to handle context when used in different places?"

[2016-09-01 15:10] niccokunzmann commented on #1004
For all these connections, I think, it could help to have something like a Github Web Hook. Then, we could go on and develop these plugins in a different setting, we can use more languages and use the most famous plugins later for the platform as quasi standard. This also allows connections you did not think of like ical or showing on your own site/server.

Giving me a web hook, I could certainly

[2016-09-01 15:56] niccokunzmann commented on #1021
I would say:

[code]
Since some pages may not be available during usage of the site, there could be an uploaded, 'captured' HTML version of the site somewhere. Both are fine, just suggestions.

The location is not so important. Either you can view and search the site or you have a small site. There is no huge disclosed site right now, I guess.

[2016-09-02 14:21] Wardormeur opened #1022 "Deactivate 2-step verification for automatic badges"
Automatic badges are :

- [ ] attendances
- [ ] LearnUpon integration

This means we have to wrap a call from
seneca.act({role: plugin, cmd: 'addBadgeToProfile'})
AND  seneca.act({role: 'cd-badges', cmd: 'acceptBadge'})
into a single seneca function in cd-badges in order to fully award the badge without having any email sent before the badge is awarded

[2016-09-02 14:24] Wardormeur opened #1023 "Create fallback static page for server failure"
When server fails, it fallback to the default 50x from nginx.
We need to

- [ ] replace with a static html page (Error message, ninja image, see 404 images, reuse navigation bar ?)
- [ ] include the page into the AWS image spin-up

[2016-09-02 14:26] Wardormeur commented on #1004
This is related to https://github.com/CoderDojo/community-platform/issues/974
Once the token for auth for API are created, we can think of webhooks that can be used for IFTTT/zapper

[2016-09-03 10:59] butlerx commented on #1023
id say a generic error page based of the [ninja](coderdojo.com/zen) would be good with the nav bar.
itll also need to be added to wordpress server aswell as the zen one

[2016-09-03 14:44] alinecrsouza commented on #1007
I am stuck at "localdev init" on "Code Setup". I opened an issue and I am waiting for support.

[2016-09-06 15:22] DanielBrierton commented on #995
Implemented in CoderDojo/cp-zen-platform#996, closing.

[2016-09-06 15:22] #995 closed

[2016-09-12 14:13] Wardormeur opened #1024 "Queuing and error handling for emails"
The main issue is that if a translation fails, no email is sent (and ofc it crashes the µs)
The error handler doesn't allow us to catch it in the error callback, it's the gateway that bubbles it when coming back from the plugin, which means we don't have access to the original call, but only "where" it crashed in the stack.
We probably could use a queue to figure out which call failed and replay i

[2016-09-13 06:47] niccokunzmann opened #1025 "List is not loading on slow connection"
Currently, I have a slow internet connection. The list of the dojos is a tab as is the map of the dojos. When loading the list, the map is still loaded in the background. There is no need for that.

Request: Please do not load the map while the list is loading.

Possible implementation: Make the list an extra site.

[2016-09-13 07:02] niccokunzmann opened #1026 "messages.po entries are removed and added again"
In the recent weeks I noticed, that entries in the messages.po files were removed and added again.
This leads to the following problems:
1. Translations are removed and show up as 100% matches which need to be translated again and approved.
2. Comments, issues and manual context information for these translations is removed.

Examples:

[code]

How can this be solved?

[2016-09-13 14:24] Wardormeur commented on #1021
It seems getText (po files) already have norms for comments :
https://www.gnu.org/software/gettext/manual/html_node/PO-Files.html
We should probably stick to it !

[2016-09-13 17:16] Wardormeur commented on #1026
1. Translations should be removed if not used anymore, we caught of couple of them but feel free to point them out if you find some more. Alas we tried to update them but crowdin process to do so is.. impossible in the actual format (we would need to transpform the po into csv). One good start would be to split the po file to 1) contextualize, 2) minimize the scope of search/upload/download of fil

[2016-09-13 17:17] Wardormeur commented on #1025
We have plan for this page, as from the UI rework point, we want to have a dashboard when logged-in or a proper search w/ criterias when logged-out. Tho, it's far from done.
We'll surely get there, but splitting the page for a performance improvement isn't really in our plans right now..

[2016-09-13 17:55] Wardormeur opened #1027 "Role-based badges should be auto-awarded?"
When becoming a champion or becoming a verified mentor, related badges should be awarded?
Elsewhat, in particular for a single champion, you need another champion to award it to yourself as a badge cannot be awarded to yourself.
@rosalanghammer need feedback :)

[2016-09-14 08:01] rosalanghammer commented on #1027
Yes totally agree. This should definitely be the case for all Champions and
for Adult 'Mentoring' badges.

There will be criteria for the mentoring badge for youth though - like must
have mentored at 5 Dojos. Let me check what Pete has in terms of criteria
for soft skills.

On 13 September 2016 at 20:55, Wardormeur <notifications@github.com> wrote:

--
*Rosa Langhammer*
Reporting Lead
@ CoderDojo

[2016-09-15 10:33] DanielBrierton commented on #900
We've since reworked the entire menu bar across our site, so this should no longer be an issue.

[2016-09-15 10:33] #900 closed

[2016-09-15 10:35] DanielBrierton commented on #840
This is no longer an issue with our new menu bar.

[2016-09-15 10:35] #840 closed

[2016-09-15 10:39] DanielBrierton commented on #815
While I'm not sure what the fix was – it may have been a bug in a dependency, or maybe someone specifically fixed it and never closed the issue – but this is no longer an problem, so I'm going to close this issue.

[2016-09-15 10:39] #815 closed

[2016-09-15 10:52] DanielBrierton commented on #772
I assume this hasn't been an issue since @Wardormeur? Can we close this?

[2016-09-15 10:54] DanielBrierton commented on #734
I'm not sure what this is actually referring to, as we no longer have a browse button. @Wardormeur: Any ideas? Or will we just close it?

[2016-09-15 10:54] Wardormeur commented on #772
Let it be a bit more and let's see if the logs triggers it again ?

[2016-09-15 11:03] DanielBrierton commented on #693
The HSTS header has been since added, so along with Ben's commit, this issue is resolved.

[2016-09-15 11:03] #693 closed

[2016-09-15 11:07] rosalanghammer commented on #772
Since then Dojos have been verified without emails (even though they
shouldn't have) - which was the problem. In favour of closing.

On 15 September 2016 at 13:54, Wardormeur <notifications@github.com> wrote:

--
*Rosa Langhammer*
Reporting Lead
@ CoderDojo Foundation
+353 872686 <+353+851088135>779 | @RosaLanghammer | Skype: rosa.langhammer l
<https://mail.google.com/mail/u/0/#UNIQUE_ID_SafeHtmlF

[2016-09-15 11:33] DanielBrierton commented on #762
Salesforce integration has been stopped, closing

[2016-09-15 11:33] #762 closed

[2016-09-15 11:33] DanielBrierton commented on #731
Salesforce integration has been stopped, closing

[2016-09-15 11:33] #731 closed

[2016-09-15 11:33] DanielBrierton commented on #817
Salesforce integration has been stopped, closing

[2016-09-15 11:33] #817 closed

[2016-09-15 12:35] josmas commented on #815
@DanielBrierton It may not be the case anymore, but I seem to recall that the problem occurred only when you are not logged in as a user. Some dependency that was not fully loaded or similar. It was tricky to reproduce because while on dev mode you are most likely logged in (and with no additional languages loaded). But might not be the case anymore.

[2016-09-15 12:38] DanielBrierton commented on #815
@josmas I've tested the example above both logged in and logged out, and it displays correctly. @Wardormeur thinks it might have been an update to ui-router as we recently updated all our dependencies to the latest.

[2016-09-15 12:47] Wardormeur commented on #815
All the deps are now loaded too (dependancies.json) and the behavior for both dashboard and init-master were merged. Multiple possible reasons !

[2016-09-15 18:26] Wardormeur commented on #734
Probably the md breakpoint makes it looks huge on tablet on landscape, because it was using xs-12

[2016-09-16 08:21] DanielBrierton opened #1028 "Add WYSIWYG editor for event description"
Event description already allows you to input HTML tags for formatting, so we should use ckeditor for WYSIWYG like we do elsewhere for fields like this.

[2016-09-19 08:08] rosalanghammer opened #1029 "Add facebook link option to Dojo listing"
fb.com/...... to be filled out by Dojos on their listing.

[2016-09-19 08:23] Wardormeur commented on #1029
This should probably added to our dashboard for rework of dojo listing instead ?

[2016-09-19 13:42] rosalanghammer opened #1030 "Secondary menu 'My Profile' should direct to 'Edit profile'"
More logical to bring users to their edit profile rather than view.

[2016-09-20 08:59] rosalanghammer opened #1031 "Add reply to mentor email on invite request"
Currently info@coderdojo.com receives all replies to Mentor application emails - should be the email of the mentor who is applying.

[2016-09-20 15:53] Wardormeur opened #1032 "Add mailing list option to edit profile"
it seems it's currently limited to the sign-up step

[2016-09-22 09:08] rosalanghammer opened #1033 "Mentor & Champion (user-type) needs to be added on intercom"
As all users join as Adult now all users are being added to intercom as parent-guardian type.

Need to add a loop to update the user-type in intercom to Mentor or Champion if people progress and join a Dojo.

[2016-09-26 11:37] rosalanghammer opened #1036 "Remove claim badge step"
Rewording of new email;

Hi [NINJA NAME],

Congratulations! You have just been awarded an official [BADGE NAME] for your skills!
Your awesome new badge is now displayed on your CoderDojo profile here [LINK].

Check out all the other cool badges you can collect here. [LINK]

Keep coding cool!

The CoderDojo Foundation Team

[2016-09-26 12:51] DanielBrierton opened #1037 "Handle email translation variable errors by falling back to en_US"
An English email is better than no email!

[2016-09-26 12:52] Wardormeur commented on #1036
What abt if the guy is not a ninja? We keep the same format?

[2016-09-26 13:10] rosalanghammer commented on #1036
Yes Hi [Name of awardee] 👍

[2016-09-27 09:26] DanielBrierton opened #1038 "When adding an O13 to a parent, email is optional, but password is mandatory"

[2016-09-27 15:04] DanielBrierton commented on #508
This nav has since been replaced with a common header.

[2016-09-27 15:04] #508 closed

[2016-09-27 15:06] DanielBrierton commented on #441
Done! http://github.coderdojo.com/

[2016-09-27 15:06] #441 closed

[2016-09-27 15:08] DanielBrierton commented on #135
Now allowed!

[2016-09-27 15:08] #135 closed

[2016-09-27 15:20] DanielBrierton commented on #581
This no longer occurs, so I'm closing the issue.

[2016-09-27 15:20] #581 closed

[2016-09-27 15:24] butlerx commented on #539
This should be logentries now

[2016-09-27 15:26] DanielBrierton commented on #522
This is no longer an issue, closing.

[2016-09-27 15:26] #522 closed

[2016-09-27 15:34] DanielBrierton commented on #1032
Duplicate of #443, closing.

[2016-09-27 15:34] #1032 closed

[2016-09-27 15:36] DanielBrierton commented on #807
Implemented and pushed by @butlerx

[2016-09-27 15:36] #807 closed

[2016-09-27 15:43] DanielBrierton commented on #828
This has since been implemented using the JavaScript Geolocation API, so I'm closing this issue.

[2016-09-27 15:43] #828 closed

[2016-09-27 18:58] m2mathew opened #1039 "Adding admin users"
Is there a way to add another mentor of my Dojo to be an admin-level user? We have two admin users, but need to add a third who is taking over many of our logistics.

Thanks! 💃

[2016-09-28 08:32] Wardormeur commented on #959
We took care of it during our ui-refresh ;)

[2016-09-28 08:32] #959 closed

[2016-09-28 22:12] gaursagar commented on #1028
Can I please get more details about the issue? I would love to help.

[2016-09-29 08:25] Wardormeur commented on #1028
Sure :)
First setup your env based on cp-local (https://github.com/CoderDojo/cp-local-development)
Look into web/public/js/directives/event/cd-create-event/template.dust in cp-zen-platform (https://github.com/CoderDojo/cp-zen-platform) and replace the editor.
Afterwards, you'll probably have to look into the directives that display the text (eg: web/public/js/directives/event/detail) and see if th

[2016-09-29 11:05] rosalanghammer commented on #1039
Hi @m2mathew On the manage users page you can add a 'Dojo admin' and 'Ticketing Admin' - anyone who is taking over logistics can be made these once they 'Join' the Dojo.

See the two tick boxes checked here which makes people these admin roles and allows them to create and manage events as well as managing users!

Closing this issue but please let us know if you still have any trouble with this.

[2016-09-29 11:05] #1039 closed

[2016-09-29 14:42] Wardormeur opened #1040 "Data visibility"
We want an engine equivalent to cp-permissions to restrict data scope based on user types & for regional bodies to filter dojos per location

[2016-09-29 14:47] Wardormeur opened #1041 "My dojos Page"
### Dependency: #1072

Rework to ensure SAD process is usable post-creation of a dojo
Part of ui-refresh

[2016-09-29 14:51] Wardormeur commented on #954
@rosalanghammer related to waiting list, am i right ?

[2016-09-29 14:56] rosalanghammer commented on #954
Correct. Plan is now for waiting list to activate and then Dojo admins can easily add additional spaces from the waiting list (over capacity) with a trigger message 'Are you sure you want to add more tickets to this event - Current bookings X' 'Yes/No'

Too difficult to implement a ratio system based on mentors attending as different Dojos have varying policies and venues for this.

Also +1 on not

[2016-09-29 15:01] Wardormeur opened #1042 "Booking ticket"
## EPIC: #1062

New workflow to make booking people oriented instead of section oriented according to #953

[2016-09-29 15:07] Wardormeur opened #1043 "Images for programming languages"

[2016-09-29 15:11] Wardormeur opened #1044 "Generic catch-all error handler"

[2016-09-29 15:12] Wardormeur opened #1045 "Ability to become Tao verified after dojo creation"

[2016-09-29 15:13] Wardormeur commented on #1045
See https://github.com/CoderDojo/community-platform/issues/951 for restriction to take care of

[2016-09-29 15:13] Wardormeur opened #1046 "Redesign of current my events page"
## EPIC: #1062
### Dependency: #1063

My Events should be redesigned to be My Tickets, showing the tickets you have booked in upcoming events. This should be done as a card per event, with sessions/tickets per user within.

[2016-09-29 15:24] Wardormeur opened #1047 "EventId for quick registration may not be destroyed"
It seems it also screw up the profile page, should be fixed when removing the profile page from the quick registration process

[2016-09-29 15:24] Wardormeur commented on #1042
see #1047

[2016-09-29 15:26] Wardormeur commented on #962
Leftovers :
https://github.com/CoderDojo/community-platform/issues/1041
https://github.com/CoderDojo/community-platform/issues/1042
https://github.com/CoderDojo/community-platform/issues/1046

[2016-09-29 16:05] hnotess commented on #1043
What size/format images do you need?

[2016-09-30 08:49] Wardormeur commented on #1043
We'd better go for square based images, unlike those one we have (https://coderdojo.com/resources/) in order to display them in the profile afterwards

[2016-09-30 08:57] DanielBrierton commented on #485
We have discussed this internally and have decided that we will not be moving the Facebook share option from the dropdown, as we would also need to move the other share options, as well as any future share options we add, which we feel would clutter the UI.

[2016-09-30 08:57] #485 closed

[2016-09-30 09:00] DanielBrierton commented on #304
There are other issues with developing offline that we can't really address, like the Google Maps and Captcha APIs. I question the RoI on implementing something for offline dev. @Wardormeur, any thoughts?

[2016-09-30 09:07] Wardormeur commented on #304
It goes further than that alas.. We started using s3 for storing images, which can hardly be mocked.
I'd be enclined to have this kind of service once we have a proper docker setup as the actual setup is already "hard" to deploy.

[2016-09-30 10:11] DanielBrierton commented on #225
We investigated this while working on our common menu that we rolled out in August, however unfortunately WordPress doesn't have the necessary REST API to do this. There are plugin options, but they aren't optimal (either requiring authentication, or a seldom maintained plugin on top of a big plugin we wouldn't utilise). While it would be nice to have, it's not really priority.

I'll leave this op

[2016-09-30 10:34] DanielBrierton commented on #661
@rosalanghammer Do we really care about this anymore..?

[2016-09-30 10:36] rosalanghammer commented on #661
No closing!

[2016-09-30 10:36] #661 closed

[2016-09-30 11:01] DanielBrierton commented on #707
We discussed this, and have decided against enabling this. Hosting users' content in this way adds more moderation issues, including copyright takedown requests. File uploads could also be used as an attack vector if a vulnerability were to be found in NodeBB.

[2016-09-30 11:01] #707 closed

[2016-09-30 11:05] DanielBrierton commented on #716
We were discussing this this week. Our current plan is to reword recurring events to term events, in which a booking would apply for the entire term. This rewording should make it clearer to attendees that they're booking for the entire term, rather than just the next even in a recurring series. As a low priority addition, we are considering bulk event creation, which would be much like the recurr

[2016-09-30 11:16] DanielBrierton commented on #695
My suggestion for this:

[code]

This would allow users to type 'https://twitter.com/DanielBrierton', 'mobile.twitter.com/DanielBrierton', '@DanielBrierton', or just 'DanielBrierton' and it would figure it out and create the correct link.

[2016-09-30 11:22] DanielBrierton commented on #681
This is being addressed by a new change role action in a redesign of the manage users page.

[2016-09-30 11:23] DanielBrierton commented on #811
Closing as duplicate of #667 as our intention is to allow bulk invite through the UI, that would allow you to paste in the contents of a CSV file, or just a plain list of emails

[2016-09-30 11:23] #811 closed

[2016-09-30 14:12] butlerx commented on #952
https://zen.coderdojo.com/reset

[2016-09-30 14:16] rosalanghammer opened #1048 "Allow parents with youth on Ninja Forums"
This would require us allowing only parents with a Ninja (U13 and O13) added to their profile.

Facilitates the participation of U13s on the forums.

[2016-09-30 14:52] rosalanghammer opened #1049 "Remove Projects from parents profile"

[2016-09-30 14:56] rosalanghammer opened #1050 "Remove specific badges from being awarded by Dojo Admin"
Badges that should not be available for awarding by dojo admin;
- All E-Learning badges
- All Community Event badges

Attendance badges should still be able to be awarded by Dojos if they do not use ticketing.

[2016-09-30 15:36] rosalanghammer opened #1051 "Auto-awarding of Europe Code Week 2016 badge to all events in Europe"
Dates - 15th October to 23rd October

cc @petecoderdojo and Nuala to create badge.

[2016-09-30 16:08] Wardormeur commented on #952
:+1:

[2016-09-30 16:08] #952 closed

[2016-09-30 16:08] hnotess commented on #1043
It looks like for the [badges](http://kata.coderdojo.com/wiki/JavaScript_Path) you have available you've got a size of 150px x 150px. If that's a good size, I can work on getting png with transparent background full color images with a square canvas size of 150px x 150px prepped and ready for you over the weekend.

Alternatively, SVG would be a great choice for badges to display on profiles at dif

[2016-09-30 16:13] Wardormeur commented on #1043
I dont' believe we will display them full size, at least not on the profile (may be on the event page afterwards once we link sessions to prog lang)
SVG are fine too (i don't believe we will support ie9 since we use flexbox in different places), it's just a matter of having them with transparent bkgrd and uniform in term of format :)

[2016-09-30 16:16] Wardormeur commented on #79
@rosalanghammer do we really want to do this?

[2016-09-30 16:16] Wardormeur commented on #366
Logs reformatted, doesn't happen anymore

[2016-09-30 16:16] #366 closed

[2016-09-30 16:17] Wardormeur commented on #338
@rosalanghammer should be closed as we don't display this anymore ?

[2016-09-30 16:18] hnotess commented on #1043
OK. you can assign this issue to me. I can either attach the completed files to the issue or submit a pull request if you let me know the filepath where you want them saved.

[2016-09-30 16:26] Wardormeur commented on #194
logout doesn't allow to be ctrl-clicked anymore since the new menu :)

[2016-09-30 16:26] #194 closed

[2016-09-30 16:42] Wardormeur commented on #506
Scaling rules changed, closing :)

[2016-09-30 16:42] #506 closed

[2016-09-30 16:43] Wardormeur commented on #489
Nope. :)

[2016-09-30 16:43] #489 closed

[2016-09-30 16:45] Wardormeur commented on #448
Most of it will be removed in the renewal of the SAD process :)

[2016-09-30 16:45] #448 closed

[2016-09-30 16:45] Wardormeur commented on #442
See #1006

[2016-09-30 16:45] #442 closed

[2016-09-30 16:48] Wardormeur commented on #79
Spoke with Rosa, we cancel this :)